<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="applicationKeyServiceDaoImpl">

    <!-- 保存钥匙申请信息 add by wuxw 2018-07-03 -->
    <insert id="saveBusinessApplicationKeyInfo" parameterType="Map">
           insert into business_application_key(
application_key_id,id_card,sex,end_time,machine_id,operate,type_cd,name,tel,start_time,state,community_id,b_id,age,type_flag,pwd
) values (
#{applicationKeyId},#{idCard},#{sex},#{endTime},#{machineId},#{operate},#{typeCd},#{name},#{tel},
#{startTime},#{state},#{communityId},#{bId},#{age},#{typeFlag},#{pwd}
)
       </insert>


    <!-- 查询钥匙申请信息（Business） add by wuxw 2018-07-03 -->
    <select id="getBusinessApplicationKeyInfo" parameterType="Map" resultType="Map">
        select t.application_key_id,t.application_key_id applicationKeyId,t.id_card,t.id_card
        idCard,t.sex,t.end_time,t.end_time endTime,t.machine_id,t.machine_id machineId,t.operate,t.type_cd,t.type_cd
        typeCd,t.name,t.tel,t.start_time,t.start_time startTime,t.state,t.community_id,t.community_id
        communityId,t.b_id,t.b_id bId,t.age,t.type_flag,t.pwd
        from business_application_key t
        where 1 =1
        <if test="applicationKeyId !=null and applicationKeyId != ''">
            and t.application_key_id= #{applicationKeyId}
        </if>
        <if test="idCard !=null and idCard != ''">
            and t.id_card= #{idCard}
        </if>
        <if test="sex !=null and sex != ''">
            and t.sex= #{sex}
        </if>
        <if test="endTime !=null">
            and t.end_time= #{endTime}
        </if>
        <if test="machineId !=null and machineId != ''">
            and t.machine_id= #{machineId}
        </if>
        <if test="operate !=null and operate != ''">
            and t.operate= #{operate}
        </if>
        <if test="typeCd !=null and typeCd != ''">
            and t.type_cd= #{typeCd}
        </if>
        <if test="name !=null and name != ''">
            and t.name= #{name}
        </if>
        <if test="tel !=null and tel != ''">
            and t.tel= #{tel}
        </if>
        <if test="startTime !=null ">
            and t.start_time= #{startTime}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="age !=null and age != ''">
            and t.age= #{age}
        </if>
        <if test="typeFlag !=null and typeFlag != ''">
            and t.type_flag= #{typeFlag}
        </if>
        <if test="pwd !=null and pwd != ''">
            and t.pwd= #{pwd}
        </if>

    </select>


    <!-- 保存钥匙申请信息至 instance表中 add by wuxw 2018-07-03 -->
    <insert id="saveApplicationKeyInfoInstance" parameterType="Map">
        insert into application_key(
        application_key_id,id_card,sex,status_cd,end_time,machine_id,type_cd,name,tel,start_time,state,community_id,b_id,age,type_flag,pwd
        ) select
        t.application_key_id,t.id_card,t.sex,'0',t.end_time,t.machine_id,t.type_cd,t.name,t.tel,t.start_time,t.state,t.community_id,t.b_id,t.age,
        t.type_flag,t.pwd
        from business_application_key t
        where 1=1
        <if test="applicationKeyId !=null and applicationKeyId != ''">
            and t.application_key_id= #{applicationKeyId}
        </if>
        <if test="idCard !=null and idCard != ''">
            and t.id_card= #{idCard}
        </if>
        <if test="sex !=null and sex != ''">
            and t.sex= #{sex}
        </if>
        <if test="endTime !=null">
            and t.end_time= #{endTime}
        </if>
        <if test="machineId !=null and machineId != ''">
            and t.machine_id= #{machineId}
        </if>
        and t.operate= 'ADD'
        <if test="typeCd !=null and typeCd != ''">
            and t.type_cd= #{typeCd}
        </if>
        <if test="name !=null and name != ''">
            and t.name= #{name}
        </if>
        <if test="tel !=null and tel != ''">
            and t.tel= #{tel}
        </if>
        <if test="startTime !=null ">
            and t.start_time= #{startTime}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="age !=null and age != ''">
            and t.age= #{age}
        </if>
        <if test="typeFlag !=null and typeFlag != ''">
            and t.type_flag= #{typeFlag}
        </if>
        <if test="pwd !=null and pwd != ''">
            and t.pwd= #{pwd}
        </if>

    </insert>


    <!-- 查询钥匙申请信息 add by wuxw 2018-07-03 -->
    <select id="getApplicationKeyInfo" parameterType="Map" resultType="Map">
        SELECT t.application_key_id,t.application_key_id applicationKeyId,t.id_card,t.id_card
        idCard,t.sex,t.status_cd,t.status_cd statusCd,t.end_time,t.end_time endTime,t.machine_id,t.machine_id
        machineId,t.type_cd,t.type_cd typeCd,t.name,t.tel,t.start_time,t.start_time
        startTime,t.state,t.community_id,t.community_id communityId,t.b_id,t.b_id bId,t.age,
        m.`location_type_cd` locationTypeCd,m.`location_obj_id` locationObjId,
        td.name typeName,td1.name stateName,t.type_flag,t.type_flag typeFlag,t.pwd,td2.name typeFlagName
        FROM application_key t,machine m,t_dict td,t_dict td1,t_dict td2
        WHERE 1 =1
        AND t.type_cd=td.status_cd
        AND td.table_name='application_key'
        AND td.table_columns='type_cd'
        AND t.state = td1.status_cd
        AND td1.table_name='application_key'
        AND td1.table_columns='state'
        AND t.type_flag = td2.status_cd
        AND td2.table_name='application_key'
        AND td2.table_columns='type_flag'

        AND t.machine_id = m.machine_id
        AND m.status_cd = '0'
        <if test="applicationKeyId !=null and applicationKeyId != ''">
            and t.application_key_id= #{applicationKeyId}
        </if>
        <if test="idCard !=null and idCard != ''">
            and t.id_card= #{idCard}
        </if>
        <if test="sex !=null and sex != ''">
            and t.sex= #{sex}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="endTime !=null  ">
            and t.end_time &gt; #{endTime}
        </if>
        <if test="machineId !=null and machineId != ''">
            and t.machine_id= #{machineId}
        </if>
        <if test="typeCd !=null and typeCd != ''">
            and t.type_cd= #{typeCd}
        </if>
        <if test="name !=null and name != ''">
            and t.name= #{name}
        </if>
        <if test="tel !=null and tel != ''">
            and t.tel= #{tel}
        </if>
        <if test="startTime !=null ">
            and t.start_time= #{startTime}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="age !=null and age != ''">
            and t.age= #{age}
        </if>
        <if test="typeFlag !=null and typeFlag != ''">
            and t.type_flag= #{typeFlag}
        </if>
        <if test="pwd !=null and pwd != ''">
            and t.pwd= #{pwd}
        </if>
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改钥匙申请信息 add by wuxw 2018-07-03 -->
    <update id="updateApplicationKeyInfoInstance" parameterType="Map">
        update application_key t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="idCard !=null and idCard != ''">
            , t.id_card= #{idCard}
        </if>
        <if test="sex !=null and sex != ''">
            , t.sex= #{sex}
        </if>
        <if test="endTime !=null ">
            , t.end_time= #{endTime}
        </if>
        <if test="machineId !=null and machineId != ''">
            , t.machine_id= #{machineId}
        </if>
        <if test="typeCd !=null and typeCd != ''">
            , t.type_cd= #{typeCd}
        </if>
        <if test="name !=null and name != ''">
            , t.name= #{name}
        </if>
        <if test="tel !=null and tel != ''">
            , t.tel= #{tel}
        </if>
        <if test="startTime !=null ">
            , t.start_time= #{startTime}
        </if>
        <if test="state !=null and state != ''">
            , t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            , t.community_id= #{communityId}
        </if>
        <if test="age !=null and age != ''">
            , t.age= #{age}
        </if>
        <if test="typeFlag !=null and typeFlag != ''">
            , t.type_flag= #{typeFlag}
        </if>
        <if test="pwd !=null and pwd != ''">
            , t.pwd= #{pwd}
        </if>
        where 1=1
        <if test="applicationKeyId !=null and applicationKeyId != ''">
            and t.application_key_id= #{applicationKeyId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>

    </update>

    <!-- 查询钥匙申请数量 add by wuxw 2018-07-03 -->
    <select id="queryApplicationKeysCount" parameterType="Map" resultType="Map">
        select count(1) count
        FROM application_key t,machine m,t_dict td,t_dict td1,t_dict td2
        WHERE 1 =1
        AND t.type_cd=td.status_cd
        AND td.table_name='application_key'
        AND td.table_columns='type_cd'
        AND t.state = td1.status_cd
        AND td1.table_name='application_key'
        AND td1.table_columns='state'
        AND t.type_flag = td2.status_cd
        AND td2.table_name='application_key'
        AND td2.table_columns='type_flag'
        and t.machine_id = m.machine_id
        and m.status_cd = '0'
        <if test="applicationKeyId !=null and applicationKeyId != ''">
            and t.application_key_id= #{applicationKeyId}
        </if>
        <if test="idCard !=null and idCard != ''">
            and t.id_card= #{idCard}
        </if>
        <if test="sex !=null and sex != ''">
            and t.sex= #{sex}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="endTime !=null">
            and t.end_time &gt; #{endTime}
        </if>
        <if test="machineId !=null and machineId != ''">
            and t.machine_id= #{machineId}
        </if>
        <if test="typeCd !=null and typeCd != ''">
            and t.type_cd= #{typeCd}
        </if>
        <if test="name !=null and name != ''">
            and t.name= #{name}
        </if>
        <if test="tel !=null and tel != ''">
            and t.tel= #{tel}
        </if>
        <if test="startTime !=null ">
            and t.start_time= #{startTime}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
            and m.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="age !=null and age != ''">
            and t.age= #{age}
        </if>
        <if test="typeFlag !=null and typeFlag != ''">
            and t.type_flag= #{typeFlag}
        </if>
        <if test="pwd !=null and pwd != ''">
            and t.pwd= #{pwd}
        </if>


    </select>

</mapper>
