<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

    <!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->

    <!-- 控制台输出 -->
    <appender name="STDOUT_FILE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>./logs/debug.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/debug-%d{yyyyMMdd}.log.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>2</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>./logs/info.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/info-%d{yyyyMMdd}.log.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>2</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <File>./logs/error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/error-%d{yyyyMMdd}.log.%i
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>2</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%msg%n

            </Pattern>
        </layout>
    </appender>

    <logger name="org.springframework" level="ERROR">
        <appender-ref ref="STDOUT_FILE"/>
    </logger>
    <logger name="com.java110.order" level="ERROR">
        <appender-ref ref="STDOUT_FILE"/>
    </logger>

    <!--myibatis log configure-->
    <logger name="com.apache.ibatis" level="DEBUG">
        <appender-ref ref="STDOUT_FILE"/>
    </logger>

    <logger name="org.mybatis" level="DEBUG">
        <appender-ref ref="STDOUT_FILE"/>
    </logger>
    <logger name="druid.sql.Statement" level="DEBUG">
        <appender-ref ref="STDOUT_FILE"/>
    </logger>
    <logger name="druid.sql.ResultSet" level="DEBUG">
        <appender-ref ref="STDOUT_FILE"/>
    </logger>


    <logger name="com.java110" level="DEBUG">
        <appender-ref ref="STDOUT_FILE"/>
    </logger>

    <logger name="io.shardingsphere" level="ERROR">
        <appender-ref ref="STDOUT_FILE"/>
    </logger>

    <logger name="org.thymeleaf" level="ERROR">
        <appender-ref ref="STDOUT_FILE"/>
    </logger>

    <logger name="org.apache.kafka" level="ERROR">
        <appender-ref ref="STDOUT_FILE"/>
    </logger>

    <!-- 日志输出级别
    <root level="DEBUG">
        <appender-ref ref="STDOUT_FILE" />
        <appender-ref ref="DEBUG_FILE" />
    </root>
    -->
</configuration>