<div id = "chooseServiceModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseServiceModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseServiceModelLabel">选择服务</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input placeholder="输入服务名称" type="text" v-model="chooseServiceInfo._currentServiceName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryServices()">查询</button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">服务ID</th>
                                            <th class="text-center">服务名称</th>
                                            <th class="text-center">服务编码</th>
                                            <th class="text-center">序列</th>
                                            <th class="text-center">消息队列</th>
                                            <th class="text-center">调用地址</th>
                                            <th class="text-center">调用方式</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="service in chooseServiceInfo.services">
                                            <td class="text-center">{{service.serviceId}}</td>
                                            <td class="text-center">{{service.name}}</td>
                                            <td class="text-center">{{service.serviceCode}}</td>
                                            <td class="text-center">{{service.seq}}</td>
                                            <td class="text-center">{{service.messageQueueName}}</td>
                                            <td class="text-center">{{service.url}}</td>
                                            <td class="text-center">{{service.method}}</td>
                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseService(service)">选择</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>