<div id="addApplicationKeyModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">添加钥匙申请</h3>
                <div class="ibox-content">
                    <div>
                        <div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">姓名</label>
                                <div class="col-sm-10">
                                    <input v-model="addApplicationKeyInfo.name" type="text" placeholder="必填，请填写姓名"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">手机号</label>
                                <div class="col-sm-10">
                                    <input v-model="addApplicationKeyInfo.tel" type="text" placeholder="必填，请填写手机号"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">用户类型</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addApplicationKeyInfo.typeCd">
                                        <option selected disabled value="">必填，请选择用户类型</option>
                                        <option value="10001">保洁</option>
                                        <option value="10002">保安</option>
                                        <option value="10003">其他人员</option>
                                    </select></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">性别</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addApplicationKeyInfo.sex">
                                        <option selected disabled value="">必填，请选择性别</option>
                                        <option value="0">男</option>
                                        <option value="1">女</option>
                                    </select></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">年龄</label>
                                <div class="col-sm-10">
                                    <input v-model="addApplicationKeyInfo.age" type="text" placeholder="必填，请填写年龄"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">身份证号</label>
                                <div class="col-sm-10">
                                    <input v-model="addApplicationKeyInfo.idCard" type="text" placeholder="必填，请填写身份证号"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">开始时间</label>
                                <div class="col-sm-10">
                                    <input v-model="addApplicationKeyInfo.startTime" type="text"
                                           placeholder="必填，请填写开始时间" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">结束时间</label>
                                <div class="col-sm-10">
                                    <input v-model="addApplicationKeyInfo.endTime" type="text" placeholder="必填，请填写结束时间"
                                           class="form-control">
                                </div>
                            </div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                        v-on:click="saveApplicationKeyInfo()"><i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal">取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

