<div id="component">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="text-center article-title">
                        <span class="text-muted"><i class="fa fa-clock-o"></i> {{noticeDetailInfo.createTime}}</span>
                        <h1>
                            {{noticeDetailInfo.title}}
                        </h1>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>开始时间:</h5>
                            <i class="fa fa-clock-o"></i> {{noticeDetailInfo.startTime}}</span>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>结束时间:</h5>
                                <i class="fa fa-clock-o"></i> {{noticeDetailInfo.endTime}}</span>
                            </div>
                        </div>
                    </div>

                    <p>
                        {{noticeDetailInfo.context}}
                    </p>

                </div>
            </div>
        </div>
    </div>

</div>
