<div id="component">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>访客信息</h5>
                    <div class="ibox-tools" style="top:10px;">
                        <button type="button" class="btn btn-primary btn-sm" v-on:click="_openAddVisitModal()">
                            <i class="glyphicon glyphicon-plus"></i>
                            添加访客
                        </button>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                        <thead>
                        <tr>
                            <th>访客ID</th>
                            <th>访客姓名</th>
                            <th>访客联系方式</th>
                            <th>访客性别</th>
                            <th>来访事由</th>
                            <th>来访时间</th>
                            <th>离开时间</th>
<!--                            <th class="text-right">操作</th>-->


                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="visit in appManageInfo.visits">
                            <td>{{visit.vId}}</td>
                            <td>{{visit.vName}}</td>
                            <td>{{visit.phoneNumber}}</td>
                            <td>{{visit.visitGender=='0'?'男':'女'}}</td>
                            <td>{{visit.visitCase}}</td>
                            <td>{{visit.visitTime}}</td>
                            <td>{{visit.departureTime}}</td>
<!--                            <td>-->
<!--&lt;!&ndash;                                <div class="btn-group">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <button class="btn-white btn btn-xs" v-on:click="_openEditVisitModel(visit)">修改</button>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                                <div class="btn-group">-->
<!--                                    <button class="btn-white btn btn-xs" v-on:click="_openDeleteAppModel(visit)">删除-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </td>-->

                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7">
                                <ul class="pagination float-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <!-- 分页 -->
                    <vc:create name="pagination"></vc:create>
                </div>
            </div>
        </div>
    </div>

    <vc:create name="editVisit"></vc:create>
    <vc:create name="deleteApp"></vc:create>

</div>
