<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>填写公司信息</h5>
                    <div class="ibox-tools">

                    </div>
                </div>
                <div class="ibox-content">
                    <h2>
                        完善公司信息
                    </h2>
                    <p>
                        请仔细填写公司相关信息，有利于快速审核
                    </p>

                    <form id="component" class="wizard-big wizard clearfix" role="application" novalidate="novalidate">
                        <p style="color: red;">{{companyInfo.errorInfo}}</p>
                        <div class="steps clearfix">
                            <ul role="tablist">
                                <li role="tab" v-bind:class="{ current: step==1,disabled:step!=1 }" >
                                    <a>
                                        <span class="current-info audible">current step: </span>
                                        <span class="number">1.</span> 基本信息
                                    </a>
                                </li>
                                <li role="tab" v-bind:class="{ current: step==2,disabled:step!=2 }">
                                    <a>
                                        <span class="number">2.</span> 扩展信息
                                    </a>
                                </li>
                                <li role="tab" v-bind:class="{ current: step==3,disabled:step!=3 }">
                                    <a>
                                    <span class="number">3.</span> 证件信息
                                    </a>
                                </li>
                                <li role="tab" v-bind:class="{ current: step==4,disabled:step!=4 }">
                                    <a>
                                    <span class="number">4.</span> 须知
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content clearfix">
                            <h1 tabindex="-1" class="title current">基本信息</h1>
                            <vc:create name="company-base"></vc:create>
                            <h1 tabindex="-1" class="title">扩展信息</h1>
                            <vc:create name="company-extend"></vc:create>
                            <h1 id="component-h-1" tabindex="-1" class="title">证件信息</h1>
                            <vc:create name="company-cerdentials"></vc:create>
                            <h1 id="component-h-2" tabindex="-1" class="title">须知</h1>
                            <fieldset id="component-p-2" role="tabpanel" aria-labelledby="component-h-2" class="body" aria-hidden="true"  v-bind:class="{no_display:step!=4}">
                                <h4>这里是须知</h4>
                                <textarea id="text-area" readonly name="text-area" rows="20" cols="180" >
1. 提示条款

    本协议由网络用户与精诚物业服务有限公司共同缔结，具有合同效力。本协议中精诚物业服务有限公司称为“精诚物业服务有限公司”，协议签约的另一方称为“用户”或“您”。

各条款标题仅为帮助您理解该条款表达的主旨之用，不影响或限制本协议条款的含义或解释。为维护您自身权益，建议您仔细阅读各条款具体表述。

您在申请注册流程中点击同意本协议之前，应当认真阅读本协议。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、法律适用和争议解决条款。免除或者限制责任的条款将以粗体标识，您应重点阅读。如您对协议有任何疑问，可向精诚物业服务有限公司客服咨询。

当您在注册程序过程中在“已阅读，同意《精诚物业服务有限公司注册协议》”处打勾“√”并按照注册程序成功注册为精诚物业服务有限公司用户即表示您完全接受本协议项下的全部条款，或您以其他精诚物业服务有限公司允许的方式实际使用精诚物业服务有限公司服务时，即表示您已充分阅读、理解并接受本协议的全部内容，并与精诚物业服务有限公司达成协议。您承诺接受并遵守本协议的约定， 届时您不应以未阅读本协议的内容或者未获得精诚物业服务有限公司对您问询的解答等理由，主张本协议无效或本协议中的某些条款无效，或不遵守本协议约定。阅读本协议的过程中，如果您不同意本协议或其中任何条款约定，您应立即停止注册程序。如果您未申请注册流程，或者在本协议生效前已成为精诚物业服务有限公司的注册用户，则您通过访问和/或使用精诚物业服务有限公司，即视为您表示同意接受本协议的全部内容，否则请您终止访问或使用精诚物业服务有限公司网站。

2. 协议范围

    2.1 本协议由您与精诚物业服务有限公司经营者（精诚物业服务有限公司）共同缔结，本协议对您与精诚物业服务有限公司经营者均具有合同效力。

    2.2 除另行明确声明外，精诚物业服务有限公司服务包含任何精诚物业服务有限公司提供的基于互联网以及移动网的相关服务，且均受本协议约束。如果您不同意本协议的约定，您应立即停止注册/激活程序或停止使用精诚物业服务有限公司服务。

    2.3 本协议内容包括协议正文、法律声明、《精诚物业服务有限公司网站公告》及所有精诚物业服务有限公司已经发布或将来可能发布的各类规则、公告或通知（以下合称“网站公约”或“公告”）。所有规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。

    2.4 随着互联网高速发展，精诚物业服务有限公司有权根据需要不时制定、修改本协议/或各类规则，并以网站公示方式进行变更公告，无需单独通知您。变更后的协议和规则一经在网站公布后，立即或在公告明确的特定时间自动生效。若您在前述变更公告后继续使用精诚物业服务有限公司服务的，即表示您已经阅读、理解并接受经修订的协议和规则。若您不同意相关变更，应当立即停止使用精诚物业服务有限公司服务。

3. 账户注册与使用

    3.1 用户注册是指您按精诚物业服务有限公司登录方式登录精诚物业服务有限公司，并确认同意履行相关用户协议的过程。

    3.1.1 您确认，在您开始注册程序使用精诚物业服务有限公司服务前，您应当具备中华人民共和国法律规定的与您行为相适应的民事行为能力。若您不具备前述与您行为相适应的民事行为能力，则您及您的监护人应依照法律规定承担因此而导致的一切后果。

    3.1.2 当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，您将获得与您身份唯一对应的账户id，并成为精诚物业服务有限公司用户。您需确定您使用的登陆手机、qq账号及微信账号均为本人所拥有的账号，保证注册信息的真实性。

    3.1.3 由于您的精诚物业服务有限公司账户关联您的个人信息及精诚物业服务有限公司商业信息，您的精诚物业服务有限公司账户仅限您本人使用。未经精诚物业服务有限公司同意，您直接或间接授权第三方使用您精诚物业服务有限公司账户或获取您账户项下信息的行为无效。如精诚物业服务有限公司判断您账户的使用可能危及您的账户安全及/或精诚物业服务有限公司信息安全的，精诚物业服务有限公司可拒绝提供相应服务或终止本协议。

    3.3 注册信息管理

        3.3.1 注册信息真实合法，在使用精诚物业服务有限公司服务时，您应当按精诚物业服务有限公司页面的提示准确完整地提供您的信息（包括您的姓名及电子邮件地址、联系电话、联系地址等），以便精诚物业服务有限公司在必要时与您联系。您了解并同意，您有义务保持您提供信息的真实性及有效性。

        3.3.2 您所设置的账户名不得违反国家法律法规及精诚物业服务有限公司规则关于账户名的管理规定，否则精诚物业服务有限公司可对您的账户名进行暂停使用或注销等处理，并向主管机关报告。您理解并承诺，您的账户名称、头像和简介等注册信息中不得出现违法和不良信息，没有冒用、关联机构或社会名人，您在账户注册过程中需遵守法律法规、社会主义制度、国家利益、公民合法权益、公共秩序、社会道德风尚和信息真实性等七条底线。

        3.3.3 您同意并授权，为了更好的为您提供服务以及确保您的账户安全，精诚物业服务有限公司可以根据您提供的手机号码、身份证号码等信息，向全国公民身份号码查询服务中心、电信运营商、金融服务机构等可靠单位发起用户身份真实性、用户征信记录、用户手机号码有效性状态等情况的查询。

    3.3.4 更新维护

        您应当及时更新您提供的信息，在法律有明确规定要求精诚物业服务有限公司对部分用户的信息进行核实的情况下，精诚物业服务有限公司将依法不时地对您的信息进行检查核实，您应当配合提供最新、真实、完整的信息。如精诚物业服务有限公司按您最后一次提供的信息与您联系未果、您未按照精诚物业服务有限公司的要求及时提供信息、您提供的信息存在明显不实的，您将承担因此对您自身、他人及精诚物业服务有限公司造成的全部损失与不利后果。

    3.4 账户安全规范

    3.4.1您的账户为您自行设置并由您保管。建议您务必保管好您的账户，并确保您在每个上网时段结束时退出登录并以正确步骤离开精诚物业服务有限公司。

    3.4.2 账户因您主动泄露或遭受他人攻击、诈骗等行为导致的损失及后果，均由您自行承担。

    3.4.3 您的账户只限您本人使用，不得出借或分享他人使用。当您的账户遭到未经授权的使用时，您应当立即通知精诚物业服务有限公司，否则未经授权的使用行为均视为您本人的行为，您将自行承担所有由此导致的损失及后果。

    3.5 除精诚物业服务有限公司存在过错外，您应对您账户项下的所有行为结果（包括但不限于在线签署各类协议、发布信息、购买商品及服务及披露信息等）负责。如发现任何未经授权使用您账户登录精诚物业服务有限公司或其他可能导致您账户遭窃、遗失的情况，建议您立即通知精诚物业服务有限公司。您理解精诚物业服务有限公司对您的任何请求采取行动均需要合理时间，除精诚物业服务有限公司存在过错外，精诚物业服务有限公司对在采取行动前已经产生的后果不承担任何责任。

4. 精诚物业服务有限公司的服务及规范

    4.1 精诚物业服务有限公司服务

        精诚物业服务有限公司向您提供包括但不限于以下服务：

            1）精诚物业服务有限公司网站服务；

            2）精诚物业服务有限公司（付费）会员服务（下称“会员服务”）； 对于收费的网络服务，精诚物业服务有限公司会在用户使用之前给予用户明确的提示，只有用户根据提示确认其愿意支付相关费用，用户才能使用该等收费网络服务。如用户拒绝支付相关费用，则精诚物业服务有限公司有权不向用户提供该等收费网络服务。

            3）图片、文档上传分享服务（下称“内容上传服务”）；

            4）精诚物业服务有限公司搜索服务（下称“搜索服务”）；

            5）精诚物业服务有限公司下载服务（下称“下载服务”）；

            6）精诚物业服务有限公司提供的其他技术和/或服务（下称“其他技术和服务”）。

        （以上服务统称为“精诚物业服务有限公司服务”）。

    4.2 服务规范

        4.2.1 您可通过精诚物业服务有限公司服务在精诚物业服务有限公司上传、发布或传输相关内容，包括但不限于文字、软件、程序、图形、图片、声音、音乐、视频、音视频、链接等信息或其他资料（下称“内容”），但您需对此内容承担相关的法律责任。

        4.2.2 鉴于精诚物业服务有限公司平台提供的服务属于电子公告牌（BBS）性质，精诚物业服务有限公司平台上的作品内容信息均由用户自行提供并上传，由用户对其提供并上传的所有信息承担相应法律责任。精诚物业服务有限公司平台转载作品（包括论坛内容）出于传递更多信息之目的，并不意味精诚物业服务有限公司赞同其观点或已经证实其内容的真实性。

        4.2.3 除非有相反证明，精诚物业服务有限公司将您视为您在精诚物业服务有限公司上传、发布或传输的内容的版权拥有人。您需保证对于通过精诚物业服务有限公司网络服务上传到精诚物业服务有限公司网站上的作品应拥有全部的所有权，包括但不限于版权或版权合法授权及模特肖像权授权、物权授权等其他相关合法权利。同时保证上传的作品不得侵犯或违反第三方的相关权利，包括但不限于版权、专利权、商标权、商业秘密、隐私权、名誉权、肖像权、或其它知识产权或在先权利。

        4.2.4 您使用精诚物业服务有限公司服务上传、发布或传输内容即代表了您有权且同意在全世界范围内，永久性的、不可撤销地授予精诚物业服务有限公司对该内容的存储、使用、发布、复制、发行、展览、网络传播、修改、改编、出版、翻译、据以创作衍生作品、传播、表演和展示等权利；将内容的全部或部分编入其他任何形式的作品、媒体、技术中的权利；对您的上传、发布的内容进行商业开发的权利；通过有线或无线网络向计算机终端、移动通讯终端（包括但不限于便携式通讯设备如手机和智能平板电脑等）、手持数字影音播放设备、电视接收设备（模拟信号接收设备、数字信号接收设备、数字电视、IPTV、带互联网接入功能的播放设备等）等提供信息的下载、数据传输、及其相关的宣传和推广等服务的权利；再授权给其他第三方以上述方式使用的权利；以及对作品进行单独维权的权利。

        您同意在使用我方平台服务过程中，遵守相关法律法规及司法解释，包括但不限于《中华人民共和国保守国家秘密法》、《中华人民共和国著作权法》、《中华人民共和国计算机信息系统安全保护条例》、《计算机软件保护条例》、《互联网电子公告服务管理规定》、《信息网络传播权保护条例》等。在任何情况下，一旦我方合理地认为您的行为可能违反上述法律、法规，可以在任何时候，不经事先通知终止向您提供服务。

    4.3 服务变更、中断或终止

        4.3.1 鉴于网络服务的特殊性，用户同意精诚物业服务有限公司有权随时变更、中断或终止部分或全部的网络服务（包括收费网络服务）。如变更、中断或终止的网络服务属于免费网络服务，精诚物业服务有限公司无需通知用户，也无需对任何用户或任何第三方承担任何责任；如变更、中断或终止的网络服务属于收费网络服务，精诚物业服务有限公司应当在变更、中断或终止之前事先通知用户。

        4.3.2 用户理解，精诚物业服务有限公司需要定期或不定期地对提供网络服务的平台（如互联网网站）或相关的设备进行检修或者维护，如因此类情况而造成收费网络服务在合理时间内的中断，精诚物业服务有限公司无需为此承担任何责任，但精诚物业服务有限公司应尽可能事先进行通告。

        4.3.3 如发生下列任何一种情形，精诚物业服务有限公司有权随时中断或终止向用户提供本协议项下的网络服务（包括收费网络服务）而无需对用户或任何第三方承担任何责任：

            1） 用户提供的个人资料不真实；

            2） 用户违反本协议中规定的使用规则；

            3） 用户在使用收费网络服务时未按规定向精诚物业服务有限公司支付相应的服务费。

    4.4 其他服务规范

            为方便您使用精诚物业服务有限公司和精诚物业服务有限公司关联公司的其他相关服务，您授权精诚物业服务有限公司将您在账户注册和使用精诚物业服务有限公司服务过程中提供、形成的信息传递给精诚物业服务有限公司关联公司等其他相关服务提供者，或从精诚物业服务有限公司关联公司等其他相关服务提供者获取您在注册、使用相关服务期间提供、形成的信息。

        您理解并知晓在使用精诚物业服务有限公司服务时，所接触的内容和信息来源广泛，精诚物业服务有限公司无法对该内容和信息的准确性、真实性、可用性、安全性、完整性和正当性负责。您理解并认可您可能会接触到不正确的、令人不快的、不适当的或令人厌恶的内容和信息，您不会以此追究精诚物业服务有限公司的相关责任。精诚物业服务有限公司不对用户在精诚物业服务有限公司上传、发布或传输的任何内容和信息背书、推荐或表达观点，也不对任何内容和信息的错误、瑕疵及产生的损失或损害承担任何责任，您对内容和信息的任何使用需自行承担相关的风险。

        您同意精诚物业服务有限公司在提供服务的过程中以各种方式投放商业性广告或其他任何类型的商业信息（包括但不限于在精诚物业服务有限公司的任何位置上投放广告，在您上传、传播的内容中投放广告），您同意接受精诚物业服务有限公司通过电子邮件、站内短信、手机短信、网站公告或其他方式向您发送促销或其他相关商业信息。

    4.5 使用规则

        4.5 用户在使用精诚物业服务有限公司网络服务过程中，必须遵循以下原则：

            4.5.1 遵守中国有关的法律和法规；

            4.5.2 遵守所有与精诚物业服务有限公司网络服务有关的网络协议、规定和程序；

            4.5.3 不得为任何非法目的而使用网络服务系统；

            4.5.4 不得利用精诚物业服务有限公司网络服务系统进行任何可能对互联网正常运转造成不利影响的行为；

            4.5.5 不得利用精诚物业服务有限公司提供的网络服务上传、展示或传播任何虚假的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；

            4.5.6 不得侵犯其他任何第三方的专利权、著作权、商标权、名誉权、肖像权、隐私权、物权或其他任何合法权益；

            4.5.7 不得利用精诚物业服务有限公司网络服务系统进行任何不利于精诚物业服务有限公司的行为；

            4.5.8 如发现任何非法使用用户帐号或帐号出现安全漏洞的情况，应立即通告精诚物业服务有限公司。

            4.5.9 网络用户下载精诚物业服务有限公司的作品，应在作品的授权许可范围内使用。未经版权拥有者许可，仅限学习交流使用，请勿做他用。同时，作品下载使用者遵守著作权法及其他相关法律的规定，不得侵害本网站及权利人的合法权利。

5 费用

    1) 精诚物业服务有限公司为向您提供的服务付出了大量的成本，精诚物业服务有限公司有权根据精诚物业服务有限公司相关规则向您收取一定费用作为网站维护的费用。

    2) 退款。若您已使用下载服务，因提供下载服务的特殊性，一经下载文件将会储存于您的电脑，代表您已经使用该服务，除文件本身损坏导致不可用的情况外，一律不接受退款申请。未使用下载服务的情况下，精诚物业服务有限公司接受无理由退款申请。

6. 隐私保护

    6.1 保护用户隐私是精诚物业服务有限公司的一项基本政策，精诚物业服务有限公司保证不对外公开或向第三方提供单个用户的注册资料及用户在使用网络服务时存储在精诚物业服务有限公司的非公开内容，但下列情况除外：

        6.1.1 事先获得用户的明确授权；

        6.1.2 根据有关的法律法规要求；

        6.1.3 按照相关政府主管部门的要求；

        6.1.4 为维护社会公众的利益；

        6.1.6 为维护精诚物业服务有限公司的合法权益。

    6.2 精诚物业服务有限公司可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与精诚物业服务有限公司同等的保护用户隐私的责任，则精诚物业服务有限公司有权将用户的注册资料等提供给该第三方。

    6.3 在不透露单个用户隐私资料的前提下，精诚物业服务有限公司有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。

7. 免责声明

    7.1 用户明确同意其使用精诚物业服务有限公司网络服务所存在的风险将完全由其自己承担；因其使用精诚物业服务有限公司网络服务而产生的一切后果也由其自己承担，精诚物业服务有限公司对用户不承担任何责任。

    7.2 精诚物业服务有限公司不担保网络服务一定能满足用户的要求，也不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。

    7.3 精诚物业服务有限公司不保证为向用户提供便利而设置的外部链接的准确性和完整性，同时，对于该等外部链接指向的不由精诚物业服务有限公司实际控制的任何网页上的内容，精诚物业服务有限公司不承担任何责任。

    7.4 对于因不可抗力或精诚物业服务有限公司不能控制的原因造成的网络服务中断或其它缺陷，精诚物业服务有限公司不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。

    7.5 用户同意，对于精诚物业服务有限公司向用户提供的下列产品或者服务的质量缺陷本身及其引发的任何损失，精诚物业服务有限公司无需承担任何责任：

        7.5.1 精诚物业服务有限公司向用户免费提供的各项网络服务；

        7.5.2 精诚物业服务有限公司向用户赠送的任何产品或者服务；

        7.5.3 精诚物业服务有限公司向收费网络服务用户附赠的各种产品或者服务。

8. 违约赔偿

    8.1 用户同意保障和维护精诚物业服务有限公司及其他用户的利益，如因以下情形给精诚物业服务有限公司及其关联方或任何其他第三人造成损失，用户同意承担由此造成的损害赔偿责任（包括但不限于觅知对外承担的赔偿费用、为此支出的律师费用、诉讼费、仲裁费、差旅费等其它合理开支）：

        8.1.1 用户或使用用户帐号的其他人违反有关法律、法规或本协议项下的任何条款；

        8.1.2 任何第三人主张作品侵犯、盗用或违反其版权、商标权、专利权、商业秘密、隐私权、名誉权、公开权、肖像权、物权或其它知识产权或专有权利。

9.协议修改

    9.1 知网有权随时修改本协议的任何条款，一旦本协议的内容发生变动，精诚物业服务有限公司将会通过适当方式向用户提示修改内容。

    9.2 如果不同意精诚物业服务有限公司对本协议相关条款所做的修改，用户有权停止使用网络服务。如果用户继续使用网络服务，则视为用户接受精诚物业服务有限公司对本协议相关条款所做的修改。

10. 通知送达

    10.1 本协议项下精诚物业服务有限公司对于用户所有的通知均可通过网页公告、电子邮件或常规的信件传送等方式进行；该等通知于发送之日视为已送达收件人。

    10.2 用户对于精诚物业服务有限公司的通知应当通过精诚物业服务有限公司对外正式公布的通信地址、传真号码、电子邮件地址等联系信息进行送达。

11. 法律管辖

    11.1 本协议的订立、执行和解释及争议的解决均应适用中国法律并受中国法院管辖。

    11.2 如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向精诚物业服务有限公司所在地的人民法院提起诉讼。

12. 其他规定

    12.1 本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。

    12.2 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。

    12.3 本协议中的标题仅为方便而设，在解释本协议时应被忽略。

    12.4 请合理使用无限下载会员账号，如恶意刷图盗图，将被系统暂停账号下载功能，如有疑问请联系客服。

                                </textarea>
                                <br />

                                <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required" aria-required="true" />
                                <label for="acceptTerms">我同意并遵守以上信息.</label>
                            </fieldset>

                        </div>
                        <div class="actions clearfix">
                            <ul role="menu" aria-label="Pagination">
                                <li v-bind:class="{disabled:step == 1}" aria-disabled="true"><a v-on:click="previous()" role="menuitem">上一步</a></li>
                                <li v-bind:class="{no_display:step==4}"><a v-on:click="next()" role="menuitem">下一步</a></li>
                                <li v-bind:class="{no_display:step!=4}"><a v-on:click="finish()" role="menuitem">提交审核</a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>