<div id="roomCreateFeeAddModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">创建费用</h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">收费范围</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="roomCreateFeeAddInfo.locationTypeCd">
                                        <option selected disabled value="">必填，请选择收费范围</option>
                                        <option value="1000">小区</option>
                                        <option value="4000">楼栋</option>
                                        <option value="2000">单元</option>
                                        <option value="3000">房屋</option>
                                    </select></div>
                            </div>
                            <div class="form-group row"
                                 v-show="roomCreateFeeAddInfo.locationTypeCd == '2000' || roomCreateFeeAddInfo.locationTypeCd == '3000' ||roomCreateFeeAddInfo.locationTypeCd == '4000' ">
                                <label class="col-sm-2 col-form-label">楼栋</label>
                                <div class="col-sm-10">
                                    <vc:create name="floorSelect2"
                                               parentModal="roomCreateFeeAddModel"
                                               namespace="roomCreateFeeAdd"
                                    ></vc:create>
                                </div>
                            </div>
                            <div class="form-group row"
                                 v-show="roomCreateFeeAddInfo.locationTypeCd == '2000' || roomCreateFeeAddInfo.locationTypeCd == '3000'  ">
                                <label class="col-sm-2 col-form-label">单元</label>
                                <div class="col-sm-10">
                                    <vc:create name="unitSelect2"
                                               parentModal="roomCreateFeeAddModel"
                                               callBackListener="roomCreateFeeAdd"
                                               callBackFunction="notify"
                                               namespace="roomCreateFeeAdd"
                                    ></vc:create>
                                </div>
                            </div>
                            <div class="form-group row"
                                 v-show="roomCreateFeeAddInfo.locationTypeCd == '3000'  ">
                                <label class="col-sm-2 col-form-label">房屋</label>
                                <div class="col-sm-10">
                                    <vc:create name="roomSelect2"
                                               parentModal="roomCreateFeeAddModel"
                                               callBackListener="roomCreateFeeAdd"
                                               callBackFunction="notify"
                                               namespace="roomCreateFeeAdd"
                                    ></vc:create>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">费用类型</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="roomCreateFeeAddInfo.feeTypeCd" @change="_changeFeeTypeCd(roomCreateFeeAddInfo.feeTypeCd)">
                                        <option selected disabled value="">必填，请选择费用类型</option>
                                        <option v-for="(item,index) in roomCreateFeeAddInfo.feeTypeCds" :key="index"
                                                v-bind:value="item.statusCd">{{item.name}}
                                        </option>
                                    </select></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">收费项目</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="roomCreateFeeAddInfo.configId">
                                        <option selected disabled value="">必填，请选择收费项目</option>
                                        <option v-for="(item,index) in roomCreateFeeAddInfo.feeConfigs" :key="index"
                                                v-bind:value="item.configId">{{item.feeName}}
                                        </option>
                                    </select></div>
                            </div>
                            <div class="form-group row" >
                                <label class="col-sm-2 col-form-label">出账类型</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="roomCreateFeeAddInfo.billType">
                                        <option selected disabled value="">必填，请选择出账类型</option>
                                        <option  value="001">每年1月1日</option>
                                        <option  value="002">每月1日</option>
                                        <option  value="003">每日</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" >
                                <label class="col-sm-2 col-form-label">房屋状态</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="roomCreateFeeAddInfo.roomState">
                                        <option selected disabled value="">必填，请选择房屋状态</option>
                                        <option  value="2001">已售房屋</option>
                                        <option  value="0000">全部房屋</option>
                                    </select>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                        v-on:click="saveRoomCreateFeeInfo()"><i class="fa fa-check"></i>&nbsp;提交
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal">取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
