
<div id="component" class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>查询条件</h5>
                    <div class="ibox-tools" style="top:10px;">

                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" placeholder="审核状态" disabled
                                       v-model="purchaseApplyManageInfo.conditions.applyOrderId" class=" form-control">
                            </div>
                        </div>


                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" placeholder="申请人" disabled
                                       v-model="purchaseApplyManageInfo.conditions.applyOrderId" class=" form-control">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" placeholder="申请时间" disabled
                                       v-model="purchaseApplyManageInfo.conditions.applyOrderId" class=" form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <textarea placeholder="申请说明" disabled v-model="purchaseApplyManageInfo.conditions.applyOrderId"
                                          type="text" placeholder="申请说明" class="form-control">

                                </textarea>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>采购申请信息</h5>
                </div>
                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny"
                           data-page-size="15"
                    >
                        <thead>
                        <tr>
                            <th class="text-center">订单号</th>
                            <th class="text-center">审批状态</th>
                            <th class="text-center">申请人</th>
                            <th class="text-center">申请时间</th>
                            <th class="text-center">物品名称</th>
                            <th class="text-center">总计价格</th>
<!--                            <th class="text-center">操作</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="purchaseApply in purchaseApplyManageInfo.purchaseApplys">
                            <td class="text-center">{{purchaseApply.applyOrderId}}</td>
                            <td class="text-center">{{purchaseApply.state}}</td>
                            <td class="text-center">{{purchaseApply.entryPerson}}</td>
                            <td class="text-center">{{purchaseApply.createTime}}</td>
                            <td class="text-center">{{purchaseApply.resourceNames}}</td>
                            <td class="text-center">{{purchaseApply.totalPrice}}</td>
<!--                            <td class="text-center">-->
<!--                                <div class="btn-group">-->
<!--                                    <button class="btn-white btn btn-xs"-->
<!--                                            v-on:click="_openEditPurchaseApplyModel(purchaseApply)">查看-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                                &lt;!&ndash;                                <div class="btn-group">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <button class="btn-white btn btn-xs"&ndash;&gt;-->
<!--                                &lt;!&ndash;                                            v-on:click="_openEditPurchaseApplyModel(purchaseApply)">修改&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    </button>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                                <div class="btn-group">-->
<!--                                    <button class="btn-white btn btn-xs"-->
<!--                                            v-on:click="_openDeletePurchaseApplyModel(purchaseApply)">取消-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </td>-->

                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7">
                                <ul class="pagination float-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
