<div id="component">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>申请信息</h5>
                    <div class="ibox-tools" style="top:10px;">

                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-3">
                            <h5>审核状态:</h5>
                            <i class="fa fa-search">:</i><span>{{purchaseApplyDetailInfo.stateName}}</span>
                        </div>
                        <div class="col-md-3">
                            <h5>申请人:</h5>
                            <i class="fa fa-user">:</i><span>{{purchaseApplyDetailInfo.userName}}</span>
                        </div>
                        <div class="col-md-3">
                            <h5>申请时间:</h5>
                            <i class="fa fa-clock-o">:</i><span>{{purchaseApplyDetailInfo.createTime}}</span>
                        </div>
                    </div>
                    <hr style="border-top:1px dashed #987cb9;" width="100%" color="#987cb9" size=1>
                    <div class="row">
                        <div class="col-md-12">
                            <h5>申请说明:</h5>
                            <i class="fa fa-pencil">:</i> <span>{{purchaseApplyDetailInfo.description}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>申请物资</h5>
                </div>
                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny"
                           data-page-size="15"
                    >
                        <thead>
                        <tr>
                            <th class="text-center">物资</th>
                            <th class="text-center">物资编码</th>
                            <th class="text-center">单价</th>
                            <th class="text-center">库存</th>
                            <th class="text-center">采购数量</th>
                            <th class="text-center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="resourceStore in purchaseApplyDetailInfo.purchaseApplyDetailVo">
                            <td class="text-center">{{resourceStore.resName}}</td>
                            <td class="text-center">{{resourceStore.resCode}}</td>
                            <td class="text-center">{{resourceStore.price}}</td>
                            <td class="text-center">{{resourceStore.stock}}</td>
                            <td class="text-center">{{resourceStore.quantity}}</td>
                            <td class="text-center">
                                <div class="btn-group" v-if="purchaseApplyDetailInfo.state == '1000'">
                                    <button class="btn-white btn btn-xs"
                                            v-on:click="_openEditPurchaseApplyDetailModel(resourceStore)">编辑
                                    </button>
                                </div>
                                <div class="btn-group" v-if="purchaseApplyDetailInfo.state == '1000'">
                                    <button class="btn-white btn btn-xs"
                                            v-on:click="_openDeletePurchaseApplyDetailModel(resourceStore)">删除
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7">
                                <ul class="pagination float-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
