.left{
    width:300px;

}
.right{
    width:100%
}

a{
    color: #ffffff;
    font-weight: 600;
    padding: 0px 20px 0px 25px;
    display: block;
}
.nav-second-level li a {
    color: rgb(153, 153, 153);
    padding: 14px 10px 0px 10px;
    padding-left: 52px;
    font-size:14px;
    text-decoration:none
}

.doc-interface{
    padding:35px;
}

.doc-title{
    color: #777;
    font-weight: 600;
    font-size: 18px;
    margin-bottom:10px;
}

.doc-margin-top{
    margin-top:35px;
}

.highlight{
    background-color: #f8f9fa;
    padding:10px;
    border-radius: 10px;
}

.nav>li.active {
    border-left: 4px solid #19aa8d;
}

.metismenu .collapse.in {
    display: block;
}
.metismenu .collapse {
    display: none;
}

.nav-label{
    font-size:14px;
}

.example-width{
    max-width: 900px;
    overflow: overlay;
}