<fieldset id="component-p-1" role="tabpanel" aria-labelledby="component-h-1" class="body" aria-hidden="true"  v-bind:class="{no_display:step!=3}">
    <h2>营业执照信息</h2>
    <div class="row">
        <div class="col-lg-8">
            <div class="form-group">
                <label>证件号码 *</label>
                <input v-model="companyCerdentialsInfo.value" type="text" class="form-control required" aria-required="true" />
            </div>
        </div>
        <div class="col-lg-8">
            <div class="form-group">
                <label>有效期(yyyy-mm-dd) *</label>
                <input v-model="companyCerdentialsInfo.validityPeriod" size="16" type="text" placeholder="请选择时间"   readonly class="form-control form-control-sm company_time">

            </div>
        </div>
        <div class="col-lg-8">
            <div class="form-group">
                <label>营业执照照片 *</label>
                <vc:create name="positive-photo"></vc:create>
            </div>
        </div>
    </div>
</fieldset>

