<div id = "chooseMachineTranslateModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseMachineTranslateModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseMachineTranslateModelLabel">选择设备同步</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input placeholder="输入设备同步名称" type="text" v-model="chooseMachineTranslateInfo._currentMachineTranslateName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryMachineTranslates()">查询</button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center">同步ID</th>
                            <th class="text-center">设备编码</th>
                            <th class="text-center">设备ID</th>
                            <th class="text-center">对象类型</th>
                            <th class="text-center">对象名称</th>
                            <th class="text-center">对象Id</th>
                            <th class="text-center">状态</th>
                            <th class="text-center">操作</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="machineTranslate in chooseMachineTranslateInfo.machineTranslates">
                                                                        <td class="text-center">{{machineTranslate.machineTranslateId}}</td>
                            <td class="text-center">{{machineTranslate.machineCode}}</td>
                            <td class="text-center">{{machineTranslate.machineId}}</td>
                            <td class="text-center">{{machineTranslate.typeCd}}</td>
                            <td class="text-center">{{machineTranslate.objName}}</td>
                            <td class="text-center">{{machineTranslate.objId}}</td>
                            <td class="text-center">{{machineTranslate.state}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseMachineTranslate(machineTranslate)">选择</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
