<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="menuServiceDaoImpl">
    

    <!-- 保存路由信息至 instance表中 add by wuxw 2018-07-03 -->
    <insert id="saveMenuGroupInfo" parameterType="Map">
        insert into m_menu_group(
        g_id,name,icon,label,seq,description
        ) values (
        #{gId},#{name},#{icon},#{label},#{seq},#{description}
        )

    </insert>


    <!-- 查询路由信息 add by wuxw 2018-07-03 -->
    <select id="getMenuGroupInfo" parameterType="Map" resultType="Map">
        select t.g_id,t.name,t.icon,t.label,t.seq,t.description,t.g_id gId
        from m_menu_group t
        where t.status_cd= '0'
        <if test="gId !=null and gId != ''">
            and t.g_id= #{gId}
        </if>
        <if test="name !=null and name != ''">
            and t.name like concat('%',#{name},'%')
        </if>
        <if test="icon !=null and icon != ''">
            and t.icon= #{icon}
        </if>
        <if test="label !=null and label != ''">
            and t.label= #{label}
        </if>
        <if test="seq !=null">
            and t.seq= #{seq}
        </if>
        <if test="description !=null and description != ''">
            and t.description= #{description}
        </if>
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改路由信息 add by wuxw 2018-07-03 -->
    <update id="updateMenuGroupInfo" parameterType="Map">
        update m_menu_group t
        <set>
            <if test="statusCd !=null and statusCd != ''">
                t.status_cd = #{statusCd},
            </if>
            <if test="name !=null and name != ''">
                 t.name= #{name},
            </if>
            <if test="icon !=null and icon != ''">
                t.icon= #{icon},
            </if>
            <if test="label !=null and label != ''">
                t.label= #{label},
            </if>
            <if test="seq !=null ">
                t.seq= #{seq},
            </if>
            <if test="description !=null and description != ''">
                t.description= #{description}
            </if>
        </set>
        where t.g_id= #{gId}

    </update>

    <!-- 查询路由数量 add by wuxw 2018-07-03 -->
    <select id="queryMenuGroupsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from m_menu_group t
        where 1 =1
        <if test="gId !=null and gId != ''">
            and t.g_id= #{gId}
        </if>
        <if test="name !=null and name != ''">
            and t.name like concat('%',#{name},'%')
        </if>
        <if test="icon !=null and icon != ''">
            and t.icon= #{icon}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="label !=null and label != ''">
            and t.label= #{label}
        </if>
        <if test="seq !=null">
            and t.seq= #{seq}
        </if>
        <if test="description !=null and description != ''">
            and t.description= #{description}
        </if>
    </select>

</mapper>
