<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>物品管理信息</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewResourceStoreInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectResourceStoreInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> 选择物品管理</button>

                    <button type="button" v-if="viewResourceStoreInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddResourceStoreInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> 添加物品管理</button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >物品名称：</label>
                            <label class="">{{viewResourceStoreInfo.resName}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >物品编码：</label>
                            <label class="">{{viewResourceStoreInfo.resCode}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >物品价格：</label>
                            <label class="">{{viewResourceStoreInfo.price}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >物品库存：</label>
                            <label class="">{{viewResourceStoreInfo.stock}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >描述：</label>
                            <label class="">{{viewResourceStoreInfo.description}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create name="addResourceStore"
               callBackListener="viewResourceStoreInfo"
               callBackFunction="chooseResourceStore"
    ></vc:create>


    <vc:create name="chooseResourceStore"
               emitChooseResourceStore="viewResourceStoreInfo"
               emitLoadData="viewResourceStoreInfo"
    ></vc:create>
</div>
