<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>业主信息</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" class="btn btn-primary btn-sm" v-on:click="openSearchOwnerModel()">
                        <i class="glyphicon glyphicon-search"></i> 选择业主</button>
                    <button type="button" class="btn btn-primary btn-sm"
                            v-if="ownerInfo.ownerId != null && ownerInfo.ownerId != ''"
                            style="margin-left:10px" v-on:click="openAddMemberModel()">
                        <i class="glyphicon glyphicon-plus" ></i> 添加成员</button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-form-label" >业主ID：</label>
                            <label class="">{{ownerInfo.ownerId}}</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-form-label">名称：</label>
                            <label class="">{{ownerInfo.name}}</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-form-label" >性别：</label>
                            <label class="">{{ownerInfo.sex == 0 ? '男' : '女'}}</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-form-label" >年龄：</label>
                            <label class="">{{ownerInfo.age}}</label>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-form-label" >联系方式：</label>
                            <label class="">{{ownerInfo.link}}</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-form-label">创建员工：</label>
                            <label class="">{{ownerInfo.userName}}</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label" >备注：</label>
                            <label class="">{{ownerInfo.remark}}</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <vc:create name="searchOwner"
               emitChooseOwner="memberSelectOwner"
               emitLoadData="listOwnerMember"
    ></vc:create>
    <vc:create
            name="addOwner"
            notifyLoadDataComponentName="listOwnerMember"
    ></vc:create>
</div>