.no_padding{
    padding:0px 0px
}
.no_margin{
    margin:0px 0px
}
.no_display{
    display:none
}
.fileinput>.file{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        font-size: 23px;
        height: 100%;
        width: 100%;
        direction: ltr;
        cursor: pointer;
}
.delete_button{
    color: #dc3545;
}
.java110_loading{
    width: 100%;
    height: 100%;
    z-index: 2300;
    position: fixed;
}
.java110_loading>div{
    margin: 70px auto;
}

.wizard > .actions .vc_disabled a,
.wizard > .actions .vc_disabled a:hover,
.wizard > .actions .vc_disabled a:active
{
    background: #fff;
    color: #888;
}

.wizard > .steps .vc_disabled a,
.wizard > .steps .vc_disabled a:hover,
.wizard > .steps .vc_disabled a:active
{
    background: #fff;
    color: #888;
    cursor: default;
}


.wizard > .steps > ul > li {
    width: 33.33%;
}

.java110_step{
    width:80%;
    margin: 20px auto 50px auto;
}

.form-group span.required {
    color: #f00;
    font-size: 100%;
}

/**  修复select2 和 modal bug  **/
.select2-drop {
        z-index: 10050 !important;
    }

    .select2-search-choice-close {
        margin-top: 0 !important;
        right: 2px !important;
        min-height: 10px;
    }

        .select2-search-choice-close:before {
            color: black !important;
        }
    /*防止select2不会自动失去焦点*/
    .select2-container {
        z-index: 16000 !important;
        width: 100%;
    }

    .select2-drop-mask {
        z-index: 15990 !important;
    }

    .select2-drop-active {
        z-index: 15995 !important;
    }