<div id="editServiceRegisterModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">修改服务绑定</h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">应用ID</label>
                                <div class="col-sm-10">
                                    <input v-model="editServiceRegisterInfo.appId" readonly type="text" placeholder="必填，请填写应用ID"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">服务ID</label>
                                <div class="col-sm-10">
                                    <input v-model="editServiceRegisterInfo.serviceId" readonly type="text"
                                           placeholder="必填，请填写服务ID" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">订单类型</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="editServiceRegisterInfo.orderTypeCd">
                                        <option selected disabled value="">必填，请选择订单类型</option>
                                        <option value="Q">查询</option>
                                        <option value="D">业务受理</option>
                                    </select></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">调用次数</label>
                                <div class="col-sm-10">
                                    <input v-model="editServiceRegisterInfo.invokeLimitTimes" type="text"
                                           placeholder="必填，请填写调用次数" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">调用方式</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="editServiceRegisterInfo.invokeModel">
                                        <option selected disabled value="">必填，请选择调用方式</option>
                                        <option value="S">同步方式</option>
                                        <option value="A">异步方式</option>
                                    </select></div>
                            </div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                        v-on:click="editServiceRegister()"><i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal">取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
