<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="allocationStorehouseApplyServiceDaoImpl">

    <!-- 保存调拨申请信息 add by wuxw 2018-07-03 -->
    <insert id="saveBusinessAllocationStorehouseApplyInfo" parameterType="Map">
        insert into business_allocation_storehouse_apply(
        apply_id,start_user_id,operate,start_user_name,apply_count,remark,state,b_id,store_id,community_id,create_time,apply_type
        ) values (
        #{applyId},#{startUserId},#{operate},#{startUserName},#{applyCount},#{remark},#{state},#{bId},#{storeId},#{communityId},#{createTime},#{applyType}
        )
    </insert>

    <!-- 保存调拨申请信息-->
    <insert id="saveAllocationStorehouseApplyInfo" parameterType="Map">
        insert into allocation_storehouse_apply(
        apply_id,b_id,start_user_id,start_user_name,remark,apply_count,store_id,create_time,state,community_id,apply_type
        ) values (
        #{applyId},#{bId},#{startUserId},#{startUserName},#{remark},#{applyCount},#{storeId},#{createTime},#{state},#{communityId},#{applyType}
        )
    </insert>

    <!-- 查询调拨申请信息（Business） add by wuxw 2018-07-03 -->
    <select id="getBusinessAllocationStorehouseApplyInfo" parameterType="Map" resultType="Map">
        select t.apply_id,t.apply_id applyId,t.start_user_id,t.start_user_id
        startUserId,t.operate,t.start_user_name,t.start_user_name startUserName,t.apply_count,t.apply_count
        applyCount,t.remark,t.state,t.b_id,t.b_id bId,t.store_id,t.store_id storeId,t.community_id,t.community_id
        communityId,t.apply_type,t.apply_type applyType
        from business_allocation_storehouse_apply t
        where 1 =1
        <if test="applyId !=null and applyId != ''">
            and t.apply_id= #{applyId}
        </if>
        <if test="startUserId !=null and startUserId != ''">
            and t.start_user_id= #{startUserId}
        </if>
        <if test="operate !=null and operate != ''">
            and t.operate= #{operate}
        </if>
        <if test="startUserName !=null and startUserName != ''">
            and t.start_user_name= #{startUserName}
        </if>
        <if test="applyCount !=null and applyCount != ''">
            and t.apply_count= #{applyCount}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="applyType !=null and applyType != ''">
            and t.apply_type= #{applyType}
        </if>
    </select>

    <!-- 保存调拨申请信息至 instance表中 add by wuxw 2018-07-03 -->
    <insert id="saveAllocationStorehouseApplyInfoInstance" parameterType="Map">
        insert into allocation_storehouse_apply(
        apply_id,start_user_id,start_user_name,apply_count,remark,status_cd,state,b_id,store_id,community_id,create_time,apply_type
        ) select
        t.apply_id,t.start_user_id,t.start_user_name,t.apply_count,t.remark,'0',t.state,t.b_id,t.store_id,t.community_id,t.create_time,t.apply_type
        from business_allocation_storehouse_apply t where 1=1
        <if test="applyId !=null and applyId != ''">
            and t.apply_id= #{applyId}
        </if>
        <if test="startUserId !=null and startUserId != ''">
            and t.start_user_id= #{startUserId}
        </if>
        and t.operate= 'ADD'
        <if test="startUserName !=null and startUserName != ''">
            and t.start_user_name= #{startUserName}
        </if>
        <if test="applyCount !=null and applyCount != ''">
            and t.apply_count= #{applyCount}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="applyType !=null and applyType != ''">
            and t.apply_type= #{applyType}
        </if>
    </insert>

    <!-- 查询调拨申请信息 add by wuxw 2018-07-03 -->
    <select id="getAllocationStorehouseApplyInfo" parameterType="Map" resultType="Map">
        select t.apply_id,t.apply_id applyId,t.start_user_id,t.start_user_id
        startUserId,t.start_user_name,t.start_user_name startUserName,t.apply_count,t.apply_count
        applyCount,t.remark,t.status_cd,t.status_cd statusCd,t.state,t.b_id,t.b_id bId,t.store_id,t.store_id storeId,
        td.name stateName,t.create_time createTime,t.community_id,t.community_id communityId,t.apply_type,t.apply_type
        applyType,td2.name applyTypeName
        from allocation_storehouse_apply t
        left join t_dict td on t.state = td.status_cd and td.table_name = 'allocation_storehouse_apply' and td.table_columns = 'state'
        left join t_dict td2 on t.apply_type = td2.status_cd and td2.table_name = 'allocation_storehouse_apply' and td2.table_columns = 'apply_type'
        where 1 = 1
        <if test="applyId !=null and applyId != ''">
            and t.apply_id= #{applyId}
        </if>
        <if test="applyIds !=null ">
            and t.apply_id in
            <foreach collection="applyIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="startUserId !=null and startUserId != ''">
            and t.start_user_id= #{startUserId}
        </if>
        <if test="startUserName !=null and startUserName != ''">
            and t.start_user_name like '%${startUserName}%'
        </if>
        <if test="applyCount !=null and applyCount != ''">
            and t.apply_count= #{applyCount}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>
        <if test="startTime !=null and startTime != ''">
            and t.create_time &gt;= #{startTime}
        </if>
        <if test="endTime !=null and endTime != ''">
            and t.create_time &lt;= #{endTime}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id = #{communityId}
        </if>
        <if test="applyType !=null and applyType != ''">
            and t.apply_type= #{applyType}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>
    </select>

    <!-- 修改调拨申请信息 add by wuxw 2018-07-03 -->
    <update id="updateAllocationStorehouseApplyInfoInstance" parameterType="Map">
        update allocation_storehouse_apply t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="startUserId !=null and startUserId != ''">
            , t.start_user_id= #{startUserId}
        </if>
        <if test="startUserName !=null and startUserName != ''">
            , t.start_user_name= #{startUserName}
        </if>
        <if test="applyCount !=null and applyCount != ''">
            , t.apply_count= #{applyCount}
        </if>
        <if test="remark !=null and remark != ''">
            , t.remark= #{remark}
        </if>
        <if test="state !=null and state != ''">
            , t.state= #{state}
        </if>
        <if test="storeId !=null and storeId != ''">
            , t.store_id= #{storeId}
        </if>
        <if test="communityId !=null and communityId != ''">
            , t.community_id= #{communityId}
        </if>
        <if test="applyType !=null and applyType != ''">
            , t.apply_type= #{applyType}
        </if>
        where 1=1
        <if test="applyId !=null and applyId != ''">
            and t.apply_id= #{applyId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
    </update>

    <!-- 查询调拨申请数量 add by wuxw 2018-07-03 -->
    <select id="queryAllocationStorehouseApplysCount" parameterType="Map" resultType="Map">
        select count(1) count
        from allocation_storehouse_apply t
        where 1 = 1
        <if test="applyId !=null and applyId != ''">
            and t.apply_id= #{applyId}
        </if>
        <if test="applyIds !=null ">
            and t.apply_id in
            <foreach collection="applyIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="startUserId !=null and startUserId != ''">
            and t.start_user_id= #{startUserId}
        </if>
        <if test="startUserName !=null and startUserName != ''">
            and t.start_user_name like '%${startUserName}%'
        </if>
        <if test="applyCount !=null and applyCount != ''">
            and t.apply_count= #{applyCount}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>
        <if test="startTime !=null and startTime != ''">
            and t.create_time &gt;= #{startTime}
        </if>
        <if test="endTime !=null and endTime != ''">
            and t.create_time &lt;= #{endTime}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id = #{communityId}
        </if>
        <if test="applyType !=null and applyType != ''">
            and t.apply_type= #{applyType}
        </if>
    </select>
</mapper>
