<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="allocationUserStorehouseServiceDaoImpl">

    <!-- 保存物品供应商信息 add by wuxw 2018-07-03 -->
    <insert id="saveBusinessAllocationUserStorehouseInfo" parameterType="Map">
           insert into business_allocation_user_storehouse(
            accept_user_id,accept_user_name,remark,store_id,res_id,res_name,start_user_id,operate,start_user_name,aus_id,b_id,stock,give_quantity
            ) values (
            #{acceptUserId},#{acceptUserName},#{remark},#{storeId},#{resId},#{resName},#{startUserId},#{operate},#{startUserName},#{ausId},#{bId},
            #{stock},#{giveQuantity}
            )
    </insert>


    <!-- 查询物品供应商信息（Business） add by wuxw 2018-07-03 -->
    <select id="getBusinessAllocationUserStorehouseInfo" parameterType="Map" resultType="Map">
        select t.accept_user_id,t.accept_user_id acceptUserId,t.accept_user_name,t.accept_user_name
        acceptUserName,t.remark,t.store_id,t.store_id storeId,t.res_id,t.res_id resId,t.res_name,t.res_name
        resName,t.start_user_id,t.start_user_id startUserId,t.operate,t.start_user_name,t.start_user_name
        startUserName,t.aus_id,t.aus_id ausId,t.b_id,t.b_id bId,t.stock,t.give_quantity,t.give_quantity giveQuantity
        from business_allocation_user_storehouse t
        where 1 = 1
        <if test="acceptUserId !=null and acceptUserId != ''">
            and t.accept_user_id= #{acceptUserId}
        </if>
        <if test="acceptUserName !=null and acceptUserName != ''">
            and t.accept_user_name= #{acceptUserName}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>
        <if test="resId !=null and resId != ''">
            and t.res_id= #{resId}
        </if>
        <if test="resName !=null and resName != ''">
            and t.res_name= #{resName}
        </if>
        <if test="startUserId !=null and startUserId != ''">
            and t.start_user_id= #{startUserId}
        </if>
        <if test="operate !=null and operate != ''">
            and t.operate= #{operate}
        </if>
        <if test="startUserName !=null and startUserName != ''">
            and t.start_user_name= #{startUserName}
        </if>
        <if test="ausId !=null and ausId != ''">
            and t.aus_id= #{ausId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="stock !=null and stock != ''">
            and t.stock= #{stock}
        </if>
        <if test="giveQuantity !=null and giveQuantity != ''">
            and t.give_quantity= #{giveQuantity}
        </if>
    </select>


    <!-- 保存物品供应商信息至 instance表中 add by wuxw 2018-07-03 -->
    <insert id="saveAllocationUserStorehouseInfoInstance" parameterType="Map">
        insert into allocation_user_storehouse(
        accept_user_id,accept_user_name,status_cd,remark,store_id,res_id,res_name,start_user_id,start_user_name,aus_id,b_id,stock,give_quantity
        ) select
        t.accept_user_id,t.accept_user_name,'0',t.remark,t.store_id,t.res_id,t.res_name,t.start_user_id,t.start_user_name,t.aus_id,t.b_id,t.stock,
        t.give_quantity
        from business_allocation_user_storehouse t where 1=1
        <if test="acceptUserId !=null and acceptUserId != ''">
            and t.accept_user_id= #{acceptUserId}
        </if>
        <if test="acceptUserName !=null and acceptUserName != ''">
            and t.accept_user_name= #{acceptUserName}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>
        <if test="resId !=null and resId != ''">
            and t.res_id= #{resId}
        </if>
        <if test="resName !=null and resName != ''">
            and t.res_name= #{resName}
        </if>
        <if test="startUserId !=null and startUserId != ''">
            and t.start_user_id= #{startUserId}
        </if>
        and t.operate= 'ADD'
        <if test="startUserName !=null and startUserName != ''">
            and t.start_user_name= #{startUserName}
        </if>
        <if test="ausId !=null and ausId != ''">
            and t.aus_id= #{ausId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="stock !=null and stock != ''">
            and t.stock= #{stock}
        </if>
        <if test="giveQuantity !=null and giveQuantity != ''">
            and t.give_quantity= #{giveQuantity}
        </if>
    </insert>

    <!-- 查询物品供应商信息 add by wuxw 2018-07-03 -->
    <select id="getAllocationUserStorehouseInfo" parameterType="Map" resultType="Map">
        select t.accept_user_id,t.accept_user_id acceptUserId,t.accept_user_name,t.accept_user_name
        acceptUserName,t.status_cd,t.status_cd statusCd,t.remark,t.store_id,t.store_id storeId,t.res_id,t.res_id
        resId,t.res_name,t.res_name resName,t.start_user_id,t.start_user_id startUserId,t.start_user_name,
        t.start_user_name startUserName,t.aus_id,t.aus_id ausId,t.b_id,t.b_id
        bId,t.stock,t.give_quantity,t.give_quantity giveQuantity,t.create_time createTime,rst.name rstName,rss.spec_name
        specName,td1.name unitCodeName,td2.name miniUnitCodeName,rst1.name parentRstName,rs.is_fixed isFixed,rs.res_code resCode,td3.name isFixedName
        from allocation_user_storehouse t
        left join resource_store rs on t.res_id = rs.res_id and rs.status_cd = '0'
        left join resource_store_type rst on rs.rst_id = rst.rst_id and rst.status_cd = '0'
        left join resource_store_type rst1 on rs.parent_rst_id = rst1.rst_id and rst1.status_cd = '0'
        left join resource_store_specification rss on rs.rss_id=rss.rss_id and rss.status_cd = '0'
        left join t_dict td1 on rs.unit_code = td1.status_cd and td1.table_name = 'resource_store' and td1.table_columns = 'unit_code'
        left join t_dict td2 on rs.mini_unit_code = td2.status_cd and td2.table_name = 'resource_store' and td2.table_columns = 'unit_code'
        left join t_dict td3 on rs.is_fixed = td3.status_cd and td3.table_name = 'resource_store' and td3.table_columns = 'is_fixed'
        where 1 = 1
        <if test="acceptUserId !=null and acceptUserId != ''">
            and t.accept_user_id= #{acceptUserId}
        </if>
        <if test="acceptUserName !=null and acceptUserName != ''">
            and t.accept_user_name like '%${acceptUserName}%'
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>
        <if test="resId !=null and resId != ''">
            and t.res_id= #{resId}
        </if>
        <if test="resName !=null and resName != ''">
            and t.res_name like '%${resName}%'
        </if>
        <if test="startUserId !=null and startUserId != ''">
            and t.start_user_id= #{startUserId}
        </if>
        <if test="startUserName !=null and startUserName != ''">
            and t.start_user_name like '%${startUserName}%'
        </if>
        <if test="ausId !=null and ausId != ''">
            and t.aus_id= #{ausId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="stock !=null and stock != ''">
            and t.stock= #{stock}
        </if>
        <if test="giveQuantity !=null and giveQuantity != ''">
            and t.give_quantity= #{giveQuantity}
        </if>
        <if test="rstId !=null and rstId != ''">
            and rs.rst_id= #{rstId}
        </if>
        <if test="parentRstId !=null and parentRstId != ''">
            and rs.parent_rst_id= #{parentRstId}
        </if>
        <if test="rssId !=null and rssId != ''">
            and rs.rss_id= #{rssId}
        </if>
        <if test="isFixed !=null and isFixed != ''">
            and rs.is_fixed= #{isFixed}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>
    </select>

    <!-- 修改物品供应商信息 add by wuxw 2018-07-03 -->
    <update id="updateAllocationUserStorehouseInfoInstance" parameterType="Map">
        update allocation_user_storehouse t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="acceptUserId !=null and acceptUserId != ''">
            , t.accept_user_id= #{acceptUserId}
        </if>
        <if test="acceptUserName !=null and acceptUserName != ''">
            , t.accept_user_name= #{acceptUserName}
        </if>
        <if test="remark !=null and remark != ''">
            , t.remark= #{remark}
        </if>
        <if test="storeId !=null and storeId != ''">
            , t.store_id= #{storeId}
        </if>
        <if test="resId !=null and resId != ''">
            , t.res_id= #{resId}
        </if>
        <if test="resName !=null and resName != ''">
            , t.res_name= #{resName}
        </if>
        <if test="startUserId !=null and startUserId != ''">
            , t.start_user_id= #{startUserId}
        </if>
        <if test="startUserName !=null and startUserName != ''">
            , t.start_user_name= #{startUserName}
        </if>
        <if test="stock !=null and stock != ''">
            , t.stock= #{stock}
        </if>
        <if test="giveQuantity !=null and giveQuantity != ''">
            , t.give_quantity= #{giveQuantity}
        </if>
        where 1=1
        <if test="ausId !=null and ausId != ''">
            and t.aus_id= #{ausId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>

    </update>

    <!-- 查询物品供应商数量 add by wuxw 2018-07-03 -->
    <select id="queryAllocationUserStorehousesCount" parameterType="Map" resultType="Map">
        select count(1) count
        from allocation_user_storehouse t
        left join resource_store rs on t.res_id = rs.res_id and rs.status_cd = '0'
        left join resource_store_type rst on rs.rst_id = rst.rst_id and rst.status_cd = '0'
        left join resource_store_specification rss on rs.rss_id=rss.rss_id and rss.status_cd = '0'
        left join t_dict td1 on rs.unit_code = td1.status_cd and td1.table_name = 'resource_store' and td1.table_columns = 'unit_code'
        left join t_dict td2 on rs.mini_unit_code = td2.status_cd and td2.table_name = 'resource_store' and td2.table_columns = 'unit_code'
        where 1 =1
        <if test="acceptUserId !=null and acceptUserId != ''">
            and t.accept_user_id= #{acceptUserId}
        </if>
        <if test="acceptUserName !=null and acceptUserName != ''">
            and t.accept_user_name like '%${acceptUserName}%'
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>
        <if test="resId !=null and resId != ''">
            and t.res_id= #{resId}
        </if>
        <if test="resName !=null and resName != ''">
            and t.res_name like '%${resName}%'
        </if>
        <if test="startUserId !=null and startUserId != ''">
            and t.start_user_id= #{startUserId}
        </if>
        <if test="startUserName !=null and startUserName != ''">
            and t.start_user_name like '%${startUserName}%'
        </if>
        <if test="ausId !=null and ausId != ''">
            and t.aus_id= #{ausId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="stock !=null and stock != ''">
            and t.stock= #{stock}
        </if>
        <if test="giveQuantity !=null and giveQuantity != ''">
            and t.give_quantity= #{giveQuantity}
        </if>
        <if test="rstId !=null and rstId != ''">
            and rs.rst_id= #{rstId}
        </if>
        <if test="isFixed !=null and isFixed != ''">
            and rs.is_fixed= #{isFixed}
        </if>
        <if test="parentRstId !=null and parentRstId != ''">
            and rs.parent_rst_id= #{parentRstId}
        </if>
        <if test="rssId !=null and rssId != ''">
            and rs.rss_id= #{rssId}
        </if>
    </select>
</mapper>
