<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="classesV1ServiceDaoImpl">


    <!-- 保存班次信息 add by wuxw 2018-07-03 -->
    <insert id="saveClassesInfo" parameterType="Map">
        insert into classes(
        classes_id,name,remark,state,store_id
        ) values (
        #{classesId},#{name},#{remark},#{state},#{storeId}
        )
    </insert>


    <!-- 查询班次信息 add by wuxw 2018-07-03 -->
    <select id="getClassesInfo" parameterType="Map" resultType="Map">
        select t.classes_id,t.classes_id classesId,t.name,t.remark,t.status_cd,t.status_cd
        statusCd,t.state,t.store_id,t.store_id storeId,t.create_time createTime
        from classes t
        where 1 =1
        <if test="classesId !=null and classesId != ''">
            and t.classes_id= #{classesId}
        </if>
        <if test="name !=null and name != ''">
            and t.name= #{name}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改班次信息 add by wuxw 2018-07-03 -->
    <update id="updateClassesInfo" parameterType="Map">
        update classes t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="name !=null and name != ''">
            , t.name= #{name}
        </if>
        <if test="remark !=null and remark != ''">
            , t.remark= #{remark}
        </if>
        <if test="state !=null and state != ''">
            , t.state= #{state}
        </if>

        where 1=1
        <if test="classesId !=null and classesId != ''">
            and t.classes_id= #{classesId}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>

    </update>

    <!-- 查询班次数量 add by wuxw 2018-07-03 -->
    <select id="queryClassessCount" parameterType="Map" resultType="Map">
        select count(1) count
        from classes t
        where 1 =1
        <if test="classesId !=null and classesId != ''">
            and t.classes_id= #{classesId}
        </if>
        <if test="name !=null and name != ''">
            and t.name= #{name}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>


    </select>

</mapper>
