<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="complaintAppraiseV1ServiceDaoImpl">


    <!-- 保存投诉评价信息 add by wuxw 2018-07-03 -->
    <insert id="saveComplaintAppraiseInfo" parameterType="Map">
        insert into complaint_appraise(
        score,reply_context,create_user_id,reply_user_id,complaint_id,reply_user_name,appraise_id,context,create_user_name,state,community_id
        ) values (
        #{score},#{replyContext},#{createUserId},#{replyUserId},#{complaintId},#{replyUserName},#{appraiseId},#{context},#{createUserName},#{state},#{communityId}
        )
    </insert>


    <!-- 查询投诉评价信息 add by wuxw 2018-07-03 -->
    <select id="getComplaintAppraiseInfo" parameterType="Map" resultType="Map">
        select t.score,t.reply_context,t.reply_context replyContext,t.create_user_id,t.create_user_id
        createUserId,t.reply_user_id,t.reply_user_id replyUserId,t.complaint_id,t.complaint_id
        complaintId,t.reply_user_name,t.reply_user_name replyUserName,t.appraise_id,t.appraise_id
        appraiseId,t.context,t.create_user_name,t.create_user_name createUserName,t.status_cd,t.status_cd
        statusCd,t.state,t.community_id,t.community_id communityId,t.create_time createTime
        from complaint_appraise t
        where 1 =1
        <if test="score !=null and score != ''">
            and t.score= #{score}
        </if>
        <if test="replyContext !=null and replyContext != ''">
            and t.reply_context= #{replyContext}
        </if>
        <if test="createUserId !=null and createUserId != ''">
            and t.create_user_id= #{createUserId}
        </if>
        <if test="replyUserId !=null and replyUserId != ''">
            and t.reply_user_id= #{replyUserId}
        </if>
        <if test="complaintId !=null and complaintId != ''">
            and t.complaint_id= #{complaintId}
        </if>
        <if test="replyUserName !=null and replyUserName != ''">
            and t.reply_user_name= #{replyUserName}
        </if>
        <if test="appraiseId !=null and appraiseId != ''">
            and t.appraise_id= #{appraiseId}
        </if>
        <if test="context !=null and context != ''">
            and t.context= #{context}
        </if>
        <if test="createUserName !=null and createUserName != ''">
            and t.create_user_name= #{createUserName}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改投诉评价信息 add by wuxw 2018-07-03 -->
    <update id="updateComplaintAppraiseInfo" parameterType="Map">
        update complaint_appraise t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="score !=null and score != ''">
            , t.score= #{score}
        </if>
        <if test="replyContext !=null and replyContext != ''">
            , t.reply_context= #{replyContext}
        </if>
        <if test="createUserId !=null and createUserId != ''">
            , t.create_user_id= #{createUserId}
        </if>
        <if test="replyUserId !=null and replyUserId != ''">
            , t.reply_user_id= #{replyUserId}
        </if>
        <if test="complaintId !=null and complaintId != ''">
            , t.complaint_id= #{complaintId}
        </if>
        <if test="replyUserName !=null and replyUserName != ''">
            , t.reply_user_name= #{replyUserName}
        </if>
        <if test="context !=null and context != ''">
            , t.context= #{context}
        </if>
        <if test="createUserName !=null and createUserName != ''">
            , t.create_user_name= #{createUserName}
        </if>
        <if test="state !=null and state != ''">
            , t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            , t.community_id= #{communityId}
        </if>
        where 1=1
        <if test="appraiseId !=null and appraiseId != ''">
            and t.appraise_id= #{appraiseId}
        </if>

    </update>

    <!-- 查询投诉评价数量 add by wuxw 2018-07-03 -->
    <select id="queryComplaintAppraisesCount" parameterType="Map" resultType="Map">
        select count(1) count
        from complaint_appraise t
        where 1 =1
        <if test="score !=null and score != ''">
            and t.score= #{score}
        </if>
        <if test="replyContext !=null and replyContext != ''">
            and t.reply_context= #{replyContext}
        </if>
        <if test="createUserId !=null and createUserId != ''">
            and t.create_user_id= #{createUserId}
        </if>
        <if test="replyUserId !=null and replyUserId != ''">
            and t.reply_user_id= #{replyUserId}
        </if>
        <if test="complaintId !=null and complaintId != ''">
            and t.complaint_id= #{complaintId}
        </if>
        <if test="replyUserName !=null and replyUserName != ''">
            and t.reply_user_name= #{replyUserName}
        </if>
        <if test="appraiseId !=null and appraiseId != ''">
            and t.appraise_id= #{appraiseId}
        </if>
        <if test="context !=null and context != ''">
            and t.context= #{context}
        </if>
        <if test="createUserName !=null and createUserName != ''">
            and t.create_user_name= #{createUserName}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>


    </select>

</mapper>
