<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="contractAttrServiceDaoImpl">





    <!-- 保存合同属性信息 add by wuxw 2018-07-03 -->
    <insert id="saveContractAttrInfo" parameterType="Map">
        insert into contract_attr(
attr_id,contract_id,spec_cd,store_id,value
) values (
#{attrId},#{contractId},#{specCd},#{storeId},#{value}
)
    </insert>



    <!-- 查询合同属性信息 add by wuxw 2018-07-03 -->
    <select id="getContractAttrInfo" parameterType="Map" resultType="Map">
        select  t.attr_id,t.attr_id attrId,t.contract_id,t.contract_id contractId,t.spec_cd,t.spec_cd specCd,t.status_cd,t.status_cd statusCd,t.store_id,t.store_id storeId,t.value 
from contract_attr t 
where 1 =1 
<if test="attrId !=null and attrId != ''">
   and t.attr_id= #{attrId}
</if> 
<if test="contractId !=null and contractId != ''">
   and t.contract_id= #{contractId}
</if> 
<if test="specCd !=null and specCd != ''">
   and t.spec_cd= #{specCd}
</if> 
<if test="statusCd !=null and statusCd != ''">
   and t.status_cd= #{statusCd}
</if> 
<if test="storeId !=null and storeId != ''">
   and t.store_id= #{storeId}
</if> 
<if test="value !=null and value != ''">
   and t.value= #{value}
</if> 
order by t.create_time desc
<if test="page != -1 and page != null ">
   limit #{page}, #{row}
</if> 

    </select>




    <!-- 修改合同属性信息 add by wuxw 2018-07-03 -->
    <update id="updateContractAttrInfo" parameterType="Map">
        update  contract_attr t set t.status_cd = #{statusCd}
<if test="newBId != null and newBId != ''">
,t.b_id = #{newBId}
</if> 
<if test="contractId !=null and contractId != ''">
, t.contract_id= #{contractId}
</if> 
<if test="specCd !=null and specCd != ''">
, t.spec_cd= #{specCd}
</if> 
<if test="storeId !=null and storeId != ''">
, t.store_id= #{storeId}
</if> 
<if test="value !=null and value != ''">
, t.value= #{value}
</if> 
 where 1=1 <if test="attrId !=null and attrId != ''">
and t.attr_id= #{attrId}
</if> 

    </update>

    <!-- 查询合同属性数量 add by wuxw 2018-07-03 -->
     <select id="queryContractAttrsCount" parameterType="Map" resultType="Map">
        select  count(1) count 
from contract_attr t 
where 1 =1 
<if test="attrId !=null and attrId != ''">
   and t.attr_id= #{attrId}
</if> 
<if test="contractId !=null and contractId != ''">
   and t.contract_id= #{contractId}
</if> 
<if test="specCd !=null and specCd != ''">
   and t.spec_cd= #{specCd}
</if> 
<if test="statusCd !=null and statusCd != ''">
   and t.status_cd= #{statusCd}
</if> 
<if test="storeId !=null and storeId != ''">
   and t.store_id= #{storeId}
</if> 
<if test="value !=null and value != ''">
   and t.value= #{value}
</if> 


     </select>

</mapper>
