<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="contractTypeSpecServiceDaoImpl">


    <!-- 保存合同类型规格信息 add by wuxw 2018-07-03 -->
    <insert id="saveContractTypeSpecInfo" parameterType="Map">
        insert into contract_type_spec(
        spec_type,spec_name,spec_holdplace,spec_value_type,spec_cd,store_id,spec_show,contract_type_id,required,list_show
        ) values (
        #{specType},#{specName},#{specHoldplace},#{specValueType},#{specCd},#{storeId},#{specShow},#{contractTypeId},#{required},#{listShow}
        )
    </insert>


    <!-- 查询合同类型规格信息 add by wuxw 2018-07-03 -->
    <select id="getContractTypeSpecInfo" parameterType="Map" resultType="Map">
        select t.spec_type,t.spec_type specType,t.spec_name,t.spec_name specName,t.spec_holdplace,t.spec_holdplace
        specHoldplace,t.spec_value_type,t.spec_value_type specValueType,t.spec_cd,t.spec_cd
        specCd,t.status_cd,t.status_cd statusCd,t.store_id,t.store_id storeId,t.spec_show,t.spec_show
        specShow,t.contract_type_id,t.contract_type_id contractTypeId,t.required,t.list_show,t.list_show listShow
        from contract_type_spec t
        where 1 =1
        <if test="specType !=null and specType != ''">
            and t.spec_type= #{specType}
        </if>
        <if test="specName !=null and specName != ''">
            and t.spec_name= #{specName}
        </if>
        <if test="specHoldplace !=null and specHoldplace != ''">
            and t.spec_holdplace= #{specHoldplace}
        </if>
        <if test="specValueType !=null and specValueType != ''">
            and t.spec_value_type= #{specValueType}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>
        <if test="specShow !=null and specShow != ''">
            and t.spec_show= #{specShow}
        </if>
        <if test="contractTypeId !=null and contractTypeId != ''">
            and t.contract_type_id= #{contractTypeId}
        </if>
        <if test="required !=null and required != ''">
            and t.required= #{required}
        </if>
        <if test="listShow !=null and listShow != ''">
            and t.list_show= #{listShow}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改合同类型规格信息 add by wuxw 2018-07-03 -->
    <update id="updateContractTypeSpecInfo" parameterType="Map">
        update contract_type_spec t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="specType !=null and specType != ''">
            , t.spec_type= #{specType}
        </if>
        <if test="specName !=null and specName != ''">
            , t.spec_name= #{specName}
        </if>
        <if test="specHoldplace !=null and specHoldplace != ''">
            , t.spec_holdplace= #{specHoldplace}
        </if>
        <if test="specValueType !=null and specValueType != ''">
            , t.spec_value_type= #{specValueType}
        </if>
        <if test="storeId !=null and storeId != ''">
            , t.store_id= #{storeId}
        </if>
        <if test="specShow !=null and specShow != ''">
            , t.spec_show= #{specShow}
        </if>
        <if test="contractTypeId !=null and contractTypeId != ''">
            , t.contract_type_id= #{contractTypeId}
        </if>
        <if test="required !=null and required != ''">
            , t.required= #{required}
        </if>
        <if test="listShow !=null and listShow != ''">
            , t.list_show= #{listShow}
        </if>
        where 1=1
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>

    </update>

    <!-- 查询合同类型规格数量 add by wuxw 2018-07-03 -->
    <select id="queryContractTypeSpecsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from contract_type_spec t
        where 1 =1
        <if test="specType !=null and specType != ''">
            and t.spec_type= #{specType}
        </if>
        <if test="specName !=null and specName != ''">
            and t.spec_name= #{specName}
        </if>
        <if test="specHoldplace !=null and specHoldplace != ''">
            and t.spec_holdplace= #{specHoldplace}
        </if>
        <if test="specValueType !=null and specValueType != ''">
            and t.spec_value_type= #{specValueType}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>
        <if test="specShow !=null and specShow != ''">
            and t.spec_show= #{specShow}
        </if>
        <if test="contractTypeId !=null and contractTypeId != ''">
            and t.contract_type_id= #{contractTypeId}
        </if>
        <if test="required !=null and required != ''">
            and t.required= #{required}
        </if>
        <if test="listShow !=null and listShow != ''">
            and t.list_show= #{listShow}
        </if>


    </select>

</mapper>
