<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="purchaseApplyDetailServiceDaoImpl">

    <!-- 保存订单明细信息 add by wuxw 2018-07-03 -->
    <insert id="saveBusinessPurchaseApplyDetailInfo" parameterType="Map">
        insert into business_purchase_apply_detail
        (id,operate,apply_order_id,b_id,res_id,quantity,remark,status_cd) values
        (#{id},#{operate},#{applyOrderId},#{bId},#{resId},#{quantity},#{remark},#{statusCd})
    </insert>

    <!-- 查询订单明细信息（Business） add by wuxw 2018-07-03 -->
    <select id="getBusinessPurchaseApplyDetailInfo" parameterType="Map" resultType="Map">
        select
        t.operate,t.apply_order_id,t.apply_order_id applyOrderId,
        t.b_id,t.b_id bId,t.res_id,t.res_id resId,t.id,t.price
        from business_purchase_apply_detail t
        where 1 = 1
        <if test="operate !=null and operate != ''">
            and t.operate= #{operate}
        </if>
        <if test="applyOrderId !=null and applyOrderId != ''">
            and t.apply_order_id= #{applyOrderId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="resId !=null and resId != ''">
            and t.res_id= #{resId}
        </if>
    </select>

    <!-- 保存订单明细信息至 instance表中 add by wuxw 2018-07-03 -->
    <insert id="savePurchaseApplyDetailInfoInstance" parameterType="Map">
        insert into purchase_apply_detail(
        apply_order_id,status_cd,id,b_id,res_id
        ) select t.apply_order_id,'0',t.id,t.b_id,t.res_id from business_purchase_apply_detail t where 1=1
        and t.operate= 'ADD'
        <if test="applyOrderId !=null and applyOrderId != ''">
            and t.apply_order_id= #{applyOrderId}
        </if>
        <if test="id !=null and id != ''">
            and t.id= #{id}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="resId !=null and resId != ''">
            and t.res_id= #{resId}
        </if>
    </insert>

    <!-- 查询订单明细信息 add by wuxw 2018-07-03 -->
    <select id="getPurchaseApplyDetailInfo" parameterType="Map" resultType="Map">
        select
        t.id,
        t.apply_order_id applyOrderId,
        t.status_cd statusCd,
        t.b_id bId,
        t.res_id resId,
        t.rs_id rsId,
        rs.res_name resName,
        t.remark remark,
        t.quantity quantity,
        t.purchase_quantity purchaseQuantity,
        t.purchase_remark purchaseRemark,
        t.price,
        pa.res_order_type resOrderType,
        pa.user_id userId,
        pa.user_name userName,
        pa.description,
        pa.state,
        pa.end_user_name endUserName,
        pa.end_user_tel endUserTel,
        pa.warehousing_way warehousingWay,
        pa.create_time createTime,
        rsp.supplier_name supplierName,
        td1.name resOrderTypeName,
        td2.name stateName,
        td3.name warehousingWayName,
        rst.name rstName,
        rst1.name parentRstName,
        rss.spec_name specName,
        rs.sh_id shId,
        td4.name unitCodeName,
        td5.name miniUnitCodeName,
        sh.sh_name shName,
        rs.is_fixed isFixed,
        td6.name isFixedName
        from purchase_apply_detail t
        inner join purchase_apply pa on t.apply_order_id = pa.apply_order_id and pa.status_cd = '0'
        left join resource_store rs on rs.res_id = t.res_id and rs.status_cd = '0'
        left join t_dict td4 on rs.unit_code = td4.status_cd and td4.table_name = 'resource_store' and td4.table_columns = 'unit_code'
        left join t_dict td5 on rs.mini_unit_code = td5.status_cd and td5.table_name = 'resource_store' and td5.table_columns = 'unit_code'
        left join storehouse sh on rs.sh_id = sh.sh_id and sh.status_cd = '0'
        left join resource_supplier rsp on rsp.rs_id = t.rs_id
        left join t_dict td1 on pa.res_order_type = td1.status_cd and td1.table_name = 'purchase_apply' and
        td1.table_columns = 'res_order_type'
        left join t_dict td2 on pa.state = td2.status_cd and td2.table_name = 'purchase_apply' and td2.table_columns =
        'state'
        left join t_dict td3 on pa.warehousing_way = td3.status_cd and td3.table_name = 'purchase_apply' and
        td3.table_columns = 'warehousing_way'
        LEFT JOIN resource_store_type rst on rs.rst_id=rst.rst_id and rst.status_cd = '0'
        LEFT JOIN resource_store_type rst1 on rs.parent_rst_id=rst1.rst_id and rst1.status_cd = '0'
        LEFT JOIN resource_store_specification rss on rs.rss_id=rss.rss_id and rss.status_cd = '0'
        left join t_dict td6 on rs.is_fixed = td6.status_cd and td6.table_name = 'resource_store' and td6.table_columns = 'is_fixed'
        where 1 = 1
        <if test="applyOrderId !=null and applyOrderId != ''">
            and t.apply_order_id= #{applyOrderId}
        </if>
        <if test="resName !=null and resName != ''">
            and rs.res_name like '%${resName}%'
        </if>
        <if test="rsId !=null and rsId != ''">
            and t.rs_id = #{rsId}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="quantity !=null and quantity != ''">
            and t.quantity= #{quantity}
        </if>
        <if test="purchaseQuantity !=null and purchaseQuantity != ''">
            and t.purchase_quantity= #{purchaseQuantity}
        </if>
        <if test="purchaseRemark !=null and purchaseRemark != ''">
            and t.purchase_remark= #{purchaseRemark}
        </if>
        <if test="price !=null and price != ''">
            and t.price= #{price}
        </if>
        <if test="resOrderType !=null and resOrderType != ''">
            and pa.res_order_type= #{resOrderType}
        </if>
        <if test="userId !=null and userId != ''">
            and pa.user_id= #{userId}
        </if>
        <if test="createUserId !=null and createUserId != ''">
            and pa.create_user_id= #{createUserId}
        </if>
        <if test="userName !=null and userName != ''">
            and pa.user_name like '%${userName}%'
        </if>
        <if test="description !=null and description != ''">
            and pa.description= #{description}
        </if>
        <if test="state !=null and state != ''">
            and pa.state= #{state}
        </if>
        <if test="endUserName !=null and endUserName != ''">
            and pa.end_user_name like '%${endUserName}%'
        </if>
        <if test="endUserTel !=null and endUserTel != ''">
            and pa.end_user_tel= #{endUserTel}
        </if>
        <if test="warehousingWay !=null and warehousingWay != ''">
            and pa.warehousing_way= #{warehousingWay}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="id !=null and id != ''">
            and t.id= #{id}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="resId !=null and resId != ''">
            and t.res_id= #{resId}
        </if>
        <if test="storeId !=null and storeId != ''">
            and pa.store_id= #{storeId}
        </if>
        <if test="rssId !=null and rssId != ''">
            and rs.rss_id= #{rssId}
        </if>
        <if test="rstId !=null and rstId != ''">
            and rs.rst_id= #{rstId}
        </if>
        <if test="parentRstId !=null and parentRstId != ''">
            and rs.parent_rst_id= #{parentRstId}
        </if>
        <if test="supplierName !=null and supplierName != ''">
            and rsp.supplier_name= #{supplierName}
        </if>
        <if test="startTime !=null and startTime != ''">
            and pa.create_time &gt;= #{startTime}
        </if>
        <if test="endTime !=null and endTime != ''">
            and pa.create_time &lt;= #{endTime}
        </if>
        <if test="shId !=null and shId != ''">
            and rs.sh_id = #{shId}
        </if>
        order by pa.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>
    </select>

    <!-- 修改订单明细信息 add by wuxw 2018-07-03 -->
    <update id="updatePurchaseApplyDetailInfoInstance" parameterType="Map">
        update purchase_apply_detail t
        <set>
            <if test="statusCd != null and statusCd != ''">
                t.status_cd = #{statusCd},
            </if>
            <if test="newBId != null and newBId != ''">
                t.b_id = #{newBId},
            </if>
            <if test="rsId != null and rsId != ''">
                t.rs_id = #{rsId},
            </if>
            <if test="resId !=null and resId != ''">
                t.res_id= #{resId},
            </if>
            <if test="price !=null and price != ''">
                t.price= #{price},
            </if>
            <if test="purchaseQuantity !=null and purchaseQuantity != ''">
                t.purchase_quantity= #{purchaseQuantity},
            </if>
            <if test="purchaseRemark !=null and purchaseRemark != ''">
                t.purchase_remark= #{purchaseRemark},
            </if>
        </set>
        where 1=1
        <if test="id !=null and id != ''">
            and t.id= #{id}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
    </update>

    <!-- 查询订单明细数量 add by wuxw 2018-07-03 -->
    <select id="queryPurchaseApplyDetailsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from purchase_apply_detail t
        inner join purchase_apply pa on t.apply_order_id = pa.apply_order_id and pa.status_cd = '0'
        left join resource_store rs on rs.res_id = t.res_id and rs.status_cd = '0'
        left join storehouse sh on rs.sh_id = sh.sh_id and sh.status_cd = '0'
        left join resource_supplier rsp on rsp.rs_id = t.rs_id and rsp.status_cd = '0'
        left join t_dict td1 on pa.res_order_type = td1.status_cd and td1.table_name = 'purchase_apply' and
        td1.table_columns = 'res_order_type'
        left join t_dict td2 on pa.state = td2.status_cd and td2.table_name = 'purchase_apply' and td2.table_columns =
        'state'
        left join t_dict td3 on pa.warehousing_way = td3.status_cd and td3.table_name = 'purchase_apply' and
        td3.table_columns = 'warehousing_way'
        LEFT JOIN resource_store_type rst on rs.rst_id=rst.rst_id and rst.status_cd = '0'
        LEFT JOIN resource_store_type rst1 on rs.parent_rst_id=rst1.rst_id and rst1.status_cd = '0'
        LEFT JOIN resource_store_specification rss on rs.rss_id=rss.rss_id and rss.status_cd = '0'
        where 1 = 1
        <if test="applyOrderId !=null and applyOrderId != ''">
            and t.apply_order_id= #{applyOrderId}
        </if>
        <if test="resName !=null and resName != ''">
            and rs.res_name like '%${resName}%'
        </if>
        <if test="rsId !=null and rsId != ''">
            and t.rs_id = #{rsId}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="quantity !=null and quantity != ''">
            and t.quantity= #{quantity}
        </if>
        <if test="purchaseQuantity !=null and purchaseQuantity != ''">
            and t.purchase_quantity= #{purchaseQuantity}
        </if>
        <if test="purchaseRemark !=null and purchaseRemark != ''">
            and t.purchase_remark= #{purchaseRemark}
        </if>
        <if test="price !=null and price != ''">
            and t.price= #{price}
        </if>
        <if test="resOrderType !=null and resOrderType != ''">
            and pa.res_order_type= #{resOrderType}
        </if>
        <if test="userId !=null and userId != ''">
            and pa.user_id= #{userId}
        </if>
        <if test="createUserId !=null and createUserId != ''">
            and pa.create_user_id= #{createUserId}
        </if>
        <if test="userName !=null and userName != ''">
            and pa.user_name like '%${userName}%'
        </if>
        <if test="description !=null and description != ''">
            and pa.description= #{description}
        </if>
        <if test="state !=null and state != ''">
            and pa.state= #{state}
        </if>
        <if test="endUserName !=null and endUserName != ''">
            and pa.end_user_name like '%${endUserName}%'
        </if>
        <if test="endUserTel !=null and endUserTel != ''">
            and pa.end_user_tel= #{endUserTel}
        </if>
        <if test="warehousingWay !=null and warehousingWay != ''">
            and pa.warehousing_way= #{warehousingWay}
        </if>
        <if test="supplierName !=null and supplierName != ''">
            and rsp.supplier_name= #{supplierName}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="id !=null and id != ''">
            and t.id= #{id}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="resId !=null and resId != ''">
            and t.res_id= #{resId}
        </if>
        <if test="storeId !=null and storeId != ''">
            and pa.store_id= #{storeId}
        </if>
        <if test="rssId !=null and rssId != ''">
            and rs.rss_id= #{rssId}
        </if>
        <if test="rstId !=null and rstId != ''">
            and rs.rst_id= #{rstId}
        </if>
        <if test="parentRstId !=null and parentRstId != ''">
            and rs.parent_rst_id= #{parentRstId}
        </if>
        <if test="startTime !=null and startTime != ''">
            and pa.create_time &gt;= #{startTime}
        </if>
        <if test="endTime !=null and endTime != ''">
            and pa.create_time &lt;= #{endTime}
        </if>
        <if test="shId !=null and shId != ''">
            and rs.sh_id = #{shId}
        </if>
    </select>
</mapper>
