<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reserveGoodsDetailV1ServiceDaoImpl">


    <!-- 保存预约商品详情信息 add by wuxw 2018-07-03 -->
    <insert id="saveReserveGoodsDetailInfo" parameterType="Map">
        insert into reserve_goods_detail(
        goods_id,detail_id,community_id,content
        ) values (
        #{goodsId},#{detailId},#{communityId},#{content}
        )
    </insert>


    <!-- 查询预约商品详情信息 add by wuxw 2018-07-03 -->
    <select id="getReserveGoodsDetailInfo" parameterType="Map" resultType="Map">
        select t.goods_id,t.goods_id goodsId,t.detail_id,t.detail_id detailId,t.status_cd,t.status_cd
        statusCd,t.community_id,t.community_id communityId,t.content
        from reserve_goods_detail t
        where 1 =1
        <if test="goodsId !=null and goodsId != ''">
            and t.goods_id= #{goodsId}
        </if>
        <if test="detailId !=null and detailId != ''">
            and t.detail_id= #{detailId}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="content !=null and content != ''">
            and t.content= #{content}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改预约商品详情信息 add by wuxw 2018-07-03 -->
    <update id="updateReserveGoodsDetailInfo" parameterType="Map">
        update reserve_goods_detail t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="content !=null and content != ''">
            , t.content= #{content}
        </if>
        where 1=1
        <if test="detailId !=null and detailId != ''">
            and t.detail_id= #{detailId}
        </if>
        <if test="goodsId !=null and goodsId != ''">
            and t.goods_id= #{goodsId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>

    </update>

    <!-- 查询预约商品详情数量 add by wuxw 2018-07-03 -->
    <select id="queryReserveGoodsDetailsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from reserve_goods_detail t
        where 1 =1
        <if test="goodsId !=null and goodsId != ''">
            and t.goods_id= #{goodsId}
        </if>
        <if test="detailId !=null and detailId != ''">
            and t.detail_id= #{detailId}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="content !=null and content != ''">
            and t.content= #{content}
        </if>


    </select>

</mapper>
