<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resourceResourceStoreUseRecordUseRecordServiceDaoImpl">

    <!-- 保存物品使用记录信息 add by wuxw 2018-07-03 -->
    <insert id="saveBusinessResourceStoreUseRecordInfo" parameterType="Map">
        insert into business_resource_store_use_record(unit_price, create_user_id, quantity, rsur_id, repair_id,
                                                       create_user_name, remark, store_id, res_id, resource_store_name,
                                                       operate, b_id, community_id, state)
        values (#{unitPrice}, #{createUserId}, #{quantity}, #{rsurId}, #{repairId}, #{createUserName}, #{remark},
                #{storeId}, #{resId}, #{resourceStoreName}, #{operate}, #{bId}, #{communityId}, #{state})
    </insert>

    <!-- 查询物品使用记录信息（Business） add by wuxw 2018-07-03 -->
    <select id="getBusinessResourceStoreUseRecordInfo" parameterType="Map" resultType="Map">
        select t.unit_price,t.unit_price unitPrice,t.create_user_id,t.create_user_id
        createUserId,t.quantity,t.rsur_id,t.rsur_id rsurId,t.repair_id,t.repair_id
        repairId,t.create_user_name,t.create_user_name createUserName,t.remark,t.store_id,t.store_id
        storeId,t.res_id,t.res_id resId,t.resource_store_name,t.resource_store_name
        resourceStoreName,t.operate,t.b_id,t.b_id bId,t.community_id,t.community_id communityId,t.state
        from business_resource_store_use_record t
        where 1 =1
        <if test="unitPrice !=null and unitPrice != ''">
            and t.unit_price= #{unitPrice}
        </if>
        <if test="createUserId !=null and createUserId != ''">
            and t.create_user_id= #{createUserId}
        </if>
        <if test="quantity !=null and quantity != ''">
            and t.quantity= #{quantity}
        </if>
        <if test="rsurId !=null and rsurId != ''">
            and t.rsur_id= #{rsurId}
        </if>
        <if test="repairId !=null and repairId != ''">
            and t.repair_id= #{repairId}
        </if>
        <if test="createUserName !=null and createUserName != ''">
            and t.create_user_name= #{createUserName}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>
        <if test="resId !=null and resId != ''">
            and t.res_id= #{resId}
        </if>
        <if test="resourceStoreName !=null and resourceStoreName != ''">
            and t.resource_store_name= #{resourceStoreName}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="operate !=null and operate != ''">
            and t.operate= #{operate}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
    </select>

    <!-- 保存物品使用记录信息至 instance表中 add by wuxw 2018-07-03 -->
    <insert id="saveResourceStoreUseRecordInfoInstance" parameterType="Map">
        insert into resource_store_use_record(
        unit_price,create_user_id,quantity,rsur_id,repair_id,create_user_name,status_cd,remark,store_id,res_id,resource_store_name,b_id,community_id,state
        ) select
        t.unit_price,t.create_user_id,t.quantity,t.rsur_id,t.repair_id,t.create_user_name,'0',t.remark,t.store_id,t.res_id,t.resource_store_name,t.b_id,t.community_id,t.state
        from business_resource_store_use_record t where 1=1
        <if test="unitPrice !=null and unitPrice != ''">
            and t.unit_price= #{unitPrice}
        </if>
        <if test="createUserId !=null and createUserId != ''">
            and t.create_user_id= #{createUserId}
        </if>
        <if test="quantity !=null and quantity != ''">
            and t.quantity= #{quantity}
        </if>
        <if test="rsurId !=null and rsurId != ''">
            and t.rsur_id= #{rsurId}
        </if>
        <if test="repairId !=null and repairId != ''">
            and t.repair_id= #{repairId}
        </if>
        <if test="createUserName !=null and createUserName != ''">
            and t.create_user_name= #{createUserName}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>
        <if test="resId !=null and resId != ''">
            and t.res_id= #{resId}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="resourceStoreName !=null and resourceStoreName != ''">
            and t.resource_store_name= #{resourceStoreName}
        </if>
        and t.operate= 'ADD'
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
    </insert>

    <!-- 查询物品使用记录信息 add by wuxw 2018-07-03 -->
    <select id="getResourceStoreUseRecordInfo" parameterType="Map" resultType="Map">
        select t.unit_price,t.unit_price unitPrice,t.create_user_id,t.create_user_id
        createUserId,t.quantity,t.rsur_id,t.rsur_id rsurId,t.repair_id,t.repair_id
        repairId,t.create_user_name,t.create_user_name createUserName,t.status_cd,t.status_cd
        statusCd,t.remark,t.store_id,t.store_id storeId,t.res_id,t.res_id
        resId,t.resource_store_name,t.resource_store_name resourceStoreName,rs.res_name resName,
        t.b_id,t.b_id bId,t.community_id,t.community_id communityId,t.create_time createTime, rst.name
        rstName,rst1.name parentRstName,rss.spec_name specName,td1.name unitCodeName,td2.name miniUnitCodeName,
        rs.is_fixed isFixed,td3.name isFixedName,t.state,td4.name stateName
        from resource_store_use_record t
        left join resource_store rs on rs.res_id = t.res_id
        left join resource_store_type rst on rs.rst_id = rst.rst_id
        left join resource_store_type rst1 on rs.parent_rst_id = rst1.rst_id
        left join resource_store_specification rss on rs.rss_id = rss.rss_id
        left join t_dict td1 on rs.unit_code = td1.status_cd and td1.table_name = 'resource_store' and td1.table_columns
        = 'unit_code'
        left join t_dict td2 on rs.mini_unit_code = td2.status_cd and td2.table_name = 'resource_store' and
        td2.table_columns = 'unit_code'
        left join t_dict td3 on rs.is_fixed = td3.status_cd and td3.table_name = 'resource_store' and td3.table_columns
        = 'is_fixed'
        left join t_dict td4 on t.state = td4.status_cd and td4.table_name = 'resource_store_use_record' and
        td4.table_columns = 'state'
        where 1 = 1
        <if test="unitPrice !=null and unitPrice != ''">
            and t.unit_price= #{unitPrice}
        </if>
        <if test="createUserId !=null and createUserId != ''">
            and t.create_user_id= #{createUserId}
        </if>
        <if test="quantity !=null and quantity != ''">
            and t.quantity= #{quantity}
        </if>
        <if test="rsurId !=null and rsurId != ''">
            and t.rsur_id= #{rsurId}
        </if>
        <if test="repairId !=null and repairId != ''">
            and t.repair_id= #{repairId}
        </if>
        <if test="createUserName !=null and createUserName != ''">
            and t.create_user_name like '%${createUserName}%'
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>
        <if test="resId !=null and resId != ''">
            and t.res_id= #{resId}
        </if>
        <if test="resName !=null and resName != ''">
            and rs.res_name like '%${resName}%'
        </if>
        <if test="resourceStoreName !=null and resourceStoreName != ''">
            and t.resource_store_name= #{resourceStoreName}
        </if>
        <if test="rstId !=null and rstId != ''">
            and rs.rst_id= #{rstId}
        </if>
        <if test="parentRstId !=null and parentRstId != ''">
            and rs.parent_rst_id= #{parentRstId}
        </if>
        <if test="rssId !=null and rssId != ''">
            and rs.rss_id= #{rssId}
        </if>
        <if test="isFixed !=null and isFixed != ''">
            and rs.is_fixed= #{isFixed}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="startTime !=null and startTime != ''">
            and t.create_time &gt;= #{startTime}
        </if>
        <if test="endTime !=null and endTime != ''">
            and t.create_time &lt;= #{endTime}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>
    </select>

    <!-- 修改物品使用记录信息 add by wuxw 2018-07-03 -->
    <update id="updateResourceStoreUseRecordInfoInstance" parameterType="Map">
        update resource_store_use_record t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="unitPrice !=null and unitPrice != ''">
            , t.unit_price= #{unitPrice}
        </if>
        <if test="createUserId !=null and createUserId != ''">
            , t.create_user_id= #{createUserId}
        </if>
        <if test="quantity !=null and quantity != ''">
            , t.quantity= #{quantity}
        </if>
        <if test="repairId !=null and repairId != ''">
            , t.repair_id= #{repairId}
        </if>
        <if test="createUserName !=null and createUserName != ''">
            , t.create_user_name= #{createUserName}
        </if>
        <if test="remark !=null and remark != ''">
            , t.remark= #{remark}
        </if>
        <if test="storeId !=null and storeId != ''">
            , t.store_id= #{storeId}
        </if>
        <if test="resId !=null and resId != ''">
            , t.res_id= #{resId}
        </if>
        <if test="state !=null and state != ''">
            , t.state= #{state}
        </if>
        <if test="resourceStoreName !=null and resourceStoreName != ''">
            , t.resource_store_name= #{resourceStoreName}
        </if>
        <if test="communityId !=null and communityId != ''">
            , t.community_id= #{communityId}
        </if>
        where 1=1
        <if test="rsurId !=null and rsurId != ''">
            and t.rsur_id= #{rsurId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
    </update>

    <!-- 查询物品使用记录数量 add by wuxw 2018-07-03 -->
    <select id="queryResourceStoreUseRecordsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from resource_store_use_record t
        left join resource_store rs on rs.res_id = t.res_id
        left join resource_store_type rst on rs.rst_id = rst.rst_id
        left join resource_store_specification rss on rs.rss_id = rss.rss_id
        left join t_dict td1 on rs.unit_code = td1.status_cd and td1.table_name = 'resource_store' and td1.table_columns
        = 'unit_code'
        left join t_dict td2 on rs.mini_unit_code = td2.status_cd and td2.table_name = 'resource_store' and
        td2.table_columns = 'unit_code'
        left join t_dict td3 on rs.is_fixed = td3.status_cd and td3.table_name = 'resource_store' and td3.table_columns
        = 'is_fixed'
        left join t_dict td4 on t.state = td4.status_cd and td4.table_name = 'resource_store_use_record' and
        td4.table_columns = 'state'
        where 1 = 1
        <if test="unitPrice !=null and unitPrice != ''">
            and t.unit_price= #{unitPrice}
        </if>
        <if test="createUserId !=null and createUserId != ''">
            and t.create_user_id= #{createUserId}
        </if>
        <if test="quantity !=null and quantity != ''">
            and t.quantity= #{quantity}
        </if>
        <if test="rsurId !=null and rsurId != ''">
            and t.rsur_id= #{rsurId}
        </if>
        <if test="repairId !=null and repairId != ''">
            and t.repair_id= #{repairId}
        </if>
        <if test="createUserName !=null and createUserName != ''">
            and t.create_user_name like '%${createUserName}%'
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>
        <if test="resId !=null and resId != ''">
            and t.res_id= #{resId}
        </if>
        <if test="resName !=null and resName != ''">
            and rs.res_name like '%${resId}%'
        </if>
        <if test="resourceStoreName !=null and resourceStoreName != ''">
            and t.resource_store_name= #{resourceStoreName}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="rstId !=null and rstId != ''">
            and rs.rst_id= #{rstId}
        </if>
        <if test="isFixed !=null and isFixed != ''">
            and rs.is_fixed= #{isFixed}
        </if>
        <if test="state !=null and state != ''">
            and rs.state= #{state}
        </if>
        <if test="parentRstId !=null and parentRstId != ''">
            and rs.parent_rst_id= #{parentRstId}
        </if>
        <if test="rssId !=null and rssId != ''">
            and rs.rss_id= #{rssId}
        </if>
        <if test="startTime != null and startTime != ''">
            and t.create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and t.create_time &lt;= #{endTime}
        </if>
    </select>
</mapper>
