<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resourceStoreSpecificationServiceDaoImpl">

    <!-- 保存物品规格信息 add by wuxw 2018-07-03 -->
    <insert id="saveBusinessResourceStoreSpecificationInfo" parameterType="Map">
           insert into business_resource_store_specification(
            rss_id,rst_id,operate,spec_name,description,b_id,store_id,parent_rst_id
            ) values (
            #{rssId},#{rstId},#{operate},#{specName},#{description},#{bId},#{storeId},#{parentRstId}
            )
       </insert>


    <!-- 查询物品规格信息（Business） add by wuxw 2018-07-03 -->
    <select id="getBusinessResourceStoreSpecificationInfo" parameterType="Map" resultType="Map">
        select t.rss_id,t.rss_id rssId,t.rst_id,t.rst_id rstId,t.operate,t.spec_name,t.spec_name
        specName,t.description,t.b_id,t.b_id bId,t.store_id,t.store_id storeId,t.parent_rst_id,t.parent_rst_id parentRstId
        from business_resource_store_specification t
        where 1 =1
        <if test="rssId !=null and rssId != ''">
            and t.rss_id= #{rssId}
        </if>
        <if test="rstId !=null and rstId != ''">
            and t.rst_id= #{rstId}
        </if>
        <if test="parentRstId !=null and parentRstId != ''">
            and t.parent_rst_id= #{parentRstId}
        </if>
        <if test="operate !=null and operate != ''">
            and t.operate= #{operate}
        </if>
        <if test="specName !=null and specName != ''">
            and t.spec_name= #{specName}
        </if>
        <if test="description !=null and description != ''">
            and t.description= #{description}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>

    </select>


    <!-- 保存物品规格信息至 instance表中 add by wuxw 2018-07-03 -->
    <insert id="saveResourceStoreSpecificationInfoInstance" parameterType="Map">
        insert into resource_store_specification(
        rss_id,rst_id,spec_name,description,status_cd,b_id,store_id,parent_rst_id
        ) select t.rss_id,t.rst_id,t.spec_name,t.description,'0',t.b_id,t.store_id,t.parent_rst_id from
        business_resource_store_specification t where 1=1
        <if test="rssId !=null and rssId != ''">
            and t.rss_id= #{rssId}
        </if>
        <if test="rstId !=null and rstId != ''">
            and t.rst_id= #{rstId}
        </if>
        <if test="parentRstId !=null and parentRstId != ''">
            and t.parent_rst_id= #{parentRstId}
        </if>
        and t.operate= 'ADD'
        <if test="specName !=null and specName != ''">
            and t.spec_name= #{specName}
        </if>
        <if test="description !=null and description != ''">
            and t.description= #{description}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>

    </insert>


    <!-- 查询物品规格信息 add by wuxw 2018-07-03 -->
    <select id="getResourceStoreSpecificationInfo" parameterType="Map" resultType="Map">
        select t.rss_id,t.rss_id rssId,t.rst_id,t.rst_id rstId,t.spec_name,t.spec_name
        specName,t.description,t.status_cd,t.status_cd statusCd,t.b_id,t.b_id bId,t.store_id,t.store_id
        storeId,rst.name,rst.name rstName,t.parent_rst_id,t.parent_rst_id parentRstId,rst1.name parentRstName
        from resource_store_specification t
        left join resource_store_type rst on t.rst_id=rst.rst_id
        left join resource_store_type rst1 on t.parent_rst_id=rst1.rst_id
        where 1 =1
        <if test="rssId !=null and rssId != ''">
            and t.rss_id= #{rssId}
        </if>
        <if test="rstId !=null and rstId != ''">
            and t.rst_id= #{rstId}
        </if>
        <if test="parentRstId !=null and parentRstId != ''">
            and t.parent_rst_id= #{parentRstId}
        </if>
        <if test="specName !=null and specName != ''">
            and t.spec_name like '%${specName}%'
        </if>
        <if test="description !=null and description != ''">
            and t.description= #{description}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改物品规格信息 add by wuxw 2018-07-03 -->
    <update id="updateResourceStoreSpecificationInfoInstance" parameterType="Map">
        update resource_store_specification t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="rstId !=null and rstId != ''">
            , t.rst_id= #{rstId}
        </if>
        <if test="parentRstId !=null and parentRstId != ''">
            , t.parent_rst_id= #{parentRstId}
        </if>
        <if test="specName !=null and specName != ''">
            , t.spec_name= #{specName}
        </if>
        <if test="description !=null">
            , t.description= #{description}
        </if>
        <if test="storeId !=null and storeId != ''">
            , t.store_id= #{storeId}
        </if>
        where 1=1
        <if test="rssId !=null and rssId != ''">
            and t.rss_id= #{rssId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>

    </update>

    <!-- 查询物品规格数量 add by wuxw 2018-07-03 -->
    <select id="queryResourceStoreSpecificationsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from resource_store_specification t left join resource_store_type rst on t.rst_id=rst.rst_id
        where 1 =1
        <if test="rssId !=null and rssId != ''">
            and t.rss_id= #{rssId}
        </if>
        <if test="rstId !=null and rstId != ''">
            and t.rst_id= #{rstId}
        </if>
        <if test="parentRstId !=null and parentRstId != ''">
            and t.parent_rst_id= #{parentRstId}
        </if>
        <if test="specName !=null and specName != ''">
            and t.spec_name like '%${specName}%'
        </if>
        <if test="description !=null and description != ''">
            and t.description= #{description}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>


    </select>

</mapper>
