<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="storehouseServiceDaoImpl">
    <!-- 查询仓库信息 add by wuxw 2018-07-03 -->
    <select id="getStorehouseInfo" parameterType="Map" resultType="Map">
        select t.sh_desc,t.sh_desc shDesc,t.sh_id,t.sh_id
        shId,t.status_cd,t.status_cd statusCd,t.sh_name,t.sh_name shName,t.store_id,t.store_id
        storeId,t.is_show,t.is_show isShow,t.create_time createTime,t.purchase_switch purchaseSwitch,
        t.purchase_raf_id purchaseRafId,t.use_switch useSwitch,t.use_raf_id useRafId,
        t.allocation_switch allocationSwitch,t.allocation_raf_id allocationRafId,raf.flow_name purchaseFlowName,
        raf.flow_id purchaseFlowId,raf1.flow_id useFlowId,raf2.flow_id allocationFlowId,
        raf1.flow_name useFlowName,raf2.flow_name allocationFlowName,t.community_id communityId,
        t.allow_purchase allowPurchase,t.allow_use allowUse
        from storehouse t
        left join resource_audit_flow raf on t.purchase_raf_id = raf.raf_id and raf.status_cd = '0'
        left join resource_audit_flow raf1 on t.use_raf_id = raf1.raf_id and raf1.status_cd = '0'
        left join resource_audit_flow raf2 on t.allocation_raf_id = raf2.raf_id and raf2.status_cd = '0'
        where 1 =1
        <if test="shDesc !=null and shDesc != ''">
            and t.sh_desc= #{shDesc}
        </if>
        <if test="shId !=null and shId != ''">
            and t.sh_id= #{shId}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="shName !=null and shName != ''">
            and t.sh_name= #{shName}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="allowPurchase !=null and allowPurchase != ''">
            and t.allow_purchase= #{allowPurchase}
        </if>
        <if test="allowUse !=null and allowUse != ''">
            and t.allow_use= #{allowUse}
        </if>
        <if test="isShow !=null and isShow != ''">
            and t.is_show= #{isShow}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>
    </select>

    <!-- 查询仓库数量 add by wuxw 2018-07-03 -->
    <select id="queryStorehousesCount" parameterType="Map" resultType="Map">
        select count(1) count
        from storehouse t
        where 1 =1
        <if test="shDesc !=null and shDesc != ''">
            and t.sh_desc= #{shDesc}
        </if>

        <if test="shId !=null and shId != ''">
            and t.sh_id= #{shId}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="shName !=null and shName != ''">
            and t.sh_name= #{shName}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="allowPurchase !=null and allowPurchase != ''">
            and t.allow_purchase= #{allowPurchase}
        </if>
        <if test="allowUse !=null and allowUse != ''">
            and t.allow_use= #{allowUse}
        </if>
        <if test="isShow !=null and isShow != ''">
            and t.is_show= #{isShow}
        </if>
    </select>
</mapper>
