<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userUserStorehousehouseV1ServiceDaoImpl">





    <!-- 保存用户物品信息 add by wuxw 2018-07-03 -->
    <insert id="saveUserStorehouseInfo" parameterType="Map">
        insert into user_storehouse(
res_name,res_code,store_id,stock,res_id,user_id,mini_stock,us_id,times_id
) values (
#{resName},#{resCode},#{storeId},#{stock},#{resId},#{userId},#{miniStock},#{usId},#{timesId}
)
    </insert>



    <!-- 查询用户物品信息 add by wuxw 2018-07-03 -->
    <select id="getUserStorehouseInfo" parameterType="Map" resultType="Map">
        select  t.res_name,t.res_name resName,t.res_code,t.res_code resCode,t.status_cd,t.status_cd statusCd,t.store_id,t.store_id storeId,t.stock,t.res_id,t.res_id resId,t.user_id,t.user_id userId,t.mini_stock,t.mini_stock miniStock,t.us_id,t.us_id usId 
from user_storehouse t 
where 1 =1 
<if test="resName !=null and resName != ''">
   and t.res_name= #{resName}
</if> 
<if test="resCode !=null and resCode != ''">
   and t.res_code= #{resCode}
</if> 
<if test="statusCd !=null and statusCd != ''">
   and t.status_cd= #{statusCd}
</if> 
<if test="storeId !=null and storeId != ''">
   and t.store_id= #{storeId}
</if> 
<if test="stock !=null and stock != ''">
   and t.stock= #{stock}
</if> 
<if test="resId !=null and resId != ''">
   and t.res_id= #{resId}
</if> 
<if test="userId !=null and userId != ''">
   and t.user_id= #{userId}
</if> 
<if test="miniStock !=null and miniStock != ''">
   and t.mini_stock= #{miniStock}
</if> 
<if test="usId !=null and usId != ''">
   and t.us_id= #{usId}
</if>
<if test="timesId !=null and timesId != ''">
    and t.times_id= #{timesId}
</if>
order by t.create_time desc
<if test="page != -1 and page != null ">
   limit #{page}, #{row}
</if> 

    </select>




    <!-- 修改用户物品信息 add by wuxw 2018-07-03 -->
    <update id="updateUserStorehouseInfo" parameterType="Map">
        update  user_storehouse t set t.status_cd = #{statusCd}
<if test="newBId != null and newBId != ''">
,t.b_id = #{newBId}
</if> 
<if test="resName !=null and resName != ''">
, t.res_name= #{resName}
</if> 
<if test="resCode !=null and resCode != ''">
, t.res_code= #{resCode}
</if> 
<if test="storeId !=null and storeId != ''">
, t.store_id= #{storeId}
</if> 
<if test="stock !=null and stock != ''">
, t.stock= #{stock}
</if> 
<if test="resId !=null and resId != ''">
, t.res_id= #{resId}
</if> 
<if test="userId !=null and userId != ''">
, t.user_id= #{userId}
</if> 
<if test="miniStock !=null and miniStock != ''">
, t.mini_stock= #{miniStock}
</if>
<if test="timesId !=null and timesId != ''">
, t.times_id= #{timesId}
</if>
 where 1=1 <if test="usId !=null and usId != ''">
and t.us_id= #{usId}
</if> 

    </update>

    <!-- 查询用户物品数量 add by wuxw 2018-07-03 -->
     <select id="queryUserStorehousesCount" parameterType="Map" resultType="Map">
        select  count(1) count 
from user_storehouse t 
where 1 =1 
<if test="resName !=null and resName != ''">
   and t.res_name= #{resName}
</if> 
<if test="resCode !=null and resCode != ''">
   and t.res_code= #{resCode}
</if> 
<if test="statusCd !=null and statusCd != ''">
   and t.status_cd= #{statusCd}
</if> 
<if test="storeId !=null and storeId != ''">
   and t.store_id= #{storeId}
</if> 
<if test="stock !=null and stock != ''">
   and t.stock= #{stock}
</if> 
<if test="resId !=null and resId != ''">
   and t.res_id= #{resId}
</if> 
<if test="userId !=null and userId != ''">
   and t.user_id= #{userId}
</if> 
<if test="miniStock !=null and miniStock != ''">
   and t.mini_stock= #{miniStock}
</if> 
<if test="usId !=null and usId != ''">
   and t.us_id= #{usId}
</if>
<if test="timesId !=null and timesId != ''">
   and t.times_id= #{timesId}
</if>


     </select>

</mapper>
