<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>活动信息</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewActivitiesInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectActivitiesInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> 选择活动</button>

                    <button type="button" v-if="viewActivitiesInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddActivitiesInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> 添加活动</button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >活动标题：</label>
                            <label class="">{{viewActivitiesInfo.title}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >活动类型：</label>
                            <label class="">{{viewActivitiesInfo.typeCd}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >头部照片：</label>
                            <label class="">{{viewActivitiesInfo.headerImg}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >活动内容：</label>
                            <label class="">{{viewActivitiesInfo.context}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >开始时间：</label>
                            <label class="">{{viewActivitiesInfo.startTime}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >结束时间：</label>
                            <label class="">{{viewActivitiesInfo.endTime}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create name="addActivities"
               callBackListener="viewActivitiesInfo"
               callBackFunction="chooseActivities"
    ></vc:create>


    <vc:create name="chooseActivities"
               emitChooseActivities="viewActivitiesInfo"
               emitLoadData="viewActivitiesInfo"
    ></vc:create>
</div>
