<div id="message" style="width: 100%;z-index: 2300;position: absolute;" v-bind:class="{no_display:messageInfo.hide}" >
    <!--<div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
    </div>-->
    <div  style="width: 300px; margin: 30px auto; text-align: center;">
        <div class="alert alert-info" role="alert" style="display: inline-block;width: auto; height: auto;color:red;padding: 0.5em 10px;">
            <i class="glyphicon glyphicon-warning-sign"></i>
            <span style="margin-left:10px">{{messageInfo.errorInfo}}</span>
        </div>
    </div>
</div>