<div class="col-lg-3">
    <div class="ibox ">
        <div class="ibox-content mailbox-content">
            <div class="file-manager">
                <a class="btn btn-block btn-primary compose-mail" v-on:click="openPrivilegeGroupModel()">添加权限组</a>
                <div class="space-25"></div>

                <h5>权限组</h5>
                <ul class="category-list" style="padding: 0">
                    <li v-for="pGroup in privilegeGroupInfo.groups">
                        <a v-on:click="notifyQueryPrivilege(pGroup)">
                            <i class="glyphicon glyphicon-chevron-right text-navy"></i>
                            {{pGroup.name}} </a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>

            <vc:create name="addPrivilegeGroup"></vc:create>
        </div>
    </div>
</div>