<div class="col-lg-3">
    <div class="ibox ">
        <div class="ibox-content mailbox-content">
            <div class="file-manager">
                <a class="btn btn-block btn-primary compose-mail" href="mail_compose.html">添加权限组</a>
                <div class="space-25"></div>

                <h5>权限组</h5>
                <ul class="category-list" style="padding: 0">
                    <li><a href="#"> <i class="fa fa-circle text-navy"></i> 员工管理组 </a></li>
                    <li><a href="#"> <i class="fa fa-circle text-danger"></i> Documents</a></li>
                    <li><a href="#"> <i class="fa fa-circle text-primary"></i> Social</a></li>
                    <li><a href="#"> <i class="fa fa-circle text-info"></i> Advertising</a></li>
                    <li><a href="#"> <i class="fa fa-circle text-warning"></i> Clients</a></li>
                </ul>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>