.task_run{
    color:#5cb85c;
}
.task_stop{
    color:#d9534f;
}
.required{
    font-size:6px;
    color:#d9534f;
}
.nopaddingright{
    padding-right:0px;
}
.loading{
    width:160px;
    height:56px;
    position: absolute;
    top:50%;
    left:50%;
    line-height:56px;
    color:#fff;
    padding-left:60px;
    font-size:15px;
    background: #000 url(../images/loader.gif) no-repeat 10px 50%;
    opacity: 0.7;
    z-index:9999;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.modal-dialog-task{
    width:80%;
}