<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>服务绑定</h5>
                <div class="ibox-tools" style="top:10px;">

                </div>
            </div>
            <div class="ibox-content">

                <div class="form-group row">
         <label class="col-sm-2 col-form-label">订单类型</label>
         <div class="col-sm-10">
<select class="custom-select" v-model="addRouteViewInfo.orderTypeCd">
         <option selected  disabled value="">必填，请选择订单类型</option>
         <option  value="Q">查询</option>
<option  value="D">业务受理</option>
  </select>         </div>
</div>
<div class="form-group row">
         <label class="col-sm-2 col-form-label">调用次数</label>
         <div class="col-sm-10">
           <input v-model="addRouteViewInfo.invokeLimitTimes"                   type="text" placeholder="必填，请填写调用次数" class="form-control">
         </div>
</div>
<div class="form-group row">
         <label class="col-sm-2 col-form-label">调用方式</label>
         <div class="col-sm-10">
<select class="custom-select" v-model="addRouteViewInfo.invokeModel">
         <option selected  disabled value="">必填，请选择调用方式</option>
         <option  value="S">同步方式</option>
<option  value="A">异步方式</option>
  </select>         </div>
</div>

            </div>
        </div>
    </div>
</div>
