<fieldset role="tabpanel" aria-labelledby="component-h-0" class="body current" v-bind:class="{no_display:step!=2}" aria-hidden="false">
    <h2>公司扩展信息</h2>
    <div class="row">
        <div class="col-lg-8">
            <div class="form-group">
                <label>公司法人 *</label>
                <input  v-model="companyExtendInfo.corporation" type="text" class="form-control required" aria-required="true" />
            </div>
            <div class="form-group">
                <label>注册资本(万元) *</label>
                <input  v-model="companyExtendInfo.registeredCapital" type="text" class="form-control required" aria-required="true" />
            </div>
            <div class="form-group">
                <label>成立日期*</label>
                <input v-model="companyExtendInfo.foundingTime" size="16" type="text" placeholder="请选择时间(yyyy-mm-dd) "  readonly class="form-control form-control-sm extend_time">
            </div>
            <div class="form-group">
                <label>登记机关 *</label>
                <input  v-model="companyExtendInfo.registrationAuthority" type="text" placeholder="填写营业执照上的登记机关" class="form-control required" aria-required="true" />

            </div>
            <div class="form-group">
                <label>经营范围 *</label>
                <textarea  v-model="companyExtendInfo.scope" rows="20" cols="180" class="form-control required" aria-required="true" />
            </div>
        </div>
        <div class="col-lg-4">
            <div class="text-center">
                <div style="margin-top: 20px;">
                    <i class="fa fa-sign-in" style="font-size: 180px; color: rgb(229, 229, 229);"></i>
                </div>
            </div>
        </div>
    </div>
</fieldset>