<div id = "chooseVisitModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseVisitModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseVisitModelLabel">选择访客登记</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input placeholder="输入访客登记名称" type="text" v-model="chooseVisitInfo._currentVisitName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryVisits()">查询</button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center">访客记录ID</th>
                            <th class="text-center">访客姓名</th>
                            <th class="text-center">访客性别</th>
                            <th class="text-center">访客性别</th>
                            <th class="text-center">访客联系方式</th>
                            <th class="text-center">访客拜访时间</th>
                            <th class="text-center">访客离开时间</th>
                            <th class="text-center">描述</th>
                            <th class="text-center">操作</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="visit in chooseVisitInfo.visits">
                                                                        <td class="text-center">{{visit.vId}}</td>
                            <td class="text-center">{{visit.name}}</td>
                            <td class="text-center">{{visit.visitGender}}</td>
                            <td class="text-center">{{visit.visitGender}}</td>
                            <td class="text-center">{{visit.phoneNumber}}</td>
                            <td class="text-center">{{visit.visitTime}}</td>
                            <td class="text-center">{{visit.departureTime}}</td>
                            <td class="text-center">{{visit.visitCase}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseVisit(visit)">选择</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
