<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item" v-bind:class="{disabled:paginationInfo.currentPage == 1}">
            <a class="page-link" v-on:click="current(1)"> « </a>
        </li>
        <li class="page-item" v-bind:class="{disabled:paginationInfo.currentPage == 1}">
            <a class="page-link" v-on:click="previous()"> ‹ </a>
        </li>
        <li class="page-item" v-for="pageInfo in paginationInfo.pageList" v-bind:class="{active:pageInfo.currentPage}">
            <a class="page-link" v-on:click="current(pageInfo.page)">{{pageInfo.pageView}}</a>
        </li>
        <li class="page-item" v-bind:class="{disabled:paginationInfo.currentPage == paginationInfo.total}">
            <a class="page-link" v-on:click="next()"> › </a>
        </li>
        <li class="page-item" v-bind:class="{disabled:paginationInfo.currentPage == paginationInfo.total}">
            <a class="page-link" v-on:click="current(paginationInfo.total)"> » </a>
        </li>
        <span class="total" style="line-height: 30px;margin-left: 10px;">共 {{paginationInfo.total}} 条</span>
    </ul>
</nav>