<div>
    <select id="pro" class="form-control form-control-sm"
            style="width: 10vw;display: inline;"
            v-model="this.areaSelectInfo.selectProv"
            @change="this.getProv(selectProv)">
        <option value='' disabled selected style='display:none;'>请选择省</option>
        <option v-for="item in this.areaSelectInfo.provs"
                :label="item.areaName"
                :value="item.areaCode">{{item.areaName}}
        </option>

    </select>

    <select id="city" class="form-control form-control-sm"
            style="width: 10vw;display: inline;"
            v-if="this.areaSelectInfo.selectProv!=''"
            v-model="this.areaSelectInfo.selectCity"
            @change="this.getCity(selectCity)">
        <option value='' disabled selected style='display:none;'>请选择城市</option>
        <option v-for="item in this.areaSelectInfo.citys"
                :label="item.areaName"
                :value="item.areaCode">{{item.areaName}}
        </option>
    </select>

    <select id="area" class="form-control form-control-sm"
            style="width: 10vw;display: inline;"
            v-if="this.areaSelectInfo.selectCity!=''"
            v-model="this.areaSelectInfo.selectArea"
            @change="this.getArea(selectArea)">
        <option value='' disabled selected style='display:none;'>请选择区县</option>
        <option v-for="item in areas"
                :label="item.areaName"
                :value="item.areaCode">{{item.areaName}}
        </option>
    </select>
</div>
