<div id="editAdvertModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">修改广告</h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">广告名称</label>
                                <div class="col-sm-10">
                                    <input v-model="editAdvertInfo.adName" type="text" placeholder="必填，请填写广告名称"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">广告类型</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="editAdvertInfo.adTypeCd">
                                        <option selected disabled value="">必填，请选择广告类型</option>
                                        <option value="10000">门禁机</option>
                                        <option value="20000">其他设备</option>
                                    </select></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">广告分类</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="editAdvertInfo.classify">
                                        <option selected disabled value="">必填，请选择广告分类</option>
                                        <option value="9001">物流</option>
                                        <option value="9002">餐饮</option>
                                        <option value="9003">旅游</option>
                                        <option value="9004">酒店</option>
                                        <option value="9005">教育</option>
                                        <option value="9006">互联网</option>
                                    </select></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">投放位置</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="editAdvertInfo.locationTypeCd">
                                        <option selected disabled value="">必填，请选择投放位置</option>
                                        <option value="1000">大门</option>
                                        <option value="2000">单元门</option>
                                        <option value="3000">房屋门</option>
                                        <option value="4000">楼栋</option>
                                    </select></div>
                            </div>
                            <div class="form-group row"
                                 v-show="editAdvertInfo.locationTypeCd == '2000' || editAdvertInfo.locationTypeCd == '3000' ||editAdvertInfo.locationTypeCd == '4000' ">
                                <label class="col-sm-2 col-form-label">归属楼栋</label>
                                <div class="col-sm-10">
                                    <vc:create name="floorSelect2"
                                               parentModal="editAdvertModel"
                                               namespace="editAdvert"
                                    ></vc:create>
                                </div>
                            </div>
                            <div class="form-group row"
                                 v-show="editAdvertInfo.locationTypeCd == '2000' || editAdvertInfo.locationTypeCd == '3000'  ">
                                <label class="col-sm-2 col-form-label">归属单元</label>
                                <div class="col-sm-10">
                                    <vc:create name="unitSelect2"
                                               parentModal="editAdvertModel"
                                               callBackListener="editAdvert"
                                               callBackFunction="notify"
                                               namespace="editAdvert"
                                    ></vc:create>
                                </div>
                            </div>
                            <div class="form-group row"
                                 v-show="editAdvertInfo.locationTypeCd == '3000'  ">
                                <label class="col-sm-2 col-form-label">归属房屋</label>
                                <div class="col-sm-10">
                                    <vc:create name="roomSelect2"
                                               parentModal="editAdvertModel"
                                               callBackListener="editAdvert"
                                               callBackFunction="notify"
                                               namespace="editAdvert"
                                    ></vc:create>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">播放顺序</label>
                                <div class="col-sm-10">
                                    <input v-model="editAdvertInfo.seq" type="text" placeholder="必填，请填写播放顺序"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">投放时间</label>
                                <div class="col-sm-10">
                                    <input v-model="editAdvertInfo.startTime" type="text" placeholder="必填，请填写投放时间"
                                           class="form-control editAdvertStartTime">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">结束时间</label>
                                <div class="col-sm-10">
                                    <input v-model="editAdvertInfo.endTime" type="text" placeholder="必填，请填写结束时间"
                                           class="form-control editAdvertEndTime">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">播放方式</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="editAdvertInfo.viewType">
                                        <option selected disabled value="">必填，请选择播放方式</option>
                                        <option value="8888">图片</option>
                                        <option value="9999">视频</option>
                                    </select></div>
                            </div>
                            <div class="form-group row" v-if="editAdvertInfo.viewType == '8888'">
                                <label class="col-sm-2 col-form-label">图片</label>
                                <div class="content-img col-sm-10">
                                    <vc:create name="uploadImage"
                                               callBackListener="editAdvert"
                                               callBackFunction="notifyUploadImage"
                                               namespace="editAdvert"
                                    ></vc:create>
                                </div>
                            </div>
                            <div class="form-group row" v-if="editAdvertInfo.viewType == '9999'">
                                <label class="col-sm-2 col-form-label">视频</label>
                                <div class="content-img col-sm-10">
                                    <vc:create name="uploadVedio"
                                               callBackListener="editAdvert"
                                               callBackFunction="notifyUploadVedio"
                                               namespace="editAdvert"
                                    ></vc:create>
                                </div>
                            </div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="editAdvert()"><i
                                        class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal">取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
