<div id = "addMachineTranslateModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">添加设备同步</h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <!--<div class="form-group row">
                                <label class="col-sm-2 col-form-label">楼名称</label>
                                <div class="col-sm-10"><input v-model="addFloorInfo.name" type="text" placeholder="必填，请填写名称" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">楼编号</label>
                                <div class="col-sm-10"><input v-model="addFloorInfo.floorNum" type="email" placeholder="必填，请填写编号" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">备注</label>
                                <div class="col-sm-10"><input v-model="addFloorInfo.remark" type="tel" placeholder="可填，请填写备注" class="form-control"></div>
                            </div>-->

                            <div class="form-group row">
         <label class="col-sm-2 col-form-label">设备编码</label>
         <div class="col-sm-10">
           <input v-model="addMachineTranslateInfo.machineCode"                   type="text" placeholder="必填，请填写设备编码" class="form-control">
         </div>
</div>
<div class="form-group row">
         <label class="col-sm-2 col-form-label">设备ID</label>
         <div class="col-sm-10">
           <input v-model="addMachineTranslateInfo.machineId"                   type="text" placeholder="必填，请填写设备ID" class="form-control">
         </div>
</div>
<div class="form-group row">
         <label class="col-sm-2 col-form-label">对象类型</label>
         <div class="col-sm-10">
<select class="custom-select" v-model="addMachineTranslateInfo.typeCd">
         <option selected  disabled value="">必填，请选择对象类型</option>
         <option  value="8899">业主</option>
<option  value="9988">小区</option>
  </select>         </div>
</div>
<div class="form-group row">
         <label class="col-sm-2 col-form-label">对象名称</label>
         <div class="col-sm-10">
           <input v-model="addMachineTranslateInfo.objName"                   type="text" placeholder="必填，请填写对象名称" class="form-control">
         </div>
</div>
<div class="form-group row">
         <label class="col-sm-2 col-form-label">对象Id</label>
         <div class="col-sm-10">
           <input v-model="addMachineTranslateInfo.objId"                   type="text" placeholder="必填，请填写对象Id" class="form-control">
         </div>
</div>
<div class="form-group row">
         <label class="col-sm-2 col-form-label">状态</label>
         <div class="col-sm-10">
<select class="custom-select" v-model="addMachineTranslateInfo.state">
         <option selected  disabled value="">必填，请选择状态</option>
         <option  value="10000">未同步</option>
<option  value="20000">已同步</option>
  </select>         </div>
</div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="saveMachineTranslateInfo()" ><i class="fa fa-check"></i>&nbsp;保存</button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
