<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>公司信息</h5>
                    <div class="ibox-tools">

                    </div>
                </div>
                <div class="ibox-content">
                    <h2>
                        完善公司信息
                    </h2>
                    <p>
                        请仔细填写公司相关信息，有利于快速审核
                    </p>

                    <form id="form" action="#" class="wizard-big">
                        <h1>基本信息</h1>
                        <fieldset>
                            <h2>公司基本信息</h2>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <label>公司名称 *</label>
                                        <input id="name" name="name" type="text" class="form-control required">
                                    </div>
                                    <div class="form-group">
                                        <label>公司地址 *</label>
                                        <input id="address" name="address" type="text" class="form-control required">
                                    </div>
                                    <div class="form-group">
                                        <label>联系电话 *</label>
                                        <input id="tel" name="tel" type="text" class="form-control required">
                                    </div>
                                    <div class="form-group">
                                        <label>公司业务 *</label>
                                        <input id="storeTypeCd" name="storeTypeCd" type="text" class="form-control required">
                                    </div>
                                    <div class="form-group">
                                        <label>附近建筑 *</label>
                                        <input id="nearbyLandmarks" name="nearbyLandmarks" type="text" class="form-control required">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="text-center">
                                        <div style="margin-top: 20px">
                                            <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                        <h1>证件信息</h1>
                        <fieldset>
                            <h2>公司证件信息</h2>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>First name *</label>
                                        <input id="name" name="name" type="text" class="form-control required">
                                    </div>
                                    <div class="form-group">
                                        <label>Last name *</label>
                                        <input id="surname" name="surname" type="text" class="form-control required">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Email *</label>
                                        <input id="email" name="email" type="text" class="form-control required email">
                                    </div>
                                    <div class="form-group">
                                        <label>Address *</label>
                                        <input id="address" name="address" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <h1>Warning</h1>
                        <fieldset>
                            <div class="text-center" style="margin-top: 120px">
                                <h2>You did it Man :-)</h2>
                            </div>
                        </fieldset>

                        <h1>Finish</h1>
                        <fieldset>
                            <h2>Terms and Conditions</h2>
                            <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required"> <label for="acceptTerms">I agree with the Terms and Conditions.</label>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>