<div id = "editRoomModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">修改房屋</h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">房屋编号</label>
                                <div class="col-sm-10"><input v-model="editRoomInfo.roomNum" type="text" placeholder="必填，请填写房屋编号" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">房屋楼层</label>
                                <div class="col-sm-10"><input v-model="editRoomInfo.layer" type="number" placeholder="必填，请填写房屋楼层" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">房屋单元</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="editRoomInfo.unitId">
                                        <option selected  disabled value="">必填，请选择单元</option>
                                        <option v-for="(unit,index) in editRoomUnits" :key="index" v-bind:value="unit.unitId">{{unit.unitNum}}单元</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">房间数</label>
                                <div class="col-sm-10"><input v-model="editRoomInfo.section" type="number" placeholder="必填，请填写房屋楼层" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">房屋户型</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="editRoomInfo.apartment">
                                        <option selected disabled value="">必填，请选择房屋户型</option>
                                        <option value="1010">一室两厅</option>
                                        <option value="2020">两室两厅</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">建筑面积</label>
                                <div class="col-sm-10"><input v-model="editRoomInfo.builtUpArea" type="number" placeholder="必填，请填写房屋建筑面积" class="form-control"></div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">房屋单价</label>
                                <div class="col-sm-10"><input v-model="editRoomInfo.unitPrice" type="number" placeholder="必填，请填写房屋美平米单价" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">房屋状态</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addRoomInfo.state">
                                        <option selected disabled value="">必填，请选择房屋状态</option>
                                        <option value="2001">已出售</option>
                                        <option value="2002">未出售</option>
                                        <option value="2003">已交定金</option>
                                        <option value="2004">已出租</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">备注</label>
                                <div class="col-sm-10"><input v-model="editRoomInfo.remark" type="text" placeholder="请填写备注信息" class="form-control"></div>
                            </div>
                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="editRoom()" ><i class="fa fa-check"></i>&nbsp;保存</button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>