<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="queryServiceDAOImpl">

    <resultMap type="com.java110.entity.service.ServiceSql" id="serviceSqlMap">
        <result column="service_code" jdbcType="VARCHAR" property="serviceCode"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="params" jdbcType="VARCHAR" property="params"/>
        <result column="query_model" jdbcType="VARCHAR" property="queryModel"/>
        <result column="sql" jdbcType="CLOB" property="sql"/>
        <result column="proc" jdbcType="VARCHAR" property="proc"/>
        <result column="java_script" jdbcType="CLOB" property="javaScript"/>
        <result column="template" jdbcType="CLOB" property="template"/>
        <result column="status_cd" jdbcType="VARCHAR" property="statusCd"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <parameterMap type="java.util.Map" id="qryProcParam">
        <parameter property="resMsg" javaType="java.lang.String" jdbcType="CLOB" mode="OUT" />
    </parameterMap>

    <resultMap type="com.java110.entity.order.ServiceBusiness" id="serviceBusinessMap">
        <result column="service_business_id" jdbcType="INTEGER" property="serviceBusinessId"/>
        <result column="business_type_cd" jdbcType="VARCHAR" property="businessTypeCd"/>
        <result column="invoke_type" jdbcType="VARCHAR" property="invokeType"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="message_topic" jdbcType="VARCHAR" property="messageTopic"/>
        <result column="timeout" jdbcType="INTEGER" property="timeout"/>
        <result column="retry_count" jdbcType="INTEGER" property="retryCount"/>
    </resultMap>

    <!--执行查询sql -->
    <select id="executeSql" parameterType="String" resultType="Map">
        ${value}
    </select>
    <!--执行 update sql-->
    <update id="updateSql" parameterType="String">
        ${value}
    </update>

    <select id="executeProc" parameterMap="qryProcParam">
        {call ${procNameInfo}?)}
    </select>

    <update id="updateProc" parameterMap="qryProcParam">
        {call ${procNameInfo}?)}
    </update>

    <select id="qureyServiceSqlAll" resultMap="serviceSqlMap">
        SELECT css.service_code,css.name,css.params,css.query_model,css.sql,
        css.proc,css.java_script,css.template,css.remark,css.status_cd
        FROM c_service_sql css WHERE css.status_cd = '0'
    </select>

    <select id="queryServiceBusiness" resultMap="serviceBusinessMap">
        SELECT
            a.service_business_id,
            a.business_type_cd,
            a.invoke_type,
            a.url,
            a.message_topic,
            a.timeout,
            a.retry_count
        FROM
            c_service_business a
        WHERE
            a.status_cd = '0'
    </select>

</mapper>
