<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>添加房屋</h5>
                <div class="ibox-tools" style="top:10px;">

                </div>
            </div>
            <div class="ibox-content">

                <div class="form-group row"
                     >
                    <label class="col-sm-2 col-form-label">归属楼栋</label>
                    <div class="col-sm-10">
                        <vc:create name="floorSelect2"
                                   parentModal="addMachineModel"
                        ></vc:create>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">房屋编号</label>
                    <div class="col-sm-10">
                        <input v-model="addRoomViewInfo.roomNum" type="text" placeholder="必填，请填写房屋编号"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">房屋楼层</label>
                    <div class="col-sm-10">
                        <input v-model="addRoomViewInfo.layer" type="text" placeholder="必填，请填写房屋楼层"
                               class="form-control">
                    </div>
                </div>
               <!-- <div class="form-group row">
                    <label class="col-sm-2 col-form-label">房间数</label>
                    <div class="col-sm-10">
                        <input v-model="addRoomViewInfo.section" type="text" placeholder="必填，请填写房间数"
                               class="form-control">
                    </div>
                </div>-->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">房屋户型</label>
                    <div class="col-sm-5" style="display: inline">
                        <select class="custom-select" v-model="addRoomViewInfo.apartment1">
                            <option selected disabled value="">必填，请选择房屋户型</option>
                            <option value="10">一室</option>
                            <option value="20">两室</option>
                            <option value="30">三室</option>
                            <option value="40">四室</option>
                            <option value="50">五室</option>
                            <option value="60">六室</option>
                            <option value="70">七室</option>
                            <option value="80">八室</option>
                        </select>
                    </div>
                    <div class="col-sm-5" style="display: inline">
                    <select class="custom-select" v-model="addRoomViewInfo.apartment2">
                        <option selected disabled value="">必填，请选择房屋户型</option>
                        <option value="101">一厅</option>
                        <option value="102">两厅</option>
                        <option value="103">三厅</option>
                        <option value="104">四厅</option>
                        <option value="105">五厅</option>
                        <option value="106">六厅</option>
                        <option value="107">七厅</option>
                        <option value="108">八厅</option>

                    </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">建筑面积(平方)</label>
                    <div class="col-sm-10">
                        <input v-model="addRoomViewInfo.builtUpArea" type="text" placeholder="必填，请填写建筑面积! 平方"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">房屋单价</label>
                    <div class="col-sm-10">
                        <input v-model="addRoomViewInfo.unitPrice" type="text" placeholder="请填写房屋单价(元)"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">备注</label>
                    <div class="col-sm-10">
                        <textarea placeholder="选填，请填写备注" class="form-control"
                                  v-model="addRoomViewInfo.remark"></textarea></div>
                </div>

            </div>
        </div>
    </div>
</div>
