<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>巡检计划信息</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewInspectionPlanInfo.index != 2" class="btn btn-primary btn-sm"
                            style="margin-right:10px;" v-on:click="_openSelectInspectionPlanInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> 选择巡检计划
                    </button>

                    <button type="button" v-if="viewInspectionPlanInfo.index != 2" class="btn btn-primary btn-sm"
                            v-on:click="_openAddInspectionPlanInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> 添加巡检计划
                    </button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label">计划名称：</label>
                            <label class="">{{viewInspectionPlanInfo.inspectionPlanName}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label">巡检路线：</label>
                            <label class="">{{viewInspectionPlanInfo.inspectionRouteId}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label">执行周期：</label>
                            <label class="">{{viewInspectionPlanInfo.inspectionPlanPeriod}}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label">执行人员：</label>
                            <label class="">{{viewInspectionPlanInfo.staffId}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label">开始时间：</label>
                            <label class="">{{viewInspectionPlanInfo.startTime}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label">结束时间：</label>
                            <label class="">{{viewInspectionPlanInfo.endTime}}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label">签到方式：</label>
                            <label class="">{{viewInspectionPlanInfo.signType}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label">状态：</label>
                            <label class="">{{viewInspectionPlanInfo.state}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label">备注：</label>
                            <label class="">{{viewInspectionPlanInfo.remark}}</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <vc:create name="addInspectionPlan"
               callBackListener="viewInspectionPlanInfo"
               callBackFunction="chooseInspectionPlan"
    ></vc:create>


    <vc:create name="chooseInspectionPlan"
               emitChooseInspectionPlan="viewInspectionPlanInfo"
               emitLoadData="viewInspectionPlanInfo"
    ></vc:create>
</div>
