<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="communityLocationServiceDaoImpl">

    <!-- 保存小区位置信息 add by wuxw 2018-07-03 -->
    <insert id="saveBusinessCommunityLocationInfo" parameterType="Map">
        insert into business_community_location(
        location_name,operate,location_id,location_type,b_id,community_id
        ) values (
        #{locationName},#{operate},#{locationId},#{locationType},#{bId},#{communityId}
        )
    </insert>


    <!-- 查询小区位置信息（Business） add by wuxw 2018-07-03 -->
    <select id="getBusinessCommunityLocationInfo" parameterType="Map" resultType="Map">
        select t.location_name,t.location_name locationName,t.operate,t.location_id,t.location_id
        locationId,t.location_type,t.location_type locationType,t.b_id,t.b_id bId,t.community_id,t.community_id
        communityId
        from business_community_location t
        where 1 =1
        <if test="locationName !=null and locationName != ''">
            and t.location_name= #{locationName}
        </if>
        <if test="operate !=null and operate != ''">
            and t.operate= #{operate}
        </if>
        <if test="locationId !=null and locationId != ''">
            and t.location_id= #{locationId}
        </if>
        <if test="locationType !=null and locationType != ''">
            and t.location_type= #{locationType}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>

    </select>


    <!-- 保存小区位置信息至 instance表中 add by wuxw 2018-07-03 -->
    <insert id="saveCommunityLocationInfoInstance" parameterType="Map">
        insert into community_location(
        location_name,location_id,location_type,status_cd,b_id,community_id
        ) select t.location_name,t.location_id,t.location_type,'0',t.b_id,t.community_id from
        business_community_location t where 1=1
        <if test="locationName !=null and locationName != ''">
            and t.location_name= #{locationName}
        </if>
        and t.operate= 'ADD'
        <if test="locationId !=null and locationId != ''">
            and t.location_id= #{locationId}
        </if>
        <if test="locationType !=null and locationType != ''">
            and t.location_type= #{locationType}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>

    </insert>


    <!-- 查询小区位置信息 add by wuxw 2018-07-03 -->
    <select id="getCommunityLocationInfo" parameterType="Map" resultType="Map">
        select t.location_name,t.location_name locationName,t.location_id,t.location_id
        locationId,t.location_type,t.location_type locationType,t.status_cd,t.status_cd statusCd,t.b_id,t.b_id
        bId,t.community_id,t.community_id communityId,d.name locationTypeName,
        t.location_obj_id locationObjId,t.location_obj_name locationObjName
        from community_location t
        left join t_dict d on t.location_type = d.status_cd and d.table_name = 'community_location' and d.table_columns = 'location_type'
        where 1 =1
        <if test="locationName !=null and locationName != ''">
            and t.location_name= #{locationName}
        </if>
        <if test="locationId !=null and locationId != ''">
            and t.location_id= #{locationId}
        </if>
        <if test="locationType !=null and locationType != ''">
            and t.location_type= #{locationType}
        </if>
        <if test="locationObjId !=null and locationObjId != ''">
            and t.location_obj_id= #{locationObjId}
        </if>
        <if test="locationObjName !=null and locationObjName != ''">
            and t.location_obj_name= #{locationObjName}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改小区位置信息 add by wuxw 2018-07-03 -->
    <update id="updateCommunityLocationInfoInstance" parameterType="Map">
        update community_location t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="locationName !=null and locationName != ''">
            , t.location_name= #{locationName}
        </if>
        <if test="locationType !=null and locationType != ''">
            , t.location_type= #{locationType}
        </if>
        <if test="communityId !=null and communityId != ''">
            , t.community_id= #{communityId}
        </if>
        where 1=1
        <if test="locationId !=null and locationId != ''">
            and t.location_id= #{locationId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>

    </update>

    <!-- 查询小区位置数量 add by wuxw 2018-07-03 -->
    <select id="queryCommunityLocationsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from community_location t
        where 1 =1
        <if test="locationName !=null and locationName != ''">
            and t.location_name= #{locationName}
        </if>
        <if test="locationId !=null and locationId != ''">
            and t.location_id= #{locationId}
        </if>
        <if test="locationType !=null and locationType != ''">
            and t.location_type= #{locationType}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>


    </select>

</mapper>
