<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="complaintV1ServiceDaoImpl">


    <!-- 保存投诉建议信息 add by wuxw 2018-07-03 -->
    <insert id="saveComplaintInfo" parameterType="Map">
        insert into complaint(
        start_user_id,complaint_id,type_cd,context,complaint_name,tel,state,store_id,community_id,room_id
        ) values (
        #{startUserId},#{complaintId},#{typeCd},#{context},#{complaintName},#{tel},#{state},#{storeId},#{communityId},#{roomId}
        )
    </insert>


    <!-- 查询投诉建议信息 add by wuxw 2018-07-03 -->
    <select id="getComplaintInfo" parameterType="Map" resultType="Map">
        select t.start_user_id,t.start_user_id startUserId,t.complaint_id,t.complaint_id complaintId,t.type_cd,t.type_cd
        typeCd,t.context,t.complaint_name,t.complaint_name complaintName,t.tel,t.status_cd,t.status_cd
        statusCd,t.state,t.store_id,t.store_id storeId,t.community_id,t.community_id communityId,t.room_id,t.room_id
        roomId
        from complaint t
        where 1 =1
        <if test="startUserId !=null and startUserId != ''">
            and t.start_user_id= #{startUserId}
        </if>
        <if test="complaintId !=null and complaintId != ''">
            and t.complaint_id= #{complaintId}
        </if>
        <if test="typeCd !=null and typeCd != ''">
            and t.type_cd= #{typeCd}
        </if>
        <if test="context !=null and context != ''">
            and t.context= #{context}
        </if>
        <if test="complaintName !=null and complaintName != ''">
            and t.complaint_name= #{complaintName}
        </if>
        <if test="tel !=null and tel != ''">
            and t.tel= #{tel}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="roomId !=null and roomId != ''">
            and t.room_id= #{roomId}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改投诉建议信息 add by wuxw 2018-07-03 -->
    <update id="updateComplaintInfo" parameterType="Map">
        update complaint t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="startUserId !=null and startUserId != ''">
            , t.start_user_id= #{startUserId}
        </if>
        <if test="typeCd !=null and typeCd != ''">
            , t.type_cd= #{typeCd}
        </if>
        <if test="context !=null and context != ''">
            , t.context= #{context}
        </if>
        <if test="complaintName !=null and complaintName != ''">
            , t.complaint_name= #{complaintName}
        </if>
        <if test="tel !=null and tel != ''">
            , t.tel= #{tel}
        </if>
        <if test="state !=null and state != ''">
            , t.state= #{state}
        </if>
        <if test="storeId !=null and storeId != ''">
            , t.store_id= #{storeId}
        </if>
        <if test="communityId !=null and communityId != ''">
            , t.community_id= #{communityId}
        </if>
        <if test="roomId !=null and roomId != ''">
            , t.room_id= #{roomId}
        </if>
        where 1=1
        <if test="complaintId !=null and complaintId != ''">
            and t.complaint_id= #{complaintId}
        </if>

    </update>

    <!-- 查询投诉建议数量 add by wuxw 2018-07-03 -->
    <select id="queryComplaintsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from complaint t
        where 1 =1
        <if test="startUserId !=null and startUserId != ''">
            and t.start_user_id= #{startUserId}
        </if>
        <if test="complaintId !=null and complaintId != ''">
            and t.complaint_id= #{complaintId}
        </if>
        <if test="typeCd !=null and typeCd != ''">
            and t.type_cd= #{typeCd}
        </if>
        <if test="context !=null and context != ''">
            and t.context= #{context}
        </if>
        <if test="complaintName !=null and complaintName != ''">
            and t.complaint_name= #{complaintName}
        </if>
        <if test="tel !=null and tel != ''">
            and t.tel= #{tel}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="roomId !=null and roomId != ''">
            and t.room_id= #{roomId}
        </if>


    </select>

    <select id="queryComplaintCountByOwnerTels" parameterType="Map" resultType="Map">
        select t.tel ownerTel,count(1) complaintCount
        from
        complaint t
        where t.status_cd = '0'
        and t.community_id = #{communityId}
        and t.tel in
        <foreach collection="ownerTels" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        group by t.tel
    </select>

</mapper>
