<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inspectionTaskDetailV1ServiceDaoImpl">


    <!-- 保存巡检明细信息 add by wuxw 2018-07-03 -->
    <insert id="saveInspectionTaskDetailInfo" parameterType="Map">
        insert into inspection_task_detail(
        send_flag,point_end_time,latitude,inspection_time,sort_number,description,act_user_name,task_detail_id,inspection_id,inspection_state,point_start_time,inspection_name,state,community_id,act_user_id,task_id,longitude
        ) values (
        #{sendFlag},#{pointEndTime},#{latitude},#{inspectionTime},#{sortNumber},#{description},#{actUserName},#{taskDetailId},#{inspectionId},#{inspectionState},#{pointStartTime},#{inspectionName},#{state},#{communityId},#{actUserId},#{taskId},#{longitude}
        )
    </insert>


    <!-- 查询巡检明细信息 add by wuxw 2018-07-03 -->
    <select id="getInspectionTaskDetailInfo" parameterType="Map" resultType="Map">
        select t.send_flag,t.send_flag sendFlag,t.point_end_time,t.point_end_time
        pointEndTime,t.latitude,t.inspection_time,t.inspection_time inspectionTime,t.sort_number,t.sort_number
        sortNumber,t.description,t.status_cd,t.status_cd statusCd,t.act_user_name,t.act_user_name
        actUserName,t.task_detail_id,t.task_detail_id taskDetailId,t.inspection_id,t.inspection_id
        inspectionId,t.inspection_state,t.inspection_state inspectionState,t.point_start_time,t.point_start_time
        pointStartTime,t.inspection_name,t.inspection_name inspectionName,t.state,t.community_id,t.community_id
        communityId,t.act_user_id,t.act_user_id actUserId,t.task_id,t.task_id taskId,t.longitude
        from inspection_task_detail t
        where 1 =1
        <if test="sendFlag !=null and sendFlag != ''">
            and t.send_flag= #{sendFlag}
        </if>
        <if test="pointEndTime !=null and pointEndTime != ''">
            and t.point_end_time= #{pointEndTime}
        </if>
        <if test="latitude !=null and latitude != ''">
            and t.latitude= #{latitude}
        </if>
        <if test="inspectionTime !=null and inspectionTime != ''">
            and t.inspection_time= #{inspectionTime}
        </if>
        <if test="sortNumber !=null and sortNumber != ''">
            and t.sort_number= #{sortNumber}
        </if>
        <if test="description !=null and description != ''">
            and t.description= #{description}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="actUserName !=null and actUserName != ''">
            and t.act_user_name= #{actUserName}
        </if>
        <if test="taskDetailId !=null and taskDetailId != ''">
            and t.task_detail_id= #{taskDetailId}
        </if>
        <if test="inspectionId !=null and inspectionId != ''">
            and t.inspection_id= #{inspectionId}
        </if>
        <if test="inspectionState !=null and inspectionState != ''">
            and t.inspection_state= #{inspectionState}
        </if>
        <if test="pointStartTime !=null and pointStartTime != ''">
            and t.point_start_time= #{pointStartTime}
        </if>
        <if test="inspectionName !=null and inspectionName != ''">
            and t.inspection_name= #{inspectionName}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="actUserId !=null and actUserId != ''">
            and t.act_user_id= #{actUserId}
        </if>
        <if test="taskId !=null and taskId != ''">
            and t.task_id= #{taskId}
        </if>
        <if test="longitude !=null and longitude != ''">
            and t.longitude= #{longitude}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改巡检明细信息 add by wuxw 2018-07-03 -->
    <update id="updateInspectionTaskDetailInfo" parameterType="Map">
        update inspection_task_detail t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="sendFlag !=null and sendFlag != ''">
            , t.send_flag= #{sendFlag}
        </if>
        <if test="pointEndTime !=null and pointEndTime != ''">
            , t.point_end_time= #{pointEndTime}
        </if>
        <if test="latitude !=null and latitude != ''">
            , t.latitude= #{latitude}
        </if>
        <if test="inspectionTime !=null and inspectionTime != ''">
            , t.inspection_time= #{inspectionTime}
        </if>
        <if test="sortNumber !=null and sortNumber != ''">
            , t.sort_number= #{sortNumber}
        </if>
        <if test="description !=null and description != ''">
            , t.description= #{description}
        </if>
        <if test="actUserName !=null and actUserName != ''">
            , t.act_user_name= #{actUserName}
        </if>
        <if test="inspectionId !=null and inspectionId != ''">
            , t.inspection_id= #{inspectionId}
        </if>
        <if test="inspectionState !=null and inspectionState != ''">
            , t.inspection_state= #{inspectionState}
        </if>
        <if test="pointStartTime !=null and pointStartTime != ''">
            , t.point_start_time= #{pointStartTime}
        </if>
        <if test="inspectionName !=null and inspectionName != ''">
            , t.inspection_name= #{inspectionName}
        </if>
        <if test="state !=null and state != ''">
            , t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            , t.community_id= #{communityId}
        </if>
        <if test="actUserId !=null and actUserId != ''">
            , t.act_user_id= #{actUserId}
        </if>
        <if test="taskId !=null and taskId != ''">
            , t.task_id= #{taskId}
        </if>
        <if test="longitude !=null and longitude != ''">
            , t.longitude= #{longitude}
        </if>
        where 1=1
        <if test="taskDetailId !=null and taskDetailId != ''">
            and t.task_detail_id= #{taskDetailId}
        </if>

    </update>

    <!-- 查询巡检明细数量 add by wuxw 2018-07-03 -->
    <select id="queryInspectionTaskDetailsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from inspection_task_detail t
        where 1 =1
        <if test="sendFlag !=null and sendFlag != ''">
            and t.send_flag= #{sendFlag}
        </if>
        <if test="pointEndTime !=null and pointEndTime != ''">
            and t.point_end_time= #{pointEndTime}
        </if>
        <if test="latitude !=null and latitude != ''">
            and t.latitude= #{latitude}
        </if>
        <if test="inspectionTime !=null and inspectionTime != ''">
            and t.inspection_time= #{inspectionTime}
        </if>
        <if test="sortNumber !=null and sortNumber != ''">
            and t.sort_number= #{sortNumber}
        </if>
        <if test="description !=null and description != ''">
            and t.description= #{description}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="actUserName !=null and actUserName != ''">
            and t.act_user_name= #{actUserName}
        </if>
        <if test="taskDetailId !=null and taskDetailId != ''">
            and t.task_detail_id= #{taskDetailId}
        </if>
        <if test="inspectionId !=null and inspectionId != ''">
            and t.inspection_id= #{inspectionId}
        </if>
        <if test="inspectionState !=null and inspectionState != ''">
            and t.inspection_state= #{inspectionState}
        </if>
        <if test="pointStartTime !=null and pointStartTime != ''">
            and t.point_start_time= #{pointStartTime}
        </if>
        <if test="inspectionName !=null and inspectionName != ''">
            and t.inspection_name= #{inspectionName}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="actUserId !=null and actUserId != ''">
            and t.act_user_id= #{actUserId}
        </if>
        <if test="taskId !=null and taskId != ''">
            and t.task_id= #{taskId}
        </if>
        <if test="longitude !=null and longitude != ''">
            and t.longitude= #{longitude}
        </if>


    </select>

</mapper>
