<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inspectionTaskServiceDaoImpl">

    <!-- 保存活动信息 add by wuxw 2018-07-03 -->
    <insert id="saveBusinessInspectionTaskInfo" parameterType="Map">
        insert into business_inspection_task(
        plan_user_id,act_ins_time,plan_ins_time,plan_end_time,act_user_name,operate,sign_type,inspection_plan_id,plan_user_name,community_id,b_id,act_user_id,task_id,state,original_plan_user_id,original_plan_user_name,transfer_desc,task_type
        ) values (
        #{planUserId},#{actInsTime},#{planInsTime},#{planEndTime},#{actUserName},#{operate},#{signType},#{inspectionPlanId},#{planUserName},#{communityId},#{bId},#{actUserId},#{taskId},#{state},#{originalPlanUserId},#{originalPlanUserName},#{transferDesc},#{taskType}
        )
    </insert>

    <!-- 查询活动信息（Business） add by wuxw 2018-07-03 -->
    <select id="getBusinessInspectionTaskInfo" parameterType="Map" resultType="Map">
        select t.plan_user_id,t.plan_user_id planUserId,t.act_ins_time,t.act_ins_time
        actInsTime,t.plan_ins_time,t.plan_ins_time planInsTime,t.plan_end_time,t.plan_end_time planEndTime,
        t.act_user_name,t.act_user_name actUserName,t.operate,t.sign_type,t.sign_type signType,
        t.inspection_plan_id,t.inspection_plan_id inspectionPlanId,t.plan_user_name,t.plan_user_name planUserName,
        t.community_id,t.community_id communityId,t.b_id,t.b_id bId,t.act_user_id,t.act_user_id actUserId,t.task_id,
        t.task_id taskId,t.state,t.original_plan_user_id,t.original_plan_user_id
        originalPlanUserId,t.original_plan_user_name,t.original_plan_user_name originalPlanUserName,
        t.transfer_desc,t.transfer_desc transferDesc,t.task_type,t.task_type taskType from business_inspection_task t
        where 1 =1
        <if test="planUserId !=null and planUserId != ''">
            and t.plan_user_id= #{planUserId}
        </if>
        <if test="actInsTime !=null ">
            and t.act_ins_time= #{actInsTime}
        </if>
        <if test="planInsTime !=null ">
            and t.plan_ins_time= #{planInsTime}
        </if>
        <if test="planEndTime !=null ">
            and t.plan_end_time= #{planEndTime}
        </if>
        <if test="actUserName !=null and actUserName != ''">
            and t.act_user_name= #{actUserName}
        </if>
        <if test="operate !=null and operate != ''">
            and t.operate= #{operate}
        </if>
        <if test="signType !=null and signType != ''">
            and t.sign_type= #{signType}
        </if>
        <if test="inspectionPlanId !=null and inspectionPlanId != ''">
            and t.inspection_plan_id= #{inspectionPlanId}
        </if>
        <if test="planUserName !=null and planUserName != ''">
            and t.plan_user_name= #{planUserName}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="actUserId !=null and actUserId != ''">
            and t.act_user_id= #{actUserId}
        </if>
        <if test="taskId !=null and taskId != ''">
            and t.task_id= #{taskId}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
    </select>

    <!-- 保存活动信息至 instance表中 add by wuxw 2018-07-03 -->
    <insert id="saveInspectionTaskInfoInstance" parameterType="Map">
        insert into inspection_task(
        plan_user_id,act_ins_time,plan_ins_time,plan_end_time,status_cd,act_user_name,sign_type,inspection_plan_id,plan_user_name,community_id,b_id,act_user_id,task_id,state,original_plan_user_id,original_plan_user_name,transfer_desc,task_type
        ) select
        t.plan_user_id,t.act_ins_time,t.plan_ins_time,t.plan_end_time,'0',t.act_user_name,t.sign_type,t.inspection_plan_id,t.plan_user_name,t.community_id,t.b_id,t.act_user_id,t.task_id,t.state,t.original_plan_user_id,t.original_plan_user_name,t.transfer_desc,t.task_type
        from business_inspection_task t where 1=1
        <if test="planUserId !=null and planUserId != ''">
            and t.plan_user_id= #{planUserId}
        </if>
        <if test="actInsTime !=null">
            and t.act_ins_time= #{actInsTime}
        </if>
        <if test="planInsTime !=null ">
            and t.plan_ins_time= #{planInsTime}
        </if>
        <if test="planEndTime !=null ">
            and t.plan_end_time= #{planEndTime}
        </if>
        <if test="actUserName !=null and actUserName != ''">
            and t.act_user_name= #{actUserName}
        </if>
        and t.operate= 'ADD'
        <if test="signType !=null and signType != ''">
            and t.sign_type= #{signType}
        </if>
        <if test="inspectionPlanId !=null and inspectionPlanId != ''">
            and t.inspection_plan_id= #{inspectionPlanId}
        </if>
        <if test="planUserName !=null and planUserName != ''">
            and t.plan_user_name= #{planUserName}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="actUserId !=null and actUserId != ''">
            and t.act_user_id= #{actUserId}
        </if>
        <if test="taskId !=null and taskId != ''">
            and t.task_id= #{taskId}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
    </insert>

    <!-- 查询活动信息 add by wuxw 2018-07-03 -->
    <select id="getInspectionTaskInfo" parameterType="Map" resultType="Map">
        select t.plan_user_id,t.plan_user_id planUserId,t.act_ins_time,t.act_ins_time
        actInsTime,t.plan_ins_time,t.plan_ins_time planInsTime,t.plan_end_time,t.plan_end_time planEndTime,
        t.status_cd,t.status_cd statusCd,t.act_user_name,t.act_user_name actUserName,t.sign_type,t.sign_type
        signType,t.inspection_plan_id,t.inspection_plan_id inspectionPlanId,t.plan_user_name,t.plan_user_name
        planUserName,t.community_id,t.community_id communityId,t.b_id,t.b_id bId,t.act_user_id,t.act_user_id
        actUserId,t.task_id,t.task_id taskId,t.state,td1.name signTypeName,td2.name stateName,ip.inspection_plan_name
        inspectionPlanName,t.original_plan_user_id,t.original_plan_user_id
        originalPlanUserId,t.original_plan_user_name,t.original_plan_user_name originalPlanUserName,
        t.transfer_desc,t.transfer_desc transferDesc,t.task_type,t.task_type taskType
        from inspection_task t,inspection_plan ip,t_dict td1,t_dict td2
        where 1 =1
        and t.sign_type = td1.status_cd
        and td1.table_name = 'inspection_task'
        and td1.table_columns = 'sign_type'
        and t.state = td2.status_cd
        and td2.table_name = 'inspection_task'
        and td2.table_columns = 'state'
        and ip.inspection_plan_id = t.inspection_plan_id
        and ip.status_cd = '0'
        <if test="planUserId !=null and planUserId != ''">
            and t.plan_user_id= #{planUserId}
        </if>
        <if test="originalPlanUserId !=null and originalPlanUserId != ''">
            and t.original_plan_user_id= #{originalPlanUserId}
        </if>
        <if test="startTime != null">
            and t.act_ins_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and t.act_ins_time &lt;= #{endTime}
        </if>
        <if test="planInsTime !=null ">
            and DATE_FORMAT(t.plan_ins_time,'%Y-%m-%d')= #{planInsTime}
        </if>
        <if test="planEndTime !=null ">
            and t.plan_end_time= #{planEndTime}
        </if>
        <if test="dayTask !=null ">
            and DateDiff(plan_ins_time,NOW())=0
        </if>
        <if test="todayPlanInsTime !=null ">
            and t.plan_ins_time &gt; #{todayPlanInsTime}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="actUserName !=null and actUserName != ''">
            and t.act_user_name= #{actUserName}
        </if>
        <if test="signType !=null and signType != ''">
            and t.sign_type= #{signType}
        </if>
        <if test="inspectionPlanId !=null and inspectionPlanId != ''">
            and t.inspection_plan_id= #{inspectionPlanId}
        </if>
        <if test="inspectionPlanName != null and inspectionPlanName != ''">
            and ip.inspection_plan_name = #{inspectionPlanName}
        </if>
        <if test="planUserName !=null and planUserName != ''">
            and t.plan_user_name like '%${planUserName}%'
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="actUserId !=null and actUserId != ''">
            and t.act_user_id= #{actUserId}
        </if>
        <if test="taskId !=null and taskId != ''">
            and t.task_id= #{taskId}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="states !=null ">
            and t.state in
            <foreach collection="states" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="scopeTime !=null ">
            and t.create_time &lt; #{scopeTime}
            and t.create_time &gt; #{createTime}
        </if>
        order by t.plan_ins_time
        <if test="orderByDesc != null and orderByDesc != ''">
            desc
        </if>
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>
    </select>


    <!-- 修改活动信息 add by wuxw 2018-07-03 -->
    <update id="updateInspectionTaskInfoInstance" parameterType="Map">
        update inspection_task t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="planUserId !=null and planUserId != ''">
            , t.plan_user_id= #{planUserId}
        </if>
        <if test="state !=null and state != ''">
            , t.state= #{state}
        </if>
        <if test="actInsTime !=null ">
            , t.act_ins_time= #{actInsTime}
        </if>
        <if test="planInsTime !=null ">
            , t.plan_ins_time= #{planInsTime}
        </if>
        <if test="planEndTime !=null ">
            , t.plan_end_time= #{planEndTime}
        </if>
        <if test="actUserName !=null and actUserName != ''">
            , t.act_user_name= #{actUserName}
        </if>
        <if test="signType !=null and signType != ''">
            , t.sign_type= #{signType}
        </if>
        <if test="inspectionPlanId !=null and inspectionPlanId != ''">
            , t.inspection_plan_id= #{inspectionPlanId}
        </if>
        <if test="planUserName !=null and planUserName != ''">
            , t.plan_user_name= #{planUserName}
        </if>
        <if test="communityId !=null and communityId != ''">
            , t.community_id= #{communityId}
        </if>
        <if test="actUserId !=null and actUserId != ''">
            , t.act_user_id= #{actUserId}
        </if>
        <if test="originalPlanUserId !=null and originalPlanUserId != ''">
            , t.original_plan_user_id= #{originalPlanUserId}
        </if>
        <if test="originalPlanUserName !=null and originalPlanUserName != ''">
            , t.original_plan_user_name= #{original_plan_user_name}
        </if>
        <if test="transferDesc !=null and transferDesc != ''">
            , t.transfer_desc= #{transferDesc}
        </if>
        <if test="taskType !=null and taskType != ''">
            , t.task_type= #{taskType}
        </if>
        where 1=1
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="taskId !=null and taskId != ''">
            and t.task_id= #{taskId}
        </if>
    </update>

    <!-- 查询活动数量 add by wuxw 2018-07-03 -->
    <select id="queryInspectionTasksCount" parameterType="Map" resultType="Map">
        select count(1) count
        from inspection_task t,inspection_plan ip,t_dict td1,t_dict td2
        where 1 =1
        and t.sign_type = td1.status_cd
        and td1.table_name = 'inspection_task'
        and td1.table_columns = 'sign_type'
        and t.state = td2.status_cd
        and td2.table_name = 'inspection_task'
        and td2.table_columns = 'state'
        and ip.inspection_plan_id = t.inspection_plan_id
        and ip.status_cd = '0'
        <if test="planUserId !=null and planUserId != ''">
            and t.plan_user_id= #{planUserId}
        </if>
        <if test="originalPlanUserId !=null and originalPlanUserId != ''">
            and t.original_plan_user_id= #{originalPlanUserId}
        </if>
        <if test="startTime != null">
            and t.act_ins_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and t.act_ins_time &lt;= #{endTime}
        </if>
        <if test="planInsTime !=null ">
            and DATE_FORMAT(t.plan_ins_time,'%Y-%m-%d')= #{planInsTime}
        </if>
        <if test="planEndTime !=null ">
            and t.plan_end_time= #{planEndTime}
        </if>
        <if test="dayTask !=null ">
            and DateDiff(plan_ins_time,NOW())=0
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="actUserName !=null and actUserName != ''">
            and t.act_user_name= #{actUserName}
        </if>
        <if test="signType !=null and signType != ''">
            and t.sign_type= #{signType}
        </if>
        <if test="inspectionPlanId !=null and inspectionPlanId != ''">
            and t.inspection_plan_id= #{inspectionPlanId}
        </if>
        <if test="inspectionPlanName != null and inspectionPlanName != ''">
            and ip.inspection_plan_name = #{inspectionPlanName}
        </if>
        <if test="planUserName !=null and planUserName != ''">
            and t.plan_user_name like '%${planUserName}%'
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="actUserId !=null and actUserId != ''">
            and t.act_user_id= #{actUserId}
        </if>
        <if test="taskId !=null and taskId != ''">
            and t.task_id= #{taskId}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="states !=null ">
            and t.state in
            <foreach collection="states" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>

    <!-- 查询未安排的巡检计划 -->
    <select id="queryTodayInspectionPlan" parameterType="Map" resultType="Map">
        SELECT
        ip.inspection_plan_id inspectionPlanId,
        ip.inspection_plan_name inspectionPlanName,
        ip.inspection_plan_period inspectionPlanPeriod,
        ip.sign_type signType,
        ip.community_id communityId,
        ip.end_time endTime,
        ip.staff_id planUserId,
        ip.staff_name planUserName
        FROM
        inspection_plan ip
        inner join
        LEFT JOIN inspection_task it ON ip.inspection_plan_id = it.inspection_plan_id
        AND ip.staff_id = it.plan_user_id
        AND it.status_cd = '0'
        AND ip.community_id = it.community_id
        <if test="inspectionPlanPeriod !=null and inspectionPlanPeriod == '2020023'">
            and it.plan_ins_time &gt; DATE_SUB(curdate(),INTERVAL 7 DAY)
        </if>
        <if test="inspectionPlanPeriod !=null and inspectionPlanPeriod == '2020024'">
            and it.plan_ins_time &gt; DATE_SUB(curdate(),INTERVAL 30 DAY)
        </if>
        WHERE
        ip.status_cd = '0'
        and ip.end_time &gt; now()
        and ip.start_time &lt; now()
        and ip.state = '2020025'
        AND it.inspection_plan_id IS NOT NULL
        and ip.community_id = #{communityId}
        <if test="inspectionPlanPeriod !=null and inspectionPlanPeriod != ''">
            and ip.inspection_plan_period= #{inspectionPlanPeriod}
        </if>
        limit 1000
    </select>

    <!-- 保存活动信息 add by wuxw 2018-07-03 -->
    <insert id="insertInspectionTask" parameterType="Map">
        insert into inspection_task(
        plan_user_id,plan_ins_time,plan_end_time,sign_type,inspection_plan_id,plan_user_name,community_id,b_id,task_id,state,ip_staff_id,original_plan_user_id,original_plan_user_name,transfer_desc,task_type
        ) values
        <foreach collection="tasks" item="task" separator=",">
            (#{task.planUserId},#{task.planInsTime},#{task.planEndTime},#{task.signType},#{task.inspectionPlanId},#{task.planUserName},#{task.communityId},'-1',#{task.taskId},'20200405',#{task.ipStaffId},#{task.originalPlanUserId},#{task.originalPlanUserName},#{task.transferDesc},#{task.taskType})
        </foreach>
    </insert>

    <!-- 保存活动信息 add by wuxw 2018-07-03 -->
    <insert id="insertInspectionTaskDetail" parameterType="Map">
        insert into inspection_task_detail(
        task_detail_id,b_id,community_id,task_id,inspection_id,inspection_name,state,point_start_time,point_end_time,sort_number
        ) values
        <foreach collection="tasks" item="task" separator=",">
            (#{task.taskDetailId},'-1',#{task.communityId},#{task.taskId},#{task.inspectionId},#{task.inspectionName},'20200405',#{task.pointStartTime},#{task.pointEndTime},#{task.sortNumber})
        </foreach>
    </insert>
</mapper>
