<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inspectionPlanServiceDaoImpl">

    <!-- 保存巡检计划信息 add by wuxw 2018-07-03 -->
    <insert id="saveBusinessInspectionPlanInfo" parameterType="Map">
        insert into business_inspection_plan
        (inspection_plan_name,
         inspection_route_id,
         inspection_plan_period,
         remark,
         end_time,
         start_date,
         end_date,
         inspection_month,
         inspection_day,
         inspection_workday,
         can_reexamine,
         operate,
         sign_type,
         start_time,
         inspection_plan_id,
         state,
         community_id,
         b_id,
         create_user_id,
         create_user_name)
        values (#{inspectionPlanName}, #{inspectionRouteId}, #{inspectionPlanPeriod}, #{remark},
                #{endTime}, #{startDate}, #{endDate}, #{inspectionMonth}, #{inspectionDay}, #{inspectionWorkday},
                #{canReexamine}, #{operate}, #{signType}, #{startTime},
                #{inspectionPlanId}, #{state}, #{communityId}, #{bId}, #{createUserId},
                #{createUserName})
    </insert>

    <!-- 查询巡检计划信息（Business） add by wuxw 2018-07-03 -->
    <select id="getBusinessInspectionPlanInfo" parameterType="Map" resultType="Map">
        select
        t.inspection_plan_name inspectionPlanName,
        t.inspection_route_id inspectionRouteId,
        t.inspection_plan_period inspectionPlanPeriod,
        t.remark,t.end_time endTime,
        t.operate,t.sign_type signType,
        t.start_time startTime,t.create_user_id createUserId,
        t.inspection_plan_id inspectionPlanId,t.state,
        t.community_id communityId,t.b_id bId
        from business_inspection_plan t
        where 1 =1
        <if test="inspectionPlanName !=null and inspectionPlanName != ''">
            and t.inspection_plan_name= #{inspectionPlanName}
        </if>
        <if test="inspectionRouteId !=null and inspectionRouteId != ''">
            and t.inspection_route_id= #{inspectionRouteId}
        </if>
        <if test="inspectionPlanPeriod !=null and inspectionPlanPeriod != ''">
            and t.inspection_plan_period= #{inspectionPlanPeriod}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="endTime !=null and endTime != ''">
            and t.end_time= #{endTime}
        </if>
        <if test="operate !=null and operate != ''">
            and t.operate= #{operate}
        </if>
        <if test="signType !=null and signType != ''">
            and t.sign_type= #{signType}
        </if>
        <if test="startTime !=null and startTime != ''">
            and t.start_time= #{startTime}
        </if>
        <if test="createUser !=null and createUser != ''">
            and t.create_user= #{createUser}
        </if>
        <if test="inspectionPlanId !=null and inspectionPlanId != ''">
            and t.inspection_plan_id= #{inspectionPlanId}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
    </select>

    <!-- 保存巡检计划信息至 instance表中 add by wuxw 2018-07-03 -->
    <insert id="saveInspectionPlanInfoInstance" parameterType="Map">
        insert into
        inspection_plan(
        inspection_plan_name,inspection_route_id,
        inspection_plan_period,remark,status_cd,end_time,
        sign_type,start_time,create_user_id,create_user_name,
        inspection_plan_id,state,community_id,b_id
        ) select
        t.inspection_plan_name,t.inspection_route_id,t.inspection_plan_period,t.remark,'0',
        t.end_time,t.sign_type,t.start_time,t.create_user_id,t.create_user_name,
        t.inspection_plan_id,t.state,
        t.community_id,t.b_id
        from business_inspection_plan t where 1=1
        <if test="inspectionPlanName !=null and inspectionPlanName != ''">
            and t.inspection_plan_name= #{inspectionPlanName}
        </if>
        <if test="inspectionRouteId !=null and inspectionRouteId != ''">
            and t.inspection_route_id= #{inspectionRouteId}
        </if>
        <if test="inspectionPlanPeriod !=null and inspectionPlanPeriod != ''">
            and t.inspection_plan_period= #{inspectionPlanPeriod}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="endTime !=null and endTime != ''">
            and t.end_time= #{endTime}
        </if>
        and t.operate= 'ADD'
        <if test="signType !=null and signType != ''">
            and t.sign_type= #{signType}
        </if>
        <if test="startTime !=null and startTime != ''">
            and t.start_time= #{startTime}
        </if>
        <if test="createUser !=null and createUser != ''">
            and t.create_user= #{createUser}
        </if>
        <if test="inspectionPlanId !=null and inspectionPlanId != ''">
            and t.inspection_plan_id= #{inspectionPlanId}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
    </insert>

    <!-- 查询巡检计划信息 add by wuxw 2018-07-03 -->
    <select id="getInspectionPlanInfo" parameterType="Map" resultType="Map">
        select
        t.inspection_plan_name inspectionPlanName,
        t.inspection_route_id inspectionRouteId,
        t.inspection_plan_period inspectionPlanPeriod,
        t.remark,
        t.status_cd statusCd,
        t.end_time endTime,
        t.sign_type signType,
        t.start_time startTime,
        t.end_date endDate,
        t.start_date startDate,
        t.create_user_id createUserId,
        t.create_user_name createUserName,
        t.inspection_plan_id inspectionPlanId,
        t.state,
        t.community_id communityId,
        t.can_reexamine canReexamine,
        t.b_id bId,
        t.create_time createTime,
        t.inspection_workday inspectionWorkday,
        t.inspection_month inspectionMonth,
        t.inspection_day inspectionDay,
        t.before_time beforeTime,
        d.name stateName,
        c.name inspectionPlanPeriodName,
        i.name signTypeName
        from
        inspection_plan t
        inner join t_dict d on t.state = d.status_cd and d.table_name = 'inspection_plan' and d.table_columns = 'state'
        inner join t_dict c on t.inspection_plan_period = c.status_cd and c.table_name = 'inspection_plan' and
        c.table_columns = 'inspection_plan_period'
        inner join t_dict i on t.sign_type = i.status_cd and i.table_name = 'inspection_plan' and i.table_columns =
        'sign_type'
        where 1 =1
        <if test="inspectionPlanName !=null and inspectionPlanName != ''">
            and t.inspection_plan_name like '%${inspectionPlanName}%'
        </if>
        <if test="inspectionRouteId !=null and inspectionRouteId != ''">
            and t.inspection_route_id= #{inspectionRouteId}
        </if>
        <if test="inspectionPlanPeriod !=null and inspectionPlanPeriod != ''">
            and t.inspection_plan_period= #{inspectionPlanPeriod}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="endTime !=null ">
            and t.end_time= #{endTime}
        </if>
        <if test="endDate !=null ">
            and t.end_date= #{endDate}
        </if>
        <if test="signType !=null and signType != ''">
            and t.sign_type= #{signType}
        </if>
        <if test="canReexamine !=null and canReexamine != ''">
            and t.can_reexamine= #{canReexamine}
        </if>
        <if test="startTime !=null ">
            and t.start_time= #{startTime}
        </if>
        <if test="startDate !=null ">
            and t.start_date= #{startDate}
        </if>
        <if test="curTime !=null ">
            and t.start_date &lt; #{curTime}
            and t.end_date &gt; #{curTime}
        </if>
        <if test="createUserId !=null and createUserId != ''">
            and t.create_user_id= #{createUserId}
        </if>
        <if test="inspectionPlanId !=null and inspectionPlanId != ''">
            and t.inspection_plan_id= #{inspectionPlanId}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>
    </select>

    <!-- 修改巡检计划信息 add by wuxw 2018-07-03 -->
    <update id="updateInspectionPlanInfoInstance" parameterType="Map">
        update inspection_plan t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="inspectionPlanName !=null and inspectionPlanName != ''">
            , t.inspection_plan_name= #{inspectionPlanName}
        </if>
        <if test="inspectionRouteId !=null and inspectionRouteId != ''">
            , t.inspection_route_id= #{inspectionRouteId}
        </if>
        <if test="inspectionPlanPeriod !=null and inspectionPlanPeriod != ''">
            , t.inspection_plan_period= #{inspectionPlanPeriod}
        </if>
        <if test="remark !=null and remark != ''">
            , t.remark= #{remark}
        </if>
        <if test="endTime !=null">
            , t.end_time= #{endTime}
        </if>
        <if test="signType !=null and signType != ''">
            , t.sign_type= #{signType}
        </if>
        <if test="canReexamine !=null and canReexamine != ''">
            , t.can_reexamine= #{canReexamine}
        </if>
        <if test="startTime !=null">
            , t.start_time= #{startTime}
        </if>
        <if test="state !=null and state != ''">
            , t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            , t.community_id= #{communityId}
        </if>
        where 1=1
        <if test="inspectionPlanId !=null and inspectionPlanId != ''">
            and t.inspection_plan_id= #{inspectionPlanId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
    </update>

    <!-- 查询巡检计划数量 add by wuxw 2018-07-03 -->
    <select id="queryInspectionPlansCount" parameterType="Map" resultType="Map">
        select count(1) count
        from inspection_plan t
        where 1 =1
        <if test="inspectionPlanName !=null and inspectionPlanName != ''">
            and t.inspection_plan_name like '%${inspectionPlanName}%'
        </if>
        <if test="inspectionRouteId !=null and inspectionRouteId != ''">
            and t.inspection_route_id= #{inspectionRouteId}
        </if>
        <if test="inspectionPlanPeriod !=null and inspectionPlanPeriod != ''">
            and t.inspection_plan_period= #{inspectionPlanPeriod}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="endTime !=null and endTime != ''">
            and t.end_time= #{endTime}
        </if>
        <if test="signType !=null and signType != ''">
            and t.sign_type= #{signType}
        </if>
        <if test="canReexamine !=null and canReexamine != ''">
            and t.can_reexamine= #{canReexamine}
        </if>
        <if test="startTime !=null and startTime != ''">
            and t.start_time= #{startTime}
        </if>
        <if test="inspectionPlanId !=null and inspectionPlanId != ''">
            and t.inspection_plan_id= #{inspectionPlanId}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
    </select>
</mapper>
