<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="maintainanceItemValueV1ServiceDaoImpl">


    <!-- 保存保养检查项信息 add by wuxw 2018-07-03 -->
    <insert id="saveMaintainanceItemValueInfo" parameterType="Map">
        insert into maintainance_item_value(
        item_id,value_id,item_value,community_id,seq
        ) values (
        #{itemId},#{valueId},#{itemValue},#{communityId},#{seq}
        )
    </insert>


    <!-- 查询保养检查项信息 add by wuxw 2018-07-03 -->
    <select id="getMaintainanceItemValueInfo" parameterType="Map" resultType="Map">
        select t.item_id,t.item_id itemId,t.value_id,t.value_id valueId,t.item_value,t.item_value
        itemValue,t.status_cd,t.status_cd statusCd,t.community_id,t.community_id communityId,t.seq
        from maintainance_item_value t
        where 1 =1
        <if test="itemId !=null and itemId != ''">
            and t.item_id= #{itemId}
        </if>
        <if test="itemIds !=null">
            and t.item_id in
            <foreach collection="itemIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="valueId !=null and valueId != ''">
            and t.value_id= #{valueId}
        </if>
        <if test="itemValue !=null and itemValue != ''">
            and t.item_value= #{itemValue}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="seq !=null and seq != ''">
            and t.seq= #{seq}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改保养检查项信息 add by wuxw 2018-07-03 -->
    <update id="updateMaintainanceItemValueInfo" parameterType="Map">
        update maintainance_item_value t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="itemId !=null and itemId != ''">
            , t.item_id= #{itemId}
        </if>
        <if test="itemValue !=null and itemValue != ''">
            , t.item_value= #{itemValue}
        </if>
        <if test="communityId !=null and communityId != ''">
            , t.community_id= #{communityId}
        </if>
        <if test="seq !=null and seq != ''">
            , t.seq= #{seq}
        </if>
        where 1=1
        <if test="valueId !=null and valueId != ''">
            and t.value_id= #{valueId}
        </if>

    </update>

    <!-- 查询保养检查项数量 add by wuxw 2018-07-03 -->
    <select id="queryMaintainanceItemValuesCount" parameterType="Map" resultType="Map">
        select count(1) count
        from maintainance_item_value t
        where 1 =1
        <if test="itemId !=null and itemId != ''">
            and t.item_id= #{itemId}
        </if>
        <if test="itemIds !=null">
            and t.item_id in
            <foreach collection="itemIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="valueId !=null and valueId != ''">
            and t.value_id= #{valueId}
        </if>
        <if test="itemValue !=null and itemValue != ''">
            and t.item_value= #{itemValue}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="seq !=null and seq != ''">
            and t.seq= #{seq}
        </if>


    </select>

</mapper>
