<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="parkingAreaAttrServiceDaoImpl">

    <!-- 保存单元属性信息 add by wuxw 2018-07-03 -->
    <insert id="saveBusinessParkingAreaAttrInfo" parameterType="Map">
        insert into business_parking_area_attr(
        attr_id,operate,pa_id,spec_cd,community_id,b_id,value
        ) values (
        #{attrId},#{operate},#{paId},#{specCd},#{communityId},#{bId},#{value}
        )
    </insert>


    <insert id="saveParkingAreaAttr" parameterType="Map">
        insert into parking_area_attr(
        attr_id,pa_id,spec_cd,community_id,b_id,value
        ) values (
        #{attrId},#{paId},#{specCd},#{communityId},'-1',#{value}
        )
    </insert>


    <!-- 查询单元属性信息（Business） add by wuxw 2018-07-03 -->
    <select id="getBusinessParkingAreaAttrInfo" parameterType="Map" resultType="Map">
        select t.attr_id,t.attr_id attrId,t.operate,t.pa_id,t.pa_id paId,t.spec_cd,t.spec_cd
        specCd,t.community_id,t.community_id communityId,t.b_id,t.b_id bId,t.value
        from business_parking_area_attr t
        where 1 =1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="operate !=null and operate != ''">
            and t.operate= #{operate}
        </if>
        <if test="paId !=null and paId != ''">
            and t.pa_id= #{paId}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>

    </select>


    <!-- 保存单元属性信息至 instance表中 add by wuxw 2018-07-03 -->
    <insert id="saveParkingAreaAttrInfoInstance" parameterType="Map">
        insert into parking_area_attr(
        attr_id,pa_id,spec_cd,status_cd,community_id,b_id,value
        ) select t.attr_id,t.pa_id,t.spec_cd,'0',t.community_id,t.b_id,t.value from business_parking_area_attr t where
        1=1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        and t.operate= 'ADD'
        <if test="paId !=null and paId != ''">
            and t.pa_id= #{paId}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>

    </insert>


    <!-- 查询单元属性信息 add by wuxw 2018-07-03 -->
    <select id="getParkingAreaAttrInfo" parameterType="Map" resultType="Map">
        select t.attr_id,t.attr_id attrId,t.pa_id,t.pa_id paId,t.spec_cd,t.spec_cd specCd,t.status_cd,t.status_cd
        statusCd,t.community_id,t.community_id communityId,t.b_id,t.b_id bId,t.value,
        s.spec_name specName,
        v.value_name valueName,
        s.list_show listShow,
        s.spec_type specType
        from parking_area_attr t
        left join attr_spec s on t.spec_cd = s.spec_cd and s.status_cd = '0' and t.spec_cd = s.spec_cd and s.table_name = 'parking_area_attr'
        left join attr_value v on t.`value` = v.`value` and s.spec_id = v.spec_id and v.status_cd = '0'
        where 1 =1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="paId !=null and paId != ''">
            and t.pa_id= #{paId}
        </if>
        <if test="paIds !=null">
            and t.pa_id in
            <foreach collection="paIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改单元属性信息 add by wuxw 2018-07-03 -->
    <update id="updateParkingAreaAttrInfoInstance" parameterType="Map">
        update parking_area_attr t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="paId !=null and paId != ''">
            , t.pa_id= #{paId}
        </if>
        <if test="specCd !=null and specCd != ''">
            , t.spec_cd= #{specCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            , t.community_id= #{communityId}
        </if>
        <if test="value !=null and value != ''">
            , t.value= #{value}
        </if>
        where 1=1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>

    </update>

    <!-- 查询单元属性数量 add by wuxw 2018-07-03 -->
    <select id="queryParkingAreaAttrsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from parking_area_attr t
        where 1 =1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="paId !=null and paId != ''">
            and t.pa_id= #{paId}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>


    </select>

</mapper>
