<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="parkingSpaceServiceDaoImpl">

    <!-- 保存停车位信息 add by wuxw 2018-07-03 -->
    <insert id="saveBusinessParkingSpaceInfo" parameterType="Map">
        insert into business_parking_space(area, operate, num, ps_id, pa_id, remark, state, community_id, b_id,
                                           parking_type)
        values (#{area}, #{operate}, #{num}, #{psId}, #{paId}, #{remark}, #{state}, #{communityId}, #{bId},
                #{parkingType})
    </insert>

    <!-- 保存车位信息 -->
    <insert id="saveParkingSpace" parameterType="Map">
        insert into parking_space(area, num, ps_id, pa_id, remark, state, community_id, b_id, parking_type, create_time)
        values (#{area}, #{num}, #{psId}, #{paId}, #{remark}, #{state}, #{communityId}, #{bId}, #{parkingType},
                #{createTime})
    </insert>

    <!-- 查询停车位信息（Business） add by wuxw 2018-07-03 -->
    <select id="getBusinessParkingSpaceInfo" parameterType="Map" resultType="Map">
        select t.area,t.operate,t.num,t.ps_id,t.ps_id
        psId,t.pa_id,t.pa_id
        paId,t.remark,t.state,t.community_id,t.community_id communityId,t.b_id,t.b_id bId,t.parking_type,t.parking_type
        parkingType
        from business_parking_space t
        where 1 =1
        <if test="area !=null and area != ''">
            and t.area= #{area}
        </if>
        <if test="operate !=null and operate != ''">
            and t.operate= #{operate}
        </if>
        <if test="num !=null and num != ''">
            and t.num= #{num}
        </if>
        <if test="psId !=null and psId != ''">
            and t.ps_id= #{psId}
        </if>
        <if test="paId !=null and paId != ''">
            and t.pa_id= #{paId}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="parkingType !=null and parkingType != ''">
            and t.parking_type= #{parkingType}
        </if>
    </select>

    <!-- 保存停车位信息至 instance表中 add by wuxw 2018-07-03 -->
    <insert id="saveParkingSpaceInfoInstance" parameterType="Map">
        insert into parking_space(
        area,num,ps_id,pa_id,remark,status_cd,state,community_id,b_id,parking_type
        ) select t.area,t.num,t.ps_id,t.pa_id,t.remark,'0',t.state,t.community_id,t.b_id,t.parking_type
        from
        business_parking_space t where 1=1
        <if test="area !=null and area != ''">
            and t.area= #{area}
        </if>
        and t.operate= 'ADD'
        <if test="num !=null and num != ''">
            and t.num= #{num}
        </if>
        <if test="psId !=null and psId != ''">
            and t.ps_id= #{psId}
        </if>
        <if test="paId !=null and paId != ''">
            and t.pa_id= #{paId}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="parkingType !=null and parkingType != ''">
            and t.parking_type= #{parkingType}
        </if>
    </insert>

    <!-- 查询停车位信息 add by wuxw 2018-07-03 -->
    <select id="getParkingSpaceInfo" parameterType="Map" resultType="Map">
        SELECT
        t.area,
        t.num,
        t.ps_id psId,
        t.ps_id,
        t.pa_id paId,
        t.pa_id,
        t.remark,
        t.status_cd statusCd,
        t.status_cd,
        t.`state`,
        t.community_id,
        t.community_id communityId,
        t.b_id,
        t.b_id bId,
        t.parking_type,
        t.parking_type parkingType,
        td2.NAME parkingTypeName,
        td1.NAME stateName,
        pa.num areaNum,
        pa.type_cd typeCd,
        t.create_time createTime
        FROM
        parking_space t
        LEFT JOIN t_dict td1 ON t.state = td1.status_cd
        AND td1.table_name = 'parking_space'
        AND td1.table_columns = 'state'
        LEFT JOIN t_dict td2 ON t.parking_type = td2.status_cd
        AND td2.table_name = 'parking_space'
        AND td2.table_columns = 'parking_type'
        LEFT JOIN parking_area pa ON t.pa_id = pa.pa_id
        AND pa.status_cd = '0'
        <where>
            <if test="area !=null and area != ''">
                and t.area= #{area}
            </if>
            <if test="num !=null and num != ''">
                and t.num= #{num}
            </if>
            <if test="areaNum !=null and areaNum != ''">
                and pa.num= #{areaNum}
            </if>
            <if test="psId !=null and psId != ''">
                and t.ps_id= #{psId}
            </if>
            <if test="paId !=null and paId != ''">
                and t.pa_id= #{paId}
            </if>
            <if test="remark !=null and remark != ''">
                and t.remark= #{remark}
            </if>
            <if test="parkingType !=null and parkingType != ''">
                and t.parking_type= #{parkingType}
            </if>
            <if test="statusCd !=null and statusCd != ''">
                and t.status_cd= #{statusCd}
            </if>
            <if test="state !=null and state != ''">
                and t.state= #{state}
            </if>
            <if test="states != null">
                and t.state in
                <foreach collection="states" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="psIds != null and psIds != null">
                and t.ps_id in
                <foreach collection="psIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="paIds != null ">
                and t.pa_id in
                <foreach collection="paIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="communityId !=null and communityId != ''">
                and t.community_id= #{communityId}
            </if>
            <if test="bId !=null and bId != ''">
                and t.b_id= #{bId}
            </if>
            order by t.create_time desc
            <if test="page != -1 and page != null ">
                limit #{page}, #{row}
            </if>
        </where>
    </select>

    <!-- 修改停车位信息 add by wuxw 2018-07-03 -->
    <update id="updateParkingSpaceInfoInstance" parameterType="Map">
        update parking_space t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="area !=null and area != ''">
            , t.area= #{area}
        </if>
        <if test="num !=null and num != ''">
            , t.num= #{num}
        </if>
        <if test="paId !=null and paId != ''">
            , t.pa_id= #{paId}
        </if>
        <if test="remark !=null and remark != ''">
            , t.remark= #{remark}
        </if>
        <if test="state !=null and state != ''">
            , t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            , t.community_id= #{communityId}
        </if>
        <if test="parkingType != null and parkingType != ''">
            ,t.parking_type = #{parkingType}
        </if>
        where 1=1
        <if test="psId !=null and psId != ''">
            and t.ps_id= #{psId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
    </update>

    <!-- 查询停车位数量 add by wuxw 2018-07-03 -->
    <select id="queryParkingSpacesCount" parameterType="Map" resultType="Map">
        SELECT count(1) count
        FROM
        parking_space t
        LEFT JOIN t_dict td1 ON t.state = td1.status_cd
        AND td1.table_name = 'parking_space'
        AND td1.table_columns = 'state'
        LEFT JOIN t_dict td2 ON t.parking_type = td2.status_cd
        AND td2.table_name = 'parking_space'
        AND td2.table_columns = 'parking_type'
        LEFT JOIN parking_area pa ON t.pa_id = pa.pa_id
        AND pa.status_cd = '0'
        <where>
            <if test="area !=null and area != ''">
                and t.area= #{area}
            </if>
            <if test="num !=null and num != ''">
                and t.num= #{num}
            </if>
            <if test="areaNum !=null and areaNum != ''">
                and pa.num= #{areaNum}
            </if>
            <if test="psId !=null and psId != ''">
                and t.ps_id= #{psId}
            </if>
            <if test="paId !=null and paId != ''">
                and t.pa_id= #{paId}
            </if>
            <if test="remark !=null and remark != ''">
                and t.remark= #{remark}
            </if>
            <if test="statusCd !=null and statusCd != ''">
                and t.status_cd= #{statusCd}
            </if>
            <if test="state !=null and state != ''">
                and t.state= #{state}
            </if>
            <if test="states != null and states != null">
                and t.state in
                <foreach collection="states" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="communityId !=null and communityId != ''">
                and t.community_id= #{communityId}
            </if>
            <if test="bId !=null and bId != ''">
                and t.b_id= #{bId}
            </if>
        </where>
    </select>
</mapper>
