<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repairPoolNewV1ServiceDaoImpl">


    <!-- 保存费用明细信息 add by wuxw 2018-07-03 -->
    <insert id="saveRepairPoolNewInfo" parameterType="Map">
        insert into r_repair_pool(
        repair_type,repair_obj_type,repair_id,pay_type,repair_name,repair_obj_id,appointment_time,repair_fee,context,tel,repair_channel,repair_materials,state,community_id,maintenance_type,repair_obj_name
        ) values (
        #{repairType},#{repairObjType},#{repairId},#{payType},#{repairName},#{repairObjId},#{appointmentTime},#{repairFee},#{context},#{tel},#{repairChannel},#{repairMaterials},#{state},#{communityId},#{maintenanceType},#{repairObjName}
        )
    </insert>


    <!-- 查询费用明细信息 add by wuxw 2018-07-03 -->
    <select id="getRepairPoolNewInfo" parameterType="Map" resultType="Map">
        select t.repair_type,t.repair_type repairType,t.repair_obj_type,t.repair_obj_type
        repairObjType,t.repair_id,t.repair_id repairId,t.status_cd,t.status_cd statusCd,t.pay_type,t.pay_type
        payType,t.repair_name,t.repair_name repairName,t.repair_obj_id,t.repair_obj_id
        repairObjId,t.appointment_time,t.appointment_time appointmentTime,t.repair_fee,t.repair_fee
        repairFee,t.context,t.tel,t.repair_channel,t.repair_channel repairChannel,t.repair_materials,t.repair_materials
        repairMaterials,t.state,t.community_id,t.community_id communityId,t.maintenance_type,t.maintenance_type
        maintenanceType,t.repair_obj_name,t.repair_obj_name repairObjName
        from r_repair_pool t
        where 1 =1
        <if test="repairType !=null and repairType != ''">
            and t.repair_type= #{repairType}
        </if>
        <if test="repairObjType !=null and repairObjType != ''">
            and t.repair_obj_type= #{repairObjType}
        </if>
        <if test="repairId !=null and repairId != ''">
            and t.repair_id= #{repairId}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="payType !=null and payType != ''">
            and t.pay_type= #{payType}
        </if>
        <if test="repairName !=null and repairName != ''">
            and t.repair_name= #{repairName}
        </if>
        <if test="repairObjId !=null and repairObjId != ''">
            and t.repair_obj_id= #{repairObjId}
        </if>
        <if test="appointmentTime !=null and appointmentTime != ''">
            and t.appointment_time= #{appointmentTime}
        </if>
        <if test="repairFee !=null and repairFee != ''">
            and t.repair_fee= #{repairFee}
        </if>
        <if test="context !=null and context != ''">
            and t.context= #{context}
        </if>
        <if test="tel !=null and tel != ''">
            and t.tel= #{tel}
        </if>
        <if test="repairChannel !=null and repairChannel != ''">
            and t.repair_channel= #{repairChannel}
        </if>
        <if test="repairMaterials !=null and repairMaterials != ''">
            and t.repair_materials= #{repairMaterials}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="maintenanceType !=null and maintenanceType != ''">
            and t.maintenance_type= #{maintenanceType}
        </if>
        <if test="repairObjName !=null and repairObjName != ''">
            and t.repair_obj_name= #{repairObjName}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改费用明细信息 add by wuxw 2018-07-03 -->
    <update id="updateRepairPoolNewInfo" parameterType="Map">
        update r_repair_pool t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="repairType !=null and repairType != ''">
            , t.repair_type= #{repairType}
        </if>
        <if test="repairObjType !=null and repairObjType != ''">
            , t.repair_obj_type= #{repairObjType}
        </if>
        <if test="payType !=null and payType != ''">
            , t.pay_type= #{payType}
        </if>
        <if test="repairName !=null and repairName != ''">
            , t.repair_name= #{repairName}
        </if>
        <if test="repairObjId !=null and repairObjId != ''">
            , t.repair_obj_id= #{repairObjId}
        </if>
        <if test="appointmentTime !=null and appointmentTime != ''">
            , t.appointment_time= #{appointmentTime}
        </if>
        <if test="repairFee !=null and repairFee != ''">
            , t.repair_fee= #{repairFee}
        </if>
        <if test="context !=null and context != ''">
            , t.context= #{context}
        </if>
        <if test="tel !=null and tel != ''">
            , t.tel= #{tel}
        </if>
        <if test="repairChannel !=null and repairChannel != ''">
            , t.repair_channel= #{repairChannel}
        </if>
        <if test="repairMaterials !=null and repairMaterials != ''">
            , t.repair_materials= #{repairMaterials}
        </if>
        <if test="state !=null and state != ''">
            , t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            , t.community_id= #{communityId}
        </if>
        <if test="maintenanceType !=null and maintenanceType != ''">
            , t.maintenance_type= #{maintenanceType}
        </if>
        <if test="repairObjName !=null and repairObjName != ''">
            , t.repair_obj_name= #{repairObjName}
        </if>
        where 1=1
        <if test="repairId !=null and repairId != ''">
            and t.repair_id= #{repairId}
        </if>

    </update>

    <!-- 查询费用明细数量 add by wuxw 2018-07-03 -->
    <select id="queryRepairPoolNewsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from r_repair_pool t
        where 1 =1
        <if test="repairType !=null and repairType != ''">
            and t.repair_type= #{repairType}
        </if>
        <if test="repairObjType !=null and repairObjType != ''">
            and t.repair_obj_type= #{repairObjType}
        </if>
        <if test="repairId !=null and repairId != ''">
            and t.repair_id= #{repairId}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="payType !=null and payType != ''">
            and t.pay_type= #{payType}
        </if>
        <if test="repairName !=null and repairName != ''">
            and t.repair_name= #{repairName}
        </if>
        <if test="repairObjId !=null and repairObjId != ''">
            and t.repair_obj_id= #{repairObjId}
        </if>
        <if test="appointmentTime !=null and appointmentTime != ''">
            and t.appointment_time= #{appointmentTime}
        </if>
        <if test="repairFee !=null and repairFee != ''">
            and t.repair_fee= #{repairFee}
        </if>
        <if test="context !=null and context != ''">
            and t.context= #{context}
        </if>
        <if test="tel !=null and tel != ''">
            and t.tel= #{tel}
        </if>
        <if test="repairChannel !=null and repairChannel != ''">
            and t.repair_channel= #{repairChannel}
        </if>
        <if test="repairMaterials !=null and repairMaterials != ''">
            and t.repair_materials= #{repairMaterials}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="maintenanceType !=null and maintenanceType != ''">
            and t.maintenance_type= #{maintenanceType}
        </if>
        <if test="repairObjName !=null and repairObjName != ''">
            and t.repair_obj_name= #{repairObjName}
        </if>


    </select>


    <select id="queryRepairCountByOwnerTels" parameterType="Map" resultType="Map">
        select t.tel ownerTel,count(1) repairCount
        from
        r_repair_pool t
        where t.status_cd = '0'
        and t.community_id = #{communityId}
        and t.tel in
        <foreach collection="ownerTels" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        group by t.tel
    </select>

</mapper>
