<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="roomAttrV1ServiceDaoImpl">


    <!-- 保存房屋属性信息 add by wuxw 2018-07-03 -->
    <insert id="saveRoomAttrInfo" parameterType="Map">
        insert into building_room_attr(
        attr_id,spec_cd,value,room_id
        ) values (
        #{attrId},#{specCd},#{value},#{roomId}
        )
    </insert>


    <!-- 查询房屋属性信息 add by wuxw 2018-07-03 -->
    <select id="getRoomAttrInfo" parameterType="Map" resultType="Map">
        select t.attr_id,t.attr_id attrId,t.spec_cd,t.spec_cd specCd,t.status_cd,t.status_cd
        statusCd,t.value,t.room_id,t.room_id roomId
        from building_room_attr t
        where 1 =1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>
        <if test="roomId !=null and roomId != ''">
            and t.room_id= #{roomId}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改房屋属性信息 add by wuxw 2018-07-03 -->
    <update id="updateRoomAttrInfo" parameterType="Map">
        update building_room_attr t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="specCd !=null and specCd != ''">
            , t.spec_cd= #{specCd}
        </if>
        <if test="value !=null and value != ''">
            , t.value= #{value}
        </if>
        <if test="roomId !=null and roomId != ''">
            , t.room_id= #{roomId}
        </if>
        where 1=1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>

    </update>

    <!-- 查询房屋属性数量 add by wuxw 2018-07-03 -->
    <select id="queryRoomAttrsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from building_room_attr t
        where 1 =1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>
        <if test="roomId !=null and roomId != ''">
            and t.room_id= #{roomId}
        </if>


    </select>

</mapper>
