<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="roomRenovationServiceDaoImpl">

    <!-- 保存装修申请信息 add by wuxw 2018-07-03 -->
    <insert id="saveRoomRenovationInfo" parameterType="Map">
        insert into room_renovation(remark, is_violation, r_id, room_id, room_name, person_name, violation_desc,
                                    start_time, end_time, state, community_id, person_tel, is_postpone, postpone_time,
                                    renovation_company, person_main, person_main_tel)
        values (#{remark}, #{isViolation}, #{rId}, #{roomId}, #{roomName}, #{personName}, #{violationDesc},
                #{startTime}, #{endTime}, #{state}, #{communityId}, #{personTel}, #{isPostpone}, #{postponeTime},
                #{renovationCompany}, #{personMain}, #{personMainTel})
    </insert>

    <!-- 查询装修申请信息 add by wuxw 2018-07-03 -->
    <select id="getRoomRenovationInfo" parameterType="Map" resultType="Map">
        select t.status_cd,t.status_cd statusCd,t.remark,t.is_violation,t.is_violation isViolation,t.r_id,t.r_id
        rId,t.room_id,t.room_id roomId,t.room_name,t.room_name roomName,t.person_name,t.person_name
        personName,t.violation_desc,t.violation_desc violationDesc,t.start_time,t.start_time
        startTime,t.end_time,t.end_time endTime,t.state,td.name stateName,t.community_id,t.community_id
        communityId,t.person_tel,t.person_tel personTel,t.create_time createTime,t.is_postpone,t.is_postpone
        isPostpone,t.postpone_time,t.postpone_time postponeTime,
        t.renovation_company,t.renovation_company renovationCompany,t.person_main,t.person_main
        personMain,t.person_main_tel,t.person_main_tel personMainTel
        from room_renovation t
        left join t_dict td on td.table_name='room_renovation' and td.table_columns='state'
        and t.state=td.status_cd
        where 1 =1
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="isViolation !=null and isViolation != ''">
            and t.is_violation= #{isViolation}
        </if>
        <if test="isPostpone !=null and isPostpone != ''">
            and t.is_postpone= #{isPostpone}
        </if>
        <if test="rId !=null and rId != ''">
            and t.r_id= #{rId}
        </if>
        <if test="roomId !=null and roomId != ''">
            and t.room_id= #{roomId}
        </if>
        <if test="roomName !=null and roomName != ''">
            and t.room_name= #{roomName}
        </if>
        <if test="personName !=null and personName != ''">
            and t.person_name like '%${personName}%'
        </if>
        <if test="violationDesc !=null and violationDesc != ''">
            and t.violation_desc= #{violationDesc}
        </if>
        <if test="startTime !=null and startTime != ''">
            and t.start_time= #{startTime}
        </if>
        <if test="endTime !=null and endTime != ''">
            and t.end_time= #{endTime}
        </if>
        <if test="renovationTime !=null and renovationTime != ''">
            and t.start_time &lt;= #{renovationTime}
            and t.end_time &gt;= #{renovationTime}
        </if>
        <if test="renovationStartTime !=null and renovationStartTime != ''">
            and t.create_time &gt;= #{renovationStartTime}
        </if>
        <if test="renovationEndTime !=null and renovationEndTime != ''">
            and t.create_time &lt;= #{renovationEndTime}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="personTel !=null and personTel != ''">
            and t.person_tel= #{personTel}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>
    </select>


    <!-- 修改装修申请信息 add by wuxw 2018-07-03 -->
    <update id="updateRoomRenovationInfo" parameterType="Map">
        update room_renovation t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="remark !=null and remark != ''">
            , t.remark= #{remark}
        </if>
        <if test="isViolation !=null and isViolation != ''">
            , t.is_violation= #{isViolation}
        </if>
        <if test="roomId !=null and roomId != ''">
            , t.room_id= #{roomId}
        </if>
        <if test="roomName !=null and roomName != ''">
            , t.room_name= #{roomName}
        </if>
        <if test="personName !=null and personName != ''">
            , t.person_name= #{personName}
        </if>
        <if test="violationDesc !=null and violationDesc != ''">
            , t.violation_desc= #{violationDesc}
        </if>
        <if test="startTime !=null and startTime != ''">
            , t.start_time= #{startTime}
        </if>
        <if test="endTime !=null and endTime != ''">
            , t.end_time= #{endTime}
        </if>
        <if test="state !=null and state != ''">
            , t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            , t.community_id= #{communityId}
        </if>
        <if test="personTel !=null and personTel != ''">
            , t.person_tel= #{personTel}
        </if>
        <if test="examineRemark != null and examineRemark != ''">
            , t.examineRemark = #{examineRemark}
        </if>
        <if test="isPostpone != null and isPostpone != ''">
            , t.is_postpone = #{isPostpone}
        </if>
        <if test="postponeTime != null and postponeTime != ''">
            , t.postpone_time = #{postponeTime}
        </if>
        <if test="renovationCompany != null and renovationCompany != ''">
            , t.renovation_company = #{renovationCompany}
        </if>
        <if test="personMain != null and personMain != ''">
            , t.person_main = #{personMain}
        </if>
        <if test="personMainTel != null and personMainTel != ''">
            , t.person_main_tel = #{personMainTel}
        </if>
        where 1=1
        <if test="rId !=null and rId != ''">
            and t.r_id= #{rId}
        </if>
    </update>

    <!-- 修改装修申请信息 add by wuxw 2018-07-03 -->
    <update id="updateRoom" parameterType="Map">
        update building_room t set t.status_cd = #{statusCd}
        <if test="state !=null and state != ''">
            , t.state= #{state}
        </if>
        where 1=1
        <if test="roomId !=null and roomId != ''">
            and t.room_id= #{roomId}
        </if>
    </update>

    <!-- 查询装修申请数量 add by wuxw 2018-07-03 -->
    <select id="queryRoomRenovationsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from room_renovation t
        where 1 =1
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="isViolation !=null and isViolation != ''">
            and t.is_violation= #{isViolation}
        </if>
        <if test="rId !=null and rId != ''">
            and t.r_id= #{rId}
        </if>
        <if test="roomId !=null and roomId != ''">
            and t.room_id= #{roomId}
        </if>
        <if test="roomName !=null and roomName != ''">
            and t.room_name= #{roomName}
        </if>
        <if test="personName !=null and personName != ''">
            and t.person_name like '%${personName}%'
        </if>
        <if test="violationDesc !=null and violationDesc != ''">
            and t.violation_desc= #{violationDesc}
        </if>
        <if test="startTime !=null and startTime != ''">
            and t.start_time= #{startTime}
        </if>
        <if test="endTime !=null and endTime != ''">
            and t.end_time= #{endTime}
        </if>
        <if test="renovationTime !=null and renovationTime != ''">
            and t.start_time &lt;= #{renovationTime}
            and t.end_time &gt;= #{renovationTime}
        </if>
        <if test="renovationStartTime !=null and renovationStartTime != ''">
            and t.create_time &gt;= #{renovationStartTime}
        </if>
        <if test="renovationEndTime !=null and renovationEndTime != ''">
            and t.create_time &lt;= #{renovationEndTime}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="personTel !=null and personTel != ''">
            and t.person_tel= #{personTel}
        </if>
        <if test="isPostpone != null and isPostpone != ''">
            and t.is_postpone = #{isPostpone}
        </if>
        <if test="postponeTime != null and postponeTime != ''">
            and t.postpone_time = #{postponeTime}
        </if>
        <if test="renovationCompany != null and renovationCompany != ''">
            and t.renovation_company = #{renovationCompany}
        </if>
        <if test="personMain != null and personMain != ''">
            and t.person_main = #{personMain}
        </if>
        <if test="personMainTel != null and personMainTel != ''">
            and t.person_main_tel = #{personMainTel}
        </if>
    </select>

</mapper>
