<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="unitAttrServiceDaoImpl">

    <!-- 保存单元属性信息 add by wuxw 2018-07-03 -->
    <insert id="saveBusinessUnitAttrInfo" parameterType="Map">
        insert into business_building_unit_attr(
        attr_id,operate,unit_id,spec_cd,b_id,value
        ) values (
        #{attrId},#{operate},#{unitId},#{specCd},#{bId},#{value}
        )
    </insert>



    <insert id="saveUnitAttr" parameterType="Map">
        insert into building_unit_attr(
        attr_id,unit_id,spec_cd,b_id,value
        ) values (
        #{attrId},#{unitId},#{specCd},'-1',#{value}
        )
    </insert>


    <!-- 查询单元属性信息（Business） add by wuxw 2018-07-03 -->
    <select id="getBusinessUnitAttrInfo" parameterType="Map" resultType="Map">
        select t.attr_id,t.attr_id attrId,t.operate,t.unit_id,t.unit_id unitId,t.spec_cd,t.spec_cd specCd,t.b_id,t.b_id
        bId,t.value
        from business_building_unit_attr t
        where 1 =1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="operate !=null and operate != ''">
            and t.operate= #{operate}
        </if>
        <if test="unitId !=null and unitId != ''">
            and t.unit_id= #{unitId}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>

    </select>


    <!-- 保存单元属性信息至 instance表中 add by wuxw 2018-07-03 -->
    <insert id="saveUnitAttrInfoInstance" parameterType="Map">
        insert into building_unit_attr(
        attr_id,unit_id,spec_cd,status_cd,b_id,value
        ) select t.attr_id,t.unit_id,t.spec_cd,'0',t.b_id,t.value from business_building_unit_attr t where 1=1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        and t.operate= 'ADD'
        <if test="unitId !=null and unitId != ''">
            and t.unit_id= #{unitId}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>

    </insert>


    <!-- 查询单元属性信息 add by wuxw 2018-07-03 -->
    <select id="getUnitAttrInfo" parameterType="Map" resultType="Map">
        select t.attr_id,t.attr_id attrId,t.unit_id,t.unit_id unitId,t.spec_cd,t.spec_cd specCd,t.status_cd,t.status_cd
        statusCd,t.b_id,t.b_id bId,t.value
        from building_unit_attr t
        where 1 =1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="unitId !=null and unitId != ''">
            and t.unit_id= #{unitId}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改单元属性信息 add by wuxw 2018-07-03 -->
    <update id="updateUnitAttrInfoInstance" parameterType="Map">
        update building_unit_attr t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="unitId !=null and unitId != ''">
            , t.unit_id= #{unitId}
        </if>
        <if test="specCd !=null and specCd != ''">
            , t.spec_cd= #{specCd}
        </if>
        <if test="value !=null and value != ''">
            , t.value= #{value}
        </if>
        where 1=1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>

    </update>

    <!-- 查询单元属性数量 add by wuxw 2018-07-03 -->
    <select id="queryUnitAttrsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from building_unit_attr t
        where 1 =1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="unitId !=null and unitId != ''">
            and t.unit_id= #{unitId}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>


    </select>

</mapper>
