<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="unitServiceDaoImpl">

    <!-- 保存小区单元信息 add by wuxw 2018-07-03 -->
    <insert id="saveBusinessUnitInfo" parameterType="Map">
        insert into business_building_unit(
        floor_id,operate,layer_count,unit_id,unit_num,lift,remark,b_id,user_id,unit_area
        ) values (
        #{floorId},#{operate},#{layerCount},#{unitId},#{unitNum},#{lift},#{remark},#{bId},#{userId},#{unitArea}
        )
    </insert>


    <!-- 查询小区单元信息（Business） add by wuxw 2018-07-03 -->
    <select id="getBusinessUnitInfo" parameterType="Map" resultType="Map">
        select t.floor_id,t.floor_id floorId,t.operate,t.layer_count,t.layer_count layerCount,t.unit_id,t.unit_id
        unitId,t.unit_num,t.unit_num unitNum,t.lift,t.remark,t.b_id,t.b_id bId,t.user_id,t.user_id userId,
        t.unit_area,t.unit_area unitArea
        from business_building_unit t
        where 1 =1
        <if test="floorId !=null and floorId != ''">
            and t.floor_id= #{floorId}
        </if>
        <if test="operate !=null and operate != ''">
            and t.operate= #{operate}
        </if>
        <if test="layerCount !=null and layerCount != ''">
            and t.layer_count= #{layerCount}
        </if>
        <if test="unitId !=null and unitId != ''">
            and t.unit_id= #{unitId}
        </if>
        <if test="unitNum !=null and unitNum != ''">
            and t.unit_num= #{unitNum}
        </if>
        <if test="lift !=null and lift != ''">
            and t.lift= #{lift}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="userId !=null and userId != ''">
            and t.user_id= #{userId}
        </if>
        order by unitNum asc

    </select>


    <!-- 保存小区单元信息至 instance表中 add by wuxw 2018-07-03 -->
    <insert id="saveUnitInfoInstance" parameterType="Map">
        insert into building_unit(
        floor_id,layer_count,unit_id,unit_num,lift,status_cd,remark,b_id,user_id,unit_area
        ) select t.floor_id,t.layer_count,t.unit_id,t.unit_num,t.lift,'0',t.remark,t.b_id,t.user_id,t.unit_area
        from
        business_building_unit t where 1=1
        <if test="floorId !=null and floorId != ''">
            and t.floor_id= #{floorId}
        </if>
        and t.operate= 'ADD'
        <if test="layerCount !=null and layerCount != ''">
            and t.layer_count= #{layerCount}
        </if>
        <if test="unitId !=null and unitId != ''">
            and t.unit_id= #{unitId}
        </if>
        <if test="unitNum !=null and unitNum != ''">
            and t.unit_num= #{unitNum}
        </if>
        <if test="lift !=null and lift != ''">
            and t.lift= #{lift}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="userId !=null and userId != ''">
            and t.user_id= #{userId}
        </if>

    </insert>


    <!-- 查询小区单元信息 add by wuxw 2018-07-03 -->
    <select id="getUnitInfo" parameterType="Map" resultType="Map">
        select t.floor_id,t.floor_id floorId,t.layer_count,t.layer_count layerCount,t.unit_id,t.unit_id
        unitId,t.unit_num,t.unit_num unitNum,t.lift,t.status_cd,t.status_cd statusCd,t.remark,t.b_id,t.b_id
        bId,t.user_id,t.user_id userId,t.unit_area,t.unit_area unitArea,ff.floor_num floorNum
        from building_unit t
        left join f_floor ff on t.`floor_id` = ff.`floor_id` and ff.status_cd = '0'
        where 1 =1
        <if test="communityId!=null and communityId != ''">
            AND ff.community_id = #{communityId}
        </if>
        <if test="floorId !=null and floorId != ''">
            and t.floor_id= #{floorId}
        </if>
        <if test="layerCount !=null and layerCount != ''">
            and t.layer_count= #{layerCount}
        </if>
        <if test="unitId !=null and unitId != ''">
            and t.unit_id= #{unitId}
        </if>
        <if test="unitIds !=null">
            and t.unit_id in
            <foreach collection="unitIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="unitNum !=null and unitNum != ''">
            and t.unit_num= #{unitNum}
        </if>
        <if test="lift !=null and lift != ''">
            and t.lift= #{lift}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="userId !=null and userId != ''">
            and t.user_id= #{userId}
        </if>
        order by ff.seq,ff.floor_num,t.unit_num asc
       <!-- <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>limit 10;-->

    </select>


    <!-- 修改小区单元信息 add by wuxw 2018-07-03 -->
    <update id="updateUnitInfoInstance" parameterType="Map">
        update building_unit t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="floorId !=null and floorId != ''">
            , t.floor_id= #{floorId}
        </if>
        <if test="layerCount !=null and layerCount != ''">
            , t.layer_count= #{layerCount}
        </if>
        <if test="unitNum !=null and unitNum != ''">
            , t.unit_num= #{unitNum}
        </if>
        <if test="lift !=null and lift != ''">
            , t.lift= #{lift}
        </if>
        <if test="remark !=null and remark != ''">
            , t.remark= #{remark}
        </if>
        <if test="unitArea !=null and unitArea != ''">
            , t.unit_area= #{unitArea}
        </if>
        <if test="userId !=null and userId != ''">
            , t.user_id= #{userId}
        </if>
        where 1=1
        <if test="unitId !=null and unitId != ''">
            and t.unit_id= #{unitId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>

    </update>

    <!-- 查询小区单元数量 add by wuxw 2018-07-03 -->
    <select id="queryUnitsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from building_unit t
        where 1 =1
        <if test="floorId !=null and floorId != ''">
            and t.floor_id= #{floorId}
        </if>
        <if test="layerCount !=null and layerCount != ''">
            and t.layer_count= #{layerCount}
        </if>
        <if test="unitId !=null and unitId != ''">
            and t.unit_id= #{unitId}
        </if>
        <if test="unitNum !=null and unitNum != ''">
            and t.unit_num= #{unitNum}
        </if>
        <if test="lift !=null and lift != ''">
            and t.lift= #{lift}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="userId !=null and userId != ''">
            and t.user_id= #{userId}
        </if>


    </select>

    <select id="queryUnitsByCommunityId" parameterType="Map" resultType="Map">
        select t.floor_id,t.floor_id floorId,t.layer_count,t.layer_count layerCount,t.unit_id,t.unit_id
        unitId,t.unit_num,t.unit_num unitNum,t.lift,t.status_cd,t.status_cd statusCd,t.remark,t.b_id,t.b_id
        bId,t.user_id,t.user_id userId,t.unit_area,t.unit_area unitArea
        from building_unit t,f_floor f
        where 1 =1
        and t.floor_id = f.floor_id
        and f.community_id = #{communityId}
        and f.status_cd = '0'
        <if test="floorId !=null and floorId != ''">
            and t.floor_id= #{floorId}
        </if>
        <if test="layerCount !=null and layerCount != ''">
            and t.layer_count= #{layerCount}
        </if>
        <if test="unitId !=null and unitId != ''">
            and t.unit_id= #{unitId}
        </if>
        <if test="unitNum !=null and unitNum != '' or unitNum == 0">
            and t.unit_num= #{unitNum}
        </if>
        <if test="lift !=null and lift != ''">
            and t.lift= #{lift}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="userId !=null and userId != ''">
            and t.user_id= #{userId}
        </if>
        <if test="page != -1 and page != null">
            limit #{page}, #{row}
        </if>
        order by unitNum asc
    </select>

    <select id="getFloorAndUnitInfo" parameterType="Map" resultType="Map">
        SELECT
          bu.`unit_id` unitId,
          bu.`unit_num` unitNum,
          f.`floor_id` floorId,
          f.`floor_num` floorNum
        FROM
          f_floor f,
          building_unit bu
        WHERE f.`floor_id` = bu.`floor_id`
          AND f.`status_cd` = '0'
          AND bu.`status_cd` = '0'
          <if test="floorId != null and floorId !=''">
              and bu.floor_id = #{floorId}
          </if>
        <if test="floorNum != null and floorNum !=''">
            and f.floor_num = #{floorNum}
        </if>
        <if test="unitId != null and unitId !=''">
            and bu.unit_id = #{unitId}
        </if>
        <if test="unitIds != null">
            and bu.unit_id in
            <foreach collection="unitIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="unitNum != null and unitNum !=''">
            and bu.unit_num = #{unitNum}
        </if>

    </select>

</mapper>
