<div id = "addStaffPrivilegeModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addPrivilegeModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class=" row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link" v-bind:class="{active:addStaffPrivilegeInfo._currentTab == 1}" v-on:click="changeTab(1)">权限组</a>
                                </li>
                                <li class="nav-item" >
                                    <a class="nav-link" v-bind:class="{active:addStaffPrivilegeInfo._currentTab == 2}" v-on:click="changeTab(2)">权限</a>
                                </li>
                            </ul>
                                <div class="table-responsive"
                                     style="margin-top:15px">
                                    <table class="table table-striped" v-if="addStaffPrivilegeInfo._currentTab == 1">
                                        <thead>
                                        <tr>

                                            <th>权限组编码</th>
                                            <th>权限组名称</th>
                                            <th>权限组描述</th>
                                            <th>创建时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="privilegeGroup in addStaffPrivilegeInfo._noAddPrivilegeGroup">
                                                <td>{{privilegeGroup.pgId}}</td>
                                                <td>{{privilegeGroup.name}}</td>
                                                <td>{{privilegeGroup.description}}</td>
                                                <td>{{vc.dateFormat(privilegeGroup.createTime)}}</td>
                                                <td>
                                                    <button class="btn btn-primary btn-xs" v-on:click="userAddPrivilegeGroup(privilegeGroup.pgId)">添加</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-striped" v-if="addStaffPrivilegeInfo._currentTab == 2">
                                        <thead>
                                        <tr>

                                            <th>权限编码</th>
                                            <th>权限名称</th>
                                            <th>权限描述</th>
                                            <th>创建时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="privilege in addStaffPrivilegeInfo._noAddPrivilege">
                                            <td>{{privilege.pId}}</td>
                                            <td>{{privilege.name}}</td>
                                            <td>{{privilege.description}}</td>
                                            <td>{{vc.dateFormat(privilege.createTime)}}</td>
                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="userAddPrivilege(privilege.pId)">添加</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>