<div class="row" id="component">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>物业费初始化信息</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" class="btn btn-primary btn-sm" v-on:click="openConfigPropertyFeeModel()">
                        <i class="glyphicon glyphicon-plus"></i> 编辑</button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >物业费配置ID：</label>
                            <label class="">{{feeConfigInfo.configId}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label">每平米单价：</label>
                            <label class="">{{feeConfigInfo.squarePrice}} 元</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >附加费用：</label>
                            <label class="">{{feeConfigInfo.additionalAmount}} 元</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <vc:create name="configPropertyFee"></vc:create>
</div>