<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="couponPropertyUserV1ServiceDaoImpl">


    <!-- 保存用户优惠券信息 add by wuxw 2018-07-03 -->
    <insert id="saveCouponPropertyUserInfo" parameterType="Map">
        insert into coupon_property_user(
        coupon_name,to_type,validity_day,coupon_id,user_name,user_id,cpp_id,tel,state,stock,community_id,value,start_time
        ) values (
        #{couponName},#{toType},#{validityDay},#{couponId},#{userName},#{userId},#{cppId},#{tel},#{state},#{stock},#{communityId},#{value},#{startTime}
        )
    </insert>


    <!-- 查询用户优惠券信息 add by wuxw 2018-07-03 -->
    <select id="getCouponPropertyUserInfo" parameterType="Map" resultType="Map">
        select t.coupon_name,t.coupon_name couponName,t.to_type,t.to_type toType,t.validity_day,t.validity_day
        validityDay,t.status_cd,t.status_cd statusCd,t.coupon_id,t.coupon_id couponId,t.user_name,t.user_name
        userName,t.user_id,t.user_id couponUserId,t.cpp_id,t.cpp_id cppId,t.tel,t.state,t.stock,t.community_id,t.community_id
        communityId,t.value,td.`name` toTypeName,t.create_time createTime,t.start_time startTime
        from coupon_property_user t
        left join t_dict td on td.status_cd = t.to_type and td.table_name = 'coupon_property_pool' and td.table_columns = 'to_type'
        where 1 =1
        <if test="couponName !=null and couponName != ''">
            and t.coupon_name= #{couponName}
        </if>
        <if test="toType !=null and toType != ''">
            and t.to_type= #{toType}
        </if>
        <if test="validityDay !=null and validityDay != ''">
            and t.validity_day= #{validityDay}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="couponId !=null and couponId != ''">
            and t.coupon_id= #{couponId}
        </if>
        <if test="userName !=null and userName != ''">
            and t.user_name= #{userName}
        </if>
        <if test="couponUserId !=null and couponUserId != ''">
            and t.user_id= #{couponUserId}
        </if>
        <if test="cppId !=null and cppId != ''">
            and t.cpp_id= #{cppId}
        </if>
        <if test="tel !=null and tel != ''">
            and t.tel= #{tel}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="stock !=null and stock != ''">
            and t.stock= #{stock}
        </if>
        <if test="startTime !=null and startTime != ''">
            and t.start_time= #{startTime}
        </if>
        <if test="isStart !=null and isStart != ''">
            and t.start_time &lt; now()
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改用户优惠券信息 add by wuxw 2018-07-03 -->
    <update id="updateCouponPropertyUserInfo" parameterType="Map">
        update coupon_property_user t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="couponName !=null and couponName != ''">
            , t.coupon_name= #{couponName}
        </if>
        <if test="toType !=null and toType != ''">
            , t.to_type= #{toType}
        </if>
        <if test="validityDay !=null and validityDay != ''">
            , t.validity_day= #{validityDay}
        </if>
        <if test="userName !=null and userName != ''">
            , t.user_name= #{userName}
        </if>
        <if test="userId !=null and userId != ''">
            , t.user_id= #{userId}
        </if>
        <if test="cppId !=null and cppId != ''">
            , t.cpp_id= #{cppId}
        </if>
        <if test="tel !=null and tel != ''">
            , t.tel= #{tel}
        </if>
        <if test="state !=null and state != ''">
            , t.state= #{state}
        </if>
        <if test="stock !=null and stock != ''">
            , t.stock= #{stock}
        </if>

        <if test="value !=null and value != ''">
            , t.value= #{value}
        </if>
        <if test="startTime !=null and startTime != ''">
            , t.start_time= #{startTime}
        </if>
        where 1=1
        <if test="couponId !=null and couponId != ''">
            and t.coupon_id= #{couponId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>

    </update>

    <!-- 查询用户优惠券数量 add by wuxw 2018-07-03 -->
    <select id="queryCouponPropertyUsersCount" parameterType="Map" resultType="Map">
        select count(1) count
        from coupon_property_user t
        where 1 =1
        <if test="couponName !=null and couponName != ''">
            and t.coupon_name= #{couponName}
        </if>
        <if test="toType !=null and toType != ''">
            and t.to_type= #{toType}
        </if>
        <if test="validityDay !=null and validityDay != ''">
            and t.validity_day= #{validityDay}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="couponId !=null and couponId != ''">
            and t.coupon_id= #{couponId}
        </if>
        <if test="userName !=null and userName != ''">
            and t.user_name= #{userName}
        </if>
        <if test="couponUserId !=null and couponUserId != ''">
            and t.user_id= #{couponUserId}
        </if>
        <if test="cppId !=null and cppId != ''">
            and t.cpp_id= #{cppId}
        </if>
        <if test="tel !=null and tel != ''">
            and t.tel= #{tel}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="stock !=null and stock != ''">
            and t.stock= #{stock}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>
        <if test="startTime !=null and startTime != ''">
            and t.start_time= #{startTime}
        </if>
        <if test="isStart !=null and isStart != ''">
            and t.start_time &lt; now()
        </if>



    </select>

</mapper>
