<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="onlinePayRefundV1ServiceDaoImpl">


    <!-- 保存线上退费信息 add by wuxw 2018-07-03 -->
    <insert id="saveOnlinePayRefundInfo" parameterType="Map">
        insert into online_pay_refund(
        refund_fee,busi_id,pay_id,state,message,refund_id,community_id
        ) values (
        #{refundFee},#{busiId},#{payId},#{state},#{message},#{refundId},#{communityId}
        )
    </insert>


    <!-- 查询线上退费信息 add by wuxw 2018-07-03 -->
    <select id="getOnlinePayRefundInfo" parameterType="Map" resultType="Map">
        select t.refund_fee,t.refund_fee refundFee,t.busi_id,t.busi_id busiId,t.status_cd,t.status_cd
        statusCd,t.pay_id,t.pay_id payId,t.state,t.message,t.refund_id,t.refund_id refundId,t.community_id communityId
        from online_pay_refund t
        where 1 =1
        <if test="refundFee !=null and refundFee != ''">
            and t.refund_fee= #{refundFee}
        </if>
        <if test="busiId !=null and busiId != ''">
            and t.busi_id= #{busiId}
        </if>
        <if test="busiIds !=null ">
            and t.busi_id in
            <foreach collection="busiIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="payId !=null and payId != ''">
            and t.pay_id= #{payId}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="message !=null and message != ''">
            and t.message= #{message}
        </if>
        <if test="refundId !=null and refundId != ''">
            and t.refund_id= #{refundId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改线上退费信息 add by wuxw 2018-07-03 -->
    <update id="updateOnlinePayRefundInfo" parameterType="Map">
        update online_pay_refund t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="refundFee !=null and refundFee != ''">
            , t.refund_fee= #{refundFee}
        </if>
        <if test="busiId !=null and busiId != ''">
            , t.busi_id= #{busiId}
        </if>
        <if test="payId !=null and payId != ''">
            , t.pay_id= #{payId}
        </if>
        <if test="state !=null and state != ''">
            , t.state= #{state}
        </if>
        <if test="message !=null and message != ''">
            , t.message= #{message}
        </if>
        where 1=1
        <if test="refundId !=null and refundId != ''">
            and t.refund_id= #{refundId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>

    </update>

    <!-- 查询线上退费数量 add by wuxw 2018-07-03 -->
    <select id="queryOnlinePayRefundsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from online_pay_refund t
        where 1 =1
        <if test="refundFee !=null and refundFee != ''">
            and t.refund_fee= #{refundFee}
        </if>
        <if test="busiId !=null and busiId != ''">
            and t.busi_id= #{busiId}
        </if>
        <if test="busiIds !=null ">
            and t.busi_id in
            <foreach collection="busiIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="payId !=null and payId != ''">
            and t.pay_id= #{payId}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="message !=null and message != ''">
            and t.message= #{message}
        </if>
        <if test="refundId !=null and refundId != ''">
            and t.refund_id= #{refundId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>


    </select>

</mapper>
