<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="businessTableHisV1ServiceDaoImpl">


    <!-- 保存订单轨迹信息 add by wuxw 2018-07-03 -->
    <insert id="saveBusinessTableHisInfo" parameterType="Map">
        insert into c_business_table_his(
        action_obj,business_type_cd,his_id,action,remark,action_obj_his
        ) values (
        #{actionObj},#{businessTypeCd},#{hisId},#{action},#{remark},#{actionObjHis}
        )
    </insert>


    <!-- 查询订单轨迹信息 add by wuxw 2018-07-03 -->
    <select id="getBusinessTableHisInfo" parameterType="Map" resultType="Map">
        select t.action_obj,t.action_obj actionObj,t.business_type_cd,t.business_type_cd
        businessTypeCd,t.his_id,t.his_id hisId,t.action,t.remark,t.status_cd,t.status_cd
        statusCd,t.action_obj_his,t.action_obj_his actionObjHis
        from c_business_table_his t
        where 1 =1
        <if test="actionObj !=null and actionObj != ''">
            and t.action_obj= #{actionObj}
        </if>
        <if test="businessTypeCd !=null and businessTypeCd != ''">
            and t.business_type_cd= #{businessTypeCd}
        </if>
        <if test="hisId !=null and hisId != ''">
            and t.his_id= #{hisId}
        </if>
        <if test="action !=null and action != ''">
            and t.action= #{action}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="actionObjHis !=null and actionObjHis != ''">
            and t.action_obj_his= #{actionObjHis}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改订单轨迹信息 add by wuxw 2018-07-03 -->
    <update id="updateBusinessTableHisInfo" parameterType="Map">
        update c_business_table_his t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="actionObj !=null and actionObj != ''">
            , t.action_obj= #{actionObj}
        </if>
        <if test="businessTypeCd !=null and businessTypeCd != ''">
            , t.business_type_cd= #{businessTypeCd}
        </if>
        <if test="action !=null and action != ''">
            , t.action= #{action}
        </if>
        <if test="remark !=null and remark != ''">
            , t.remark= #{remark}
        </if>
        <if test="actionObjHis !=null and actionObjHis != ''">
            , t.action_obj_his= #{actionObjHis}
        </if>
        where 1=1
        <if test="hisId !=null and hisId != ''">
            and t.his_id= #{hisId}
        </if>

    </update>

    <!-- 查询订单轨迹数量 add by wuxw 2018-07-03 -->
    <select id="queryBusinessTableHissCount" parameterType="Map" resultType="Map">
        select count(1) count
        from c_business_table_his t
        where 1 =1
        <if test="actionObj !=null and actionObj != ''">
            and t.action_obj= #{actionObj}
        </if>
        <if test="businessTypeCd !=null and businessTypeCd != ''">
            and t.business_type_cd= #{businessTypeCd}
        </if>
        <if test="hisId !=null and hisId != ''">
            and t.his_id= #{hisId}
        </if>
        <if test="action !=null and action != ''">
            and t.action= #{action}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="actionObjHis !=null and actionObjHis != ''">
            and t.action_obj_his= #{actionObjHis}
        </if>


    </select>

</mapper>
