<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>申请说明</h5>
                <div class="ibox-tools" style="top:10px;">

                </div>
            </div>
            <div class="ibox-content">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">申请说明</label>
                    <div class="col-sm-10">
                        <textarea placeholder="必填，请填写申请说明" class="form-control"
                                  v-model="addPurchaseApplyViewInfo.description"></textarea></div>
                </div>
            </div>
        </div>
    </div>
</div>
