<div id="addCommunityModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">添加小区</h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">小区名称</label>
                                <div class="col-sm-10">
                                    <input v-model="addCommunityInfo.name" type="text" placeholder="必填，请填写小区名称"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">小区地区</label>
                                <div class="col-sm-10">
                                    <select id="pro" class="form-control form-control-sm"
                                            style="width: 10vw;display: inline;"
                                            v-model="selectProv"
                                            @change="getProv(selectProv)">
                                        <option value='' disabled selected style='display:none;'>请选择省</option>
                                        <option v-for="item in provs"
                                                :label="item.areaName"
                                                :value="item.areaCode">{{item.areaName}}
                                        </option>

                                    </select>

                                    <select id="city" class="form-control form-control-sm"
                                            style="width: 10vw;display: inline;"
                                            v-if="selectProv!=''"
                                            v-model="selectCity"
                                            @change="getCity(selectCity)">
                                        <option value='' disabled selected style='display:none;'>请选择城市</option>
                                        <option v-for="item in citys"
                                                :label="item.areaName"
                                                :value="item.areaCode">{{item.areaName}}
                                        </option>
                                    </select>

                                    <select id="area" class="form-control form-control-sm"
                                            style="width: 10vw;display: inline;"
                                            v-if="selectCity!=''"
                                            v-model="selectArea"
                                            @change="getArea(selectArea)">
                                        <option value='' disabled selected style='display:none;'>请选择区县</option>
                                        <option v-for="item in areas"
                                                :label="item.areaName"
                                                :value="item.areaCode">{{item.areaName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">小区地址</label>
                                <div class="col-sm-10">
                                    <input v-model="addCommunityInfo.address" type="text" placeholder="必填，请填写小区地址"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">附近地标</label>
                                <div class="col-sm-10">
                                    <input v-model="addCommunityInfo.nearbyLandmarks" type="text"
                                           placeholder="必填，请填写附近地标" class="form-control">
                                </div>
                            </div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                        v-on:click="saveCommunityInfo()"><i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal">取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
