<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>停车场信息</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewParkingAreaInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectParkingAreaInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> 选择停车场</button>

                    <button type="button" v-if="viewParkingAreaInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddParkingAreaInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> 添加停车场</button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >停车场编号：</label>
                            <label class="">{{viewParkingAreaInfo.num}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >停车场类型：</label>
                            <label class="">{{viewParkingAreaInfo.typeCd}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >备注：</label>
                            <label class="">{{viewParkingAreaInfo.remark}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create name="addParkingArea"
               callBackListener="viewParkingAreaInfo"
               callBackFunction="chooseParkingArea"
    ></vc:create>


    <vc:create name="chooseParkingArea"
               emitChooseParkingArea="viewParkingAreaInfo"
               emitLoadData="viewParkingAreaInfo"
    ></vc:create>
</div>
