<div class="uploadImage row">
    <div v-for="image in this.uploadImageInfo.photos">
        <img v-bind:src="image" width="100px" height="100px"/>
        <span v-on:click="this._removeImage(image)" class="glyphicon glyphicon-remove"
              style="position: relative; top: -35px;right: 20px; color: #d9534f"></span>
    </div>
    <div class="uploadButton" v-on:click="this._uploadPhoto()">
        <i class="glyphicon glyphicon-plus"></i>
    </div>
    <input type="file" class="file" accept="image/*" id="uploadImage" hidden
           v-on:change="this._choosePhoto($event)">
</div>