<div id="editMachineRecordModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">开门详情</h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">开门记录ID</label>
                                <div class="col-sm-10">
                                    <input v-model="machineRecordDetailInfo.machineRecordId" type="text"
                                           placeholder="必填，请填写开门记录ID" readonly class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">设备编码</label>
                                <div class="col-sm-10">
                                    <input v-model="machineRecordDetailInfo.machineCode" type="text"
                                           placeholder="必填，请填写设备编码" readonly class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">设备ID</label>
                                <div class="col-sm-10">
                                    <input v-model="machineRecordDetailInfo.machineId" type="text"
                                           placeholder="必填，请填写设备ID" readonly class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">用户名称</label>
                                <div class="col-sm-10">
                                    <input v-model="machineRecordDetailInfo.name" readonly type="text" placeholder="必填，请填写用户名称"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">开门方式</label>
                                <div class="col-sm-10">
                                    <input v-model="machineRecordDetailInfo.openTypeCd" type="text"
                                           placeholder="必填，请填写开门方式" readonly class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">用户手机号</label>
                                <div class="col-sm-10">
                                    <input v-model="machineRecordDetailInfo.tel" readonly type="text" placeholder="必填，请填写用户手机号"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">身份证</label>
                                <div class="col-sm-10">
                                    <input v-model="machineRecordDetailInfo.idCard" readonly type="text" placeholder="必填，请填写身份证"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row" v-if="machineRecordDetailInfo.openTypeCd == '1000'">
                                <label class="col-sm-2 col-form-label">人脸照片</label>
                                <div class="col-sm-10">
                                    <image width="120px" height="140px" v-bind:src="machineRecordDetailInfo.photo" @error="errorLoadImg"/>
                                </div>
                            </div>


                            <div class="ibox-content">
                                <button type="button" class="btn btn-warning float-right"
                                        data-dismiss="modal">关闭
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
