<div id="component" class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>查询条件</h5>
                    <div class="ibox-tools" style="top:10px;">

                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" placeholder="请输入计划,路线名称,执行人员姓名"
                                       v-model="inspectionPlanManageInfo.conditions.keyWord" class=" form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <select class="custom-select" v-model="inspectionPlanManageInfo.conditions.state">
                                <option selected value="">请选择当前状态</option>
                                <option value="888800010001">处理中</option>
                                <option value="888800010002">已完成</option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-primary btn-sm"
                                    v-on:click="_queryInspectionPlanMethod()">
                                <i class="glyphicon glyphicon-search"></i> 查询
                            </button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>巡检计划信息</h5>
                    <div class="ibox-tools" style="top:10px;">
                        <button type="button" class="btn btn-primary btn-sm" v-on:click="_openAddInspectionPlanModal()">
                            <i class="glyphicon glyphicon-plus"></i>
                            添加巡检计划
                        </button>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny"
                           data-page-size="15"
                    >
                        <thead>
                        <tr>
                            <th class="text-center">计划</th>
                            <th class="text-center">路线</th>
                            <th class="text-center">周期</th>
                            <th class="text-center">执行人</th>
                            <th class="text-center">开始时间</th>
                            <th class="text-center">结束时间</th>
                            <th class="text-center">制定人</th>
                            <th class="text-center">制定时间</th>
                            <th class="text-center">状态</th>
                            <th class="text-center">备注</th>
                            <th class="text-center">操作</th>


                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="inspectionPlan in inspectionPlanManageInfo.inspectionPlans">
                            <td class="text-center">{{inspectionPlan.inspectionPlanName}}</td>
                            <td class="text-center">{{inspectionPlan.inspectionRouteName}}</td>
                            <td class="text-center">{{inspectionPlan.inspectionPlanPeriod}}</td>
                            <td class="text-center">{{inspectionPlan.staffName}}</td>
                            <td class="text-center">{{inspectionPlan.startTime}}</td>
                            <td class="text-center">{{inspectionPlan.endTime}}</td>
                            <td class="text-center">{{inspectionPlan.createUserName}}</td>
                            <td class="text-center">{{inspectionPlan.createTime}}</td>
                            <td class="text-center">{{inspectionPlan.state}}</td>
                            <td class="text-center">{{inspectionPlan.remark}}</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button class="btn-white btn btn-xs"
                                            v-on:click="_openEditInspectionPlanModel(inspectionPlan)">修改
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button class="btn-white btn btn-xs"
                                            v-on:click="_openDeleteInspectionPlanModel(inspectionPlan)">删除
                                    </button>
                                </div>
                            </td>

                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7">
                                <ul class="pagination float-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <!-- 分页 -->
                    <vc:create name="pagination"></vc:create>
                </div>
            </div>
        </div>
    </div>


    <vc:create name="addInspectionPlan"
               callBackListener=""
               callBackFunction=""
    ></vc:create>
    <vc:create name="editInspectionPlan"></vc:create>
    <vc:create name="deleteInspectionPlan"></vc:create>

</div>
