<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>修改公告</h5>
                <div class="ibox-tools" style="top:10px;">

                </div>
            </div>
            <div class="ibox-content">
                <div>
                    <div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">活动标题</label>
                            <div class="col-sm-10">
                                <input v-model="editActivitiesInfo.title" type="text" placeholder="必填，请填写活动标题"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">活动类型</label>
                            <div class="col-sm-10">
                                <select class="custom-select" v-model="editActivitiesInfo.typeCd">
                                    <option selected disabled value="">必填，请选择活动类型</option>
                                    <option value="10001">小区文化</option>
                                    <option value="10002">其他</option>
                                </select></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">头部照片</label>
                            <div class="col-sm-10">
                                <vc:create name="uploadImage"
                                           callBackListener="editActivitiesView"
                                           callBackFunction="notifyUploadImage"
                                           namespace="editActivitiesView"
                                ></vc:create>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">开始时间</label>
                            <div class="col-sm-10">
                                <input v-model="editActivitiesViewInfo.startTime" readonly type="text" placeholder="必填，请填写开始时间" class="form-control editActivitiesStartTime">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">结束时间</label>
                            <div class="col-sm-10">
                                <input v-model="editActivitiesViewInfo.endTime" readonly type="text" placeholder="必填，请填写结束时间" class="form-control editActivitiesEndTime">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">活动内容</label>
                            <div class="col-sm-10">
                                <input v-model="editActivitiesInfo.context" type="text" placeholder="必填，请填写活动内容"
                                       class="form-control">
                            </div>
                        </div>



                        <div class="ibox-content">
                            <button class="btn btn-primary float-right" type="button" v-on:click="editActivities()"><i
                                    class="fa fa-check"></i>&nbsp;保存
                            </button>
                            <button type="button" class="btn btn-warning float-right" style="margin-right:20px;" v-on:click="closeEditActivitiesInfo()"
                                    >取消
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

