.no_padding{
    padding:0px 0px
}
.no_margin{
    margin:0px 0px
}
.no_display{
    display:none
}
.fileinput>.file{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        font-size: 23px;
        height: 100%;
        width: 100%;
        direction: ltr;
        cursor: pointer;
}
.delete_button{
    color: #dc3545;
}