.no_padding{
    padding:0px 0px
}
.no_margin{
    margin:0px 0px
}
.no_display{
    display:none
}
.fileinput>.file{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        font-size: 23px;
        height: 100%;
        width: 100%;
        direction: ltr;
        cursor: pointer;
}
.delete_button{
    color: #dc3545;
}
.java110_loading{
    width: 100%;
    height: 100%;
    z-index: 2300;
    position: fixed;
}
.java110_loading>div{
    margin: 70px auto;
}

.wizard > .actions .vc_disabled a,
.wizard > .actions .vc_disabled a:hover,
.wizard > .actions .vc_disabled a:active
{
    background: #fff;
    color: #888;
}

.wizard > .steps .vc_disabled a,
.wizard > .steps .vc_disabled a:hover,
.wizard > .steps .vc_disabled a:active
{
    background: #fff;
    color: #888;
    cursor: default;
}