<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>配置菜单</h5>
                <div class="ibox-tools" style="top:10px;">

                </div>
            </div>
            <div class="ibox-content">

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">菜单名称</label>
                    <div class="col-sm-10">
                        <input v-model="addMenuViewInfo.name" type="text" placeholder="必填，请填写菜单名称" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">菜单地址</label>
                    <div class="col-sm-10">
                        <input v-model="addMenuViewInfo.url" type="text" placeholder="必填，请填写菜单地址" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">序列</label>
                    <div class="col-sm-10">
                        <input v-model="addMenuViewInfo.seq" type="text" placeholder="必填，请填写序列" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">菜单显示</label>
                    <div class="col-sm-10">
                        <select class="custom-select" v-model="addMenuViewInfo.isShow">
                            <option selected disabled value="">必填，请选择菜单显示</option>
                            <option value="Y">显示菜单</option>
                            <option value="N">不显示菜单</option>
                        </select></div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">描述</label>
                    <div class="col-sm-10">
                        <textarea placeholder="选填，请填写描述" class="form-control"
                                  v-model="addMenuViewInfo.description"></textarea></div>
                </div>

            </div>
        </div>
    </div>
</div>
