<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>服务提供信息</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewServiceProvideInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectServiceProvideInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> 选择服务提供</button>

                    <button type="button" v-if="viewServiceProvideInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddServiceProvideInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> 添加服务提供</button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >服务名称：</label>
                            <label class="">{{viewServiceProvideInfo.name}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >服务编码：</label>
                            <label class="">{{viewServiceProvideInfo.serviceCode}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >参数：</label>
                            <label class="">{{viewServiceProvideInfo.params}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >实现方式：</label>
                            <label class="">{{viewServiceProvideInfo.queryModel}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >sql：</label>
                            <label class="">{{viewServiceProvideInfo.sql}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >输出模板：</label>
                            <label class="">{{viewServiceProvideInfo.template}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >存储过程：</label>
                            <label class="">{{viewServiceProvideInfo.proc}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >java：</label>
                            <label class="">{{viewServiceProvideInfo.javaScript}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >描述：</label>
                            <label class="">{{viewServiceProvideInfo.remark}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create name="addServiceProvide"
               callBackListener="viewServiceProvideInfo"
               callBackFunction="chooseServiceProvide"
    ></vc:create>


    <vc:create name="chooseServiceProvide"
               emitChooseServiceProvide="viewServiceProvideInfo"
               emitLoadData="viewServiceProvideInfo"
    ></vc:create>
</div>
