<div id="component" class="wrapper wrapper-content animated fadeInRight ecommerce">
    <vc:create name="roomSelectFloor"
               @OpenAddRoomModelName="addRoom"
    ></vc:create>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                        <thead>
                        <tr>
                            <th>房屋ID</th>
                            <th data-hide="phone">名称</th>
                            <th data-hide="phone">联系方式</th>
                            <th data-hide="phone">地址</th>
                            <th data-hide="phone">地标</th>
                            <th data-hide="phone,tablet" >城市编码</th>
                            <th data-hide="phone">状态</th>
                            <th class="text-right">操作</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="room in roomInfo.roomDataInfo">
                            <td>
                                {{room.communityId}}
                            </td>
                            <td>
                                {{room.name}}
                            </td>
                            <td>
                                {{room.tel}}
                            </td>
                            <td>
                                {{room.address}}
                            </td>
                            <td>
                                {{room.nearbyLandmarks}}
                            </td>
                            <td>
                                {{room.cityCode}}
                            </td>
                            <td>
                                {{room.statusCd}}
                            </td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <button class="btn-white btn btn-xs" v-on:click="_openDelRoomModel(room)">删除</button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7">
                                <ul class="pagination float-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>