<div class="row">
    <vc:create name="privilegeGroup"></vc:create>
    <div class="col-lg-9 animated fadeInRight">
        <div class="mail-box-header">


            <button class="btn btn-primary btn-sm float-right" data-toggle="tooltip"  title="Refresh inbox"><i class="fa fa-plus"></i> 添加权限</button>
            <form method="get" action="index.html" class="float-right mail-search" style="margin-right:10px">
                <div class="input-group">
                    <input type="text" class="form-control form-control-sm" name="search" placeholder="请输入权限名称">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-sm btn-primary">
                            查询
                        </button>
                    </div>
                </div>
            </form>
            <h2>
                员工管理组
            </h2>
        </div>
        <div class="mail-box">

            <table class="table table-hover table-mail">
                <thead>
                    <tr>
                        <th>权限编码</th>
                        <th>权限名称</th>
                        <th>权限描述</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                <tr class="read">
                    <td class="check-mail">
                        500201904001
                    </td>
                    <td class="mail-ontact">添加员工</td>
                    <td class="mail-subject">添加员工</td>
                    <td class="">2019-04-01 02:24:53</td>
                    <td class="text-right mail-date"><i class="glyphicon glyphicon-remove"></i></td>
                </tr>
                <tr class="read">
                    <td class="check-mail">
                        500201904001
                    </td>
                    <td class="mail-ontact">添加员工</td>
                    <td class="mail-subject">添加员工</td>
                    <td class="">2019-04-01 02:24:53</td>
                    <td class="text-right mail-date"><i class="glyphicon glyphicon-remove"></i></td>
                </tr>
                <tr class="read">
                    <td class="check-mail">
                        500201904001
                    </td>
                    <td class="mail-ontact">添加员工</td>
                    <td class="mail-subject">添加员工</td>
                    <td class="">2019-04-01 02:24:53</td>
                    <td class="text-right mail-date"><i class="glyphicon glyphicon-remove"></i></td>
                </tr>
                <tr class="read">
                    <td class="check-mail">
                        500201904001
                    </td>
                    <td class="mail-ontact">添加员工</td>
                    <td class="mail-subject">添加员工</td>
                    <td class="">2019-04-01 02:24:53</td>
                    <td class="text-right mail-date"><i class="glyphicon glyphicon-remove"></i></td>
                </tr>
                <tr class="read">
                    <td class="check-mail">
                        500201904001
                    </td>
                    <td class="mail-ontact">添加员工</td>
                    <td class="mail-subject">添加员工</td>
                    <td class="">2019-04-01 02:24:53</td>
                    <td class="text-right mail-date"><i class="glyphicon glyphicon-remove"></i></td>
                </tr>
                <tr class="read">
                    <td class="check-mail">
                        500201904001
                    </td>
                    <td class="mail-ontact">添加员工</td>
                    <td class="mail-subject">添加员工</td>
                    <td class="">2019-04-01 02:24:53</td>
                    <td class="text-right mail-date"><i class="glyphicon glyphicon-remove"></i></td>
                </tr>
                <tr class="read">
                    <td class="check-mail">
                        500201904001
                    </td>
                    <td class="mail-ontact">添加员工</td>
                    <td class="mail-subject">添加员工</td>
                    <td class="">2019-04-01 02:24:53</td>
                    <td class="text-right mail-date"><i class="glyphicon glyphicon-remove"></i></td>
                </tr>
                <tr class="read">
                    <td class="check-mail">
                        500201904001
                    </td>
                    <td class="mail-ontact">添加员工</td>
                    <td class="mail-subject">添加员工</td>
                    <td class="">2019-04-01 02:24:53</td>
                    <td class="text-right mail-date"><i class="glyphicon glyphicon-remove"></i></td>
                </tr>
                <tr class="read">
                    <td class="check-mail">
                        500201904001
                    </td>
                    <td class="mail-ontact">添加员工</td>
                    <td class="mail-subject">添加员工</td>
                    <td class="">2019-04-01 02:24:53</td>
                    <td class="text-right mail-date"><i class="glyphicon glyphicon-remove"></i></td>
                </tr>
                <tr class="read">
                    <td class="check-mail">
                        500201904001
                    </td>
                    <td class="mail-ontact">添加员工</td>
                    <td class="mail-subject">添加员工</td>
                    <td class="">2019-04-01 02:24:53</td>
                    <td class="text-right mail-date"><i class="glyphicon glyphicon-remove"></i></td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>