<div id="addMachineModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">添加设备门禁</h3>
                <div class="ibox-content">
                    <div>
                        <div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">设备编码</label>
                                <div class="col-sm-10">
                                    <input v-model="addMachineInfo.machineCode" type="text" placeholder="必填，请填写设备编码"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">版本号</label>
                                <div class="col-sm-10">
                                    <input v-model="addMachineInfo.machineVersion" type="text" placeholder="必填，请填写版本号"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">设备名称</label>
                                <div class="col-sm-10">
                                    <input v-model="addMachineInfo.machineName" type="text" placeholder="必填，请填写设备名称"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">设备类型</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addMachineInfo.machineTypeCd">
                                        <option selected disabled value="">必填，请选择设备类型</option>
                                        <option value="9999">锐目门禁</option>
                                        <option value="9998">其他</option>
                                    </select></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">鉴权编码</label>
                                <div class="col-sm-10">
                                    <input v-model="addMachineInfo.authCode" type="text" placeholder="必填，请填写鉴权编码"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">设备位置</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addMachineInfo.locationTypeCd">
                                        <option selected disabled value="">必填，请选择设备位置</option>
                                        <option value="1000">东大门</option>
                                        <option value="1001">西大门</option>
                                        <option value="1002">北大门</option>
                                        <option value="1003">南大门</option>
                                        <option value="2000">单元门</option>
                                        <option value="3000">房屋门</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row"
                             v-if="addMachineInfo.locationTypeCd == '2000' || addMachineInfo.locationTypeCd == '3000'  ">
                            <label class="col-sm-2 col-form-label">归属楼栋</label>
                            <div class="col-sm-10">
                                <vc:create name="floorSelect2"></vc:create>
                            </div>
                        </div>
                        <div class="form-group row"
                             v-if="addMachineInfo.locationTypeCd == '2000' || addMachineInfo.locationTypeCd == '3000'  ">
                            <label class="col-sm-2 col-form-label">归属单元</label>
                            <div class="col-sm-10">
                                <input v-model="addMachineInfo.authCode" type="text" placeholder="必填，请填写鉴权编码"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group row"
                             v-if="addMachineInfo.locationTypeCd == '3000'  ">
                            <label class="col-sm-2 col-form-label">归属房屋</label>
                            <div class="col-sm-10">
                                <input v-model="addMachineInfo.authCode" type="text" placeholder="必填，请填写鉴权编码"
                                       class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">设备IP</label>
                            <div class="col-sm-10">
                                <input v-model="addMachineInfo.machineIp" type="text" placeholder="选填，请填写设备IP"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">设备MAC</label>
                            <div class="col-sm-10">
                                <input v-model="addMachineInfo.machineMac" type="text" placeholder="选填，请填写设备MAC"
                                       class="form-control">
                            </div>
                        </div>

                        <div class="ibox-content">
                            <button class="btn btn-primary float-right" type="button"
                                    v-on:click="saveMachineInfo()"><i class="fa fa-check"></i>&nbsp;保存
                            </button>
                            <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                    data-dismiss="modal">取消
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
