<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="applyRoomDiscountTypeServiceDaoImpl">





    <!-- 保存优惠申请类型信息 add by wuxw 2018-07-03 -->
    <insert id="saveApplyRoomDiscountTypeInfo" parameterType="Map">
        insert into apply_room_discount_type(
apply_type,type_desc,type_name,community_id
) values (
#{applyType},#{typeDesc},#{typeName},#{communityId}
)
    </insert>



    <!-- 查询优惠申请类型信息 add by wuxw 2018-07-03 -->
    <select id="getApplyRoomDiscountTypeInfo" parameterType="Map" resultType="Map">
        select  t.apply_type,t.apply_type applyType,t.type_desc,t.type_desc typeDesc,t.type_name,t.type_name typeName,t.status_cd,t.status_cd statusCd,t.community_id,t.community_id communityId 
from apply_room_discount_type t 
where 1 =1 
<if test="applyType !=null and applyType != ''">
   and t.apply_type= #{applyType}
</if> 
<if test="typeDesc !=null and typeDesc != ''">
   and t.type_desc= #{typeDesc}
</if> 
<if test="typeName !=null and typeName != ''">
   and t.type_name= #{typeName}
</if> 
<if test="statusCd !=null and statusCd != ''">
   and t.status_cd= #{statusCd}
</if> 
<if test="communityId !=null and communityId != ''">
   and t.community_id= #{communityId}
</if> 
order by t.create_time desc
<if test="page != -1 and page != null ">
   limit #{page}, #{row}
</if> 

    </select>




    <!-- 修改优惠申请类型信息 add by wuxw 2018-07-03 -->
    <update id="updateApplyRoomDiscountTypeInfo" parameterType="Map">
        update  apply_room_discount_type t set t.status_cd = #{statusCd}
<if test="newBId != null and newBId != ''">
,t.b_id = #{newBId}
</if> 
<if test="typeDesc !=null and typeDesc != ''">
, t.type_desc= #{typeDesc}
</if> 
<if test="typeName !=null and typeName != ''">
, t.type_name= #{typeName}
</if> 
<if test="communityId !=null and communityId != ''">
, t.community_id= #{communityId}
</if> 
 where 1=1 <if test="applyType !=null and applyType != ''">
and t.apply_type= #{applyType}
</if> 

    </update>

    <!-- 查询优惠申请类型数量 add by wuxw 2018-07-03 -->
     <select id="queryApplyRoomDiscountTypesCount" parameterType="Map" resultType="Map">
        select  count(1) count 
from apply_room_discount_type t 
where 1 =1 
<if test="applyType !=null and applyType != ''">
   and t.apply_type= #{applyType}
</if> 
<if test="typeDesc !=null and typeDesc != ''">
   and t.type_desc= #{typeDesc}
</if> 
<if test="typeName !=null and typeName != ''">
   and t.type_name= #{typeName}
</if> 
<if test="statusCd !=null and statusCd != ''">
   and t.status_cd= #{statusCd}
</if> 
<if test="communityId !=null and communityId != ''">
   and t.community_id= #{communityId}
</if> 


     </select>

</mapper>
