<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="feeAttrServiceDaoImpl">

    <!-- 保存费用属性信息 add by wuxw 2018-07-03 -->
    <insert id="saveBusinessFeeAttrInfo" parameterType="Map">
        insert into business_pay_fee_attrs(
        attr_id,operate,spec_cd,community_id,b_id,fee_id,value
        ) values (
        #{attrId},#{operate},#{specCd},#{communityId},#{bId},#{feeId},#{value}
        )
    </insert>


    <!-- 查询费用属性信息（Business） add by wuxw 2018-07-03 -->
    <select id="getBusinessFeeAttrInfo" parameterType="Map" resultType="Map">
        select t.attr_id,t.attr_id attrId,t.operate,t.spec_cd,t.spec_cd specCd,t.community_id,t.community_id
        communityId,t.b_id,t.b_id bId,t.fee_id,t.fee_id feeId,t.value
        from business_pay_fee_attrs t
        where 1 =1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="operate !=null and operate != ''">
            and t.operate= #{operate}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="feeId !=null and feeId != ''">
            and t.fee_id= #{feeId}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>

    </select>


    <!-- 保存费用属性信息至 instance表中 add by wuxw 2018-07-03 -->
    <insert id="saveFeeAttrInfoInstance" parameterType="Map">
        insert into pay_fee_attrs(
        attr_id,spec_cd,status_cd,community_id,b_id,fee_id,value
        ) select t.attr_id,t.spec_cd,'0',t.community_id,t.b_id,t.fee_id,t.value from business_pay_fee_attrs t where 1=1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        and t.operate= 'ADD'
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="feeId !=null and feeId != ''">
            and t.fee_id= #{feeId}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>

    </insert>


    <!-- 查询费用属性信息 add by wuxw 2018-07-03 -->
    <select id="getFeeAttrInfo" parameterType="Map" resultType="Map">
        select t.attr_id,t.attr_id attrId,t.spec_cd,t.spec_cd specCd,t.status_cd,t.status_cd
        statusCd,t.community_id,t.community_id communityId,t.b_id,t.b_id bId,t.fee_id,t.fee_id feeId,t.value,
        td.name specCdName
        from pay_fee_attrs t
        left join t_dict td on t.spec_cd = td.status_cd and td.table_name = 'pay_fee_attrs' and td.table_columns = 'spec_cd'
        where 1 =1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="feeId !=null and feeId != ''">
            and t.fee_id= #{feeId}
        </if>
        <if test="feeIds !=null">
            and t.fee_id in
            <foreach collection="feeIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改费用属性信息 add by wuxw 2018-07-03 -->
    <update id="updateFeeAttrInfoInstance" parameterType="Map">
        update pay_fee_attrs t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="value !=null and value != ''">
            , t.value= #{value}
        </if>
        where 1=1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="feeId !=null and feeId != ''">
            and t.fee_id= #{feeId}
        </if>

    </update>

    <!-- 查询费用属性数量 add by wuxw 2018-07-03 -->
    <select id="queryFeeAttrsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from pay_fee_attrs t
        where 1 =1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="feeId !=null and feeId != ''">
            and t.fee_id= #{feeId}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>


    </select>




    <!-- 批量插入费用 -->
    <insert id="saveFeeAttrs" parameterType="Map">
        insert into pay_fee_attrs (attr_id,status_cd,spec_cd,community_id,b_id,fee_id,value)
        VALUES
        <foreach collection="feeAttrPos" item="item" separator=",">
            (#{item.attrId},'0',#{item.specCd},#{item.communityId},'-1',#{item.feeId},#{item.value})
        </foreach>
    </insert>

</mapper>
