<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="feeComboV1ServiceDaoImpl">


    <!-- 保存费用套餐信息 add by wuxw 2018-07-03 -->
    <insert id="saveFeeComboInfo" parameterType="Map">
        insert into fee_combo(
        combo_name,combo_id,community_id,remark
        ) values (
        #{comboName},#{comboId},#{communityId},#{remark}
        )
    </insert>


    <!-- 查询费用套餐信息 add by wuxw 2018-07-03 -->
    <select id="getFeeComboInfo" parameterType="Map" resultType="Map">
        select t.combo_name,t.combo_name comboName,t.combo_id,t.combo_id comboId,t.status_cd,t.status_cd
        statusCd,t.community_id,t.community_id communityId,t.remark,t.create_time createTime
        from fee_combo t
        where 1 =1
        <if test="comboName !=null and comboName != ''">
            and t.combo_name= #{comboName}
        </if>
        <if test="comboId !=null and comboId != ''">
            and t.combo_id= #{comboId}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改费用套餐信息 add by wuxw 2018-07-03 -->
    <update id="updateFeeComboInfo" parameterType="Map">
        update fee_combo t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="comboName !=null and comboName != ''">
            , t.combo_name= #{comboName}
        </if>
        <if test="remark !=null and remark != ''">
            , t.remark= #{remark}
        </if>
        where 1=1
        <if test="comboId !=null and comboId != ''">
            and t.combo_id= #{comboId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>

    </update>

    <!-- 查询费用套餐数量 add by wuxw 2018-07-03 -->
    <select id="queryFeeCombosCount" parameterType="Map" resultType="Map">
        select count(1) count
        from fee_combo t
        where 1 =1
        <if test="comboName !=null and comboName != ''">
            and t.combo_name= #{comboName}
        </if>
        <if test="comboId !=null and comboId != ''">
            and t.combo_id= #{comboId}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>


    </select>

</mapper>
