<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="floorShareReadingV1ServiceDaoImpl">


    <!-- 保存楼栋抄表信息 add by wuxw 2018-07-03 -->
    <insert id="saveFloorShareReadingInfo" parameterType="Map">
        insert into floor_share_reading(
        fsm_id,remark,reading_id,title,cur_reading_time,create_staff_name,cur_degrees,pre_degrees,audit_staff_name,pre_reading_time,state,community_id
        ) values (
        #{fsmId},#{remark},#{readingId},#{title},#{curReadingTime},#{createStaffName},#{curDegrees},#{preDegrees},#{auditStaffName},#{preReadingTime},#{state},#{communityId}
        )
    </insert>


    <!-- 查询楼栋抄表信息 add by wuxw 2018-07-03 -->
    <select id="getFloorShareReadingInfo" parameterType="Map" resultType="Map">
        select t.fsm_id fsmId,t.remark,t.status_cd statusCd,t.reading_id readingId,t.title,t.cur_reading_time
        curReadingTime,t.create_staff_name createStaffName,t.cur_degrees curDegrees,t.pre_degrees
        preDegrees,t.audit_staff_name auditStaffName,t.pre_reading_time preReadingTime,t.state,t.community_id
        communityId,t.create_time createTime
        from floor_share_reading t
        where 1 =1
        <if test="fsmId !=null and fsmId != ''">
            and t.fsm_id= #{fsmId}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="readingId !=null and readingId != ''">
            and t.reading_id= #{readingId}
        </if>
        <if test="title !=null and title != ''">
            and t.title= #{title}
        </if>
        <if test="curReadingTime !=null and curReadingTime != ''">
            and t.cur_reading_time= #{curReadingTime}
        </if>
        <if test="createStaffName !=null and createStaffName != ''">
            and t.create_staff_name= #{createStaffName}
        </if>
        <if test="curDegrees !=null and curDegrees != ''">
            and t.cur_degrees= #{curDegrees}
        </if>
        <if test="preDegrees !=null and preDegrees != ''">
            and t.pre_degrees= #{preDegrees}
        </if>
        <if test="auditStaffName !=null and auditStaffName != ''">
            and t.audit_staff_name= #{auditStaffName}
        </if>
        <if test="preReadingTime !=null and preReadingTime != ''">
            and t.pre_reading_time= #{preReadingTime}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改楼栋抄表信息 add by wuxw 2018-07-03 -->
    <update id="updateFloorShareReadingInfo" parameterType="Map">
        update floor_share_reading t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="fsmId !=null and fsmId != ''">
            , t.fsm_id= #{fsmId}
        </if>
        <if test="remark !=null and remark != ''">
            , t.remark= #{remark}
        </if>
        <if test="title !=null and title != ''">
            , t.title= #{title}
        </if>
        <if test="curReadingTime !=null and curReadingTime != ''">
            , t.cur_reading_time= #{curReadingTime}
        </if>
        <if test="createStaffName !=null and createStaffName != ''">
            , t.create_staff_name= #{createStaffName}
        </if>
        <if test="curDegrees !=null and curDegrees != ''">
            , t.cur_degrees= #{curDegrees}
        </if>
        <if test="preDegrees !=null and preDegrees != ''">
            , t.pre_degrees= #{preDegrees}
        </if>
        <if test="auditStaffName !=null and auditStaffName != ''">
            , t.audit_staff_name= #{auditStaffName}
        </if>
        <if test="preReadingTime !=null and preReadingTime != ''">
            , t.pre_reading_time= #{preReadingTime}
        </if>
        <if test="state !=null and state != ''">
            , t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            , t.community_id= #{communityId}
        </if>
        where 1=1
        <if test="readingId !=null and readingId != ''">
            and t.reading_id= #{readingId}
        </if>

    </update>

    <!-- 查询楼栋抄表数量 add by wuxw 2018-07-03 -->
    <select id="queryFloorShareReadingsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from floor_share_reading t
        where 1 =1
        <if test="fsmId !=null and fsmId != ''">
            and t.fsm_id= #{fsmId}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="readingId !=null and readingId != ''">
            and t.reading_id= #{readingId}
        </if>
        <if test="title !=null and title != ''">
            and t.title= #{title}
        </if>
        <if test="curReadingTime !=null and curReadingTime != ''">
            and t.cur_reading_time= #{curReadingTime}
        </if>
        <if test="createStaffName !=null and createStaffName != ''">
            and t.create_staff_name= #{createStaffName}
        </if>
        <if test="curDegrees !=null and curDegrees != ''">
            and t.cur_degrees= #{curDegrees}
        </if>
        <if test="preDegrees !=null and preDegrees != ''">
            and t.pre_degrees= #{preDegrees}
        </if>
        <if test="auditStaffName !=null and auditStaffName != ''">
            and t.audit_staff_name= #{auditStaffName}
        </if>
        <if test="preReadingTime !=null and preReadingTime != ''">
            and t.pre_reading_time= #{preReadingTime}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>


    </select>

</mapper>
