<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="meterWaterV1ServiceDaoImpl">

    <!-- 保存水电抄表信息 add by wuxw 2018-07-03 -->
    <insert id="saveMeterWaterInfo" parameterType="Map">
        insert into meter_water(remark, obj_name, fee_id, cur_reading_time, water_id, cur_degrees, price, meter_type,
                                pre_degrees, obj_id, pre_reading_time, community_id, obj_type, b_id)
        values (#{remark}, #{objName}, #{feeId}, #{curReadingTime}, #{waterId}, #{curDegrees}, #{price}, #{meterType},
                #{preDegrees}, #{objId}, #{preReadingTime}, #{communityId}, #{objType}, #{bId})
    </insert>

    <!-- 查询水电抄表信息 add by wuxw 2018-07-03 -->
    <select id="getMeterWaterInfo" parameterType="Map" resultType="Map">
        select t.status_cd,t.status_cd statusCd,t.remark,t.obj_name,t.obj_name objName,t.fee_id,t.fee_id
        feeId,t.cur_reading_time,t.cur_reading_time curReadingTime,t.water_id,t.water_id
        waterId,t.cur_degrees,t.cur_degrees curDegrees,t.price,t.meter_type,t.meter_type
        meterType,t.pre_degrees,t.pre_degrees preDegrees,t.obj_id,t.obj_id objId,t.pre_reading_time,t.pre_reading_time
        preReadingTime,t.community_id,t.community_id communityId,t.obj_type,t.obj_type objType
        from meter_water t
        where 1 =1
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="objName !=null and objName != ''">
            and t.obj_name= #{objName}
        </if>
        <if test="feeId !=null and feeId != ''">
            and t.fee_id= #{feeId}
        </if>
        <if test="curReadingTime !=null and curReadingTime != ''">
            and t.cur_reading_time= #{curReadingTime}
        </if>
        <if test="waterId !=null and waterId != ''">
            and t.water_id= #{waterId}
        </if>
        <if test="curDegrees !=null and curDegrees != ''">
            and t.cur_degrees= #{curDegrees}
        </if>
        <if test="price !=null and price != ''">
            and t.price= #{price}
        </if>
        <if test="meterType !=null and meterType != ''">
            and t.meter_type= #{meterType}
        </if>
        <if test="preDegrees !=null and preDegrees != ''">
            and t.pre_degrees= #{preDegrees}
        </if>
        <if test="objId !=null and objId != ''">
            and t.obj_id= #{objId}
        </if>
        <if test="preReadingTime !=null and preReadingTime != ''">
            and t.pre_reading_time= #{preReadingTime}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="objType !=null and objType != ''">
            and t.obj_type= #{objType}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>
    </select>

    <!-- 修改水电抄表信息 add by wuxw 2018-07-03 -->
    <update id="updateMeterWaterInfo" parameterType="Map">
        update meter_water t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="remark !=null and remark != ''">
            , t.remark= #{remark}
        </if>
        <if test="objName !=null and objName != ''">
            , t.obj_name= #{objName}
        </if>
        <if test="feeId !=null and feeId != ''">
            , t.fee_id= #{feeId}
        </if>
        <if test="curReadingTime !=null and curReadingTime != ''">
            , t.cur_reading_time= #{curReadingTime}
        </if>
        <if test="curDegrees !=null and curDegrees != ''">
            , t.cur_degrees= #{curDegrees}
        </if>
        <if test="price !=null and price != ''">
            , t.price= #{price}
        </if>
        <if test="meterType !=null and meterType != ''">
            , t.meter_type= #{meterType}
        </if>
        <if test="preDegrees !=null and preDegrees != ''">
            , t.pre_degrees= #{preDegrees}
        </if>
        <if test="objId !=null and objId != ''">
            , t.obj_id= #{objId}
        </if>
        <if test="preReadingTime !=null and preReadingTime != ''">
            , t.pre_reading_time= #{preReadingTime}
        </if>
        <if test="communityId !=null and communityId != ''">
            , t.community_id= #{communityId}
        </if>
        <if test="objType !=null and objType != ''">
            , t.obj_type= #{objType}
        </if>
        where 1=1
        <if test="waterId !=null and waterId != ''">
            and t.water_id= #{waterId}
        </if>
    </update>

    <!-- 查询水电抄表数量 add by wuxw 2018-07-03 -->
    <select id="queryMeterWatersCount" parameterType="Map" resultType="Map">
        select count(1) count
        from meter_water t
        where 1 =1
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="objName !=null and objName != ''">
            and t.obj_name= #{objName}
        </if>
        <if test="feeId !=null and feeId != ''">
            and t.fee_id= #{feeId}
        </if>
        <if test="curReadingTime !=null and curReadingTime != ''">
            and t.cur_reading_time= #{curReadingTime}
        </if>
        <if test="waterId !=null and waterId != ''">
            and t.water_id= #{waterId}
        </if>
        <if test="curDegrees !=null and curDegrees != ''">
            and t.cur_degrees= #{curDegrees}
        </if>
        <if test="price !=null and price != ''">
            and t.price= #{price}
        </if>
        <if test="meterType !=null and meterType != ''">
            and t.meter_type= #{meterType}
        </if>
        <if test="preDegrees !=null and preDegrees != ''">
            and t.pre_degrees= #{preDegrees}
        </if>
        <if test="objId !=null and objId != ''">
            and t.obj_id= #{objId}
        </if>
        <if test="preReadingTime !=null and preReadingTime != ''">
            and t.pre_reading_time= #{preReadingTime}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="objType !=null and objType != ''">
            and t.obj_type= #{objType}
        </if>
    </select>

    <update id="deleteMeterWaterByBatch" parameterType="Map">
        update meter_water t,pay_fee pf set t.status_cd = '1'
        where
        t.fee_id = pf.fee_id
        and pf.batch_id = #{batchId}
        and pf.community_id = #{communityId}

    </update>
</mapper>
