<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="payFeeConfigV1ServiceDaoImpl">
    <!-- 保存收费项目信息 add by wuxw 2018-07-03 -->
    <insert id="savePayFeeConfigInfo" parameterType="Map">
        insert into pay_fee_config(
        fee_type_cd,computing_formula,additional_amount,bill_type,computing_formula_text,square_price,
        payment_cd,is_default,config_id,fee_flag,fee_name,payment_cycle,start_time,end_time,community_id,deduct_from,
        pay_online,scale,decimal_place,units
        ) values (
        #{feeTypeCd},#{computingFormula},#{additionalAmount},#{billType},#{computingFormulaText},#{squarePrice},
        #{paymentCd},#{isDefault},#{configId},#{feeFlag},#{feeName},#{paymentCycle},#{startTime},#{endTime},#{communityId},#{deductFrom},
        #{payOnline},#{scale},#{decimalPlace},#{units}
        )
    </insert>


    <!-- 查询收费项目信息 add by wuxw 2018-07-03 -->
    <select id="getPayFeeConfigInfo" parameterType="Map" resultType="Map">
        select t.fee_type_cd,t.fee_type_cd feeTypeCd,t.computing_formula,t.computing_formula
        computingFormula,t.additional_amount,t.additional_amount additionalAmount,t.bill_type,t.bill_type
        billType,t.computing_formula_text,t.computing_formula_text computingFormulaText,t.status_cd,t.status_cd
        statusCd,t.square_price,t.square_price squarePrice,t.payment_cd,t.payment_cd paymentCd,t.is_default,t.is_default
        isDefault,t.config_id,t.config_id configId,t.fee_flag,t.fee_flag feeFlag,t.fee_name,t.fee_name
        feeName,t.payment_cycle,t.payment_cycle paymentCycle,t.start_time,t.start_time startTime,t.end_time,t.end_time
        endTime,t.community_id,t.community_id communityId,t.deduct_from,t.deduct_from deductFrom,
        t.pay_online payOnline,t.scale,t.decimal_place decimalPlace,t.units
        from pay_fee_config t
        where 1 =1
        <if test="feeTypeCd !=null and feeTypeCd != ''">
            and t.fee_type_cd= #{feeTypeCd}
        </if>
        <if test="computingFormula !=null and computingFormula != ''">
            and t.computing_formula= #{computingFormula}
        </if>
        <if test="additionalAmount !=null and additionalAmount != ''">
            and t.additional_amount= #{additionalAmount}
        </if>
        <if test="billType !=null and billType != ''">
            and t.bill_type= #{billType}
        </if>
        <if test="computingFormulaText !=null and computingFormulaText != ''">
            and t.computing_formula_text= #{computingFormulaText}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="squarePrice !=null and squarePrice != ''">
            and t.square_price= #{squarePrice}
        </if>
        <if test="paymentCd !=null and paymentCd != ''">
            and t.payment_cd= #{paymentCd}
        </if>
        <if test="isDefault !=null and isDefault != ''">
            and t.is_default= #{isDefault}
        </if>
        <if test="configId !=null and configId != ''">
            and t.config_id= #{configId}
        </if>
        <if test="configIds != null">
            and t.config_id in
            <foreach collection="configIds" open="(" close=")"
                     separator="," item="item">
                #{item}
            </foreach>
        </if>
        <if test="feeFlag !=null and feeFlag != ''">
            and t.fee_flag= #{feeFlag}
        </if>
        <if test="feeName !=null and feeName != ''">
            and t.fee_name= #{feeName}
        </if>
        <if test="paymentCycle !=null and paymentCycle != ''">
            and t.payment_cycle= #{paymentCycle}
        </if>
        <if test="startTime !=null and startTime != ''">
            and t.start_time= #{startTime}
        </if>
        <if test="endTime !=null and endTime != ''">
            and t.end_time= #{endTime}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="deductFrom !=null and deductFrom != ''">
            and t.deduct_from = #{deductFrom}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改收费项目信息 add by wuxw 2018-07-03 -->
    <update id="updatePayFeeConfigInfo" parameterType="Map">
        update pay_fee_config t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="feeTypeCd !=null and feeTypeCd != ''">
            , t.fee_type_cd= #{feeTypeCd}
        </if>
        <if test="computingFormula !=null and computingFormula != ''">
            , t.computing_formula= #{computingFormula}
        </if>
        <if test="additionalAmount !=null and additionalAmount != ''">
            , t.additional_amount= #{additionalAmount}
        </if>
        <if test="billType !=null and billType != ''">
            , t.bill_type= #{billType}
        </if>
        <if test="computingFormulaText !=null and computingFormulaText != ''">
            , t.computing_formula_text= #{computingFormulaText}
        </if>
        <if test="squarePrice !=null and squarePrice != ''">
            , t.square_price= #{squarePrice}
        </if>
        <if test="paymentCd !=null and paymentCd != ''">
            , t.payment_cd= #{paymentCd}
        </if>
        <if test="isDefault !=null and isDefault != ''">
            , t.is_default= #{isDefault}
        </if>
        <if test="feeFlag !=null and feeFlag != ''">
            , t.fee_flag= #{feeFlag}
        </if>
        <if test="feeName !=null and feeName != ''">
            , t.fee_name= #{feeName}
        </if>
        <if test="paymentCycle !=null and paymentCycle != ''">
            , t.payment_cycle= #{paymentCycle}
        </if>
        <if test="startTime !=null and startTime != ''">
            , t.start_time= #{startTime}
        </if>
        <if test="endTime !=null and endTime != ''">
            , t.end_time= #{endTime}
        </if>
        <if test="communityId !=null and communityId != ''">
            , t.community_id= #{communityId}
        </if>
        <if test="deductFrom !=null and deductFrom != ''">
            , t.deduct_from= #{deductFrom}
        </if>
        <if test="payOnline !=null and payOnline != ''">
            , t.pay_online= #{payOnline}
        </if>
        <if test="scale !=null and scale != ''">
            , t.scale= #{scale}
        </if>
        <if test="decimalPlace !=null and decimalPlace != ''">
            , t.decimal_place= #{decimalPlace}
        </if>
        <if test="units !=null and units != ''">
            , t.units= #{units}
        </if>
        where 1=1
        <if test="configId !=null and configId != ''">
            and t.config_id= #{configId}
        </if>

    </update>

    <!-- 查询收费项目数量 add by wuxw 2018-07-03 -->
    <select id="queryPayFeeConfigsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from pay_fee_config t
        where 1 =1
        <if test="feeTypeCd !=null and feeTypeCd != ''">
            and t.fee_type_cd= #{feeTypeCd}
        </if>
        <if test="computingFormula !=null and computingFormula != ''">
            and t.computing_formula= #{computingFormula}
        </if>
        <if test="additionalAmount !=null and additionalAmount != ''">
            and t.additional_amount= #{additionalAmount}
        </if>
        <if test="billType !=null and billType != ''">
            and t.bill_type= #{billType}
        </if>
        <if test="computingFormulaText !=null and computingFormulaText != ''">
            and t.computing_formula_text= #{computingFormulaText}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="squarePrice !=null and squarePrice != ''">
            and t.square_price= #{squarePrice}
        </if>
        <if test="paymentCd !=null and paymentCd != ''">
            and t.payment_cd= #{paymentCd}
        </if>
        <if test="isDefault !=null and isDefault != ''">
            and t.is_default= #{isDefault}
        </if>
        <if test="configId !=null and configId != ''">
            and t.config_id= #{configId}
        </if>
        <if test="configIds !=null">
            and t.config_id in
            <foreach collection="configIds" open="(" close=")"
                     separator="," item="item">
                #{item}
            </foreach>
        </if>
        <if test="feeFlag !=null and feeFlag != ''">
            and t.fee_flag= #{feeFlag}
        </if>
        <if test="feeName !=null and feeName != ''">
            and t.fee_name= #{feeName}
        </if>
        <if test="paymentCycle !=null and paymentCycle != ''">
            and t.payment_cycle= #{paymentCycle}
        </if>
        <if test="startTime !=null and startTime != ''">
            and t.start_time= #{startTime}
        </if>
        <if test="endTime !=null and endTime != ''">
            and t.end_time= #{endTime}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="deductFrom !=null and deductFrom != ''">
            and t.deduct_from = #{deductFrom}
        </if>

    </select>

    <!-- 查询收费项目数量 add by wuxw 2018-07-03 -->
    <select id="queryFeeObjsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from pay_fee t
        left join pay_fee_attrs pfa on t.fee_id = pfa.fee_id and pfa.status_cd = '0' and pfa.spec_cd = '390012'
        left join pay_fee_attrs pfa1 on t.fee_id = pfa1.fee_id and pfa1.status_cd = '0' and pfa1.spec_cd = '390008'
        left join pay_fee_attrs pfa2 on t.fee_id = pfa2.fee_id and pfa2.status_cd = '0' and pfa2.spec_cd = '390009'
        where t.config_id = #{configId}
        and t.community_id= #{communityId}
    </select>

    <!-- 查询收费项目信息 add by wuxw 2018-07-03 -->
    <select id="queryFeeObjs" parameterType="Map" resultType="Map">
        select t.fee_id feeId,t.payer_obj_type payerObjType,pfa.`value` payerObjName,pfa1.`value` ownerName,
        pfa2.value ownerTel, t.create_time createTime
        from pay_fee t
        left join pay_fee_attrs pfa on t.fee_id = pfa.fee_id and pfa.status_cd = '0' and pfa.spec_cd = '390012'
        left join pay_fee_attrs pfa1 on t.fee_id = pfa1.fee_id and pfa1.status_cd = '0' and pfa1.spec_cd = '390008'
        left join pay_fee_attrs pfa2 on t.fee_id = pfa2.fee_id and pfa2.status_cd = '0' and pfa2.spec_cd = '390009'
        where t.config_id = #{configId}
        and t.community_id= #{communityId}
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>
    </select>

</mapper>
