<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="returnPayFeeServiceDaoImpl">

    <!-- 保存退费表信息 add by wuxw 2018-07-03 -->
    <insert id="saveBusinessReturnPayFeeInfo" parameterType="Map">
        insert into business_return_pay_fee(reason, prime_rate, fee_type_cd,
                                            pay_time, detail_id, receivable_amount,
                                            cycles, remark, received_amount,
                                            fee_id, return_fee_id, operate,
                                            config_id, state, b_id, community_id)
        values (#{reason}, #{primeRate}, #{feeTypeCd}, #{payTime}, #{detailId}, #{receivableAmount},
                #{cycles}, #{remark}, #{receivedAmount}, #{feeId}, #{returnFeeId}, #{operate}, #{configId},
                #{state}, #{bId}, #{communityId})
    </insert>

    <!-- 查询退费表信息（Business） add by wuxw 2018-07-03 -->
    <select id="getBusinessReturnPayFeeInfo" parameterType="Map" resultType="Map">
        select
        t.reason,
        t.prime_rate,t.prime_rate primeRate,
        t.fee_type_cd,t.fee_type_cd feeTypeCd,
        t.pay_time,t.pay_time payTime,
        t.detail_id,t.detail_id detailId,
        t.receivable_amount,t.receivable_amount receivableAmount,
        t.cycles,
        t.remark,
        t.received_amount,t.received_amount receivedAmount,
        t.fee_id,t.fee_id feeId,
        t.return_fee_id,t.return_fee_id returnFeeId,
        t.operate,t.config_id,t.config_id configId,
        t.state,
        t.b_id,t.b_id bId,
        t.community_id,t.community_id communityId
        from business_return_pay_fee t
        where 1 =1
        <if test="reason !=null and reason != ''">
            and t.reason= #{reason}
        </if>
        <if test="primeRate !=null and primeRate != ''">
            and t.prime_rate= #{primeRate}
        </if>
        <if test="feeTypeCd !=null and feeTypeCd != ''">
            and t.fee_type_cd= #{feeTypeCd}
        </if>
        <if test="payTime !=null and payTime != ''">
            and t.pay_time= #{payTime}
        </if>
        <if test="detailId !=null and detailId != ''">
            and t.detail_id= #{detailId}
        </if>
        <if test="receivableAmount !=null and receivableAmount != ''">
            and t.receivable_amount= #{receivableAmount}
        </if>
        <if test="cycles !=null and cycles != ''">
            and t.cycles= #{cycles}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="receivedAmount !=null and receivedAmount != ''">
            and t.received_amount= #{receivedAmount}
        </if>
        <if test="feeId !=null and feeId != ''">
            and t.fee_id= #{feeId}
        </if>
        <if test="returnFeeId !=null and returnFeeId != ''">
            and t.return_fee_id= #{returnFeeId}
        </if>
        <if test="operate !=null and operate != ''">
            and t.operate= #{operate}
        </if>
        <if test="configId !=null and configId != ''">
            and t.config_id= #{configId}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
    </select>

    <!-- 保存退费表信息至 instance表中 add by wuxw 2018-07-03 -->
    <insert id="saveReturnPayFeeInfoInstance" parameterType="Map">
        insert into return_pay_fee(
        reason,prime_rate,fee_type_cd,pay_time,detail_id,receivable_amount,cycles,
        remark,status_cd,received_amount,fee_id,return_fee_id,config_id,state,b_id,community_id
        ) select t.reason,t.prime_rate,t.fee_type_cd,t.pay_time,t.detail_id,t.receivable_amount,t.cycles,t.remark,'0',
        t.received_amount,t.fee_id,t.return_fee_id,t.config_id,t.state,t.b_id,t.community_id
        from business_return_pay_fee t where 1=1
        <if test="reason !=null and reason != ''">
            and t.reason= #{reason}
        </if>
        <if test="primeRate !=null and primeRate != ''">
            and t.prime_rate= #{primeRate}
        </if>
        <if test="feeTypeCd !=null and feeTypeCd != ''">
            and t.fee_type_cd= #{feeTypeCd}
        </if>
        <if test="payTime !=null and payTime != ''">
            and t.pay_time= #{payTime}
        </if>
        <if test="detailId !=null and detailId != ''">
            and t.detail_id= #{detailId}
        </if>
        <if test="receivableAmount !=null and receivableAmount != ''">
            and t.receivable_amount= #{receivableAmount}
        </if>
        <if test="cycles !=null and cycles != ''">
            and t.cycles= #{cycles}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="receivedAmount !=null and receivedAmount != ''">
            and t.received_amount= #{receivedAmount}
        </if>
        <if test="feeId !=null and feeId != ''">
            and t.fee_id= #{feeId}
        </if>
        <if test="returnFeeId !=null and returnFeeId != ''">
            and t.return_fee_id= #{returnFeeId}
        </if>
        and t.operate= 'ADD'
        <if test="configId !=null and configId != ''">
            and t.config_id= #{configId}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
    </insert>

    <!-- 查询退费表信息 add by wuxw 2018-07-03 -->
    <select id="getReturnPayFeeInfo" parameterType="Map" resultType="Map">
        select
        t.reason,
        t.prime_rate,t.prime_rate primeRate,
        t.fee_type_cd,t.fee_type_cd feeTypeCd,
        t.pay_time,t.pay_time payTime,
        t.detail_id,t.detail_id detailId,
        t.receivable_amount,t.receivable_amount receivableAmount,
        t.cycles,
        t.remark,
        t.status_cd,t.status_cd statusCd,
        t.received_amount,t.received_amount receivedAmount,
        t.fee_id,t.fee_id feeId,
        t.return_fee_id,t.return_fee_id returnFeeId,
        t.config_id,t.config_id configId,
        t.state,
        t.b_id,t.b_id bId,
        t.community_id,t.community_id communityId,
        t.create_time,t.create_time createTime,
        t.apply_person_id applyPersonId,t.apply_person_name applyPersonName,
        t.audit_person_id auditPersonId,t.audit_person_name auditPersonName,
        d.name feeTypeCdName,
        c.name stateName,
        pf.payer_obj_type payerObjType,
        pfa.value payerObjName
        from return_pay_fee t
        inner join pay_fee pf on t.fee_id = pf.fee_id and pf.status_cd = '0'
        left join pay_fee_attrs pfa on t.fee_id = pfa.fee_id and pfa.spec_cd = '390012' and pfa.status_cd = '0'
        inner join t_dict d on t.fee_type_cd = d.status_cd and d.table_name = 'pay_fee_config' and d.table_columns =
        'fee_type_cd'
        inner join t_dict c on t.state = c.status_cd and c.table_name = 'return_pay_fee' and c.table_columns = 'state'
        where 1 = 1
        <if test="reason !=null and reason != ''">
            and t.reason= #{reason}
        </if>
        <if test="payerObjName !=null and payerObjName != ''">
            and pfa.value= #{payerObjName}
        </if>
        <if test="primeRate !=null and primeRate != ''">
            and t.prime_rate= #{primeRate}
        </if>
        <if test="feeTypeCd !=null and feeTypeCd != ''">
            and t.fee_type_cd= #{feeTypeCd}
        </if>
        <if test="payTime !=null and payTime != ''">
            and t.pay_time= #{payTime}
        </if>
        <if test="startTime !=null and startTime != ''">
            and t.create_time &gt;= #{startTime}
        </if>
        <if test="endTime !=null and endTime != ''">
            and t.create_time &lt;= #{endTime}
        </if>
        <if test="detailId !=null and detailId != ''">
            and t.detail_id= #{detailId}
        </if>
        <if test="receivableAmount !=null and receivableAmount != ''">
            and t.receivable_amount= #{receivableAmount}
        </if>
        <if test="cycles !=null and cycles != ''">
            and t.cycles= #{cycles}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="receivedAmount !=null and receivedAmount != ''">
            and t.received_amount= #{receivedAmount}
        </if>
        <if test="feeId !=null and feeId != ''">
            and t.fee_id= #{feeId}
        </if>
        <if test="returnFeeId !=null and returnFeeId != ''">
            and t.return_fee_id= #{returnFeeId}
        </if>
        <if test="configId !=null and configId != ''">
            and t.config_id= #{configId}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="applyPersonId !=null and applyPersonId != ''">
            and t.apply_person_id= #{applyPersonId}
        </if>
        <if test="applyPersonName !=null and applyPersonName != ''">
            and t.apply_person_name like concat('%',#{applyPersonName},'%')
        </if>
        <if test="auditPersonId !=null and auditPersonId != ''">
            and t.audit_person_id= #{auditPersonId}
        </if>
        <if test="auditPersonName !=null and auditPersonName != ''">
            and t.audit_person_name like concat('%',#{auditPersonName},'%')
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>
    </select>

    <!-- 查询退费表信息 add by wuxw 2018-07-03 -->
    <select id="getRoomReturnPayFeeInfo" parameterType="Map" resultType="Map">
        select
        t.reason,
        t.prime_rate,t.prime_rate primeRate,
        t.fee_type_cd,t.fee_type_cd feeTypeCd,
        t.pay_time,t.pay_time payTime,
        t.detail_id,t.detail_id detailId,
        t.receivable_amount,t.receivable_amount receivableAmount,
        t.cycles,
        t.remark,
        t.status_cd,t.status_cd statusCd,
        t.received_amount,t.received_amount receivedAmount,
        t.fee_id,t.fee_id feeId,
        t.return_fee_id,t.return_fee_id returnFeeId,
        t.config_id,t.config_id configId,
        t.state,
        t.b_id,t.b_id bId,
        t.community_id,t.community_id communityId,
        t.create_time,t.create_time createTime,
        d.name feeTypeCdName,
        c.name stateName,
        pf.payer_obj_type payerObjType,
        br.room_id roomId,
        br.room_num roomNum,
        bu.unit_id unitId,
        bu.unit_num unitNum,
        fl.floor_id floorId,
        fl.floor_num floorNum
        from return_pay_fee t
        inner join pay_fee pf on t.fee_id = pf.fee_id and pf.status_cd = '0'
        inner join t_dict d on t.fee_type_cd = d.status_cd and d.table_name = 'pay_fee_config' and d.table_columns =
        'fee_type_cd'
        inner join t_dict c on t.state = c.status_cd and c.table_name = 'return_pay_fee' and c.table_columns = 'state'
        left join building_room br on pf.payer_obj_id = br.room_id and br.status_cd = '0'
        left join building_unit bu on br.unit_id = bu.unit_id and bu.status_cd = '0'
        left join f_floor fl on fl.floor_id = bu.floor_id and bu.status_cd = '0'
        where 1 = 1
        <if test="reason !=null and reason != ''">
            and t.reason= #{reason}
        </if>
        <if test="primeRate !=null and primeRate != ''">
            and t.prime_rate= #{primeRate}
        </if>
        <if test="feeTypeCd !=null and feeTypeCd != ''">
            and t.fee_type_cd= #{feeTypeCd}
        </if>
        <if test="payTime !=null and payTime != ''">
            and t.pay_time= #{payTime}
        </if>
        <if test="detailId !=null and detailId != ''">
            and t.detail_id= #{detailId}
        </if>
        <if test="receivableAmount !=null and receivableAmount != ''">
            and t.receivable_amount= #{receivableAmount}
        </if>
        <if test="cycles !=null and cycles != ''">
            and t.cycles= #{cycles}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="receivedAmount !=null and receivedAmount != ''">
            and t.received_amount= #{receivedAmount}
        </if>
        <if test="feeId !=null and feeId != ''">
            and t.fee_id= #{feeId}
        </if>
        <if test="returnFeeId !=null and returnFeeId != ''">
            and t.return_fee_id = #{returnFeeId}
        </if>
        <if test="configId !=null and configId != ''">
            and t.config_id= #{configId}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="applyPersonId !=null and applyPersonId != ''">
            and t.apply_person_id= #{applyPersonId}
        </if>
        <if test="applyPersonName !=null and applyPersonName != ''">
            and t.apply_person_name like concat('%',#{applyPersonName},'%')
        </if>
        <if test="auditPersonId !=null and auditPersonId != ''">
            and t.audit_person_id= #{auditPersonId}
        </if>
        <if test="auditPersonName !=null and auditPersonName != ''">
            and t.audit_person_name like concat('%',#{auditPersonName},'%')
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>
    </select>

    <!-- 查询退费表信息 add by wuxw 2018-07-03 -->
    <select id="getCarReturnPayFeeInfo" parameterType="Map" resultType="Map">
        select
        t.reason,
        t.prime_rate,t.prime_rate primeRate,
        t.fee_type_cd,t.fee_type_cd feeTypeCd,
        t.pay_time,t.pay_time payTime,
        t.detail_id,t.detail_id detailId,
        t.receivable_amount,t.receivable_amount receivableAmount,
        t.cycles,
        t.remark,
        t.status_cd,t.status_cd statusCd,
        t.received_amount,t.received_amount receivedAmount,
        t.fee_id,t.fee_id feeId,
        t.return_fee_id,t.return_fee_id returnFeeId,
        t.config_id,t.config_id configId,
        t.state,
        t.b_id,t.b_id bId,
        t.community_id,t.community_id communityId,
        t.create_time,t.create_time createTime,
        d.name feeTypeCdName,
        c.name stateName,
        pf.payer_obj_type payerObjType,
        oc.car_id carId,
        oc.car_num carNum,
        ps.ps_id psId,
        ps.num psNum,
        pa.pa_id paId,
        pa.num paNum
        from return_pay_fee t
        inner join pay_fee pf on t.fee_id = pf.fee_id and pf.status_cd = '0'
        inner join t_dict d on t.fee_type_cd = d.status_cd and d.table_name = 'pay_fee_config' and d.table_columns =
        'fee_type_cd'
        inner join t_dict c on t.state = c.status_cd and c.table_name = 'return_pay_fee' and c.table_columns = 'state'
        left join owner_car oc on pf.payer_obj_id = oc.car_id
        left join parking_space ps on oc.ps_id = ps.ps_id and ps.status_cd = '0'
        left join parking_area pa on pa.pa_id = ps.pa_id and pa.status_cd = '0'
        where 1 = 1
        <if test="reason !=null and reason != ''">
            and t.reason= #{reason}
        </if>
        <if test="primeRate !=null and primeRate != ''">
            and t.prime_rate= #{primeRate}
        </if>
        <if test="feeTypeCd !=null and feeTypeCd != ''">
            and t.fee_type_cd= #{feeTypeCd}
        </if>
        <if test="payTime !=null and payTime != ''">
            and t.pay_time= #{payTime}
        </if>
        <if test="detailId !=null and detailId != ''">
            and t.detail_id= #{detailId}
        </if>
        <if test="receivableAmount !=null and receivableAmount != ''">
            and t.receivable_amount= #{receivableAmount}
        </if>
        <if test="cycles !=null and cycles != ''">
            and t.cycles= #{cycles}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="receivedAmount !=null and receivedAmount != ''">
            and t.received_amount= #{receivedAmount}
        </if>
        <if test="feeId !=null and feeId != ''">
            and t.fee_id= #{feeId}
        </if>
        <if test="returnFeeId !=null and returnFeeId != ''">
            and t.return_fee_id= #{returnFeeId}
        </if>
        <if test="configId !=null and configId != ''">
            and t.config_id= #{configId}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="applyPersonId !=null and applyPersonId != ''">
            and t.apply_person_id= #{applyPersonId}
        </if>
        <if test="applyPersonName !=null and applyPersonName != ''">
            and t.apply_person_name like concat('%',#{applyPersonName},'%')
        </if>
        <if test="auditPersonId !=null and auditPersonId != ''">
            and t.audit_person_id= #{auditPersonId}
        </if>
        <if test="auditPersonName !=null and auditPersonName != ''">
            and t.audit_person_name like concat('%',#{auditPersonName},'%')
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>
    </select>

    <!-- 修改退费表信息 add by wuxw 2018-07-03 -->
    <update id="updateReturnPayFeeInfoInstance" parameterType="Map">
        update return_pay_fee t set t.status_cd = #{statusCd}
        <if test="state !=null and state != ''">
            , t.state= #{state}
        </if>
        where 1=1
        <if test="returnFeeId !=null and returnFeeId != ''">
            and t.return_fee_id= #{returnFeeId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
    </update>

    <!-- 查询退费表数量 add by wuxw 2018-07-03 -->
    <select id="queryReturnPayFeesCount" parameterType="Map" resultType="Map">
        select count(1) count
        from return_pay_fee t
        inner join pay_fee pf on t.fee_id = pf.fee_id and pf.status_cd = '0'
        left join pay_fee_attrs pfa on t.fee_id = pfa.fee_id and pfa.spec_cd = '390012' and pfa.status_cd = '0'
        inner join t_dict d on t.fee_type_cd = d.status_cd and d.table_name = 'pay_fee_config' and d.table_columns =
        'fee_type_cd'
        inner join t_dict c on t.state = c.status_cd and c.table_name = 'return_pay_fee' and c.table_columns = 'state'
        where 1 =1
        <if test="payerObjName !=null and payerObjName != ''">
            and pfa.value= #{payerObjName}
        </if>
        <if test="reason !=null and reason != ''">
            and t.reason= #{reason}
        </if>
        <if test="primeRate !=null and primeRate != ''">
            and t.prime_rate= #{primeRate}
        </if>
        <if test="feeTypeCd !=null and feeTypeCd != ''">
            and t.fee_type_cd= #{feeTypeCd}
        </if>
        <if test="payTime !=null and payTime != ''">
            and t.pay_time= #{payTime}
        </if>
        <if test="detailId !=null and detailId != ''">
            and t.detail_id= #{detailId}
        </if>
        <if test="receivableAmount !=null and receivableAmount != ''">
            and t.receivable_amount= #{receivableAmount}
        </if>
        <if test="cycles !=null and cycles != ''">
            and t.cycles= #{cycles}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="receivedAmount !=null and receivedAmount != ''">
            and t.received_amount= #{receivedAmount}
        </if>
        <if test="feeId !=null and feeId != ''">
            and t.fee_id= #{feeId}
        </if>
        <if test="returnFeeId !=null and returnFeeId != ''">
            and t.return_fee_id= #{returnFeeId}
        </if>
        <if test="configId !=null and configId != ''">
            and t.config_id= #{configId}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="startTime !=null and startTime !='' ">
            and t.create_time &gt;= #{startTime}
        </if>
        <if test="endTime !=null and endTime !=''">
            and t.create_time &lt;= #{endTime}
        </if>
        <if test="applyPersonId !=null and applyPersonId != ''">
            and t.apply_person_id= #{applyPersonId}
        </if>
        <if test="applyPersonName !=null and applyPersonName != ''">
            and t.apply_person_name like concat('%',#{applyPersonName},'%')
        </if>
        <if test="auditPersonId !=null and auditPersonId != ''">
            and t.audit_person_id= #{auditPersonId}
        </if>
        <if test="auditPersonName !=null and auditPersonName != ''">
            and t.audit_person_name like concat('%',#{auditPersonName},'%')
        </if>
    </select>
</mapper>
