<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tempCarFeeConfigServiceDaoImpl">

    <!-- 保存临时车收费标准信息 add by wuxw 2018-07-03 -->
    <insert id="saveBusinessTempCarFeeConfigInfo" parameterType="Map">
        insert into business_temp_car_fee_config(
        car_type,operate,config_id,fee_name,pa_id,area_num,start_time,end_time,b_id,rule_id,community_id,fee_config_id
        ) values (
        #{carType},#{operate},#{configId},#{feeName},#{paId},#{areaNum},#{startTime},#{endTime},#{bId},#{ruleId},#{communityId},#{feeConfigId}
        )
    </insert>

    <!-- 查询临时车收费标准信息（Business） add by wuxw 2018-07-03 -->
    <select id="getBusinessTempCarFeeConfigInfo" parameterType="Map" resultType="Map">
        select t.car_type,t.car_type carType,t.operate,t.config_id,t.config_id configId,t.fee_name,t.fee_name
        feeName,t.pa_id,t.pa_id paId,t.area_num,t.area_num areaNum,t.start_time,t.start_time
        startTime,t.end_time,t.end_time endTime,t.b_id,t.b_id bId,t.rule_id,t.rule_id
        ruleId,t.community_id,t.community_id communityId,t.fee_config_id,t.fee_config_id feeConfigId
        from business_temp_car_fee_config t
        where 1 =1
        <if test="carType !=null and carType != ''">
            and t.car_type= #{carType}
        </if>
        <if test="operate !=null and operate != ''">
            and t.operate= #{operate}
        </if>
        <if test="configId !=null and configId != ''">
            and t.config_id= #{configId}
        </if>
        <if test="feeName !=null and feeName != ''">
            and t.fee_name= #{feeName}
        </if>
        <if test="paId !=null and paId != ''">
            and t.pa_id= #{paId}
        </if>
        <if test="areaNum !=null and areaNum != ''">
            and t.area_num= #{areaNum}
        </if>
        <if test="startTime !=null ">
            and t.start_time= #{startTime}
        </if>
        <if test="endTime !=null ">
            and t.end_time= #{endTime}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="ruleId !=null and ruleId != ''">
            and t.rule_id= #{ruleId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
    </select>

    <!-- 保存临时车收费标准信息至 instance表中 add by wuxw 2018-07-03 -->
    <insert id="saveTempCarFeeConfigInfoInstance" parameterType="Map">
        insert into temp_car_fee_config(
        car_type,config_id,fee_name,pa_id,area_num,status_cd,start_time,end_time,b_id,rule_id,community_id,fee_config_id
        ) select
        t.car_type,t.config_id,t.fee_name,t.pa_id,t.area_num,'0',t.start_time,t.end_time,t.b_id,t.rule_id,t.community_id,t.fee_config_id
        from business_temp_car_fee_config t where 1=1
        <if test="carType !=null and carType != ''">
            and t.car_type= #{carType}
        </if>
        and t.operate= 'ADD'
        <if test="configId !=null and configId != ''">
            and t.config_id= #{configId}
        </if>
        <if test="feeName !=null and feeName != ''">
            and t.fee_name= #{feeName}
        </if>
        <if test="paId !=null and paId != ''">
            and t.pa_id= #{paId}
        </if>
        <if test="areaNum !=null and areaNum != ''">
            and t.area_num= #{areaNum}
        </if>
        <if test="startTime !=null ">
            and t.start_time= #{startTime}
        </if>
        <if test="endTime !=null ">
            and t.end_time= #{endTime}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="ruleId !=null and ruleId != ''">
            and t.rule_id= #{ruleId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
    </insert>

    <!-- 查询临时车收费标准信息 add by wuxw 2018-07-03 -->
    <select id="getTempCarFeeConfigInfo" parameterType="Map" resultType="Map">
        select t.car_type,t.car_type carType,t.config_id,t.config_id configId,t.fee_name,t.fee_name
        feeName,t.pa_id,t.pa_id paId,t.area_num,t.area_num areaNum,t.status_cd,t.status_cd
        statusCd,t.start_time,t.start_time startTime,t.end_time,t.end_time endTime,t.b_id,t.b_id bId,t.rule_id,t.rule_id
        ruleId,t.community_id,t.community_id communityId,tcfr.rule_name ruleName,td.name carTypeName,t.fee_config_id,t.fee_config_id feeConfigId
        from temp_car_fee_config t
        left join temp_car_fee_rule tcfr on t.rule_id = tcfr.rule_id and tcfr.status_cd = '0'
        inner join pay_fee_config pfc on t.fee_config_id = pfc.config_id and pfc.status_cd = '0'
        left join t_dict td on t.car_type = td.status_cd and td.table_name = 'temp_car_fee_config' and td.table_columns = 'car_type'
        where 1 = 1
        <if test="carType !=null and carType != ''">
            and t.car_type= #{carType}
        </if>
        <if test="configId !=null and configId != ''">
            and t.config_id= #{configId}
        </if>
        <if test="feeName !=null and feeName != ''">
            and t.fee_name= #{feeName}
        </if>
        <if test="paId !=null and paId != ''">
            and t.pa_id= #{paId}
        </if>
        <if test="areaNum !=null and areaNum != ''">
            and t.area_num= #{areaNum}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="startTime !=null ">
            and t.start_time= #{startTime}
        </if>
        <if test="endTime !=null ">
            and t.end_time= #{endTime}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="ruleId !=null and ruleId != ''">
            and t.rule_id= #{ruleId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="feeConfigId !=null and feeConfigId != ''">
            and t.fee_config_id= #{feeConfigId}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>
    </select>

    <!-- 修改临时车收费标准信息 add by wuxw 2018-07-03 -->
    <update id="updateTempCarFeeConfigInfoInstance" parameterType="Map">
        update temp_car_fee_config t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="carType !=null and carType != ''">
            , t.car_type= #{carType}
        </if>
        <if test="feeName !=null and feeName != ''">
            , t.fee_name= #{feeName}
        </if>
        <if test="paId !=null and paId != ''">
            , t.pa_id= #{paId}
        </if>
        <if test="areaNum !=null and areaNum != ''">
            , t.area_num= #{areaNum}
        </if>
        <if test="startTime !=null ">
            , t.start_time= #{startTime}
        </if>
        <if test="endTime !=null ">
            , t.end_time= #{endTime}
        </if>
        <if test="ruleId !=null and ruleId != ''">
            , t.rule_id= #{ruleId}
        </if>
        <if test="communityId !=null and communityId != ''">
            , t.community_id= #{communityId}
        </if>
        where 1=1
        <if test="configId !=null and configId != ''">
            and t.config_id= #{configId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
    </update>

    <!-- 查询临时车收费标准数量 add by wuxw 2018-07-03 -->
    <select id="queryTempCarFeeConfigsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from temp_car_fee_config t
        left join temp_car_fee_rule tcfr on t.rule_id = tcfr.rule_id and tcfr.status_cd = '0'
        inner join pay_fee_config pfc on t.fee_config_id = pfc.config_id and pfc.status_cd = '0'
        left join t_dict td on t.car_type = td.status_cd and td.table_name = 'temp_car_fee_config' and td.table_columns = 'car_type'
        where 1 = 1
        <if test="carType !=null and carType != ''">
            and t.car_type= #{carType}
        </if>
        <if test="configId !=null and configId != ''">
            and t.config_id= #{configId}
        </if>
        <if test="feeName !=null and feeName != ''">
            and t.fee_name= #{feeName}
        </if>
        <if test="paId !=null and paId != ''">
            and t.pa_id= #{paId}
        </if>
        <if test="areaNum !=null and areaNum != ''">
            and t.area_num= #{areaNum}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="startTime !=null ">
            and t.start_time= #{startTime}
        </if>
        <if test="endTime !=null ">
            and t.end_time= #{endTime}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="ruleId !=null and ruleId != ''">
            and t.rule_id= #{ruleId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="feeConfigId !=null and feeConfigId != ''">
            and t.fee_config_id= #{feeConfigId}
        </if>
    </select>

    <!-- 查询临时车 收费规则 -->
    <select id="queryTempCarFeeRules" parameterType="Map" resultType="Map">
        select
        t.rule_id ruleId,t.rule_name ruleName,t.remark,t.bean_name beanName
        from temp_car_fee_rule t
        where 1=1
        and t.status_cd = '0'
        <if test="ruleId !=null and ruleId != ''">
            and t.rule_id= #{ruleId}
        </if>
    </select>

    <!-- 查询临时车 收费规则 -->
    <select id="queryTempCarFeeRuleSpecs" parameterType="Map" resultType="Map">
        select t.rule_id ruleId,t.spec_id specId,t.spec_name specName,t.seq,t.remark
        from temp_car_fee_rule_spec t
        where t.status_cd = '0'
        <if test="ruleId !=null and ruleId != ''">
            and t.rule_id= #{ruleId}
        </if>
        <if test="specId !=null and specId != ''">
            and t.spec_id = #{specId}
        </if>
        <if test="ruleIds !=null">
            and t.rule_id in
            <foreach collection="ruleIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        order by t.seq
    </select>
</mapper>
