<div id="component" class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>查询条件</h5>
                    <div class="ibox-tools" style="top:10px;">
                        <button type="button"  class="btn btn-link btn-sm" style="margin-right:10px;"  v-on:click="_moreCondition()">{{complaintManageInfo.moreCondition == true?'隐藏':'更多'}}</button>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
<div class="col-sm-4" >
<div class="form-group">
                                <input type="text" placeholder="请输入投诉ID" v-model="complaintManageInfo.conditions.complaintId" class=" form-control">
                            </div>                        </div><div class="col-sm-4" >
<select class="custom-select" v-model="complaintManageInfo.conditions.typeCd">
         <option selected  value="">请选择投诉类型</option>
         <option  value="809001">投诉</option>
<option  value="809002">建议</option>
  </select>                        </div><div class="col-sm-3" >
<div class="form-group">
                                <input type="text" placeholder="请输入投诉人" v-model="complaintManageInfo.conditions.complaintName" class=" form-control">
                            </div>                        </div><div class="col-sm-1">
                            <button type="button" class="btn btn-primary btn-sm" v-on:click="_queryComplaintMethod()">
                                    <i class="glyphicon glyphicon-search"></i> 查询
                            </button>
                        </div></div>
<div class="row">
<div class="col-sm-4" v-if="complaintManageInfo.moreCondition == true">
<div class="form-group">
                                <input type="text" placeholder="请输入联系电话" v-model="complaintManageInfo.conditions.tel" class=" form-control">
                            </div>                        </div><div class="col-sm-4" v-if="complaintManageInfo.moreCondition == true">
<div class="form-group">
                                <input type="text" placeholder="请输入房屋编号" v-model="complaintManageInfo.conditions.roomId" class=" form-control">
                            </div>                        </div><div class="col-sm-3" v-if="complaintManageInfo.moreCondition == true">
<select class="custom-select" v-model="complaintManageInfo.conditions.state">
         <option selected  value="">请选择投诉状态</option>
         <option  value="1100">派单</option>
<option  value="1200">结单</option>
  </select>                        </div><div class="col-sm-1">
                        </div></div>


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>投诉建议信息</h5>
                    <div class="ibox-tools" style="top:10px;">
                        <button type="button" class="btn btn-primary btn-sm" v-on:click="_openAddComplaintModal()">
                            <i class="glyphicon glyphicon-plus"></i>
                            添加投诉建议
                        </button>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny"
                           data-page-size="15"
                    >
                        <thead>
                        <tr>
                                                        <th class="text-center">投诉ID</th>
                            <th class="text-center">投诉类型</th>
                            <th class="text-center">房屋编号</th>
                            <th class="text-center">投诉电话</th>
                            <th class="text-center">投诉状态</th>
                            <th class="text-center">操作</th>


                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="complaint in complaintManageInfo.complaints">
                                                        <td class="text-center">{{complaint.complaintId}}</td>
                            <td class="text-center">{{complaint.typeCd}}</td>
                            <td class="text-center">{{complaint.roomId}}</td>
                            <td class="text-center">{{complaint.tel}}</td>
                            <td class="text-center">{{complaint.state}}</td>
                            <td class="text-center"><div class="btn-group">
                                    <button class="btn-white btn btn-xs" v-on:click="_openEditComplaintModel(complaint)">修改</button>
                                </div>
                                <div class="btn-group">
                                    <button class="btn-white btn btn-xs" v-on:click="_openDeleteComplaintModel(complaint)">删除</button>
                                </div></td>

                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7">
                                <ul class="pagination float-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <!-- 分页 -->
                    <vc:create name="pagination"></vc:create>
                </div>
            </div>
        </div>
    </div>

    

    <vc:create name="addComplaint"
               callBackListener=""
               callBackFunction=""
    ></vc:create>
    <vc:create name="editComplaint"></vc:create>
    <vc:create name="deleteComplaint"></vc:create>

</div>
