<div id="component" class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>查询条件</h5>
                    <div class="ibox-tools" style="top:10px;">
                        <button type="button" class="btn btn-link btn-sm" style="margin-right:10px;"
                                v-on:click="_moreCondition()">{{machineVistorPhotoManageInfo.moreCondition ==
                            true?'隐藏':'更多'}}
                        </button>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" placeholder="请输入用户名称"
                                       v-model="machineVistorPhotoManageInfo.conditions.name" class=" form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <select class="custom-select" v-model="machineVistorPhotoManageInfo.conditions.openTypeCd">
                                <option selected value="">请选择开门方式</option>
                                <option value="1000">人脸开门</option>
                                <option value="2000">钥匙开门</option>
                            </select></div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input type="text" placeholder="请输入用户手机"
                                       v-model="machineVistorPhotoManageInfo.conditions.tel" class=" form-control">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-primary btn-sm"
                                    v-on:click="_queryMachineRecordMethod()">
                                <i class="glyphicon glyphicon-search"></i> 查询
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" v-if="machineVistorPhotoManageInfo.moreCondition == true">
                            <select class="custom-select" v-model="machineVistorPhotoManageInfo.conditions.ownerTypeCd">
                                <option selected value="">请选择用户类型</option>
                                <option value="1001">业主</option>
                                <option value="1002">业主成员</option>
                            </select></div>
                        <div class="col-sm-4" v-if="machineVistorPhotoManageInfo.moreCondition == true">
                            <div class="form-group">
                                <input type="text" placeholder="请输入设备名称"
                                       v-model="machineVistorPhotoManageInfo.conditions.machineName" class=" form-control">
                            </div>
                        </div>
                        <div class="col-sm-3" v-if="machineVistorPhotoManageInfo.moreCondition == true">
                            <div class="form-group">
                                <input type="text" placeholder="请输入设备编码"
                                       v-model="machineVistorPhotoManageInfo.conditions.machineCode" class=" form-control">
                            </div>
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>开门记录</h5>
                    <div class="ibox-tools" style="top:10px;">
<!--                        <button type="button" class="btn btn-primary btn-sm" v-on:click="_openAddMachineRecordModal()">-->
<!--                            <i class="glyphicon glyphicon-plus"></i>-->
<!--                            添加开门记录-->
<!--                        </button>-->
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny"
                           data-page-size="15"
                    >
                        <thead>
                        <tr>
                            <th class="text-center">设备编码</th>
                            <th class="text-center">被呼叫用户名称</th>
                            <th class="text-center">被呼叫方式</th>
                            <th class="text-center">被呼叫用户手机号</th>
                            <th class="text-center">身份证</th>
                            <th class="text-center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="machineRecord in machineVistorPhotoManageInfo.machineRecords">
                            <td class="text-center">{{machineRecord.machineCode}}</td>
                            <td class="text-center">{{machineRecord.name}}</td>
                            <td class="text-center">{{machineRecord.openTypeName}}</td>
                            <td class="text-center">{{machineRecord.tel}}</td>
                            <td class="text-center">{{machineRecord.idCard}}</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button class="btn-white btn btn-xs"
                                            v-on:click="_openMachineRecordDetailModel(machineRecord)">详情
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7">
                                <ul class="pagination float-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <!-- 分页 -->
                    <vc:create name="pagination"></vc:create>
                </div>
            </div>
        </div>
    </div>

    <vc:create name="machineRecordDetail"></vc:create>

</div>
