<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>{{mainFeeInfo.feeName}}信息</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" class="btn btn-primary btn-sm" v-on:click="openSearchRoomModel()">
                        <i class="glyphicon glyphicon-search"></i> 选择房屋</button>
                    <button type="button" class="btn btn-primary btn-sm"
                            v-if="mainFeeInfo.floorId != null && mainFeeInfo.floorId != ''"
                            style="margin-left:10px" v-on:click="openAddRoomModel()">
                        <i class="glyphicon glyphicon-plus" ></i> 缴费</button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-form-label" >费用ID：</label>
                            <label class="">{{mainFeeInfo.feeId}}</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-form-label">小区楼编号：</label>
                            <label class="">{{mainFeeInfo.floorNum}}</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-form-label" >房屋ID：</label>
                            <label class="">{{mainFeeInfo.roomId}}</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-form-label" >房屋编号：</label>
                            <label class="">{{mainFeeInfo.roomNum}}</label>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-form-label" >业主ID：</label>
                            <label class="">{{mainFeeInfo.ownerId}}</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-form-label">业主名称：</label>
                            <label class="">{{mainFeeInfo.ownerName}}</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-form-label" >联系电话：</label>
                            <label class="">{{mainFeeInfo.link}}</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-form-label" >费用开始时间：</label>
                            <label class="">{{mainFeeInfo.startTime}}</label>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-form-label" >费用到期时间：</label>
                            <label class="">{{mainFeeInfo.endTime}}</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group" v-if="mainFeeInfo.amount != '-1.00'">
                            <label class="col-form-label">费用金额：</label>
                            <label class="">{{mainFeeInfo.amount}}</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <vc:create name="searchRoom"
               emitChooseRoom="viewMainFee"
               emitLoadData="propertyFee"
    ></vc:create>
    <vc:create name="addRoom"></vc:create>
</div>