<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="visitServiceDaoImpl">

    <!-- 保存访客信息信息 add by wuxw 2018-07-03 -->
    <insert id="saveBusinessVisitInfo" parameterType="Map">
           insert into business_visit_info(
v_id,departure_time,visit_time,phoneNumber,operate,name,visit_case,visit_gender,owner_id,userId
) values (
#{vId},#{departureTime},#{visitTime},#{phoneNumber},#{operate},#{name},#{visitCase},#{visitGender},#{ownerId},#{userId}
)
       </insert>


    <!-- 查询访客信息信息（Business） add by wuxw 2018-07-03 -->
    <select id="getBusinessVisitInfo" parameterType="Map" resultType="Map">
        select t.v_id,t.v_id vId,t.departure_time,t.departure_time departureTime,t.visit_time,t.visit_time
        visitTime,t.phoneNumber,t.operate,t.name,t.visit_case,t.visit_case visitCase,t.visit_gender,t.visit_gender
        visitGender,t.owner_id,t.owner_id ownerId,t.userId
        from business_visit_info t
        where 1 =1
        <if test="vId !=null and vId != ''">
            and t.v_id= #{vId}
        </if>
        <if test="departureTime !=null and departureTime != ''">
            and t.departure_time= #{departureTime}
        </if>
        <if test="visitTime !=null and visitTime != ''">
            and t.visit_time= #{visitTime}
        </if>
        <if test="phoneNumber !=null and phoneNumber != ''">
            and t.phoneNumber= #{phoneNumber}
        </if>
        <if test="operate !=null and operate != ''">
            and t.operate= #{operate}
        </if>
        <if test="name !=null and name != ''">
            and t.name= #{name}
        </if>
        <if test="visitCase !=null and visitCase != ''">
            and t.visit_case= #{visitCase}
        </if>
        <if test="visitGender !=null and visitGender != ''">
            and t.visit_gender= #{visitGender}
        </if>
        <if test="ownerId !=null and ownerId != ''">
            and t.owner_id= #{ownerId}
        </if>
        <if test="userId !=null and userId != ''">
            and t.userId= #{userId}
        </if>

    </select>


    <!-- 保存访客信息信息至 instance表中 add by wuxw 2018-07-03 -->
    <insert id="saveVisitInfoInstance" parameterType="Map">
        insert into visit_info(
        v_id,departure_time,visit_time,phoneNumber,name,visit_case,status_cd,visit_gender,owner_id,userId
        ) select
        t.v_id,t.departure_time,t.visit_time,t.phoneNumber,t.name,t.visit_case,'0',t.visit_gender,t.owner_id,t.userId
        from business_visit_info t where 1=1
        <if test="vId !=null and vId != ''">
            and t.v_id= #{vId}
        </if>
        <if test="departureTime !=null and departureTime != ''">
            and t.departure_time= #{departureTime}
        </if>
        <if test="visitTime !=null and visitTime != ''">
            and t.visit_time= #{visitTime}
        </if>
        <if test="phoneNumber !=null and phoneNumber != ''">
            and t.phoneNumber= #{phoneNumber}
        </if>
        and t.operate= 'ADD'
        <if test="name !=null and name != ''">
            and t.name= #{name}
        </if>
        <if test="visitCase !=null and visitCase != ''">
            and t.visit_case= #{visitCase}
        </if>
        <if test="visitGender !=null and visitGender != ''">
            and t.visit_gender= #{visitGender}
        </if>
        <if test="ownerId !=null and ownerId != ''">
            and t.owner_id= #{ownerId}
        </if>
        <if test="userId !=null and userId != ''">
            and t.userId= #{userId}
        </if>

    </insert>


    <!-- 查询访客信息信息 add by wuxw 2018-07-03 -->
    <select id="getVisitInfo" parameterType="Map" resultType="Map">
        select t.v_id,t.v_id vId,t.departure_time,t.departure_time departureTime,t.visit_time,t.visit_time
        visitTime,t.phoneNumber,t.name,t.visit_case,t.visit_case visitCase,t.status_cd,t.status_cd
        statusCd,t.visit_gender,t.visit_gender visitGender,t.owner_id,t.owner_id ownerId,t.userId
        from visit_info t
        where 1 =1
        <if test="vId !=null and vId != ''">
            and t.v_id= #{vId}
        </if>
        <if test="departureTime !=null and departureTime != ''">
            and t.departure_time= #{departureTime}
        </if>
        <if test="visitTime !=null and visitTime != ''">
            and t.visit_time= #{visitTime}
        </if>
        <if test="phoneNumber !=null and phoneNumber != ''">
            and t.phoneNumber= #{phoneNumber}
        </if>
        <if test="name !=null and name != ''">
            and t.name= #{name}
        </if>
        <if test="visitCase !=null and visitCase != ''">
            and t.visit_case= #{visitCase}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="visitGender !=null and visitGender != ''">
            and t.visit_gender= #{visitGender}
        </if>
        <if test="ownerId !=null and ownerId != ''">
            and t.owner_id= #{ownerId}
        </if>
        <if test="userId !=null and userId != ''">
            and t.userId= #{userId}
        </if>
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改访客信息信息 add by wuxw 2018-07-03 -->
    <update id="updateVisitInfoInstance" parameterType="Map">
        update visit_info t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="departureTime !=null and departureTime != ''">
            , t.departure_time= #{departureTime}
        </if>
        <if test="visitTime !=null and visitTime != ''">
            , t.visit_time= #{visitTime}
        </if>
        <if test="phoneNumber !=null and phoneNumber != ''">
            , t.phoneNumber= #{phoneNumber}
        </if>
        <if test="name !=null and name != ''">
            , t.name= #{name}
        </if>
        <if test="visitCase !=null and visitCase != ''">
            , t.visit_case= #{visitCase}
        </if>
        <if test="visitGender !=null and visitGender != ''">
            , t.visit_gender= #{visitGender}
        </if>
        <if test="ownerId !=null and ownerId != ''">
            , t.owner_id= #{ownerId}
        </if>
        <if test="userId !=null and userId != ''">
            , t.userId= #{userId}
        </if>
        where 1=1
        <if test="vId !=null and vId != ''">
            and t.v_id= #{vId}
        </if>

    </update>

    <!-- 查询访客信息数量 add by wuxw 2018-07-03 -->
    <select id="queryVisitsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from visit_info t
        where 1 =1
        <if test="vId !=null and vId != ''">
            and t.v_id= #{vId}
        </if>
        <if test="departureTime !=null and departureTime != ''">
            and t.departure_time= #{departureTime}
        </if>
        <if test="visitTime !=null and visitTime != ''">
            and t.visit_time= #{visitTime}
        </if>
        <if test="phoneNumber !=null and phoneNumber != ''">
            and t.phoneNumber= #{phoneNumber}
        </if>
        <if test="name !=null and name != ''">
            and t.name= #{name}
        </if>
        <if test="visitCase !=null and visitCase != ''">
            and t.visit_case= #{visitCase}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="visitGender !=null and visitGender != ''">
            and t.visit_gender= #{visitGender}
        </if>
        <if test="ownerId !=null and ownerId != ''">
            and t.owner_id= #{ownerId}
        </if>
        <if test="userId !=null and userId != ''">
            and t.userId= #{userId}
        </if>


    </select>

</mapper>
