<div id="component">

    <div class="java110_step">
        <div id="step"></div>
    </div>

    <!-- 选择 应用信息 -->
    <div v-if="newVisitInfo.index == 0">

        <!-- 选择停车位 -->
        <vc:create name="viewVisitInfo"
                   callBackComponent="addVisitSpace"
                   callBackFunction="notify"
        ></vc:create>
    </div>
    <div v-if="newVisitInfo.index == 1">
        <vc:create name="visitForOwner"
                   callBackListener="addVisitSpace"
                   callBackFunction="notify"
        ></vc:create>
    </div>
    <div v-if="newVisitInfo.index == 2">
        <vc:create name="addVisitCase"
                   callBackComponent="addVisitSpace"
                   callBackFunction="notify"
        ></vc:create>
    </div>



    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2 " style="margin-bottom:10px; text-align:right">
            <button type="button" class="btn btn-secondary" v-on:click="_prevStep()">上一步</button>
            <button v-if="newVisitInfo.index != 2" type="button" class="btn btn-primary"
                    style="margin-left:10px;"
                    v-on:click="_nextStep()">下一步
            </button>
            <button v-if="newVisitInfo.index == 2" type="button" class="btn btn-primary"
                    style="margin-left:10px;"
                    v-on:click="_addVisitFinish()">添加
            </button>
        </div>
    </div>

</div>