<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="advertServiceDaoImpl">

    <!-- 保存广告信息信息 add by wuxw 2018-07-03 -->
    <insert id="saveBusinessAdvertInfo" parameterType="Map">
    insert into business_advert(classify,ad_name,location_type_cd,ad_type_cd,advert_id,operate,start_time,state,end_time,community_id,b_id,location_obj_id,seq,view_type,advert_type,page_url)
    values
    (#{classify},#{adName},#{locationTypeCd},#{adTypeCd},#{advertId},#{operate},#{startTime},#{state},#{endTime},#{communityId},#{bId},#{locationObjId},#{seq},#{viewType},#{advertType},#{pageUrl})
    </insert>

    <!-- 查询广告信息信息（Business） add by wuxw 2018-07-03 -->
    <select id="getBusinessAdvertInfo" parameterType="Map" resultType="Map">
        select t.classify,t.ad_name,t.ad_name adName,t.location_type_cd,t.location_type_cd
        locationTypeCd,t.ad_type_cd,t.ad_type_cd adTypeCd,t.advert_id,t.advert_id
        advertId,t.operate,t.start_time,t.start_time startTime,t.state,t.end_time,t.end_time
        endTime,t.community_id,t.community_id communityId,t.b_id,t.b_id bId,t.location_obj_id,t.location_obj_id
        locationObjId,t.seq,t.view_type,t.view_type viewType,t.advert_type,t.advert_type advertType,t.page_url,t.page_url pageUrl
        from business_advert t
        where 1 =1
        <if test="classify !=null and classify != ''">
            and t.classify= #{classify}
        </if>
        <if test="adName !=null and adName != ''">
            and t.ad_name= #{adName}
        </if>
        <if test="locationTypeCd !=null and locationTypeCd != ''">
            and t.location_type_cd= #{locationTypeCd}
        </if>
        <if test="adTypeCd !=null and adTypeCd != ''">
            and t.ad_type_cd= #{adTypeCd}
        </if>
        <if test="advertId !=null and advertId != ''">
            and t.advert_id= #{advertId}
        </if>
        <if test="operate !=null and operate != ''">
            and t.operate= #{operate}
        </if>
        <if test="startTime !=null ">
            and t.start_time= #{startTime}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="endTime !=null ">
            and t.end_time= #{endTime}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="locationObjId !=null and locationObjId != ''">
            and t.location_obj_id= #{locationObjId}
        </if>
        <if test="advertType !=null and advertType != ''">
            and t.advert_type = #{advertType}
        </if>
        <if test="pageUrl !=null and pageUrl != ''">
            and t.page_url= #{pageUrl}
        </if>
        <if test="seq !=null and seq != ''">
            and t.seq= #{seq}
        </if>
    </select>

    <!-- 保存广告信息信息至 instance表中 add by wuxw 2018-07-03 -->
    <insert id="saveAdvertInfoInstance" parameterType="Map">
        insert into advert(
        classify,ad_name,location_type_cd,status_cd,ad_type_cd,advert_id,start_time,state,end_time,community_id,b_id,location_obj_id,seq,view_type,advert_type,page_url
        ) select
        t.classify,t.ad_name,t.location_type_cd,'0',t.ad_type_cd,t.advert_id,t.start_time,t.state,t.end_time,t.community_id,t.b_id,t.location_obj_id,t.seq,t.view_type,t.advert_type,t.page_url
        from business_advert t where 1=1
        <if test="classify !=null and classify != ''">
            and t.classify= #{classify}
        </if>
        <if test="adName !=null and adName != ''">
            and t.ad_name= #{adName}
        </if>
        <if test="locationTypeCd !=null and locationTypeCd != ''">
            and t.location_type_cd= #{locationTypeCd}
        </if>
        <if test="adTypeCd !=null and adTypeCd != ''">
            and t.ad_type_cd= #{adTypeCd}
        </if>
        <if test="advertId !=null and advertId != ''">
            and t.advert_id= #{advertId}
        </if>
        and t.operate= 'ADD'
        <if test="startTime !=null ">
            and t.start_time= #{startTime}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="endTime !=null ">
            and t.end_time= #{endTime}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="locationObjId !=null and locationObjId != ''">
            and t.location_obj_id= #{locationObjId}
        </if>
        <if test="advertType !=null and advertType != ''">
            and t.advert_type = #{advertType}
        </if>
        <if test="pageUrl !=null and pageUrl != ''">
            and t.page_url= #{pageUrl}
        </if>
        <if test="seq !=null and seq != ''">
            and t.seq= #{seq}
        </if>
    </insert>

    <!-- 修改广告信息 -->
    <update id="updateAdvert" parameterType="Map">
        update advert t set t.status_cd = #{statusCd}
        <if test="bId != null and bId != ''">
            ,t.b_id = #{bId}
        </if>
        <if test="classify !=null and classify != ''">
            , t.classify= #{classify}
        </if>
        <if test="adName !=null and adName != ''">
            , t.ad_name= #{adName}
        </if>
        <if test="locationTypeCd !=null and locationTypeCd != ''">
            , t.location_type_cd= #{locationTypeCd}
        </if>
        <if test="adTypeCd !=null and adTypeCd != ''">
            , t.ad_type_cd= #{adTypeCd}
        </if>
        <if test="startTime !=null ">
            , t.start_time= #{startTime}
        </if>
        <if test="state !=null and state != ''">
            , t.state= #{state}
        </if>
        <if test="endTime !=null ">
            , t.end_time= #{endTime}
        </if>
        <if test="communityId !=null and communityId != ''">
            , t.community_id= #{communityId}
        </if>
        <if test="locationObjId !=null and locationObjId != ''">
            , t.location_obj_id= #{locationObjId}
        </if>
        <if test="seq !=null and seq != ''">
            , t.seq= #{seq}
        </if>
        <if test="viewType != null and viewType != ''">
            , t.view_type = #{viewType}
        </if>
        <if test="advertType !=null and advertType != ''">
            , t.advert_type = #{advertType}
        </if>
        <if test="pageUrl !=null and pageUrl != ''">
            , t.page_url= #{pageUrl}
        </if>
        where 1=1
        <if test="advertId !=null and advertId != ''">
            and t.advert_id= #{advertId}
        </if>
        <!--<if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>-->
    </update>

    <!-- 查询广告信息信息 add by wuxw 2018-07-03 -->
    <select id="getAdvertInfo" parameterType="Map" resultType="Map">
        select t.classify,t.ad_name,t.ad_name adName,t.location_type_cd,t.location_type_cd
        locationTypeCd,t.status_cd,t.status_cd statusCd,t.ad_type_cd,t.ad_type_cd adTypeCd,t.advert_id,t.advert_id
        advertId,t.start_time,t.start_time startTime,t.state,t.end_time,t.end_time endTime,t.community_id,t.community_id
        communityId,t.b_id,t.b_id bId,t.location_obj_id,t.location_obj_id locationObjId,t.seq,td1.name
        classifyName,td2.name stateName,t.create_time createTime,td3.name locationObjName,t.view_type,t.view_type viewType,t.advert_type,t.advert_type advertType,t.page_url,t.page_url pageUrl
        from advert t
        left join t_dict td1 on  t.classify = td1.status_cd and td1.table_name = 'advert' and td1.table_columns = 'classify'
        left join t_dict td2 on t.state = td2.status_cd and td2.table_name = 'advert' and td2.table_columns = 'state'
        left join t_dict td3 on t.location_type_cd = td3.status_cd and td3.table_name = 'advert' and td3.table_columns = 'location_type_cd'
        where 1 =1
        <if test="classify !=null and classify != ''">
            and t.classify= #{classify}
        </if>
        <if test="adName !=null and adName != ''">
            and t.ad_name= #{adName}
        </if>
        <if test="locationTypeCd !=null and locationTypeCd != ''">
            and t.location_type_cd= #{locationTypeCd}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="adTypeCd !=null and adTypeCd != ''">
            and t.ad_type_cd= #{adTypeCd}
        </if>
        <if test="advertId !=null and advertId != ''">
            and t.advert_id= #{advertId}
        </if>
        <if test="startTime !=null ">
            and t.start_time &lt;= #{startTime}
        </if>
        <if test="endTime !=null ">
            and t.end_time &gt;= #{endTime}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="locationObjId !=null and locationObjId != ''">
            and t.location_obj_id= #{locationObjId}
        </if>
        <if test="seq !=null and seq != ''">
            and t.seq= #{seq}
        </if>
        <if test="createTime != null and createTime != ''">
            and t.create_Time = #{createTime}
        </if>
        <if test="viewType != null and viewType != ''">
            and t.view_type = #{viewType}
        </if>
        <if test="advertType !=null and advertType != ''">
            and t.advert_type = #{advertType}
        </if>
        <if test="pageUrl !=null and pageUrl != ''">
            and t.page_url= #{pageUrl}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>
    </select>

    <!-- 修改广告信息信息 add by wuxw 2018-07-03 -->
    <update id="updateAdvertInfoInstance" parameterType="Map">
        update advert t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="classify !=null and classify != ''">
            , t.classify= #{classify}
        </if>
        <if test="adName !=null and adName != ''">
            , t.ad_name= #{adName}
        </if>
        <if test="locationTypeCd !=null and locationTypeCd != ''">
            , t.location_type_cd= #{locationTypeCd}
        </if>
        <if test="adTypeCd !=null and adTypeCd != ''">
            , t.ad_type_cd= #{adTypeCd}
        </if>
        <if test="startTime !=null ">
            , t.start_time= #{startTime}
        </if>
        <if test="state !=null and state != ''">
            , t.state= #{state}
        </if>
        <if test="endTime !=null ">
            , t.end_time= #{endTime}
        </if>
        <if test="locationObjId !=null and locationObjId != ''">
            , t.location_obj_id= #{locationObjId}
        </if>
        <if test="seq !=null and seq != ''">
            , t.seq= #{seq}
        </if>
        <if test="viewType != null and viewType != ''">
            , t.view_type = #{viewType}
        </if>
        <if test="advertType !=null and advertType != ''">
            ,  t.advert_type = #{advertType}
        </if>
        <if test="pageUrl !=null and pageUrl != ''">
            ,  t.page_url= #{pageUrl}
        </if>
        where 1=1
        <if test="advertId !=null and advertId != ''">
            and t.advert_id= #{advertId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
    </update>

    <!-- 查询广告信息数量 add by wuxw 2018-07-03 -->
    <select id="queryAdvertsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from advert t
        where 1 =1
        <if test="classify !=null and classify != ''">
            and t.classify= #{classify}
        </if>
        <if test="adName !=null and adName != ''">
            and t.ad_name= #{adName}
        </if>
        <if test="locationTypeCd !=null and locationTypeCd != ''">
            and t.location_type_cd= #{locationTypeCd}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="adTypeCd !=null and adTypeCd != ''">
            and t.ad_type_cd= #{adTypeCd}
        </if>
        <if test="advertId !=null and advertId != ''">
            and t.advert_id= #{advertId}
        </if>
        <if test="startTime !=null ">
            and t.start_time= #{startTime}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="endTime !=null ">
            and t.end_time= #{endTime}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="locationObjId !=null and locationObjId != ''">
            and t.location_obj_id= #{locationObjId}
        </if>
        <if test="seq !=null and seq != ''">
            and t.seq= #{seq}
        </if>
        <if test="advertType !=null and advertType != ''">
            and t.advert_type = #{advertType}
        </if>
        <if test="pageUrl !=null and pageUrl != ''">
            and t.page_url= #{pageUrl}
        </if>
        <if test="viewType != null and viewType != ''">
            and t.view_type = #{viewType}
        </if>
    </select>
</mapper>
