<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="carInoutDetailV1ServiceDaoImpl">


    <!-- 保存车辆进出明细信息 add by wuxw 2018-07-03 -->
    <insert id="saveCarInoutDetailInfo" parameterType="Map">
        insert into car_inout_detail(
        inout_id,machine_id,machine_code,car_inout,pa_id,detail_id,car_num,community_id
        ) values (
        #{inoutId},#{machineId},#{machineCode},#{carInout},#{paId},#{detailId},#{carNum},#{communityId}
        )
    </insert>


    <!-- 查询车辆进出明细信息 add by wuxw 2018-07-03 -->
    <select id="getCarInoutDetailInfo" parameterType="Map" resultType="Map">
        select t.inout_id,t.inout_id inoutId,t.machine_id,t.machine_id machineId,t.machine_code,t.machine_code
        machineCode,t.car_inout,t.car_inout carInout,t.pa_id,t.pa_id paId,t.detail_id,t.detail_id
        detailId,t.car_num,t.car_num carNum,t.status_cd,t.status_cd statusCd,t.community_id,t.community_id communityId,
        ci.in_time inTime,ci.out_time outTime,cip.real_charge realCharge,ci.pa_id paId,td.name stateName
        from car_inout_detail t
        left join car_inout ci on t.inout_id = ci.inout_id and ci.status_cd = '0' and t.community_id = ci.community_id
        left join car_inout_payment cip on cip.inout_id = ci.inout_id and cip.community_id = ci.community_id
        left join t_dict td on ci.state = td.status_cd and td.table_columns='state' and td.table_name = 'car_inout'
        where 1 =1
        <if test="inoutId !=null and inoutId != ''">
            and t.inout_id= #{inoutId}
        </if>
        <if test="machineId !=null and machineId != ''">
            and t.machine_id= #{machineId}
        </if>
        <if test="machineCode !=null and machineCode != ''">
            and t.machine_code= #{machineCode}
        </if>
        <if test="carInout !=null and carInout != ''">
            and t.car_inout= #{carInout}
        </if>
        <if test="paId !=null and paId != ''">
            and t.pa_id= #{paId}
        </if>
        <if test="detailId !=null and detailId != ''">
            and t.detail_id= #{detailId}
        </if>
        <if test="carNum !=null and carNum != ''">
            and t.car_num= #{carNum}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改车辆进出明细信息 add by wuxw 2018-07-03 -->
    <update id="updateCarInoutDetailInfo" parameterType="Map">
        update car_inout_detail t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="inoutId !=null and inoutId != ''">
            , t.inout_id= #{inoutId}
        </if>
        <if test="machineId !=null and machineId != ''">
            , t.machine_id= #{machineId}
        </if>
        <if test="machineCode !=null and machineCode != ''">
            , t.machine_code= #{machineCode}
        </if>
        <if test="carInout !=null and carInout != ''">
            , t.car_inout= #{carInout}
        </if>
        <if test="paId !=null and paId != ''">
            , t.pa_id= #{paId}
        </if>
        <if test="carNum !=null and carNum != ''">
            , t.car_num= #{carNum}
        </if>
        <if test="communityId !=null and communityId != ''">
            , t.community_id= #{communityId}
        </if>
        where 1=1
        <if test="detailId !=null and detailId != ''">
            and t.detail_id= #{detailId}
        </if>

    </update>

    <!-- 查询车辆进出明细数量 add by wuxw 2018-07-03 -->
    <select id="queryCarInoutDetailsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from car_inout_detail t
        left join car_inout ci on t.inout_id = ci.inout_id and ci.status_cd = '0' and t.community_id = ci.community_id
        left join car_inout_payment cip on cip.inout_id = ci.inout_id and cip.community_id = ci.community_id
        where 1 = 1
        <if test="inoutId !=null and inoutId != ''">
            and t.inout_id= #{inoutId}
        </if>
        <if test="machineId !=null and machineId != ''">
            and t.machine_id= #{machineId}
        </if>
        <if test="machineCode !=null and machineCode != ''">
            and t.machine_code= #{machineCode}
        </if>
        <if test="carInout !=null and carInout != ''">
            and t.car_inout= #{carInout}
        </if>
        <if test="paId !=null and paId != ''">
            and t.pa_id= #{paId}
        </if>
        <if test="detailId !=null and detailId != ''">
            and t.detail_id= #{detailId}
        </if>
        <if test="carNum !=null and carNum != ''">
            and t.car_num= #{carNum}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>


    </select>

</mapper>
