<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="machineAttrServiceDaoImpl">

    <!-- 保存设备属性信息 add by wuxw 2018-07-03 -->
    <insert id="saveBusinessMachineAttrInfo" parameterType="Map">
        insert into business_machine_attrs(
        machine_id,attr_id,operate,spec_cd,community_id,b_id,value
        ) values (
        #{machineId},#{attrId},#{operate},#{specCd},#{communityId},#{bId},#{value}
        )
    </insert>


    <insert id="saveMachineAttrs" parameterType="Map">
        insert into machine_attrs(
        machine_id,attr_id,spec_cd,community_id,b_id,value
        ) values (
        #{machineId},#{attrId},#{specCd},#{communityId},'-1',#{value}
        )
    </insert>


    <!-- 查询设备属性信息（Business） add by wuxw 2018-07-03 -->
    <select id="getBusinessMachineAttrInfo" parameterType="Map" resultType="Map">
        select t.machine_id,t.machine_id machineId,t.attr_id,t.attr_id attrId,t.operate,t.spec_cd,t.spec_cd
        specCd,t.community_id,t.community_id communityId,t.b_id,t.b_id bId,t.value
        from business_machine_attrs t
        where 1 =1
        <if test="machineId !=null and machineId != ''">
            and t.machine_id= #{machineId}
        </if>
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="operate !=null and operate != ''">
            and t.operate= #{operate}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>

    </select>


    <!-- 保存设备属性信息至 instance表中 add by wuxw 2018-07-03 -->
    <insert id="saveMachineAttrInfoInstance" parameterType="Map">
        insert into machine_attrs(
        machine_id,attr_id,spec_cd,status_cd,community_id,b_id,value
        ) select t.machine_id,t.attr_id,t.spec_cd,'0',t.community_id,t.b_id,t.value from business_machine_attrs t where
        1=1
        <if test="machineId !=null and machineId != ''">
            and t.machine_id= #{machineId}
        </if>
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        and t.operate= 'ADD'
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>

    </insert>


    <!-- 查询设备属性信息 add by wuxw 2018-07-03 -->
    <select id="getMachineAttrInfo" parameterType="Map" resultType="Map">
        select t.machine_id,t.machine_id machineId,t.attr_id,t.attr_id attrId,t.spec_cd,t.spec_cd
        specCd,t.status_cd,t.status_cd statusCd,t.community_id,t.community_id communityId,t.b_id,t.b_id bId,t.value,
        s.spec_name specName,
        v.value_name valueName,
        s.list_show listShow
        from machine_attrs t
        left join attr_spec s on t.spec_cd = s.spec_cd and s.status_cd = '0' and t.spec_cd = s.spec_cd and s.table_name = 'machine_attr'
        left join attr_value v on t.`value` = v.`value` and s.spec_id = v.spec_id and v.status_cd = '0'
        where 1 =1
        <if test="machineId !=null and machineId != ''">
            and t.machine_id= #{machineId}
        </if>
        <if test="domain !=null and domain != ''">
            and s.domain= #{domain}
        </if>
        <if test="machineIds !=null ">
            and t.machine_id in
            <foreach collection="machineIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改设备属性信息 add by wuxw 2018-07-03 -->
    <update id="updateMachineAttrInfoInstance" parameterType="Map">
        update machine_attrs t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="value !=null and value != ''">
            , t.value= #{value}
        </if>
        where 1=1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="machineId !=null and machineId != ''">
            and t.machine_id= #{machineId}
        </if>

    </update>

    <!-- 查询设备属性数量 add by wuxw 2018-07-03 -->
    <select id="queryMachineAttrsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from machine_attrs t
        where 1 =1
        <if test="machineId !=null and machineId != ''">
            and t.machine_id= #{machineId}
        </if>
        <if test="machineIds !=null ">
            and t.machine_id in
            <foreach collection="machineIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>


    </select>

</mapper>
