<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="machineRecordServiceDaoImpl">

    <!-- 保存设备上报信息 add by wuxw 2018-07-03 -->
    <insert id="saveBusinessMachineRecordInfo" parameterType="Map">
        insert into business_machine_record(
        file_time,machine_code,open_type_cd,id_card,machine_record_id,machine_id,operate,`name`,tel,community_id,b_id,file_id,record_type_cd,similar
        ) values (
        #{fileTime},#{machineCode},#{openTypeCd},#{idCard},#{machineRecordId},#{machineId},#{operate},#{name},#{tel},#{communityId},#{bId},#{fileId}
        ,#{recordTypeCd},#{similar}
        )
    </insert>


    <!-- 查询设备上报信息（Business） add by wuxw 2018-07-03 -->
    <select id="getBusinessMachineRecordInfo" parameterType="Map" resultType="Map">
        select t.file_time,t.file_time fileTime,t.machine_code,t.machine_code machineCode,t.open_type_cd,t.open_type_cd
        openTypeCd,t.id_card,t.id_card idCard,t.machine_record_id,t.machine_record_id
        machineRecordId,t.machine_id,t.machine_id machineId,t.operate,t.name,t.tel,t.community_id,t.community_id
        communityId,t.b_id,t.b_id bId,t.file_id,t.file_id fileId,t.record_type_cd,t.record_type_cd recordTypeCd,t.similar
        from business_machine_record t
        where 1 =1
        <if test="fileTime !=null and fileTime != ''">
            and t.file_time= #{fileTime}
        </if>
        <if test="machineCode !=null and machineCode != ''">
            and t.machine_code= #{machineCode}
        </if>
        <if test="openTypeCd !=null and openTypeCd != ''">
            and t.open_type_cd= #{openTypeCd}
        </if>
        <if test="idCard !=null and idCard != ''">
            and t.id_card= #{idCard}
        </if>
        <if test="machineRecordId !=null and machineRecordId != ''">
            and t.machine_record_id= #{machineRecordId}
        </if>
        <if test="machineId !=null and machineId != ''">
            and t.machine_id= #{machineId}
        </if>
        <if test="operate !=null and operate != ''">
            and t.operate= #{operate}
        </if>
        <if test="name !=null and name != ''">
            and t.name= #{name}
        </if>
        <if test="tel !=null and tel != ''">
            and t.tel= #{tel}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="fileId !=null and fileId != ''">
            and t.file_id= #{fileId}
        </if>
        <if test="recordTypeCd !=null and recordTypeCd != ''">
            and t.record_type_cd= #{recordTypeCd}
        </if>

    </select>


    <!-- 保存设备上报信息至 instance表中 add by wuxw 2018-07-03 -->
    <insert id="saveMachineRecordInfoInstance" parameterType="Map">
        insert into machine_record(
        file_time,machine_code,open_type_cd,id_card,status_cd,machine_record_id,machine_id,`name`,tel,community_id,b_id,file_id,record_type_cd,similar
        ) select
        t.file_time,t.machine_code,t.open_type_cd,t.id_card,'0',t.machine_record_id,t.machine_id,t.name,t.tel,t.community_id,t.b_id,t.file_id,t.record_type_cd,t.similar
        from business_machine_record t where 1=1
        <if test="fileTime !=null and fileTime != ''">
            and t.file_time= #{fileTime}
        </if>
        <if test="machineCode !=null and machineCode != ''">
            and t.machine_code= #{machineCode}
        </if>
        <if test="openTypeCd !=null and openTypeCd != ''">
            and t.open_type_cd= #{openTypeCd}
        </if>
        <if test="idCard !=null and idCard != ''">
            and t.id_card= #{idCard}
        </if>
        <if test="machineRecordId !=null and machineRecordId != ''">
            and t.machine_record_id= #{machineRecordId}
        </if>
        <if test="machineId !=null and machineId != ''">
            and t.machine_id= #{machineId}
        </if>
        and t.operate= 'ADD'
        <if test="name !=null and name != ''">
            and t.name= #{name}
        </if>
        <if test="tel !=null and tel != ''">
            and t.tel= #{tel}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="fileId !=null and fileId != ''">
            and t.file_id= #{fileId}
        </if>
        <if test="recordTypeCd !=null and recordTypeCd != ''">
            and t.record_type_cd= #{recordTypeCd}
        </if>

    </insert>


    <!-- 查询设备上报信息 add by wuxw 2018-07-03 -->
    <select id="getMachineRecordInfo" parameterType="Map" resultType="Map">
        select t.file_time,t.file_time fileTime,t.machine_code,t.machine_code machineCode,t.open_type_cd,t.open_type_cd
        openTypeCd,t.id_card,t.id_card idCard,t.status_cd,t.status_cd statusCd,t.machine_record_id,t.machine_record_id
        machineRecordId,t.machine_id,t.machine_id machineId,t.name,t.tel,t.community_id,t.community_id
        communityId,t.b_id,t.b_id bId,t.file_id,t.file_id fileId,t.record_type_cd,t.record_type_cd recordTypeCd,td1.name
        openTypeName,t.create_time createTime,t.similar,m.machine_name machineName,m.location_type_cd locationTypeCd
        from machine_record t
        left join t_dict td1 on  t.open_type_cd = td1.status_cd and td1.table_name = 'machine_record' and td1.table_columns = 'open_type_cd'
        left join machine m on t.machine_id = m.machine_id and m.status_cd = '0'
        where 1 =1
        <if test="fileTime !=null and fileTime != ''">
            and t.file_time= #{fileTime}
        </if>
        <if test="machineCode !=null and machineCode != ''">
            and t.machine_code= #{machineCode}
        </if>
        <if test="openTypeCd !=null and openTypeCd != ''">
            and t.open_type_cd= #{openTypeCd}
        </if>
        <if test="idCard !=null and idCard != ''">
            and t.id_card= #{idCard}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="machineRecordId !=null and machineRecordId != ''">
            and t.machine_record_id= #{machineRecordId}
        </if>
        <if test="machineId !=null and machineId != ''">
            and t.machine_id= #{machineId}
        </if>
        <if test="name !=null and name != ''">
            and t.name= #{name}
        </if>
        <if test="tel !=null and tel != ''">
            and t.tel= #{tel}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="fileId !=null and fileId != ''">
            and t.file_id= #{fileId}
        </if>
        <if test="recordTypeCd !=null and recordTypeCd != ''">
            and t.record_type_cd= #{recordTypeCd}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改设备上报信息 add by wuxw 2018-07-03 -->
    <update id="updateMachineRecordInfoInstance" parameterType="Map">
        update machine_record t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="fileTime !=null and fileTime != ''">
            , t.file_time= #{fileTime}
        </if>
        <if test="machineCode !=null and machineCode != ''">
            , t.machine_code= #{machineCode}
        </if>
        <if test="openTypeCd !=null and openTypeCd != ''">
            , t.open_type_cd= #{openTypeCd}
        </if>
        <if test="idCard !=null and idCard != ''">
            , t.id_card= #{idCard}
        </if>
        <if test="machineId !=null and machineId != ''">
            , t.machine_id= #{machineId}
        </if>
        <if test="name !=null and name != ''">
            , t.name= #{name}
        </if>
        <if test="tel !=null and tel != ''">
            , t.tel= #{tel}
        </if>
        <if test="communityId !=null and communityId != ''">
            , t.community_id= #{communityId}
        </if>
        <if test="fileId !=null and fileId != ''">
            , t.file_id= #{fileId}
        </if>
        <if test="recordTypeCd !=null and recordTypeCd != ''">
            , t.record_type_cd= #{recordTypeCd}
        </if>
        where 1=1
        <if test="machineRecordId !=null and machineRecordId != ''">
            and t.machine_record_id= #{machineRecordId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>

    </update>

    <!-- 查询设备上报数量 add by wuxw 2018-07-03 -->
    <select id="queryMachineRecordsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from machine_record t,t_dict td1
        where 1 =1
        and t.open_type_cd = td1.status_cd
        and td1.table_name = 'machine_record'
        and td1.table_columns = 'open_type_cd'
        <if test="fileTime !=null and fileTime != ''">
            and t.file_time= #{fileTime}
        </if>
        <if test="machineCode !=null and machineCode != ''">
            and t.machine_code= #{machineCode}
        </if>
        <if test="openTypeCd !=null and openTypeCd != ''">
            and t.open_type_cd= #{openTypeCd}
        </if>
        <if test="idCard !=null and idCard != ''">
            and t.id_card= #{idCard}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="machineRecordId !=null and machineRecordId != ''">
            and t.machine_record_id= #{machineRecordId}
        </if>
        <if test="machineId !=null and machineId != ''">
            and t.machine_id= #{machineId}
        </if>
        <if test="name !=null and name != ''">
            and t.name= #{name}
        </if>
        <if test="tel !=null and tel != ''">
            and t.tel= #{tel}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="fileId !=null and fileId != ''">
            and t.file_id= #{fileId}
        </if>
        <if test="recordTypeCd !=null and recordTypeCd != ''">
            and t.record_type_cd= #{recordTypeCd}
        </if>


    </select>

    <select id="getAssetsMachineRecords" parameterType="Map" resultType="Map">
        select DATE_FORMAT(t.create_time,'%m-%d') createTime, count(1) count
        from machine_record t
        where t.status_cd = '0'
        and t.community_id = #{communityId}
        group by DATE_FORMAT(t.create_time,'%Y-%m-%d')
        order by t.create_time desc
        limit 0,7
    </select>

    <!-- 保存设备上报信息 add by wuxw 2018-07-03 -->
    <insert id="saveMachineRecords" parameterType="Map">
        insert into machine_record(
        file_time,machine_code,open_type_cd,id_card,machine_record_id,machine_id,`name`,tel,community_id,b_id,file_id,record_type_cd,similar
        ) values
        <foreach collection="machineRecords" item="item" separator=",">
            (
            #{item.fileTime},#{item.machineCode},#{item.openTypeCd},#{item.idCard},#{item.machineRecordId},#{item.machineId},#{item.name},#{item.tel},#{item.communityId},'-1',#{item.fileId}
            ,#{item.recordTypeCd},#{item.similar}
            )
        </foreach>
    </insert>


</mapper>
