<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="marketRuleObjV1ServiceDaoImpl">


    <!-- 保存营销对象信息 add by wuxw 2018-07-03 -->
    <insert id="saveMarketRuleObjInfo" parameterType="Map">
        insert into market_rule_obj(
        obj_id,remark,rule_id,obj_type
        ) values (
        #{objId},#{remark},#{ruleId},#{objType}
        )
    </insert>


    <!-- 查询营销对象信息 add by wuxw 2018-07-03 -->
    <select id="getMarketRuleObjInfo" parameterType="Map" resultType="Map">
        select t.obj_id,t.obj_id objId,t.status_cd,t.status_cd statusCd,t.remark,t.rule_id,t.rule_id
        ruleId,t.obj_type,t.obj_type objType,td.`name` objTypeName
        from market_rule_obj t
        left join t_dict td on t.obj_type = td.status_cd and td.table_name = 'market_rule_obj' and td.table_columns = 'obj_type'
        where 1 =1
        <if test="objId !=null and objId != ''">
            and t.obj_id= #{objId}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="ruleId !=null and ruleId != ''">
            and t.rule_id= #{ruleId}
        </if>
        <if test="ruleIds !=null ">
            and t.rule_id in
            <foreach collection="ruleIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="objType !=null and objType != ''">
            and t.obj_type= #{objType}
        </if>
        <if test="objTypes !=null ">
            and t.obj_type in
            <foreach collection="objTypes" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改营销对象信息 add by wuxw 2018-07-03 -->
    <update id="updateMarketRuleObjInfo" parameterType="Map">
        update market_rule_obj t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="remark !=null and remark != ''">
            , t.remark= #{remark}
        </if>
        <if test="ruleId !=null and ruleId != ''">
            , t.rule_id= #{ruleId}
        </if>
        <if test="objType !=null and objType != ''">
            , t.obj_type= #{objType}
        </if>
        where 1=1
        <if test="objId !=null and objId != ''">
            and t.obj_id= #{objId}
        </if>

    </update>

    <!-- 查询营销对象数量 add by wuxw 2018-07-03 -->
    <select id="queryMarketRuleObjsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from market_rule_obj t
        where 1 =1
        <if test="objId !=null and objId != ''">
            and t.obj_id= #{objId}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="ruleId !=null and ruleId != ''">
            and t.rule_id= #{ruleId}
        </if>
        <if test="ruleIds !=null ">
            and t.rule_id in
            <foreach collection="ruleIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="objType !=null and objType != ''">
            and t.obj_type= #{objType}
        </if>
        <if test="objTypes !=null ">
            and t.obj_type in
            <foreach collection="objTypes" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>


    </select>

</mapper>
