<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="marketRuleWayV1ServiceDaoImpl">


    <!-- 保存营销规则方式信息 add by wuxw 2018-07-03 -->
    <insert id="saveMarketRuleWayInfo" parameterType="Map">
        insert into market_rule_way(
        way_id,way_type,way_obj_id,remark,rule_id
        ) values (
        #{wayId},#{wayType},#{wayObjId},#{remark},#{ruleId}
        )
    </insert>


    <!-- 查询营销规则方式信息 add by wuxw 2018-07-03 -->
    <select id="getMarketRuleWayInfo" parameterType="Map" resultType="Map">
        select t.way_id,t.way_id wayId,t.way_type,t.way_type wayType,t.way_obj_id,t.way_obj_id
        wayObjId,t.status_cd,t.status_cd statusCd,t.remark,t.rule_id,t.rule_id ruleId,
        mt.name textName,mp.`name` picName,mg.name goodsName,td.`name` wayTypeName
        from market_rule_way t
        left join market_text mt on t.way_obj_id = mt.text_id and t.way_type = '1001' and mt.status_cd =  '0'
        left join market_pic mp on t.way_obj_id = mp.pic_id and t.way_type = '2002' and mp.status_cd =  '0'
        left join market_goods mg on t.way_obj_id = mg.goods_id and t.way_type = '3003' and mg.status_cd =  '0'
        left join t_dict td on t.way_type = td.status_cd and td.table_name = 'market_rule_way' and td.table_columns = 'way_type'
        where 1 =1
        <if test="wayId !=null and wayId != ''">
            and t.way_id= #{wayId}
        </if>
        <if test="wayType !=null and wayType != ''">
            and t.way_type= #{wayType}
        </if>
        <if test="wayTypes !=null ">
            and t.way_type in
            <foreach collection="wayTypes" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="wayObjId !=null and wayObjId != ''">
            and t.way_obj_id= #{wayObjId}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="ruleId !=null and ruleId != ''">
            and t.rule_id= #{ruleId}
        </if>
        <if test="ruleIds !=null ">
            and t.rule_id in
            <foreach collection="ruleIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改营销规则方式信息 add by wuxw 2018-07-03 -->
    <update id="updateMarketRuleWayInfo" parameterType="Map">
        update market_rule_way t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="wayType !=null and wayType != ''">
            , t.way_type= #{wayType}
        </if>
        <if test="wayObjId !=null and wayObjId != ''">
            , t.way_obj_id= #{wayObjId}
        </if>
        <if test="remark !=null and remark != ''">
            , t.remark= #{remark}
        </if>
        <if test="ruleId !=null and ruleId != ''">
            , t.rule_id= #{ruleId}
        </if>
        where 1=1
        <if test="wayId !=null and wayId != ''">
            and t.way_id= #{wayId}
        </if>

    </update>

    <!-- 查询营销规则方式数量 add by wuxw 2018-07-03 -->
    <select id="queryMarketRuleWaysCount" parameterType="Map" resultType="Map">
        select count(1) count
        from market_rule_way t
        where 1 =1
        <if test="wayId !=null and wayId != ''">
            and t.way_id= #{wayId}
        </if>
        <if test="wayType !=null and wayType != ''">
            and t.way_type= #{wayType}
        </if>
        <if test="wayTypes !=null ">
            and t.way_type in
            <foreach collection="wayTypes" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="wayObjId !=null and wayObjId != ''">
            and t.way_obj_id= #{wayObjId}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="ruleId !=null and ruleId != ''">
            and t.rule_id= #{ruleId}
        </if>
        <if test="ruleIds !=null ">
            and t.rule_id in
            <foreach collection="ruleIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>


    </select>

</mapper>
