<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="msgReadServiceDaoImpl">

    <!-- 保存消息阅读信息 add by wuxw 2018-07-03 -->
       <insert id="saveBusinessMsgReadInfo" parameterType="Map">
           insert into business_msg_read(
operate,msg_read_id,msg_id,user_name,b_id,user_id
) values (
#{operate},#{msgReadId},#{msgId},#{userName},#{bId},#{userId}
)
       </insert>


       <!-- 查询消息阅读信息（Business） add by wuxw 2018-07-03 -->
       <select id="getBusinessMsgReadInfo" parameterType="Map" resultType="Map">
           select  t.operate,t.msg_read_id,t.msg_read_id msgReadId,t.msg_id,t.msg_id msgId,t.user_name,t.user_name userName,t.b_id,t.b_id bId,t.user_id,t.user_id userId 
from business_msg_read t 
where 1 =1 
<if test="operate !=null and operate != ''">
   and t.operate= #{operate}
</if> 
<if test="msgReadId !=null and msgReadId != ''">
   and t.msg_read_id= #{msgReadId}
</if> 
<if test="msgId !=null and msgId != ''">
   and t.msg_id= #{msgId}
</if> 
<if test="userName !=null and userName != ''">
   and t.user_name= #{userName}
</if> 
<if test="bId !=null and bId != ''">
   and t.b_id= #{bId}
</if> 
<if test="userId !=null and userId != ''">
   and t.user_id= #{userId}
</if> 

       </select>





    <!-- 保存消息阅读信息至 instance表中 add by wuxw 2018-07-03 -->
    <insert id="saveMsgReadInfoInstance" parameterType="Map">
        insert into msg_read(
msg_read_id,msg_id,status_cd,user_name,b_id,user_id
) select t.msg_read_id,t.msg_id,'0',t.user_name,t.b_id,t.user_id from business_msg_read t where 1=1
   and t.operate= 'ADD'
<if test="msgReadId !=null and msgReadId != ''">
   and t.msg_read_id= #{msgReadId}
</if> 
<if test="msgId !=null and msgId != ''">
   and t.msg_id= #{msgId}
</if> 
<if test="userName !=null and userName != ''">
   and t.user_name= #{userName}
</if> 
<if test="bId !=null and bId != ''">
   and t.b_id= #{bId}
</if> 
<if test="userId !=null and userId != ''">
   and t.user_id= #{userId}
</if> 

    </insert>



    <!-- 查询消息阅读信息 add by wuxw 2018-07-03 -->
    <select id="getMsgReadInfo" parameterType="Map" resultType="Map">
        select  t.msg_read_id,t.msg_read_id msgReadId,t.msg_id,t.msg_id msgId,t.status_cd,t.status_cd statusCd,t.user_name,t.user_name userName,t.b_id,t.b_id bId,t.user_id,t.user_id userId 
from msg_read t 
where 1 =1 
<if test="msgReadId !=null and msgReadId != ''">
   and t.msg_read_id= #{msgReadId}
</if> 
<if test="msgId !=null and msgId != ''">
   and t.msg_id= #{msgId}
</if> 
<if test="statusCd !=null and statusCd != ''">
   and t.status_cd= #{statusCd}
</if> 
<if test="userName !=null and userName != ''">
   and t.user_name= #{userName}
</if> 
<if test="bId !=null and bId != ''">
   and t.b_id= #{bId}
</if> 
<if test="userId !=null and userId != ''">
   and t.user_id= #{userId}
</if> 
<if test="page != -1 and page != null ">
   limit #{page}, #{row}
</if> 

    </select>




    <!-- 修改消息阅读信息 add by wuxw 2018-07-03 -->
    <update id="updateMsgReadInfoInstance" parameterType="Map">
        update  msg_read t set t.status_cd = #{statusCd}
<if test="newBId != null and newBId != ''">
,t.b_id = #{newBId}
</if> 
<if test="msgId !=null and msgId != ''">
, t.msg_id= #{msgId}
</if> 
<if test="userName !=null and userName != ''">
, t.user_name= #{userName}
</if> 
<if test="userId !=null and userId != ''">
, t.user_id= #{userId}
</if> 
 where 1=1 <if test="msgReadId !=null and msgReadId != ''">
and t.msg_read_id= #{msgReadId}
</if> 
<if test="bId !=null and bId != ''">
and t.b_id= #{bId}
</if> 

    </update>

    <!-- 查询消息阅读数量 add by wuxw 2018-07-03 -->
     <select id="queryMsgReadsCount" parameterType="Map" resultType="Map">
        select  count(1) count 
from msg_read t 
where 1 =1 
<if test="msgReadId !=null and msgReadId != ''">
   and t.msg_read_id= #{msgReadId}
</if> 
<if test="msgId !=null and msgId != ''">
   and t.msg_id= #{msgId}
</if> 
<if test="statusCd !=null and statusCd != ''">
   and t.status_cd= #{statusCd}
</if> 
<if test="userName !=null and userName != ''">
   and t.user_name= #{userName}
</if> 
<if test="bId !=null and bId != ''">
   and t.b_id= #{bId}
</if> 
<if test="userId !=null and userId != ''">
   and t.user_id= #{userId}
</if> 


     </select>

</mapper>
