<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="transactionLogMessageServiceDaoImpl">





    <!-- 保存交互日志信息 add by wuxw 2018-07-03 -->
    <insert id="saveTransactionLogMessageInfo" parameterType="Map">
        insert into transaction_log_message(
request_message,response_header,log_id,request_header,response_message
) values (
#{requestMessage},#{responseHeader},#{logId},#{requestHeader},#{responseMessage}
)
    </insert>



    <!-- 查询交互日志信息 add by wuxw 2018-07-03 -->
    <select id="getTransactionLogMessageInfo" parameterType="Map" resultType="Map">
        select  t.request_message,t.request_message requestMessage,t.response_header,t.response_header responseHeader,t.log_id,t.log_id logId,t.request_header,t.request_header requestHeader,t.response_message,t.response_message responseMessage 
from transaction_log_message t 
where 1 =1 
<if test="requestMessage !=null and requestMessage != ''">
   and t.request_message= #{requestMessage}
</if> 
<if test="responseHeader !=null and responseHeader != ''">
   and t.response_header= #{responseHeader}
</if> 
<if test="logId !=null and logId != ''">
   and t.log_id= #{logId}
</if> 
<if test="requestHeader !=null and requestHeader != ''">
   and t.request_header= #{requestHeader}
</if> 
<if test="responseMessage !=null and responseMessage != ''">
   and t.response_message= #{responseMessage}
</if> 
order by t.create_time desc
<if test="page != -1 and page != null ">
   limit #{page}, #{row}
</if> 

    </select>




    <!-- 修改交互日志信息 add by wuxw 2018-07-03 -->
    <update id="updateTransactionLogMessageInfo" parameterType="Map">
        update  transaction_log_message t set t.status_cd = #{statusCd}
<if test="newBId != null and newBId != ''">
,t.b_id = #{newBId}
</if> 
<if test="requestMessage !=null and requestMessage != ''">
, t.request_message= #{requestMessage}
</if> 
<if test="responseHeader !=null and responseHeader != ''">
, t.response_header= #{responseHeader}
</if> 
<if test="requestHeader !=null and requestHeader != ''">
, t.request_header= #{requestHeader}
</if> 
<if test="responseMessage !=null and responseMessage != ''">
, t.response_message= #{responseMessage}
</if> 
 where 1=1 <if test="logId !=null and logId != ''">
and t.log_id= #{logId}
</if> 

    </update>

    <!-- 查询交互日志数量 add by wuxw 2018-07-03 -->
     <select id="queryTransactionLogMessagesCount" parameterType="Map" resultType="Map">
        select  count(1) count 
from transaction_log_message t 
where 1 =1 
<if test="requestMessage !=null and requestMessage != ''">
   and t.request_message= #{requestMessage}
</if> 
<if test="responseHeader !=null and responseHeader != ''">
   and t.response_header= #{responseHeader}
</if> 
<if test="logId !=null and logId != ''">
   and t.log_id= #{logId}
</if> 
<if test="requestHeader !=null and requestHeader != ''">
   and t.request_header= #{requestHeader}
</if> 
<if test="responseMessage !=null and responseMessage != ''">
   and t.response_message= #{responseMessage}
</if> 


     </select>

</mapper>
