<nav class="navbar-default navbar-static-side" role="navigation" id="menu-nav">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="">
                        <span class="block m-t-xs font-bold">{{logo}}小区管理系统</span>
                    </a>
                </div>
                <div class="logo-element">
                    {{logo}}
                </div>
            </li>

            <li v-for="menu in menus" v-bind:class="{ active: menu.active }"  :key="menu.id">
                <a v-if="menu.childs != undefined && menu.childs.length >0" href="#" v-on:click="switchMenu(menu.id)">
                    <i class="fa " v-bind:class="menu.icon"></i>
                    <span class="nav-label">{{menu.name}}</span>
                    <span v-if="menu.label != undefined && menu.label != ''" class="float-right label label-primary">{{menu.label}}</span>
                    <span v-if="menu.label == undefined || menu.label == ''" class="fa arrow"></span>
                </a>
                <ul v-if="menu.childs != undefined && menu.childs.length >0" class="nav nav-second-level collapse" v-bind:class="{in: menu.active}">
                    <li v-for="subMenu in menu.childs" v-if="subMenu.isShow == 'Y'"><a v-bind:href="subMenu.href">{{subMenu.name}}</a></li>
                </ul>
                <a v-if="menu.childs == undefined || menu.childs.length ==0" v-bind:href="menu.href">
                    <i class="fa " v-bind:class="menu.icon"></i>
                    <span class="nav-label">{{menu.name}}</span>
                </a>
            </li>
        </ul>

    </div>
</nav>