<div id="editVisitModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">访客修改</h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">访客姓名</label>
                                <div class="col-sm-10">
                                    <input v-model="editVisitInfo.name" type="text" placeholder="必填，请填写访客姓名"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">访客性别</label>
                                <div class="col-sm-10">
                                    <select class="form-control-sm form-control input-s-sm inline"
                                            v-model="editVisitInfo.visitGender">
                                        <option selected value="">请选择访客性别</option>
                                        <option value="1">男</option>
                                        <option value="0">女</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">访客联系方式</label>
                                <div class="col-sm-10">
                                    <input v-model="editVisitInfo.phoneNumber" type="tel" placeholder="必填，请填写访客联系方式"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">访客拜访时间</label>
                                <div class="col-sm-10">
                                    <input v-model="editVisitInfo.visitTime" type="datetime-local" placeholder="必填，请填写访客拜访时间"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">访客离开时间</label>
                                <div class="col-sm-10">
                                    <input v-model="editVisitInfo.departureTime" type="datetime-local" placeholder="选填，请填写访客离开时间"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">描述</label>
                                <div class="col-sm-10">
                                    <textarea cols="5" placeholder="选填，请填写描述" class="form-control"
                                              v-model="editVisitInfo.visitCase"></textarea></div>
                            </div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="editVisit()"><i
                                        class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal">取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
