<div class="row">

    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>项目</h5>
                <div class="ibox-tools" style="top: 10px;">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button"
                                class="btn btn-light btn-sm"
                                v-bind:class="{'btn-primary': indexOpenDoorAnalysisInfo.openTypeCd == 1000}"
                                v-on:click="_switchOpenType(1000)"
                        >刷脸开门
                        </button>


                        <button type="button"
                                class="btn btn-light btn-sm"
                                v-bind:class="{'btn-primary': indexOpenDoorAnalysisInfo.openTypeCd == 2000}"
                                v-on:click="_switchOpenType(2000)"
                        >密码开门
                        </button>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-2">
                        <span>开门次数趋势</span>
                    </div>
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-2">
                        <input size="16" type="text" placeholder="请选择开始时间" readonly
                               class="form-control form-control-sm start_time">
                    </div>
                    <div class="col-sm-2">
                        <input size="16" type="text" placeholder="请选择结束时间" readonly
                               class="form-control form-control-sm end_time">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="machine-record" style="height: 400px"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>