<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>上传附件</h5>
                <div class="ibox-tools" style="top:10px;"></div>
            </div>
            <div class="ibox-content">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">附件</label>
                    <div class="content-img col-sm-10">
                        <vc:create name="uploadImage"
                                   callBackListener="addAdvert"
                                   callBackFunction="notifyUploadVedio"
                                   namespace="addAdvert"
                        ></vc:create>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
