<nav id="nav" class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        <form role="search" class="navbar-form-custom" action="search_results.html">
            <div class="form-group">
                <!--<input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">-->
            </div>
        </form>
    </div>
    <ul class="nav navbar-top-links navbar-right">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               data-toggle="dropdown"
               href="#"
               role="button"
               aria-haspopup="true"
               aria-expanded="false">
                {{navCommunityInfo._currentCommunity.name}}
                <span class="caret"></span>
            </a>

            <div class="dropdown-menu" >
                <a class="dropdown-item" v-for="currentCommunity in navCommunityInfo.communityInfos" v-on:click="changeCommunity(currentCommunity)">{{currentCommunity.name}}</a>
                <a href="/flow/enterCommunity" class="dropdown-item text-center">
                    <strong>入驻小区</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </li>
        <li style="padding: 20px">
            <span class="m-r-sm text-muted welcome-message">欢迎访问治家通小区管理系统，{{userName}}！</span>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                <i class="fa fa-bell"></i> <span class="label label-primary">{{nav.total}}</span>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
                <li v-for="notice in nav.notices">
                    <a v-on:click="_noticeDetail(notice)" class="dropdown-item">
                        <div>
                            <i class="fa fa-envelope fa-fw"></i> {{notice.title}}
                            <span class="float-right text-muted small">{{notice.createTime}}</span>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                </li>


                <li>
                    <div class="text-center link-block">
                        <a v-bind:href="nav.moreNoticeUrl" class="dropdown-item">
                            <strong>查看全部消息</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </li>


        <li>
            <a v-on:click="logout()">
                <i class="fa fa-sign-out"></i> 退出
            </a>
        </li>
    </ul>

</nav>