<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="activitiesRuleServiceDaoImpl">


    <!-- 保存活动规则信息 add by wuxw 2018-07-03 -->
    <insert id="saveActivitiesRuleInfo" parameterType="Map">
        insert into activities_rule(
        rule_type,obj_id,rule_name,activities_obj,start_time,remark,end_time,rule_id,obj_type
        ) values (
        #{ruleType},#{objId},#{ruleName},#{activitiesObj},#{startTime},#{remark},#{endTime},#{ruleId},#{objType}
        )
    </insert>


    <!-- 查询活动规则信息 add by wuxw 2018-07-03 -->
    <select id="getActivitiesRuleInfo" parameterType="Map" resultType="Map">
        select t.rule_type,t.rule_type ruleType,t.obj_id,t.obj_id objId,t.rule_name,t.rule_name
        ruleName,t.activities_obj,t.activities_obj activitiesObj,t.start_time,t.start_time
        startTime,t.remark,t.status_cd,t.status_cd statusCd,t.end_time,t.end_time endTime,t.rule_id,t.rule_id
        ruleId,t.obj_type,t.obj_type objType
        from activities_rule t
        where 1 = 1
        <if test="ruleType !=null and ruleType != ''">
            and t.rule_type= #{ruleType}
        </if>
        <if test="objId !=null and objId != ''">
            and t.obj_id= #{objId}
        </if>
        <if test="objIds !=null">
            and t.obj_id in
            <foreach collection="objIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="ruleName !=null and ruleName != ''">
            and t.rule_name= #{ruleName}
        </if>
        <if test="activitiesObj !=null and activitiesObj != ''">
            and t.activities_obj= #{activitiesObj}
        </if>
        <if test="startTime !=null and startTime != ''">
            and t.start_time= #{startTime}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="endTime !=null and endTime != ''">
            and t.end_time= #{endTime}
        </if>
        <if test="ruleId !=null and ruleId != ''">
            and t.rule_id= #{ruleId}
        </if>
        <if test="objType !=null and objType != ''">
            and t.obj_type= #{objType}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改活动规则信息 add by wuxw 2018-07-03 -->
    <update id="updateActivitiesRuleInfo" parameterType="Map">
        update activities_rule t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="ruleType !=null and ruleType != ''">
            , t.rule_type= #{ruleType}
        </if>
        <if test="objId !=null and objId != ''">
            , t.obj_id= #{objId}
        </if>
        <if test="ruleName !=null and ruleName != ''">
            , t.rule_name= #{ruleName}
        </if>
        <if test="activitiesObj !=null and activitiesObj != ''">
            , t.activities_obj= #{activitiesObj}
        </if>
        <if test="startTime !=null and startTime != ''">
            , t.start_time= #{startTime}
        </if>
        <if test="remark !=null and remark != ''">
            , t.remark= #{remark}
        </if>
        <if test="endTime !=null and endTime != ''">
            , t.end_time= #{endTime}
        </if>
        <if test="objType !=null and objType != ''">
            , t.obj_type= #{objType}
        </if>
        where 1=1
        <if test="ruleId !=null and ruleId != ''">
            and t.rule_id= #{ruleId}
        </if>

    </update>

    <!-- 查询活动规则数量 add by wuxw 2018-07-03 -->
    <select id="queryActivitiesRulesCount" parameterType="Map" resultType="Map">
        select count(1) count
        from activities_rule t
        where 1 =1
        <if test="ruleType !=null and ruleType != ''">
            and t.rule_type= #{ruleType}
        </if>
        <if test="objId !=null and objId != ''">
            and t.obj_id= #{objId}
        </if>
        <if test="objIds !=null">
            and t.obj_id in
            <foreach collection="objIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="ruleName !=null and ruleName != ''">
            and t.rule_name= #{ruleName}
        </if>
        <if test="activitiesObj !=null and activitiesObj != ''">
            and t.activities_obj= #{activitiesObj}
        </if>
        <if test="startTime !=null and startTime != ''">
            and t.start_time= #{startTime}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="endTime !=null and endTime != ''">
            and t.end_time= #{endTime}
        </if>
        <if test="ruleId !=null and ruleId != ''">
            and t.rule_id= #{ruleId}
        </if>
        <if test="objType !=null and objType != ''">
            and t.obj_type= #{objType}
        </if>


    </select>

</mapper>
