<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dataPrivilegeStaffV1ServiceDaoImpl">


    <!-- 保存数据权限员工关系信息 add by wuxw 2018-07-03 -->
    <insert id="saveDataPrivilegeStaffInfo" parameterType="Map">
        insert into data_privilege_staff(
        dps_id,dp_id,staff_name,remark,community_id,staff_id
        ) values (
        #{dpsId},#{dpId},#{staffName},#{remark},#{communityId},#{staffId}
        )
    </insert>


    <!-- 查询数据权限员工关系信息 add by wuxw 2018-07-03 -->
    <select id="getDataPrivilegeStaffInfo" parameterType="Map" resultType="Map">
        select t.dps_id,t.dps_id dpsId,t.dp_id,t.dp_id dpId,t.staff_name,t.staff_name
        staffName,t.remark,t.status_cd,t.status_cd statusCd,t.community_id,t.community_id
        communityId,t.staff_id,t.staff_id staffId,u.tel,u.email,u.address,u.sex
        from data_privilege_staff t
        left join u_user u on t.staff_id = u.user_id and u.status_cd = '0'
        where 1 =1
        <if test="dpsId !=null and dpsId != ''">
            and t.dps_id= #{dpsId}
        </if>
        <if test="dpId !=null and dpId != ''">
            and t.dp_id= #{dpId}
        </if>
        <if test="staffName !=null and staffName != ''">
            and t.staff_name= #{staffName}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="staffId !=null and staffId != ''">
            and t.staff_id= #{staffId}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改数据权限员工关系信息 add by wuxw 2018-07-03 -->
    <update id="updateDataPrivilegeStaffInfo" parameterType="Map">
        update data_privilege_staff t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>

        <if test="dpId !=null and dpId != ''">
            , t.dp_id= #{dpId}
        </if>
        <if test="staffName !=null and staffName != ''">
            , t.staff_name= #{staffName}
        </if>
        <if test="remark !=null and remark != ''">
            , t.remark= #{remark}
        </if>

        <if test="staffId !=null and staffId != ''">
            , t.staff_id= #{staffId}
        </if>
        where 1=1
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="dpsId !=null and dpsId != ''">
            and t.dps_id= #{dpsId}
        </if>
    </update>

    <!-- 查询数据权限员工关系数量 add by wuxw 2018-07-03 -->
    <select id="queryDataPrivilegeStaffsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from data_privilege_staff t
        where 1 =1
        <if test="dpsId !=null and dpsId != ''">
            and t.dps_id= #{dpsId}
        </if>
        <if test="dpId !=null and dpId != ''">
            and t.dp_id= #{dpId}
        </if>
        <if test="staffName !=null and staffName != ''">
            and t.staff_name= #{staffName}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="staffId !=null and staffId != ''">
            and t.staff_id= #{staffId}
        </if>


    </select>

    <!-- 查询用户权限数量 add by wuxw 2018-07-03 -->
    <select id="queryStaffsNotInDataPrivilegeCount" parameterType="Map" resultType="Map">

        select count(1) count
        from u_user t
        inner join s_store_user su on t.user_id = su.user_id and su.status_cd = '0'
        left join data_privilege_staff pu on t.user_id = pu.staff_id and pu.status_cd = '0' and pu.dp_id = #{dpId}
        where t.status_cd = '0'
        and pu.dp_id is null
        <if test="userName !=null and userName != ''">
            and t.name like concat('%', #{userName},'%')
        </if>
        and su.store_id = #{storeId}

    </select>

    <!-- 查询用户权限信息 add by wuxw 2018-07-03 -->
    <select id="queryStaffsNotInDataPrivilege" parameterType="Map" resultType="Map">
        select
        t.user_id,t.user_id userId,
        t.address,t.sex,t.user_id,t.user_id userId,t.level_cd,t.level_cd
        levelCd,t.location_cd,t.location_cd locationCd,t.score,t.name,t.tel,t.email,t.age
        from u_user t
        inner join s_store_user su on t.user_id = su.user_id and su.status_cd = '0'
        left join data_privilege_staff pu on t.user_id = pu.staff_id and pu.status_cd = '0' and pu.dp_id = #{dpId}
        where t.status_cd = '0'
        and pu.dp_id is null
        <if test="staffName !=null and staffName != ''">
            and t.name like concat('%', #{staffName},'%')
        </if>
        and su.store_id = #{storeId}
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>
    </select>

</mapper>
