<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notepadDetailV1ServiceDaoImpl">


    <!-- 保存跟踪记录信息 add by wuxw 2018-07-03 -->
    <insert id="saveNotepadDetailInfo" parameterType="Map">
        insert into notepad_detail(
        create_user_id,detail_id,note_id,create_user_name,content
        ) values (
        #{createUserId},#{detailId},#{noteId},#{createUserName},#{content}
        )
    </insert>


    <!-- 查询跟踪记录信息 add by wuxw 2018-07-03 -->
    <select id="getNotepadDetailInfo" parameterType="Map" resultType="Map">
        select t.create_user_id,t.create_user_id createUserId,t.detail_id,t.detail_id detailId,t.note_id,t.note_id
        noteId,t.create_user_name,t.create_user_name createUserName,t.status_cd,t.status_cd statusCd,t.content,t.create_time createTime
        from notepad_detail t
        where 1 =1
        <if test="createUserId !=null and createUserId != ''">
            and t.create_user_id= #{createUserId}
        </if>
        <if test="detailId !=null and detailId != ''">
            and t.detail_id= #{detailId}
        </if>
        <if test="noteId !=null and noteId != ''">
            and t.note_id= #{noteId}
        </if>
        <if test="createUserName !=null and createUserName != ''">
            and t.create_user_name= #{createUserName}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="content !=null and content != ''">
            and t.content= #{content}
        </if>
        order by t.create_time
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改跟踪记录信息 add by wuxw 2018-07-03 -->
    <update id="updateNotepadDetailInfo" parameterType="Map">
        update notepad_detail t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="createUserId !=null and createUserId != ''">
            , t.create_user_id= #{createUserId}
        </if>
        <if test="noteId !=null and noteId != ''">
            , t.note_id= #{noteId}
        </if>
        <if test="createUserName !=null and createUserName != ''">
            , t.create_user_name= #{createUserName}
        </if>
        <if test="content !=null and content != ''">
            , t.content= #{content}
        </if>
        where 1=1
        <if test="detailId !=null and detailId != ''">
            and t.detail_id= #{detailId}
        </if>

    </update>

    <!-- 查询跟踪记录数量 add by wuxw 2018-07-03 -->
    <select id="queryNotepadDetailsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from notepad_detail t
        where 1 =1
        <if test="createUserId !=null and createUserId != ''">
            and t.create_user_id= #{createUserId}
        </if>
        <if test="detailId !=null and detailId != ''">
            and t.detail_id= #{detailId}
        </if>
        <if test="noteId !=null and noteId != ''">
            and t.note_id= #{noteId}
        </if>
        <if test="createUserName !=null and createUserName != ''">
            and t.create_user_name= #{createUserName}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="content !=null and content != ''">
            and t.content= #{content}
        </if>


    </select>

</mapper>
