<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orgV1ServiceDaoImpl">


    <!-- 保存组织信息 add by wuxw 2018-07-03 -->
    <insert id="saveOrgInfo" parameterType="Map">
        insert into u_org(
belong_community_id,org_name,parent_org_id,allow_operation,description,org_level,store_id,org_id
) values (
#{belongCommunityId},#{orgName},#{parentOrgId},#{allowOperation},#{description},#{orgLevel},#{storeId},#{orgId}
)
    </insert>


    <!-- 查询组织信息 add by wuxw 2018-07-03 -->
    <select id="getOrgInfo" parameterType="Map" resultType="Map">
        select t.belong_community_id,t.belong_community_id belongCommunityId,t.org_name,t.org_name
        orgName,t.parent_org_id,t.parent_org_id parentOrgId,t.allow_operation,t.allow_operation
        allowOperation,t.description,t.org_level,t.org_level orgLevel,t.status_cd,t.status_cd
        statusCd,t.store_id,t.store_id storeId,t.org_id,t.org_id orgId
        from u_org t
        where 1 =1
        <if test="belongCommunityId !=null and belongCommunityId != ''">
            and t.belong_community_id= #{belongCommunityId}
        </if>
        <if test="orgName !=null and orgName != ''">
            and t.org_name= #{orgName}
        </if>
        <if test="parentOrgId !=null and parentOrgId != ''">
            and t.parent_org_id= #{parentOrgId}
        </if>
        <if test="allowOperation !=null and allowOperation != ''">
            and t.allow_operation= #{allowOperation}
        </if>
        <if test="description !=null and description != ''">
            and t.description= #{description}
        </if>
        <if test="orgLevel !=null and orgLevel != ''">
            and t.org_level= #{orgLevel}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>
        <if test="orgId !=null and orgId != ''">
            and t.org_id= #{orgId}
        </if>
        <if test="orgIds != null and orgIds.length > 0">
            and t.org_id in
            <foreach collection="orgIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改组织信息 add by wuxw 2018-07-03 -->
    <update id="updateOrgInfo" parameterType="Map">
        update u_org t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="belongCommunityId !=null and belongCommunityId != ''">
            , t.belong_community_id= #{belongCommunityId}
        </if>
        <if test="orgName !=null and orgName != ''">
            , t.org_name= #{orgName}
        </if>
        <if test="parentOrgId !=null and parentOrgId != ''">
            , t.parent_org_id= #{parentOrgId}
        </if>
        <if test="allowOperation !=null and allowOperation != ''">
            , t.allow_operation= #{allowOperation}
        </if>
        <if test="description !=null and description != ''">
            , t.description= #{description}
        </if>
        <if test="orgLevel !=null and orgLevel != ''">
            , t.org_level= #{orgLevel}
        </if>
        <if test="storeId !=null and storeId != ''">
            , t.store_id= #{storeId}
        </if>
        where 1=1
        <if test="orgId !=null and orgId != ''">
            and t.org_id= #{orgId}
        </if>

    </update>

    <!-- 查询组织数量 add by wuxw 2018-07-03 -->
    <select id="queryOrgsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from u_org t
        where 1 =1
        <if test="belongCommunityId !=null and belongCommunityId != ''">
            and t.belong_community_id= #{belongCommunityId}
        </if>
        <if test="orgName !=null and orgName != ''">
            and t.org_name= #{orgName}
        </if>
        <if test="parentOrgId !=null and parentOrgId != ''">
            and t.parent_org_id= #{parentOrgId}
        </if>
        <if test="allowOperation !=null and allowOperation != ''">
            and t.allow_operation= #{allowOperation}
        </if>
        <if test="description !=null and description != ''">
            and t.description= #{description}
        </if>
        <if test="orgLevel !=null and orgLevel != ''">
            and t.org_level= #{orgLevel}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>
        <if test="orgId !=null and orgId != ''">
            and t.org_id= #{orgId}
        </if>


    </select>

</mapper>
