<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ownerServiceDaoImpl">

    <!-- 保存业主信息 add by wuxw 2018-07-03 -->
    <insert id="saveBusinessOwnerInfo" parameterType="Map">
        insert into business_building_owner(operate, sex, name, link, remark, owner_id, b_id, user_id, age, member_id,
                                            owner_type_cd, community_id, id_card, state, owner_flag, address)
        values (#{operate}, #{sex}, #{name}, #{link}, #{remark}, #{ownerId}, #{bId}, #{userId}, #{age}, #{memberId},
                #{ownerTypeCd}, #{communityId}, #{idCard}, #{state}, #{ownerFlag}, #{address})
    </insert>

    <!-- 查询业主信息（Business） add by wuxw 2018-07-03 -->
    <select id="getBusinessOwnerInfo" parameterType="Map" resultType="Map">
        select t.operate,t.sex,t.name,t.link,t.remark,t.owner_id,t.owner_id ownerId,t.b_id,t.b_id bId,
        t.user_id,t.user_id userId,t.age,t.member_id,t.member_id memberId,t.owner_type_cd,
        t.owner_type_cd ownerTypeCd,t.community_id,t.community_id communityId,t.owner_flag,t.owner_flag ownerFlag,
        t.id_card, t.id_card idCard,t.state,t.address
        from business_building_owner t
        where 1 =1
        <if test="operate !=null and operate != ''">
            and t.operate= #{operate}
        </if>
        <if test="sex !=null ">
            and t.sex= #{sex}
        </if>
        <if test="name !=null and name != ''">
            and t.name = #{name}
        </if>
        <if test="link !=null and link != ''">
            and t.link= #{link}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="ownerId !=null and ownerId != ''">
            and t.owner_id= #{ownerId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="idCard !=null and idCard != ''">
            and t.id_card = #{idCard}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="userId !=null and userId != ''">
            and t.user_id= #{userId}
        </if>
        <if test="age !=null and age != ''">
            and t.age= #{age}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="memberId !=null and memberId != ''">
            and t.member_id= #{memberId}
        </if>
        <if test="ownerTypeCd !=null and ownerTypeCd != ''">
            and t.owner_type_cd= #{ownerTypeCd}
        </if>
        <if test="address != null and address != ''">
            and t.address= #{address}
        </if>
    </select>

    <!-- 保存业主信息至 instance表中 add by wuxw 2018-07-03 -->
    <insert id="saveOwnerInfoInstance" parameterType="Map">
        insert into building_owner(
        sex,name,link,status_cd,remark,owner_id,b_id,user_id,age,member_id,owner_type_cd,community_id,id_card,state,owner_flag,address
        ) select t.sex,t.name,t.link,'0',t.remark,t.owner_id,t.b_id,t.user_id,t.age,t.member_id,t.owner_type_cd,
        t.community_id communityId,t.id_card,state,t.owner_flag,t.address
        from business_building_owner t where 1=1
        and t.operate= 'ADD'
        <if test="sex !=null">
            and t.sex= #{sex}
        </if>
        <if test="name !=null and name != ''">
            and t.name= #{name}
        </if>
        <if test="link !=null and link != ''">
            and t.link= #{link}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="ownerId !=null and ownerId != ''">
            and t.owner_id= #{ownerId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="idCard !=null and idCard != ''">
            and t.id_card = #{idCard}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="userId !=null and userId != ''">
            and t.user_id= #{userId}
        </if>
        <if test="age !=null and age != ''">
            and t.age= #{age}
        </if>
        <if test="memberId !=null and memberId != ''">
            and t.member_id= #{memberId}
        </if>
        <if test="ownerTypeCd !=null and ownerTypeCd != ''">
            and t.owner_type_cd= #{ownerTypeCd}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="address !=null and address != ''">
            and t.address= #{address}
        </if>
    </insert>

    <!-- 查询业主信息 add by wuxw 2018-07-03 -->
    <select id="getOwnerInfo" parameterType="Map" resultType="Map">
        select t.sex,t.name,t.link,t.status_cd,t.status_cd statusCd,t.remark,
        t.owner_id,t.owner_id ownerId,t.b_id,t.b_id bId,
        t.user_id,t.user_id userId,t.age,t.member_id,t.member_id memberId,t.owner_type_cd,
        t.owner_type_cd ownerTypeCd,t.create_time createTime,t.community_id,
        t.community_id communityId,t.id_card, t.id_card idCard,t.state,td.name ownerTypeName,
        t.owner_flag,t.owner_flag ownerFlag,t.address
        <if test="roomIds != null">
            , borr.room_id roomId
        </if>
        from building_owner t,t_dict td
        <if test="roomId != null and roomId != ''">
            ,building_owner_room_rel borr
        </if>
        <if test="roomIds != null ">
            ,building_owner_room_rel borr
        </if>
        where 1 = 1
        <if test="roomId != null and roomId != ''">
            and t.owner_id = borr.owner_id
            and borr.status_cd = t.status_cd
            and borr.room_id = #{roomId}
        </if>
        <if test="roomIds != null">
            and t.owner_id = borr.owner_id
            and borr.status_cd = t.status_cd
            and borr.room_id in
            <foreach collection="roomIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        and td.table_name = 'building_owner'
        and td.`table_columns` = 'owner_type_cd'
        and td.status_cd = t.owner_type_cd
        <if test="sex !=null">
            and t.sex= #{sex}
        </if>
        <if test="name !=null and name != ''">
            and t.name = #{name}
        </if>
        <if test="link !=null and link != ''">
            and t.link= #{link}
        </if>
        <if test="address !=null and address != ''">
            and t.address= #{address}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="ownerId !=null and ownerId != ''">
            and t.owner_id= #{ownerId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="idCard !=null and idCard != ''">
            and t.id_card = #{idCard}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="ownerFlag !=null and ownerFlag != ''">
            and t.owner_flag= #{ownerFlag}
        </if>
        <if test="age !=null and age != ''">
            and t.age= #{age}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="memberId !=null and memberId != ''">
            and t.member_id= #{memberId}
        </if>
        <if test="ownerIds != null and ownerIds != ''">
            and t.owner_id in
            <foreach collection="ownerIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="ownerTypeCd !=null and ownerTypeCd != ''">
            and t.owner_type_cd= #{ownerTypeCd}
        </if>
        <if test="ownerTypeCds != null">
            and t.owner_type_cd in
            <foreach collection="ownerTypeCds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>
    </select>

    <!-- 查询业主信息 add by wuxw 2018-07-03 -->
    <select id="getOwnerInfoCount" parameterType="Map" resultType="Map">
        select count(1) count
        from building_owner t
        <if test="roomId != null and roomId != ''">
            ,building_owner_room_rel borr
        </if>
        <if test="roomIds != null ">
            ,building_owner_room_rel borr
        </if>
        where 1 =1
        <if test="roomId != null and roomId != ''">
            and t.owner_id = borr.owner_id
            and borr.status_cd = '0'
            and borr.room_id = #{roomId}
        </if>
        <if test="roomIds != null">
            and t.owner_id = borr.owner_id
            and borr.status_cd = '0'
            and borr.room_id in
            <foreach collection="roomIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="sex !=null">
            and t.sex= #{sex}
        </if>
        <if test="name !=null and name != ''">
            and t.name like concat('%',#{name},'%')
        </if>
        <if test="link !=null and link != ''">
            and t.link= #{link}
        </if>
        <if test="address !=null and address != ''">
            and t.address= #{address}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="ownerId !=null and ownerId != ''">
            and t.owner_id= #{ownerId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="idCard !=null and idCard != ''">
            and t.id_card = #{idCard}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="ownerFlag !=null and ownerFlag != ''">
            and t.owner_flag= #{ownerFlag}
        </if>
        <if test="age !=null and age != ''">
            and t.age= #{age}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="memberId !=null and memberId != ''">
            and t.member_id= #{memberId}
        </if>
        <if test="ownerIds != null and ownerIds != ''">
            and t.owner_id in
            <foreach collection="ownerIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="ownerTypeCd !=null and ownerTypeCd != ''">
            and t.owner_type_cd= #{ownerTypeCd}
        </if>
    </select>

    <!-- 修改业主信息 add by wuxw 2018-07-03 -->
    <update id="updateOwnerInfoInstance" parameterType="Map">
        update building_owner t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="sex !=null ">
            , t.sex= #{sex}
        </if>
        <if test="name !=null and name != ''">
            , t.name= #{name}
        </if>
        <if test="link !=null and link != ''">
            , t.link= #{link}
        </if>
        <if test="address !=null and address != ''">
            , t.address= #{address}
        </if>
        <if test="remark !=null and remark != ''">
            , t.remark= #{remark}
        </if>
        <if test="ownerId !=null and ownerId != ''">
            , t.owner_id= #{ownerId}
        </if>
        <if test="userId !=null and userId != ''">
            , t.user_id= #{userId}
        </if>
        <if test="age !=null and age != ''">
            , t.age= #{age}
        </if>
        <if test="state !=null and state != ''">
            , t.state= #{state}
        </if>
        <if test="idCard !=null and idCard != ''">
            , t.id_card = #{idCard}
        </if>
        where 1=1
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="memberId !=null and memberId != ''">
            and t.member_id= #{memberId}
        </if>
    </update>

    <!-- 查询业主数量 add by wuxw 2018-07-03 -->
    <select id="queryOwnersCount" parameterType="Map" resultType="Map">
        select count(1) count
        FROM building_owner t
        where 1=1
        <if test="sex !=null ">
            and t.sex= #{sex}
        </if>
        <if test="name !=null and name != ''">
            and t.name like concat('%',#{name},'%')
        </if>
        <if test="link !=null and link != ''">
            and t.link= #{link}
        </if>
        <if test="address !=null and address != ''">
            and t.address= #{address}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="ownerId !=null and ownerId != ''">
            and t.owner_id= #{ownerId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="idCard !=null and idCard != ''">
            and t.id_card = #{idCard}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="ownerFlag !=null and ownerFlag != ''">
            and t.owner_flag= #{ownerFlag}
        </if>
        <if test="age !=null and age != ''">
            and t.age= #{age}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="memberId !=null and memberId != ''">
            and t.member_id= #{memberId}
        </if>
        <if test="ownerTypeCd !=null and ownerTypeCd != ''">
            and t.owner_type_cd= #{ownerTypeCd}
        </if>
        <if test="ownerTypeCds != null ">
            and t.owner_type_cd in
            <foreach collection="ownerTypeCds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>

    <!-- 查询业主数量 add by wuxw 2018-07-03 -->
    <select id="queryOwnersCountByCondition" parameterType="Map" resultType="Map">
        select count(1) count
        FROM building_owner t
        WHERE
        t.`status_cd` = '0'
        <if test="sex !=null ">
            and t.sex= #{sex}
        </if>
        <if test="name !=null and name != ''">
            and t.name like concat('%',#{name},'%')
        </if>
        <if test="link !=null and link != ''">
            and t.link= #{link}
        </if>
        <if test="address !=null and address != ''">
            and t.address= #{address}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="ownerId !=null and ownerId != ''">
            and t.owner_id= #{ownerId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="idCard !=null and idCard != ''">
            and t.id_card = #{idCard}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="ownerFlag !=null and ownerFlag != ''">
            and t.owner_flag= #{ownerFlag}
        </if>
        <if test="age !=null and age != ''">
            and t.age= #{age}
        </if>
        <if test="memberId !=null and memberId != ''">
            and t.member_id= #{memberId}
        </if>
        <if test="ownerTypeCd !=null and ownerTypeCd != ''">
            and t.owner_type_cd= #{ownerTypeCd}
        </if>
        <if test="ownerTypeCds != null ">
            and t.owner_type_cd in
            <foreach collection="ownerTypeCds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>

    <!-- 查询业主信息 add by wuxw 2018-07-03 -->
    <select id="getOwnerInfoByCondition" parameterType="Map" resultType="Map">
        select t.sex,t.name,t.link,t.status_cd,t.status_cd statusCd,t.remark,t.owner_id,t.owner_id ownerId,t.b_id,t.b_id
        bId,t.user_id,t.user_id userId,t.age,t.member_id,t.member_id memberId,
        t.owner_type_cd,t.owner_type_cd ownerTypeCd,t.community_id,
        t.community_id communityId,t.id_card, t.id_card idCard,t.address
        FROM building_owner t
        WHERE
        t.`status_cd` = '0'
        <if test="sex !=null ">
            and t.sex= #{sex}
        </if>
        <if test="name !=null and name != ''">
            and t.name like concat('%',#{name},'%')
        </if>
        <if test="link !=null and link != ''">
            and t.link= #{link}
        </if>
        <if test="address !=null and address != ''">
            and t.address= #{address}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="ownerId !=null and ownerId != ''">
            and t.owner_id= #{ownerId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="idCard !=null and idCard != ''">
            and t.id_card = #{idCard}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="ownerFlag !=null and ownerFlag != ''">
            and t.owner_flag= #{ownerFlag}
        </if>
        <if test="age !=null and age != ''">
            and t.age= #{age}
        </if>
        <if test="memberId !=null and memberId != ''">
            and t.member_id= #{memberId}
        </if>
        <if test="ownerIds != null and ownerIds != ''">
            and t.owner_id in
            <foreach collection="ownerIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="ownerTypeCd !=null and ownerTypeCd != ''">
            and t.owner_type_cd= #{ownerTypeCd}
        </if>
        <if test="ownerTypeCds != null ">
            and t.owner_type_cd in
            <foreach collection="ownerTypeCds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>
    </select>

    <!-- 查询未入驻业主 总数 -->
    <select id="queryNoEnterRoomOwnerCount" parameterType="Map" resultType="Map">
        select COUNT(1) count
        from building_owner o
        left join building_owner_room_rel orr
        on o.owner_id = orr.owner_id and orr.status_cd = '0'
        where o.status_cd = '0'
        and o.owner_type_cd = '1001'
        and o.community_id = #{communityId}
        and orr.rel_id is null
    </select>

    <!-- queryOwnersByRoom -->
    <!-- 根据房屋查询业主信息 -->
    <select id="queryOwnersByRoom" parameterType="Map" resultType="Map">
        SELECT t.sex,t.name,t.link,t.status_cd,t.status_cd statusCd,t.remark,t.owner_id,t.owner_id ownerId,t.b_id,t.b_id
        bId,t.user_id,t.user_id userId,t.age,t.member_id,t.member_id memberId,t.owner_type_cd,t.owner_type_cd ownerTypeCd,
        r.`room_id` roomId,r.`room_num` roomNum,t.community_id,t.community_id communityId,t.id_card, t.id_card
        idCard,orr.start_time startTime ,orr.end_time endTime,t.address
        FROM building_room r,building_owner_room_rel orr,building_owner t
        WHERE r.`room_id` = orr.`room_id`
        AND orr.`owner_id` = t.`owner_id`
        <if test="roomId !=null and roomId != ''">
            AND r.`room_id` = #{roomId}
        </if>
        <if test="roomIds != null ">
            and r.room_id in
            <foreach collection="roomIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        and t.owner_type_cd = '1001'
        AND r.`status_cd` = '0'
        AND orr.`status_cd` = '0'
        AND t.`status_cd` = '0'
    </select>

    <!-- 根据停车位查询 -->
    <select id="queryOwnersByParkingSpace" parameterType="Map" resultType="Map">
        select ps.num,ps.ps_id psId,t.sex,t.name,t.link,t.status_cd,t.status_cd statusCd,t.remark,t.owner_id,t.owner_id
        ownerId,t.b_id,t.b_id bId,t.address,
        t.user_id,t.user_id userId,t.age,t.member_id,t.member_id memberId,
        t.owner_type_cd,t.owner_type_cd ownerTypeCd,t.id_card, t.id_card idCard
        from p_parking_space ps , owner_car oc,building_owner t
        where ps.ps_id = oc.ps_id
        and oc.owner_id = t.owner_id
        AND oc.`status_cd` = '0'
        AND ps.`status_cd` = '0'
        and oc.car_type_cd='1001'
        AND t.`status_cd` = '0'
        <if test="psIds != null ">
            and ps.ps_id in
            <foreach collection="psIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="psId !=null and psId != ''">
            AND ps.`ps_id` = #{psId}
        </if>
    </select>

    <select id="queryOwnerLogsByRoom" parameterType="Map" resultType="Map">
        SELECT
        bo.owner_id ownerId,
        bo.`name`,
        bo.link,
        t.start_time startTime,
        t.end_time endTime,
        t.create_time createTime,
        t.room_id roomId
        FROM
        building_owner_room_rel t
        INNER JOIN building_owner bo ON t.owner_id = bo.owner_id AND bo.status_cd = '0' AND bo.community_id =
        #{communityId}
        WHERE
        bo.owner_type_cd = '1001'
        AND t.room_id = #{roomId}
        ORDER BY
        t.create_time DESC
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>
    </select>

    <select id="queryOwnerLogsCountByRoom" parameterType="Map" resultType="Map">
        select COUNT(1) count
        from building_owner_room_rel t
        inner join building_owner bo
        on t.owner_id = bo.owner_id and bo.status_cd = '0' and bo.community_id = #{communityId}
        where bo.owner_type_cd = '1001'
        and t.room_id = #{roomId}
    </select>

</mapper>
