<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ownerCarServiceDaoImpl">

    <!-- 保存车辆管理信息 add by wuxw 2018-07-03 -->
    <insert id="saveBusinessOwnerCarInfo" parameterType="Map">
        insert into business_owner_car(
        car_color,car_brand,car_type,operate,car_num,ps_id,remark,owner_id,b_id,user_id,car_id,community_id,start_time,
        end_time,state,car_type_cd,member_id
        ) values (
        #{carColor},#{carBrand},#{carType},#{operate},#{carNum},#{psId},#{remark},#{ownerId},#{bId},#{userId},#{carId},#{communityId},
        #{startTime},#{endTime},#{state},#{carTypeCd},#{memberId}
        )
    </insert>

    <!-- 查询车辆管理信息（Business） add by wuxw 2018-07-03 -->
    <select id="getBusinessOwnerCarInfo" parameterType="Map" resultType="Map">
        select t.car_color,t.car_color carColor,t.car_brand,t.car_brand carBrand,t.car_type,t.car_type
        carType,t.operate,t.car_num,t.car_num carNum,t.ps_id,t.ps_id psId,t.remark,t.owner_id,t.owner_id
        ownerId,t.b_id,t.b_id bId,t.user_id,t.user_id userId,t.car_id,t.car_id carId,t.community_id,t.community_id
        communityId,t.start_time,t.end_time,t.state,t.start_time startTime,t.end_time endTime,t.car_type_cd,
        t.car_type_cd carTypeCd,t.member_id,t.member_id memberId,t.lease_type leaseType
        from business_owner_car t
        where 1 =1
        <if test="carColor !=null and carColor != ''">
            and t.car_color= #{carColor}
        </if>
        <if test="carBrand !=null and carBrand != ''">
            and t.car_brand= #{carBrand}
        </if>
        <if test="carType !=null and carType != ''">
            and t.car_type= #{carType}
        </if>
        <if test="carTypeCd !=null and carTypeCd != ''">
            and t.car_type_cd= #{carTypeCd}
        </if>
        <if test="operate !=null and operate != ''">
            and t.operate= #{operate}
        </if>
        <if test="carNum !=null and carNum != ''">
            and t.car_num= #{carNum}
        </if>
        <if test="psId !=null and psId != ''">
            and t.ps_id= #{psId}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="ownerId !=null and ownerId != ''">
            and t.owner_id= #{ownerId}
        </if>
        <if test="leaseType !=null and leaseType != ''">
            and t.lease_type= #{leaseType}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="userId !=null and userId != ''">
            and t.user_id= #{userId}
        </if>
        <if test="carId !=null and carId != ''">
            and t.car_id= #{carId}
        </if>
        <if test="memberId !=null and memberId != ''">
            and t.member_id= #{memberId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
    </select>

    <!-- 保存车辆管理信息至 instance表中 add by wuxw 2018-07-03 -->
    <insert id="saveOwnerCarInfoInstance" parameterType="Map">
        insert into owner_car(
        car_color,car_brand,car_type,car_num,ps_id,remark,status_cd,owner_id,b_id,user_id,car_id,community_id,
        start_time,end_time,state,car_type_cd,member_id
        ) select
        t.car_color,t.car_brand,t.car_type,t.car_num,t.ps_id,t.remark,'0',t.owner_id,t.b_id,t.user_id,t.car_id,t.community_id,
        t.start_time,t.end_time,t.state,  t.car_type_cd,t.member_id
        from business_owner_car t where 1=1
        <if test="carColor !=null and carColor != ''">
            and t.car_color= #{carColor}
        </if>
        <if test="carBrand !=null and carBrand != ''">
            and t.car_brand= #{carBrand}
        </if>
        <if test="carType !=null and carType != ''">
            and t.car_type= #{carType}
        </if>
        <if test="carTypeCd !=null and carTypeCd != ''">
            and t.car_type_cd= #{carTypeCd}
        </if>
        and t.operate= 'ADD'
        <if test="carNum !=null and carNum != ''">
            and t.car_num= #{carNum}
        </if>
        <if test="psId !=null and psId != ''">
            and t.ps_id= #{psId}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="ownerId !=null and ownerId != ''">
            and t.owner_id= #{ownerId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="userId !=null and userId != ''">
            and t.user_id= #{userId}
        </if>
        <if test="carId !=null and carId != ''">
            and t.car_id= #{carId}
        </if>
        <if test="memberId !=null and memberId != ''">
            and t.member_id= #{memberId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
    </insert>


    <!-- 查询车辆管理信息 add by wuxw 2018-07-03 -->
    <select id="getOwnerCarInfo" parameterType="Map" resultType="Map">
        select t.car_color,t.car_color carColor,t.car_brand,t.car_brand carBrand,t.car_type,t.car_type carType,t1.name
        carTypeName,
        t.car_num,t.car_num carNum,t.ps_id,t.ps_id psId,t.remark,t.status_cd,t.status_cd statusCd,t.owner_id,
        t.owner_id ownerId,t.b_id,t.b_id bId,t.user_id,t.user_id userId,t.car_id,t.car_id carId ,t.create_time
        createTime,t.community_id communityId,bow.name ownerName,bow.id_card idCard,bow.link,t2.name stateName,
        t.start_time,t.start_time startTime,t.end_time,t.end_time endTime,t.state,
        t.car_type_cd,t.car_type_cd carTypeCd,t.member_id,t.member_id memberId,ps.num,pa.num areaNum,t.lease_type leaseType,
        t3.name leaseTypeName,t4.name carTypeCdName
        <if test="carTypeCd != '1003'">
        ,count(moc.member_id) memberCarCount
        </if>
        from owner_car t
        left join t_dict t1 on t.car_type=t1.status_cd and t1.table_name='owner_car' and t1.table_columns = 'car_type'
        left join t_dict t2 on t.state=t2.status_cd and t2.table_name='owner_car' and t2.table_columns = 'state'
        left join t_dict t4 on t.car_type_cd=t4.status_cd and t4.table_name='owner_car' and t4.table_columns = 'car_type_cd'
        left join building_owner bow on t.owner_id = bow.member_id and bow.status_cd = '0' and bow.community_id =
        t.community_id
        left join parking_space ps on t.ps_id = ps.ps_id and ps.status_cd = '0'
        left join parking_area pa on ps.pa_id = pa.pa_id and pa.status_cd = '0'
        left join t_dict t3 on t.lease_type = t3.status_cd and t3.table_name = 'owner_car' and t3.table_columns = 'lease_type'
        <if test="carTypeCd != '1003'">
        left join owner_car moc on t.car_id = moc.car_id and moc.car_type_cd != t.car_type_cd and moc.car_type_cd = '1002'
        </if>
        where 1=1
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd = #{statusCd}
        </if>
        <if test="carColor !=null and carColor != ''">
            and t.car_color= #{carColor}
        </if>
        <if test="carBrand !=null and carBrand != ''">
            and t.car_brand= #{carBrand}
        </if>
        <if test="carType !=null and carType != ''">
            and t.car_type= #{carType}
        </if>
        <if test="carTypeCd !=null and carTypeCd != ''">
            and t.car_type_cd= #{carTypeCd}
        </if>
        <if test="carTypeCds !=null">
            and t.car_type_cd in
            <foreach collection="carTypeCds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="paIds !=null">
            and pa.pa_id in
            <foreach collection="paIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="carNum !=null and carNum != ''">
            and t.car_num= #{carNum}
        </if>
        <if test="carNumLike !=null and carNumLike != ''">
            and t.car_num like  concat('%',#{carNumLike},'%')
        </if>
        <if test="memberCarNum !=null and memberCarNum != '' and carTypeCd != '1003'">
            and moc.car_num= #{memberCarNum}
        </if>
        <if test="memberCarNumLike !=null and memberCarNumLike != '' and carTypeCd != '1003' ">
            and moc.car_num like  concat('%',#{memberCarNumLike},'%')
        </if>
        <if test="carNums !=null">
            and t.car_num in
            <foreach collection="carNums" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="psId !=null and psId != ''">
            and t.ps_id= #{psId}
        </if>
        <if test="psIds !=null">
            and t.ps_id in
            <foreach collection="psIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="ownerId !=null and ownerId != ''">
            and t.owner_id= #{ownerId}
        </if>
        <if test="leaseType !=null and leaseType != ''">
            and t.lease_type= #{leaseType}
        </if>
        <if test="ownerName !=null and ownerName != ''">
            and bow.name like '%${ownerName}%'
        </if>
        <if test="link !=null and link != ''">
            and bow.link = #{link}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="carId !=null and carId != ''">
            and t.car_id= #{carId}
        </if>
        <if test="memberId !=null and memberId != ''">
            and t.member_id= #{memberId}
        </if>
        <if test="memberIds !=null">
            and t.member_id in
            <foreach collection="memberIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="carIds !=null">
            and t.car_id in
            <foreach collection="carIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="valid == 1">
            and t.end_time &gt; now()
        </if>
        <if test="valid == 3">
            and t.end_time &lt; now()
        </if>
        <if test="valid == 2">
            and t.ps_id= '-1'
        </if>
        <if test="carTypeCd != '1003'">
        GROUP BY t.car_color,t.car_brand,t.car_type,t1.name,
        t.car_num,t.ps_id,t.remark,t.status_cd,t.owner_id,
        t.b_id,t.user_id,t.car_id,t.create_time
        ,t.community_id ,bow.name,bow.id_card ,bow.link,t2.name,t.start_time,t.end_time,t.state,
        t.car_type_cd,t.member_id,ps.num,t.lease_type ,
        t3.name ,t4.name
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>
    </select>

    <!-- 修改车辆管理信息 add by wuxw 2018-07-03 -->
    <update id="updateOwnerCarInfoInstance" parameterType="Map">
        update owner_car t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="carColor !=null and carColor != ''">
            , t.car_color= #{carColor}
        </if>
        <if test="carBrand !=null and carBrand != ''">
            , t.car_brand= #{carBrand}
        </if>
        <if test="carType !=null and carType != ''">
            , t.car_type= #{carType}
        </if>
        <if test="carNum !=null and carNum != ''">
            , t.car_num= #{carNum}
        </if>
        <if test="psId !=null and psId != ''">
            , t.ps_id= #{psId}
        </if>
        <if test="remark !=null and remark != ''">
            , t.remark= #{remark}
        </if>
        <if test="ownerId !=null and ownerId != ''">
            , t.owner_id= #{ownerId}
        </if>
        <if test="leaseType !=null and leaseType != ''">
            , t.lease_type= #{leaseType}
        </if>
        <if test="userId !=null and userId != ''">
            , t.user_id= #{userId}
        </if>
        <if test="startTime !=null ">
            , t.start_time= #{startTime}
        </if>
        <if test="endTime !=null ">
            , t.end_time= #{endTime}
        </if>
        <if test="state !=null ">
            , t.state= #{state}
        </if>
        where 1=1
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="carId !=null and carId != ''">
            and t.car_id= #{carId}
        </if>
        <if test="memberId !=null and memberId != ''">
            and t.member_id= #{memberId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="carTypeCd !=null and carTypeCd != ''">
            and t.car_type_cd= #{carTypeCd}
        </if>

    </update>

    <!-- 查询车辆管理数量 add by wuxw 2018-07-03 -->
    <select id="queryOwnerCarsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from owner_car t
        left join building_owner bow on t.owner_id = bow.member_id and bow.status_cd = '0' and bow.community_id =
        t.community_id
        <if test="memberCarNumLike !=null and memberCarNumLike != ''">
            left join owner_car moc on t.car_id = moc.car_id and moc.car_type_cd != t.car_type_cd and moc.car_type_cd = '1002'
        </if>
        where 1=1
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd = #{statusCd}
        </if>
        <if test="carColor !=null and carColor != ''">
            and t.car_color= #{carColor}
        </if>
        <if test="carBrand !=null and carBrand != ''">
            and t.car_brand= #{carBrand}
        </if>
        <if test="carType !=null and carType != ''">
            and t.car_type= #{carType}
        </if>
        <if test="carTypeCd !=null and carTypeCd != ''">
            and t.car_type_cd= #{carTypeCd}
        </if>
        <if test="carTypeCds !=null">
            and t.car_type_cd in
            <foreach collection="carTypeCds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="carNum !=null and carNum != ''">
            and t.car_num= #{carNum}
        </if>
        <if test="carNumLike !=null and carNumLike != ''">
            and t.car_num like  concat('%',#{carNumLike},'%')
        </if>
        <if test="memberCarNum !=null and memberCarNum != ''">
            and moc.car_num= #{memberCarNum}
        </if>
        <if test="memberCarNumLike !=null and memberCarNumLike != ''">
            and moc.car_num like  concat('%',#{memberCarNumLike},'%')
        </if>
        <if test="carNums !=null">
            and t.car_num in
            <foreach collection="carNums" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="psId !=null and psId != ''">
            and t.ps_id= #{psId}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="ownerId !=null and ownerId != ''">
            and t.owner_id= #{ownerId}
        </if>
        <if test="leaseType !=null and leaseType != ''">
            and t.lease_type= #{leaseType}
        </if>
        <if test="ownerName !=null and ownerName != ''">
            and bow.name like '%${ownerName}%'
        </if>
        <if test="link !=null and link != ''">
            and bow.link = #{link}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="carId !=null and carId != ''">
            and t.car_id= #{carId}
        </if>
        <if test="memberId !=null and memberId != ''">
            and t.member_id= #{memberId}
        </if>
        <if test="memberIds !=null">
            and t.member_id in
            <foreach collection="memberIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="carIds !=null">
            and t.car_id in
            <foreach collection="carIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="valid == 1">
            and t.end_time &gt; now()
        </if>
        <if test="valid == 3">
            and t.end_time &lt; now()
        </if>
        <if test="valid == 2">
            and t.ps_id= '-1'
        </if>

    </select>

    <select id="queryOwnerParkingSpaceCount" parameterType="Map" resultType="Map">
        select count(DISTINCT t.ps_id) count
        from owner_car t
        where
        t.ps_id != '-1'
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="ownerId !=null and ownerId != ''">
            and t.owner_id= #{ownerId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
    </select>
</mapper>
