<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ownerAttrServiceDaoImpl">

    <!-- 保存业主属性信息 add by wuxw 2018-07-03 -->
    <insert id="saveBusinessOwnerAttrInfo" parameterType="Map">
        insert into business_building_owner_attr(
        attr_id,operate,spec_cd,b_id,community_id,value,member_id
        ) values (
        #{attrId},#{operate},#{specCd},#{bId},#{communityId},#{value},#{memberId}
        )
    </insert>

    <insert id="saveOwnerAttr" parameterType="Map">
        insert into building_owner_attr(
        attr_id,spec_cd,b_id,community_id,value,member_id
        ) values (
        #{attrId},#{specCd},'-1',#{communityId},#{value},#{memberId}
        )
    </insert>


    <!-- 查询业主属性信息（Business） add by wuxw 2018-07-03 -->
    <select id="getBusinessOwnerAttrInfo" parameterType="Map" resultType="Map">
        select t.attr_id,t.attr_id attrId,t.operate,t.create_time,t.create_time createTime,t.spec_cd,t.spec_cd
        specCd,t.b_id,t.b_id bId,t.community_id,t.community_id communityId,t.value,t.member_id,t.member_id memberId
        from business_building_owner_attr t
        where 1 =1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="operate !=null and operate != ''">
            and t.operate= #{operate}
        </if>
        <if test="createTime !=null ">
            and t.create_time= #{createTime}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>
        <if test="memberId !=null and memberId != ''">
            and t.member_id= #{memberId}
        </if>

    </select>


    <!-- 保存业主属性信息至 instance表中 add by wuxw 2018-07-03 -->
    <insert id="saveOwnerAttrInfoInstance" parameterType="Map">
        insert into building_owner_attr(
        attr_id,create_time,spec_cd,status_cd,b_id,community_id,value,member_id
        ) select t.attr_id,t.create_time,t.spec_cd,'0',t.b_id,t.community_id,t.value,t.member_id from
        business_building_owner_attr t where 1=1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        and t.operate= 'ADD'
        <if test="createTime !=null and createTime != ''">
            and t.create_time= #{createTime}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>
        <if test="memberId !=null and memberId != ''">
            and t.member_id= #{memberId}
        </if>

    </insert>


    <!-- 查询业主属性信息 add by wuxw 2018-07-03 -->
    <select id="getOwnerAttrInfo" parameterType="Map" resultType="Map">
        select t.attr_id,t.attr_id attrId,t.create_time,t.create_time createTime,t.spec_cd,t.spec_cd
        specCd,t.status_cd,t.status_cd statusCd,t.b_id,t.b_id bId,t.community_id,t.community_id
        communityId,t.value,t.member_id,t.member_id memberId,
        s.spec_name specName,
        v.value_name valueName,
        s.list_show listShow
        from building_owner_attr t
        left join attr_spec s on t.spec_cd = s.spec_cd and s.status_cd = '0' and t.spec_cd = s.spec_cd and s.table_name = 'building_owner_attr'
        left join attr_value v on t.`value` = v.`value` and s.spec_id = v.spec_id and v.status_cd = '0'
        where 1 =1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="createTime !=null and createTime != ''">
            and t.create_time= #{createTime}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>
        <if test="memberId !=null and memberId != ''">
            and t.member_id= #{memberId}
        </if>
        <if test="memberIds !=null">
            and t.member_id in
            <foreach collection="memberIds" open="(" close=")"
                     separator="," item="item">
                #{item}
            </foreach>
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改业主属性信息 add by wuxw 2018-07-03 -->
    <update id="updateOwnerAttrInfoInstance" parameterType="Map">
        update building_owner_attr t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="specCd !=null and specCd != ''">
            , t.spec_cd= #{specCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            , t.community_id= #{communityId}
        </if>
            , t.value= #{value}
        <if test="memberId !=null and memberId != ''">
            , t.member_id= #{memberId}
        </if>
        where 1=1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>

    </update>

    <!-- 查询业主属性数量 add by wuxw 2018-07-03 -->
    <select id="queryOwnerAttrsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from building_owner_attr t
        where 1 =1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="createTime !=null and createTime != ''">
            and t.create_time= #{createTime}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="bId !=null and bId != ''">
            and t.b_id= #{bId}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>
        <if test="memberId !=null and memberId != ''">
            and t.member_id= #{memberId}
        </if>


    </select>

</mapper>
