<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ownerCarAttrV1ServiceDaoImpl">

    <!-- 保存车辆属性信息 add by wuxw 2018-07-03 -->
    <insert id="saveOwnerCarAttrInfo" parameterType="Map">
        insert into owner_car_attr(attr_id, spec_cd, community_id, value, member_id)
        values (#{attrId}, #{specCd}, #{communityId}, #{value}, #{memberId})
    </insert>

    <!-- 查询车辆属性信息 add by wuxw 2018-07-03 -->
    <select id="getOwnerCarAttrInfo" parameterType="Map" resultType="Map">
        select t.attr_id,t.attr_id attrId,t.spec_cd,t.spec_cd specCd,t.status_cd,t.status_cd
        statusCd,t.community_id,t.community_id communityId,t.value,t.member_id,t.member_id memberId
        from owner_car_attr t
        where 1 =1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>
        <if test="memberId !=null and memberId != ''">
            and t.member_id= #{memberId}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>
    </select>

    <!-- 修改车辆属性信息 add by wuxw 2018-07-03 -->
    <update id="updateOwnerCarAttrInfo" parameterType="Map">
        update owner_car_attr t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="specCd !=null and specCd != ''">
            , t.spec_cd= #{specCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            , t.community_id= #{communityId}
        </if>
        <if test="value !=null and value != ''">
            , t.value= #{value}
        </if>
        <if test="memberId !=null and memberId != ''">
            , t.member_id= #{memberId}
        </if>
        where 1=1
        <if test="carId !=null and carId != ''">
            and t.car_id= #{carId}
        </if>
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
    </update>

    <!-- 查询车辆属性数量 add by wuxw 2018-07-03 -->
    <select id="queryOwnerCarAttrsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from owner_car_attr t
        where 1 =1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>
        <if test="memberId !=null and memberId != ''">
            and t.member_id= #{memberId}
        </if>
    </select>

</mapper>
