<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ownerRoomRelV1ServiceDaoImpl">

    <!-- 保存业主房屋关系表信息 add by wuxw 2018-07-03 -->
    <insert id="saveOwnerRoomRelInfo" parameterType="Map">
        insert into building_owner_room_rel(rel_id, remark, start_time, state, end_time, owner_id, user_id, room_id)
        values (#{relId}, #{remark}, #{startTime}, #{state}, #{endTime}, #{ownerId}, #{userId}, #{roomId})
    </insert>

    <!-- 查询业主房屋关系表信息 add by wuxw 2018-07-03 -->
    <select id="getOwnerRoomRelInfo" parameterType="Map" resultType="Map">
        select t.rel_id,t.rel_id relId,t.remark,t.status_cd,t.status_cd statusCd,t.start_time,t.start_time
        startTime,t.state,t.end_time,t.end_time endTime,t.owner_id,t.owner_id ownerId,t.user_id,t.user_id
        userId,t.room_id,t.room_id roomId,bo.name ownerName,bo.link
        from building_owner_room_rel t
        left join building_owner bo on t.owner_id = bo.member_id and bo.status_cd = '0'
        where 1 =1
        <if test="ownerNameLike !=null and ownerNameLike != ''">
            and bo.`name` like concat('%',#{ownerNameLike},'%')
        </if>
        <if test="relId !=null and relId != ''">
            and t.rel_id= #{relId}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="startTime !=null and startTime != ''">
            and t.start_time= #{startTime}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="endTime !=null and endTime != ''">
            and t.end_time= #{endTime}
        </if>
        <if test="ownerId !=null and ownerId != ''">
            and t.owner_id= #{ownerId}
        </if>
        <if test="userId !=null and userId != ''">
            and t.user_id= #{userId}
        </if>
        <if test="roomId !=null and roomId != ''">
            and t.room_id= #{roomId}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>
    </select>

    <!-- 修改业主房屋关系表信息 add by wuxw 2018-07-03 -->
    <update id="updateOwnerRoomRelInfo" parameterType="Map">
        update building_owner_room_rel t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="remark !=null and remark != ''">
            , t.remark= #{remark}
        </if>
        <if test="startTime !=null and startTime != ''">
            , t.start_time= #{startTime}
        </if>
        <if test="state !=null and state != ''">
            , t.state= #{state}
        </if>
        <if test="endTime !=null and endTime != ''">
            , t.end_time= #{endTime}
        </if>
        <if test="ownerId !=null and ownerId != ''">
            , t.owner_id= #{ownerId}
        </if>
        <if test="userId !=null and userId != ''">
            , t.user_id= #{userId}
        </if>
        <if test="roomId !=null and roomId != ''">
            , t.room_id= #{roomId}
        </if>
        where 1=1
        <if test="relId !=null and relId != ''">
            and t.rel_id= #{relId}
        </if>
    </update>

    <!-- 查询业主房屋关系表数量 add by wuxw 2018-07-03 -->
    <select id="queryOwnerRoomRelsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from building_owner_room_rel t
        where 1 =1
        <if test="relId !=null and relId != ''">
            and t.rel_id= #{relId}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="startTime !=null and startTime != ''">
            and t.start_time= #{startTime}
        </if>
        <if test="state !=null and state != ''">
            and t.state= #{state}
        </if>
        <if test="endTime !=null and endTime != ''">
            and t.end_time= #{endTime}
        </if>
        <if test="ownerId !=null and ownerId != ''">
            and t.owner_id= #{ownerId}
        </if>
        <if test="userId !=null and userId != ''">
            and t.user_id= #{userId}
        </if>
        <if test="roomId !=null and roomId != ''">
            and t.room_id= #{roomId}
        </if>
    </select>

    <select id="queryRoomCountByOwnerIds" parameterType="Map" resultType="Map">
        select t.owner_id ownerId,count(1) roomCount
        from building_owner_room_rel t
        left join building_room br on br.room_id = t.room_id
        where t.status_cd = '0'
        and br.status_cd = '0'
        and t.owner_id in
        <foreach collection="ownerIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        and br.state != '2008'
        group by t.owner_id
    </select>
</mapper>
