<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="privilegeGroupV1ServiceDaoImpl">

    <!-- 保存角色信息 add by wuxw 2018-07-03 -->
    <insert id="savePrivilegeGroupInfo" parameterType="Map">
        insert into p_privilege_group(pg_id, domain, name, description, store_id, role_type, seq)
        values (#{pgId}, #{domain}, #{name}, #{description}, #{storeId}, #{roleType}, #{seq})
    </insert>

    <!-- 查询角色信息 add by wuxw 2018-07-03 -->
    <select id="getPrivilegeGroupInfo" parameterType="Map" resultType="Map">
        select t.pg_id,t.pg_id pgId,t.domain,t.name,t.description,t.status_cd,t.status_cd statusCd,t.store_id,t.store_id
        storeId,t.role_type,t.role_type roleType,t.seq
        from p_privilege_group t
        where 1 =1
        <if test="pgId !=null and pgId != ''">
            and t.pg_id= #{pgId}
        </if>
        <if test="domain !=null and domain != ''">
            and t.domain= #{domain}
        </if>
        <if test="name !=null and name != ''">
            and t.name= #{name}
        </if>
        <if test="description !=null and description != ''">
            and t.description= #{description}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>
        <if test="roleType !=null and roleType != ''">
            and t.role_type= #{roleType}
        </if>
        <if test="seq !=null and seq != ''">
            and t.seq= #{seq}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>
    </select>

    <!-- 修改角色信息 add by wuxw 2018-07-03 -->
    <update id="updatePrivilegeGroupInfo" parameterType="Map">
        update p_privilege_group t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="domain !=null and domain != ''">
            , t.domain= #{domain}
        </if>
        <if test="name !=null and name != ''">
            , t.name= #{name}
        </if>
        <if test="description !=null and description != ''">
            , t.description= #{description}
        </if>
        <if test="storeId !=null and storeId != ''">
            , t.store_id= #{storeId}
        </if>
        <if test="roleType !=null and roleType != ''">
            , t.role_type= #{roleType}
        </if>
        <if test="seq !=null and seq != ''">
            , t.seq= #{seq}
        </if>
        where 1=1
        <if test="pgId !=null and pgId != ''">
            and t.pg_id= #{pgId}
        </if>
    </update>

    <!-- 查询角色数量 add by wuxw 2018-07-03 -->
    <select id="queryPrivilegeGroupsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from p_privilege_group t
        where 1 =1
        <if test="pgId !=null and pgId != ''">
            and t.pg_id= #{pgId}
        </if>
        <if test="domain !=null and domain != ''">
            and t.domain= #{domain}
        </if>
        <if test="name !=null and name != ''">
            and t.name= #{name}
        </if>
        <if test="description !=null and description != ''">
            and t.description= #{description}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>
        <if test="roleType !=null and roleType != ''">
            and t.role_type= #{roleType}
        </if>
        <if test="seq !=null and seq != ''">
            and t.seq= #{seq}
        </if>
    </select>
</mapper>
