<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="questionAnswerServiceDaoImpl">

    <!-- 保存答卷信息 add by wuxw 2018-07-03 -->
    <insert id="saveQuestionAnswerInfo" parameterType="Map">
        insert into question_answer(qa_name, qa_type, start_time, end_time, remark, obj_type, obj_id, qa_id, content)
        values (#{qaName}, #{qaType}, #{startTime}, #{endTime}, #{remark}, #{objType}, #{objId}, #{qaId}, #{content})
    </insert>

    <!-- 查询答卷信息 add by wuxw 2018-07-03 -->
    <select id="getQuestionAnswerInfo" parameterType="Map" resultType="Map">
        select t.qa_name,t.qa_name qaName,t.qa_type,t.qa_type qaType,t.status_cd,t.status_cd
        statusCd,t.start_time,t.start_time startTime,t.end_time,t.end_time endTime,t.remark,
        t.obj_type,t.obj_type objType,t.obj_id,t.obj_id objId,t.qa_id,t.qa_id qaId,td.`name` qaTypeName,
        t.content
        <if test="userId !=null and userId != ''">
            ,uqa.person_id userId
        </if>
        from question_answer t
        LEFT JOIN t_dict td on td.status_cd = t.qa_type and td.table_name = 'question_answer' and td.table_columns =
        'qa_type'
        <if test="userId !=null and userId != ''">
            LEFT JOIN user_question_answer uqa on t.qa_id = uqa.qa_id and uqa.status_cd = '0' and uqa.person_id =
            #{userId}
        </if>
        where 1 =1
        <if test="qaName !=null and qaName != ''">
            and t.qa_name like concat('%',#{qaName},'%')
        </if>
        <if test="qaType !=null and qaType != ''">
            and t.qa_type= #{qaType}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="startTime !=null and startTime != ''">
            and t.start_time= #{startTime}
        </if>
        <if test="endTime !=null and endTime != ''">
            and t.end_time= #{endTime}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="content != null and content != ''">
            and t.content= #{content}
        </if>
        <if test="objType !=null and objType != ''">
            and t.obj_type= #{objType}
        </if>
        <if test="objId !=null and objId != ''">
            and t.obj_id= #{objId}
        </if>
        <if test="objIds !=null">
            and t.obj_id in
            <foreach collection="objIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="qaId !=null and qaId != ''">
            and t.qa_id= #{qaId}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>
    </select>

    <!-- 修改答卷信息 add by wuxw 2018-07-03 -->
    <update id="updateQuestionAnswerInfo" parameterType="Map">
        update question_answer t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="qaName !=null and qaName != ''">
            , t.qa_name= #{qaName}
        </if>
        <if test="qaType !=null and qaType != ''">
            , t.qa_type= #{qaType}
        </if>
        <if test="startTime !=null and startTime != ''">
            , t.start_time= #{startTime}
        </if>
        <if test="endTime !=null and endTime != ''">
            , t.end_time= #{endTime}
        </if>
        <if test="remark !=null and remark != ''">
            , t.remark= #{remark}
        </if>
        <if test="content != null and content != ''">
            , t.content= #{content}
        </if>
        <if test="objType !=null and objType != ''">
            , t.obj_type= #{objType}
        </if>
        <if test="objId !=null and objId != ''">
            , t.obj_id= #{objId}
        </if>
        where 1=1
        <if test="qaId !=null and qaId != ''">
            and t.qa_id= #{qaId}
        </if>
    </update>

    <!-- 查询答卷数量 add by wuxw 2018-07-03 -->
    <select id="queryQuestionAnswersCount" parameterType="Map" resultType="Map">
        select count(1) count
        from question_answer t
        where 1 =1
        <if test="qaName !=null and qaName != ''">
            and t.qa_name like concat('%',#{qaName},'%')
        </if>
        <if test="qaType !=null and qaType != ''">
            and t.qa_type= #{qaType}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="startTime !=null and startTime != ''">
            and t.start_time= #{startTime}
        </if>
        <if test="endTime !=null and endTime != ''">
            and t.end_time= #{endTime}
        </if>
        <if test="remark !=null and remark != ''">
            and t.remark= #{remark}
        </if>
        <if test="content != null and content != ''">
            and t.content= #{content}
        </if>
        <if test="objType !=null and objType != ''">
            and t.obj_type= #{objType}
        </if>
        <if test="objId !=null and objId != ''">
            and t.obj_id= #{objId}
        </if>
        <if test="objIds !=null">
            and t.obj_id in
            <foreach collection="objIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="qaId !=null and qaId != ''">
            and t.qa_id= #{qaId}
        </if>
    </select>
</mapper>
