<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rentingPoolAttrServiceDaoImpl">


    <!-- 保存出租房屋属性信息 add by wuxw 2018-07-03 -->
    <insert id="saveRentingPoolAttrInfo" parameterType="Map">
        insert into renting_pool_attr(
        attr_id,spec_cd,value,renting_id
        ) values (
        #{attrId},#{specCd},#{value},#{rentingId}
        )
    </insert>


    <!-- 查询出租房屋属性信息 add by wuxw 2018-07-03 -->
    <select id="getRentingPoolAttrInfo" parameterType="Map" resultType="Map">
        select t.attr_id,t.attr_id attrId,t.spec_cd,t.spec_cd specCd,t.status_cd,t.status_cd
        statusCd,t.value,t.renting_id,t.renting_id rentingId
        from renting_pool_attr t
        where 1 =1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>
        <if test="rentingId !=null and rentingId != ''">
            and t.renting_id= #{rentingId}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改出租房屋属性信息 add by wuxw 2018-07-03 -->
    <update id="updateRentingPoolAttrInfo" parameterType="Map">
        update renting_pool_attr t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="specCd !=null and specCd != ''">
            , t.spec_cd= #{specCd}
        </if>
        <if test="value !=null and value != ''">
            , t.value= #{value}
        </if>
        <if test="rentingId !=null and rentingId != ''">
            , t.renting_id= #{rentingId}
        </if>
        where 1=1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>

    </update>

    <!-- 查询出租房屋属性数量 add by wuxw 2018-07-03 -->
    <select id="queryRentingPoolAttrsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from renting_pool_attr t
        where 1 =1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>
        <if test="rentingId !=null and rentingId != ''">
            and t.renting_id= #{rentingId}
        </if>


    </select>

</mapper>
