<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="roleCommunityV1ServiceDaoImpl">


    <!-- 保存项目授权信息 add by wuxw 2018-07-03 -->
    <insert id="saveRoleCommunityInfo" parameterType="Map">
        insert into u_role_community(
        role_id,rc_id,community_id,community_name,store_id
        ) values (
        #{roleId},#{rcId},#{communityId},#{communityName},#{storeId}
        )
    </insert>


    <!-- 查询项目授权信息 add by wuxw 2018-07-03 -->
    <select id="getRoleCommunityInfo" parameterType="Map" resultType="Map">
        select t.role_id,t.role_id roleId,t.rc_id,t.rc_id rcId,t.status_cd,t.status_cd
        statusCd,t.community_id,t.community_id communityId,t.community_name communityName,t.store_id,t.store_id storeId
        from u_role_community t
        <if test="staffId != null and staffId != ''">
            left join p_privilege_group pg on t.role_id = pg.pg_id and pg.status_cd = '0'
            left join p_privilege_user pu on pu.p_id = pg.pg_id and pu.privilege_flag = '1' and pu.status_cd = '0'
        </if>
        where 1 =1
        <if test="staffId != null and staffId != ''">
            and pu.user_id = #{staffId}
        </if>
        <if test="roleId !=null and roleId != ''">
            and t.role_id= #{roleId}
        </if>
        <if test="rcId !=null and rcId != ''">
            and t.rc_id= #{rcId}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改项目授权信息 add by wuxw 2018-07-03 -->
    <update id="updateRoleCommunityInfo" parameterType="Map">
        update u_role_community t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="roleId !=null and roleId != ''">
            , t.role_id= #{roleId}
        </if>
        <if test="communityId !=null and communityId != ''">
            , t.community_id= #{communityId}
        </if>
        <if test="communityName !=null and communityName != ''">
            , t.community_name= #{communityName}
        </if>
        <if test="storeId !=null and storeId != ''">
            , t.store_id= #{storeId}
        </if>
        where 1=1
        <if test="rcId !=null and rcId != ''">
            and t.rc_id= #{rcId}
        </if>

    </update>

    <!-- 查询项目授权数量 add by wuxw 2018-07-03 -->
    <select id="queryRoleCommunitysCount" parameterType="Map" resultType="Map">
        select count(1) count
        from u_role_community t
        <if test="staffId != null and staffId != ''">
            left join p_privilege_group pg on t.role_id = pg.pg_id and pg.status_cd = '0'
            left join p_privilege_user pu on pu.p_id = pg.pg_id and pu.privilege_flag = '1' and pu.status_cd = '0'
        </if>
        where 1 =1
        <if test="staffId != null and staffId != ''">
            and pu.user_id = #{staffId}
        </if>
        <if test="roleId !=null and roleId != ''">
            and t.role_id= #{roleId}
        </if>
        <if test="rcId !=null and rcId != ''">
            and t.rc_id= #{rcId}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>


    </select>

    <select id="queryRoleCommunitysNameCount" parameterType="Map" resultType="Map">
        select count(distinct(t.community_id)) count
        from u_role_community t
        <if test="staffId != null and staffId != ''">
            left join p_privilege_group pg on t.role_id = pg.pg_id and pg.status_cd = '0'
            left join p_privilege_user pu on pu.p_id = pg.pg_id and pu.privilege_flag = '1' and pu.status_cd = '0'
        </if>
        where 1 =1
        <if test="staffId != null and staffId != ''">
            and pu.user_id = #{staffId}
        </if>
        <if test="roleId !=null and roleId != ''">
            and t.role_id= #{roleId}
        </if>
        <if test="rcId !=null and rcId != ''">
            and t.rc_id= #{rcId}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>
    </select>

    <select id="queryRoleCommunitysName" parameterType="Map" resultType="Map">
        select distinct t.community_id,t.community_id communityId,t.community_name communityName
        from u_role_community t
        <if test="staffId != null and staffId != ''">
            left join p_privilege_group pg on t.role_id = pg.pg_id and pg.status_cd = '0'
            left join p_privilege_user pu on pu.p_id = pg.pg_id and pu.privilege_flag = '1' and pu.status_cd = '0'
        </if>
        where 1 =1
        <if test="staffId != null and staffId != ''">
            and pu.user_id = #{staffId}
        </if>
        <if test="roleId !=null and roleId != ''">
            and t.role_id= #{roleId}
        </if>
        <if test="rcId !=null and rcId != ''">
            and t.rc_id= #{rcId}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="communityId !=null and communityId != ''">
            and t.community_id= #{communityId}
        </if>
        <if test="storeId !=null and storeId != ''">
            and t.store_id= #{storeId}
        </if>
        order by t.community_id desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>

</mapper>
