<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userAttrV1ServiceDaoImpl">


    <!-- 保存用户属性信息 add by wuxw 2018-07-03 -->
    <insert id="saveUserAttrInfo" parameterType="Map">
        insert into u_user_attr(
        attr_id,spec_cd,id,user_id,value
        ) values (
        #{attrId},#{specCd},#{id},#{userId},#{value}
        )
    </insert>


    <!-- 查询用户属性信息 add by wuxw 2018-07-03 -->
    <select id="getUserAttrInfo" parameterType="Map" resultType="Map">
        select t.attr_id,t.attr_id attrId,t.spec_cd,t.spec_cd specCd,t.status_cd,t.status_cd
        statusCd,t.id,t.user_id,t.user_id userId,t.value
        from u_user_attr t
        where 1 =1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="id !=null and id != ''">
            and t.id= #{id}
        </if>
        <if test="userId !=null and userId != ''">
            and t.user_id= #{userId}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>
        order by t.create_time desc
        <if test="page != -1 and page != null ">
            limit #{page}, #{row}
        </if>

    </select>


    <!-- 修改用户属性信息 add by wuxw 2018-07-03 -->
    <update id="updateUserAttrInfo" parameterType="Map">
        update u_user_attr t set t.status_cd = #{statusCd}
        <if test="newBId != null and newBId != ''">
            ,t.b_id = #{newBId}
        </if>
        <if test="specCd !=null and specCd != ''">
            , t.spec_cd= #{specCd}
        </if>
        <if test="id !=null and id != ''">
            , t.id= #{id}
        </if>
        <if test="value !=null and value != ''">
            , t.value= #{value}
        </if>
        where 1=1
        <if test="userId !=null and userId != ''">
            and t.user_id= #{userId}
        </if>
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>

    </update>

    <!-- 查询用户属性数量 add by wuxw 2018-07-03 -->
    <select id="queryUserAttrsCount" parameterType="Map" resultType="Map">
        select count(1) count
        from u_user_attr t
        where 1 =1
        <if test="attrId !=null and attrId != ''">
            and t.attr_id= #{attrId}
        </if>
        <if test="specCd !=null and specCd != ''">
            and t.spec_cd= #{specCd}
        </if>
        <if test="statusCd !=null and statusCd != ''">
            and t.status_cd= #{statusCd}
        </if>
        <if test="id !=null and id != ''">
            and t.id= #{id}
        </if>
        <if test="userId !=null and userId != ''">
            and t.user_id= #{userId}
        </if>
        <if test="value !=null and value != ''">
            and t.value= #{value}
        </if>


    </select>

</mapper>
