<div id="component">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>入驻审核</h5>
                    <div class="ibox-tools" style="top:10px;">

                    </div>
                </div>
                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                        <thead>
                        <tr>
                            <th>小区ID</th>
                            <th>小区名称</th>
                            <th>商户名称</th>
                            <th>商户类型</th>
                            <th>联系电话</th>
                            <th>商户地址</th>
                            <th>状态</th>
                            <th class="text-right">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="community in auditEnterCommunityManageInfo.communitys">
                            <td>{{community.communityId}}</td>
                            <td>{{community.name}}</td>
                            <td>{{community.storeName}}</td>
                            <td>{{community.storeTypeName}}</td>
                            <td>{{community.tel}}</td>
                            <td>{{community.address}}</td>
                            <td>{{community.stateName}}</td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn-white btn btn-xs"
                                            v-on:click="_openEnterAuditCommunityModal(community)">审核
                                    </button>
                                </div>


                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7">
                                <ul class="pagination float-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <!-- 分页 -->
                    <vc:create name="pagination"></vc:create>
                </div>
            </div>
        </div>
    </div>
    <vc:create name="audit"
               callBackListener="auditEnterCommunityManage"
               callBackFunction="notifyAuditInfo"
    ></vc:create>

</div>
