<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>业主报修信息</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewOwnerRepairInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectOwnerRepairInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> 选择业主报修</button>

                    <button type="button" v-if="viewOwnerRepairInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddOwnerRepairInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> 添加业主报修</button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >报修类型：</label>
                            <label class="">{{viewOwnerRepairInfo.repairType}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >报修人：</label>
                            <label class="">{{viewOwnerRepairInfo.repairName}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >联系方式：</label>
                            <label class="">{{viewOwnerRepairInfo.tel}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >房屋ID：</label>
                            <label class="">{{viewOwnerRepairInfo.roomId}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >预约时间：</label>
                            <label class="">{{viewOwnerRepairInfo.appointmentTime}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >报修内容：</label>
                            <label class="">{{viewOwnerRepairInfo.context}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create name="addOwnerRepair"
               callBackListener="viewOwnerRepairInfo"
               callBackFunction="chooseOwnerRepair"
    ></vc:create>


    <vc:create name="chooseOwnerRepair"
               emitChooseOwnerRepair="viewOwnerRepairInfo"
               emitLoadData="viewOwnerRepairInfo"
    ></vc:create>
</div>
