<div id="editFeeConfigModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">修改费用项</h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">费用类型</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-bind:disabled = "editFeeConfigInfo.isDefault=='T'" v-model="editFeeConfigInfo.feeTypeCd">
                                        <option selected disabled value="">必填，请选择费用类型</option>
                                        <option v-for="(item,index) in editFeeConfigInfo.feeTypeCds" :key="index"
                                                v-bind:value="item.statusCd">{{item.name}}
                                        </option>
                                    </select></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">收费项目</label>
                                <div class="col-sm-10">
                                    <input v-model="editFeeConfigInfo.feeName" v-bind:disabled = "editFeeConfigInfo.isDefault=='T'" type="text" placeholder="必填，请填写收费项目"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">费用标识</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-bind:disabled = "editFeeConfigInfo.isDefault=='T'" v-model="editFeeConfigInfo.feeFlag">
                                        <option selected disabled value="">必填，请选择费用标识</option>
                                        <option value="1003006">周期性费用</option>
                                        <option value="2006012">一次性费用</option>
                                    </select></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">计费起始时间</label>
                                <div class="col-sm-10">
                                    <input v-model="editFeeConfigInfo.startTime" type="text" placeholder="必填，请填写计费起始时间"
                                           class="form-control editFeeConfigStartTime">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">计费终止时间</label>
                                <div class="col-sm-10">
                                    <input v-model="editFeeConfigInfo.endTime" type="text" placeholder="必填，请填写计费终止时间"
                                           class="form-control editFeeConfigEndTime">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">计算公式</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-bind:disabled = "editFeeConfigInfo.isDefault=='T'" v-model="editFeeConfigInfo.computingFormula">
                                        <option selected disabled value="">必填，请选择计算公式</option>
                                        <option v-for="(item,index) in editFeeConfigInfo.computingFormulas" :key="index"
                                                v-bind:value="item.statusCd">{{item.name}}
                                        </option>
                                    </select></div>
                            </div>
                            <div class="form-group row" v-if="editFeeConfigInfo.computingFormula != '2002'">
                                <label class="col-sm-2 col-form-label">计费单价</label>
                                <div class="col-sm-10">
                                    <input v-model="editFeeConfigInfo.squarePrice" type="text" placeholder="必填，请填写计费单价"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">{{editFeeConfigInfo.computingFormula == '1001' ?'附加费用':'固定费用'}}</label>
                                <div class="col-sm-10">
                                    <input v-model="editFeeConfigInfo.additionalAmount" type="text"
                                           placeholder="必填，请填写附加费用" class="form-control">
                                </div>
                            </div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="editFeeConfig()">
                                    <i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal">取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
