<div id="component" class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-lg-3" >
            <div id="orgTree" class="" style="background: #fff;"></div>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>查询条件</h5>
                            <div class="ibox-tools" style="top:10px;">
                                <button type="button" class="btn btn-link btn-sm" style="margin-right:10px;"
                                        v-on:click="_moreCondition()">{{orgManageInfo.moreCondition == true?'隐藏':'更多'}}
                                </button>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-4" v-if="orgManageInfo.moreCondition == true">
                                    <div class="form-group">
                                        <input type="text" placeholder="请输入组织ID"
                                               v-model="orgManageInfo.conditions.orgId"
                                               class=" form-control">
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input type="text" placeholder="请输入组织名称"
                                               v-model="orgManageInfo.conditions.orgName"
                                               class=" form-control">
                                    </div>
                                </div>
                                <div class="col-sm-3" v-if="orgManageInfo.moreCondition == true">
                                    <div class="form-group">
                                        <input type="text" placeholder="请选择小区"
                                               v-model="orgManageInfo.conditions.communityId"
                                               class=" form-control">
                                    </div>
                                </div>

                                <div class="col-sm-1">
                                    <button type="button" class="btn btn-primary btn-sm" v-on:click="_queryOrgMethod()">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="row">

                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>组织信息</h5>
                            <div class="ibox-tools" style="top:10px;">
                                <button type="button" class="btn btn-primary btn-sm" v-on:click="_openAddOrgModal()">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    添加
                                </button>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <table class="footable table table-stripped toggle-arrow-tiny"
                                   data-page-size="15"
                            >
                                <thead>
                                <tr>
                                    <th class="text-center">组织ID</th>
                                    <th class="text-center">组织名称</th>
                                    <th class="text-center">组织级别</th>
                                    <th class="text-center">上级组织</th>
                                    <th class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="org in orgManageInfo.orgs">
                                    <td class="text-center">{{org.orgId}}</td>
                                    <td class="text-center">{{org.orgName}}</td>
                                    <td class="text-center">{{org.orgLevelName}}</td>
                                    <td class="text-center">{{org.orgLevel == 1 ? '无' : org.parentOrgName}}</td>
                                    <td class="text-center">
                                        <div class="btn-group" v-if="org.orgLevel != 1">
                                            <button class="btn-white btn btn-xs" v-on:click="_openEditOrgModel(org)">
                                                修改
                                            </button>
                                        </div>
                                        <div class="btn-group" v-if="org.orgLevel != 1">
                                            <button class="btn-white btn btn-xs" v-on:click="_openDeleteOrgModel(org)">
                                                删除
                                            </button>
                                        </div>
                                    </td>

                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="7">
                                        <ul class="pagination float-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                            <!-- 分页 -->
                            <vc:create name="pagination"></vc:create>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <vc:create name="addOrg"
               callBackListener=""
               callBackFunction=""
    ></vc:create>
    <vc:create name="editOrg"></vc:create>
    <vc:create name="deleteOrg"></vc:create>

</div>
