<div id="component" >

    <div class="java110_step">
        <div id="step" ></div>
    </div>

    <!-- 选择 应用信息 -->
    <vc:create name="sellRoomSelectOwner"
               callBackComponent = "sellCar"
    ></vc:create>



    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <button type="button" class="btn btn-secondary" v-on:click="_prevStep()">上一步</button>
            <button type="button" class="btn btn-primary" style="margin-left:10px" v-on:click="_nextStep()">下一步</button>
        </div>
    </div>

</div>
