<div id = "chooseServiceRegisterModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseServiceRegisterModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseServiceRegisterModelLabel">选择服务绑定</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input placeholder="输入服务绑定名称" type="text" v-model="chooseServiceRegisterInfo._currentServiceRegisterName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryServiceRegisters()">查询</button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center">绑定ID</th>
                            <th class="text-center">应用ID</th>
                            <th class="text-center">服务ID</th>
                            <th class="text-center">订单类型</th>
                            <th class="text-center">调用次数</th>
                            <th class="text-center">调用方式</th>
                            <th class="text-center">操作</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="serviceRegister in chooseServiceRegisterInfo.serviceRegisters">
                                                                        <td class="text-center">{{serviceRegister.id}}</td>
                            <td class="text-center">{{serviceRegister.appId}}</td>
                            <td class="text-center">{{serviceRegister.serviceId}}</td>
                            <td class="text-center">{{serviceRegister.orderTypeCd}}</td>
                            <td class="text-center">{{serviceRegister.invokeLimitTimes}}</td>
                            <td class="text-center">{{serviceRegister.invokeModel}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseServiceRegister(serviceRegister)">选择</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
