<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:vc="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>小区文化|java110</title>
    <vc:create name="commonTop"></vc:create>
    <link href="/css/plugins/summernote/summernote-bs4.min.css" rel="stylesheet">
    <script src="/js/plugins/summernote/summernote-bs4.min.js"></script>
    <script src="/js/plugins/summernote/summernote-zh-CN.min.js"></script>
    <script src="/js/plugins/xss/xss.min.js"></script>
</head>
<body>
<vc:create name="bodyTop"></vc:create>
<div id="wrapper">
    <vc:create name="menu"></vc:create>


    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <vc:create name="nav"></vc:create>
        </div>
        <div class="wrapper wrapper-content" style="padding-bottom: 0px;">
            <vc:create name="breadcrumb"></vc:create>
        </div>
        <!-- id="component" -->
        <div class="wrapper wrapper-content animated fadeInRight">
            <vc:create name="activitiesManage"></vc:create>
        </div>

        <vc:create name="copyright"></vc:create>

    </div>
</div>

<vc:create name="commonBottom"></vc:create>
</body>
</html>
