<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:vc="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>HC小区管理系统|java110</title>
    <vc:create name="commonTop"></vc:create>
    <script src="/js/plugins/echart/echarts.min.js"></script>
    <script src="/js/plugins/echart/china.js"></script>
</head>
<body>
<vc:create name="loading"></vc:create>
<div id="wrapper">
    <vc:create name="menu"></vc:create>


    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <vc:create name="nav"></vc:create>
        </div>

        <vc:create name="indexContext"></vc:create>


        <vc:create name="copyright"></vc:create>

    </div>
</div>
<vc:create name="commonBottom"></vc:create>
</body>
</html>