
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:vc="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>请注册 | java110</title>

    <vc:create name="commonTop"></vc:create>

</head>

<body class="gray-bg"><!--
<vc:create name="loading"></vc:create>-->
<vc:create name="bodyTop"></vc:create>
<div id="component" class="middle-box text-center loginscreen animated fadeInDown">
    <vc:create name="register"></vc:create>

</div>


<vc:create name="commonBottom"></vc:create>
</body>

</html>