<div id="component">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>查询条件</h5>
                    <div class="ibox-tools" style="top:10px;">

                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-8">
                            <vc:create name="areaSelect"
                                       callBackListener="communityManage"
                                       callBackFunction="notifyArea"
                                       namespace="communityManage"
                                       ></vc:create>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input type="text" placeholder="请输入小区名称"
                                       v-model="communityManageInfo.conditions.name" class=" form-control">
                            </div></div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-primary btn-sm" v-on:click="_queryFeeConfigMethod()">
                                <i class="glyphicon glyphicon-search"></i> 查询
                            </button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>小区信息</h5>
                    <div class="ibox-tools" style="top:10px;">
                        <button type="button" class="btn btn-primary btn-sm" v-on:click="_openAddCommunityModal()">
                            <i class="glyphicon glyphicon-plus"></i>
                            添加小区
                        </button>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                        <thead>
                        <tr>
                            <th>小区ID</th>
                            <th>小区名称</th>
                            <!--<th>小区地址</th>-->
                            <th>附近地标</th>
                            <th>城市编码</th>
                            <th>状态</th>
                            <th class="text-right">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="community in communityManageInfo.communitys">
                            <td>{{community.communityId}}</td>
                            <td>{{community.name}}</td>
                            <!--<td>{{community.address}}</td>-->
                            <td>{{community.nearbyLandmarks}}</td>
                            <td>{{community.cityName}}</td>
                            <td>{{community.stateName}}</td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn-white btn btn-xs"
                                            v-bind:disabled="community.state == '1100' && communityManageInfo.storeTypeCd != '800900000001'"
                                            v-on:click="_openEditCommunityModel(community)">修改
                                    </button>
                                </div>
                                 <div class="btn-group" v-if="community.state != '1000' && communityManageInfo.storeTypeCd == '800900000001'">
                                     <button class="btn-white btn btn-xs" v-on:click="_openRecallCommunityModel(community)">审核撤回</button>
                                 </div></td>

                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7">
                                <ul class="pagination float-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <!-- 分页 -->
                    <vc:create name="pagination"></vc:create>
                </div>
            </div>
        </div>
    </div>

    <vc:create name="addCommunity"></vc:create>
    <vc:create name="editCommunity"></vc:create>
    <vc:create name="deleteCommunity"></vc:create>
    <vc:create name="recallAuditFinishCommunity"></vc:create>

</div>
