<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reportFeeMonthCollectionDetailServiceDaoImpl">





    <!-- 保存月缴费表信息 add by wuxw 2018-07-03 -->
    <insert id="saveReportFeeMonthCollectionDetailInfo" parameterType="Map">
        insert into report_fee_month_collection_detail(
collection_year,cd_id,collection_month,detail_id,receivable_amount,discount_amount,received_amount,community_id,collection_id
) values (
#{collectionYear},#{cdId},#{collectionMonth},#{detailId},#{receivableAmount},#{discountAmount},#{receivedAmount},#{communityId},#{collectionId}
)
    </insert>



    <!-- 查询月缴费表信息 add by wuxw 2018-07-03 -->
    <select id="getReportFeeMonthCollectionDetailInfo" parameterType="Map" resultType="Map">
        select  t.collection_year,t.collection_year collectionYear,t.cd_id,t.cd_id cdId,t.collection_month,t.collection_month collectionMonth,t.detail_id,t.detail_id detailId,t.receivable_amount,t.receivable_amount receivableAmount,t.discount_amount,t.discount_amount discountAmount,t.status_cd,t.status_cd statusCd,t.received_amount,t.received_amount receivedAmount,t.community_id,t.community_id communityId,t.collection_id,t.collection_id collectionId 
from report_fee_month_collection_detail t 
where 1 =1 
<if test="collectionYear !=null and collectionYear != ''">
   and t.collection_year= #{collectionYear}
</if> 
<if test="cdId !=null and cdId != ''">
   and t.cd_id= #{cdId}
</if> 
<if test="collectionMonth !=null and collectionMonth != ''">
   and t.collection_month= #{collectionMonth}
</if> 
<if test="detailId !=null and detailId != ''">
   and t.detail_id= #{detailId}
</if> 
<if test="receivableAmount !=null and receivableAmount != ''">
   and t.receivable_amount= #{receivableAmount}
</if> 
<if test="discountAmount !=null and discountAmount != ''">
   and t.discount_amount= #{discountAmount}
</if> 
<if test="statusCd !=null and statusCd != ''">
   and t.status_cd= #{statusCd}
</if> 
<if test="receivedAmount !=null and receivedAmount != ''">
   and t.received_amount= #{receivedAmount}
</if> 
<if test="communityId !=null and communityId != ''">
   and t.community_id= #{communityId}
</if> 
<if test="collectionId !=null and collectionId != ''">
   and t.collection_id= #{collectionId}
</if> 
order by t.create_time desc
<if test="page != -1 and page != null ">
   limit #{page}, #{row}
</if> 

    </select>




    <!-- 修改月缴费表信息 add by wuxw 2018-07-03 -->
    <update id="updateReportFeeMonthCollectionDetailInfo" parameterType="Map">
        update  report_fee_month_collection_detail t set t.status_cd = #{statusCd}
<if test="newBId != null and newBId != ''">
,t.b_id = #{newBId}
</if> 
<if test="collectionYear !=null and collectionYear != ''">
, t.collection_year= #{collectionYear}
</if> 
<if test="collectionMonth !=null and collectionMonth != ''">
, t.collection_month= #{collectionMonth}
</if> 
<if test="detailId !=null and detailId != ''">
, t.detail_id= #{detailId}
</if> 
<if test="receivableAmount !=null and receivableAmount != ''">
, t.receivable_amount= #{receivableAmount}
</if> 
<if test="discountAmount !=null and discountAmount != ''">
, t.discount_amount= #{discountAmount}
</if> 
<if test="receivedAmount !=null and receivedAmount != ''">
, t.received_amount= #{receivedAmount}
</if> 
<if test="communityId !=null and communityId != ''">
, t.community_id= #{communityId}
</if> 
<if test="collectionId !=null and collectionId != ''">
, t.collection_id= #{collectionId}
</if> 
 where 1=1 <if test="cdId !=null and cdId != ''">
and t.cd_id= #{cdId}
</if> 

    </update>

    <!-- 查询月缴费表数量 add by wuxw 2018-07-03 -->
     <select id="queryReportFeeMonthCollectionDetailsCount" parameterType="Map" resultType="Map">
        select  count(1) count 
from report_fee_month_collection_detail t 
where 1 =1 
<if test="collectionYear !=null and collectionYear != ''">
   and t.collection_year= #{collectionYear}
</if> 
<if test="cdId !=null and cdId != ''">
   and t.cd_id= #{cdId}
</if> 
<if test="collectionMonth !=null and collectionMonth != ''">
   and t.collection_month= #{collectionMonth}
</if> 
<if test="detailId !=null and detailId != ''">
   and t.detail_id= #{detailId}
</if> 
<if test="receivableAmount !=null and receivableAmount != ''">
   and t.receivable_amount= #{receivableAmount}
</if> 
<if test="discountAmount !=null and discountAmount != ''">
   and t.discount_amount= #{discountAmount}
</if> 
<if test="statusCd !=null and statusCd != ''">
   and t.status_cd= #{statusCd}
</if> 
<if test="receivedAmount !=null and receivedAmount != ''">
   and t.received_amount= #{receivedAmount}
</if> 
<if test="communityId !=null and communityId != ''">
   and t.community_id= #{communityId}
</if> 
<if test="collectionId !=null and collectionId != ''">
   and t.collection_id= #{collectionId}
</if> 


     </select>

</mapper>
