<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reportInfoBackCityServiceDaoImpl">





    <!-- 保存返省上报信息 add by wuxw 2018-07-03 -->
    <insert id="saveReportInfoBackCityInfo" parameterType="Map">
        insert into report_info_back_city(
back_id,id_card,name,tel,remark,source,community_id,source_city_name,user_id,source_city,back_time
) values (
#{backId},#{idCard},#{name},#{tel},#{remark},#{source},#{communityId},#{sourceCityName},#{userId},#{sourceCity},#{backTime}
)
    </insert>



    <!-- 查询返省上报信息 add by wuxw 2018-07-03 -->
    <select id="getReportInfoBackCityInfo" parameterType="Map" resultType="Map">
        select  t.back_id,t.back_id backId,t.id_card,t.id_card idCard,t.name,t.tel,t.remark,t.status_cd,t.status_cd statusCd,t.source,t.community_id,t.community_id communityId,t.source_city_name,t.source_city_name sourceCityName,t.user_id,t.user_id userId,t.source_city,t.source_city sourceCity,t.back_time,t.back_time backTime 
from report_info_back_city t 
where 1 =1 
<if test="backId !=null and backId != ''">
   and t.back_id= #{backId}
</if> 
<if test="idCard !=null and idCard != ''">
   and t.id_card= #{idCard}
</if> 
<if test="name !=null and name != ''">
   and t.name= #{name}
</if> 
<if test="tel !=null and tel != ''">
   and t.tel= #{tel}
</if> 
<if test="remark !=null and remark != ''">
   and t.remark= #{remark}
</if> 
<if test="statusCd !=null and statusCd != ''">
   and t.status_cd= #{statusCd}
</if> 
<if test="source !=null and source != ''">
   and t.source= #{source}
</if> 
<if test="communityId !=null and communityId != ''">
   and t.community_id= #{communityId}
</if> 
<if test="sourceCityName !=null and sourceCityName != ''">
   and t.source_city_name= #{sourceCityName}
</if> 
<if test="userId !=null and userId != ''">
   and t.user_id= #{userId}
</if> 
<if test="sourceCity !=null and sourceCity != ''">
   and t.source_city= #{sourceCity}
</if> 
<if test="backTime !=null and backTime != ''">
   and t.back_time= #{backTime}
</if> 
order by t.create_time desc
<if test="page != -1 and page != null ">
   limit #{page}, #{row}
</if> 

    </select>




    <!-- 修改返省上报信息 add by wuxw 2018-07-03 -->
    <update id="updateReportInfoBackCityInfo" parameterType="Map">
        update  report_info_back_city t set t.status_cd = #{statusCd}
<if test="newBId != null and newBId != ''">
,t.b_id = #{newBId}
</if> 
<if test="idCard !=null and idCard != ''">
, t.id_card= #{idCard}
</if> 
<if test="name !=null and name != ''">
, t.name= #{name}
</if> 
<if test="tel !=null and tel != ''">
, t.tel= #{tel}
</if> 
<if test="remark !=null and remark != ''">
, t.remark= #{remark}
</if> 
<if test="source !=null and source != ''">
, t.source= #{source}
</if> 
<if test="communityId !=null and communityId != ''">
, t.community_id= #{communityId}
</if> 
<if test="sourceCityName !=null and sourceCityName != ''">
, t.source_city_name= #{sourceCityName}
</if> 
<if test="userId !=null and userId != ''">
, t.user_id= #{userId}
</if> 
<if test="sourceCity !=null and sourceCity != ''">
, t.source_city= #{sourceCity}
</if> 
<if test="backTime !=null and backTime != ''">
, t.back_time= #{backTime}
</if> 
 where 1=1 <if test="backId !=null and backId != ''">
and t.back_id= #{backId}
</if> 

    </update>

    <!-- 查询返省上报数量 add by wuxw 2018-07-03 -->
     <select id="queryReportInfoBackCitysCount" parameterType="Map" resultType="Map">
        select  count(1) count 
from report_info_back_city t 
where 1 =1 
<if test="backId !=null and backId != ''">
   and t.back_id= #{backId}
</if> 
<if test="idCard !=null and idCard != ''">
   and t.id_card= #{idCard}
</if> 
<if test="name !=null and name != ''">
   and t.name= #{name}
</if> 
<if test="tel !=null and tel != ''">
   and t.tel= #{tel}
</if> 
<if test="remark !=null and remark != ''">
   and t.remark= #{remark}
</if> 
<if test="statusCd !=null and statusCd != ''">
   and t.status_cd= #{statusCd}
</if> 
<if test="source !=null and source != ''">
   and t.source= #{source}
</if> 
<if test="communityId !=null and communityId != ''">
   and t.community_id= #{communityId}
</if> 
<if test="sourceCityName !=null and sourceCityName != ''">
   and t.source_city_name= #{sourceCityName}
</if> 
<if test="userId !=null and userId != ''">
   and t.user_id= #{userId}
</if> 
<if test="sourceCity !=null and sourceCity != ''">
   and t.source_city= #{sourceCity}
</if> 
<if test="backTime !=null and backTime != ''">
   and t.back_time= #{backTime}
</if> 


     </select>

</mapper>
