<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>巡检点信息</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" class="btn btn-primary btn-sm"
                            v-on:click="_goBack()">
                        <i class="glyphicon glyphicon-plus"></i>
                        返回
                    </button>
                    <button type="button" class="btn btn-primary btn-sm"
                            v-on:click="_openAddInspectionRouteModal()">
                        <i class="glyphicon glyphicon-plus"></i>
                        添加
                    </button>
                </div>
            </div>
            <div class="ibox-content">

                <table class="footable table table-stripped toggle-arrow-tiny"
                       data-page-size="15"
                >
                    <thead>
                    <tr>
                        <th class="text-center">巡检点名称</th>
                        <th class="text-center">巡检点ID</th>
                        <th class="text-center">设备位置</th>
                        <th class="text-center">设备编码</th>
                        <th class="text-center">设备名称</th>
                        <th class="text-right">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="inspectionPoint in inspectionRoutePointManageInfo.inspectionRoutes">
                        <td class="text-center">{{inspectionPoint.inspectionName}}</td>
                        <td class="text-center">{{inspectionPoint.inspectionId}}</td>
                        <td class="text-center">{{inspectionPoint.locationObjName}}</td>
                        <td class="text-center">{{inspectionPoint.machineCode}}</td>
                        <td class="text-center">{{inspectionPoint.machineName}}</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button class="btn-white btn btn-xs"
                                        v-on:click="_openDeleteInspectionPointModel(inspectionPoint)">删除
                                </button>
                            </div>
                        </td>

                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="7">
                            <ul class="pagination float-right"></ul>
                        </td>
                    </tr>
                    </tfoot>
                </table>
                <!-- 分页 -->
                <vc:create name="pagination"></vc:create>
            </div>
        </div>
    </div>
</div>
