<div id = "editNoticeModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">修改公告</h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
         <label class="col-sm-2 col-form-label">标题</label>
         <div class="col-sm-10">
           <input v-model="editNoticeInfo.title"                   type="text" placeholder="必填，请填写标题" class="form-control">
         </div>
</div>
<div class="form-group row">
         <label class="col-sm-2 col-form-label">公告类型</label>
         <div class="col-sm-10">
<select class="custom-select" v-model="editNoticeInfo.noticeTypeCd">
         <option selected  disabled value="">必填，请选择公告类型</option>
         <option  value="1000">业主通知</option>
<option  value="1001">员工通知</option>
<option  value="1002">小区通知</option>
  </select>         </div>
</div>
<div class="form-group row">
         <label class="col-sm-2 col-form-label">公告内容</label>
         <div class="col-sm-10">
           <input v-model="editNoticeInfo.context"                   type="text" placeholder="必填，请填写公告内容" class="form-control">
         </div>
</div>
<div class="form-group row">
         <label class="col-sm-2 col-form-label">开始时间</label>
         <div class="col-sm-10">
           <input v-model="editNoticeInfo.startTime"                   type="text" placeholder="必填，请填写开始时间" class="form-control">
         </div>
</div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="editNotice()" ><i class="fa fa-check"></i>&nbsp;保存</button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
