<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5><span><vc:i18n name="@@templateName@@信息"  namespace="view@@TemplateCode@@Info"></vc:i18n></span></h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="view@@TemplateCode@@Info.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelect@@TemplateCode@@InfoModel()">
                        <i class="glyphicon glyphicon-search"></i> <span><vc:i18n name="选择@@templateName@@"  namespace="view@@TemplateCode@@Info"></vc:i18n></span></button>

                    <button type="button" v-if="view@@TemplateCode@@Info.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAdd@@TemplateCode@@InfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> <span><vc:i18n name="添加@@templateName@@"  namespace="view@@TemplateCode@@Info"></vc:i18n></span></button>
                </div>
            </div>
            <div class="ibox-content">
                @@viewInfo@@
            </div>
        </div>
    </div>

    <vc:create path="@@directories@@/add@@TemplateCode@@"
               callBackListener="view@@TemplateCode@@Info"
               callBackFunction="choose@@TemplateCode@@"
    ></vc:create>


    <vc:create path="@@directories@@/choose@@TemplateCode@@"
               emitChoose@@TemplateCode@@="view@@TemplateCode@@Info"
               emitLoadData="view@@TemplateCode@@Info"
    ></vc:create>
</div>
