<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dictDaoImpl">
    <select id="queryDict" resultType="com.java110.dto.Dict.DictDto" parameterType="Map">
        SELECT t.name,t.description,t.status_cd statusCd FROM t_dict t  WHERE t.table_name=#{name} AND t.table_columns=#{type}
    </select>
</mapper>