<div id="component">
    <!--<vc:create name="roomSelectFloor"
               openAddRoomModelName="addRoom"
    ></vc:create>-->

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>查询条件</h5>
                    <div class="ibox-tools" style="top:10px;">
                        <button type="button" class="btn btn-link btn-sm" style="margin-right:10px;"
                                v-on:click="_moreCondition()">{{roomInfo.moreCondition == true?'隐藏':'更多'}}
                        </button>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="form-group input-group">
                                <input type="text" placeholder="请选择楼栋"
                                       v-model="roomInfo.conditions.floorName" class=" form-control">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-primary btn-sm"
                                            v-on:click="_openChooseFloorMethod()"><i
                                            class="glyphicon glyphicon-search"></i> 选择
                                    </button>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <select class="form-control-sm form-control input-s-sm inline"
                                        v-model="roomInfo.conditions.unitId">
                                    <option selected value="">请选择单元</option>
                                    <option v-for="(unit,index) in roomUnits" :key="index" v-bind:value="unit.unitId">
                                        {{unit.unitNum}}单元
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" placeholder="请填写房屋编号" class="form-control form-control-sm"
                                       v-model="roomInfo.conditions.roomNum">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-primary btn-sm" v-on:click="_queryRoomMethod()"><i
                                    class="glyphicon glyphicon-search"></i> 查询
                            </button>
                        </div>

                    </div>
                    <div class="row" v-if="roomInfo.moreCondition == true">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" placeholder="请填写房屋ID" class="form-control form-control-sm"
                                       v-model="roomInfo.conditions.roomId">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <select class="form-control-sm form-control input-s-sm inline"
                                    v-model="roomInfo.conditions.state">
                                <option selected value="">请选择状态</option>
                                <option value="2001">房屋已售</option>
                                <option value="2002">房屋未售</option>
                                <option value="2003">已交定金</option>
                                <option value="2004">已出租</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" placeholder="请填写房屋房间数" class="form-control form-control-sm"
                                       v-model="roomInfo.conditions.section">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>房屋信息</h5>
                    <div class="ibox-tools" style="top:10px;">
                        <button type="button" class="btn btn-primary btn-sm"
                                style="margin-left:10px" v-on:click="_openAddRoom()">
                            <i class="glyphicon glyphicon-plus"></i> 添加房屋
                        </button>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny" style="margin-top:10px"
                           data-page-size="10">
                        <thead>
                        <tr>
                            <th>房屋ID</th>
                            <th data-hide="phone">楼栋编号</th>
                            <th data-hide="phone">单元</th>
                            <th data-hide="phone">房屋编号</th>
                            <th data-hide="phone">楼层</th>
                            <!--<th data-hide="phone">户型</th>-->
                            <th data-hide="phone">建筑面积</th>
                            <th data-hide="phone">单价</th>
                            <th data-hide="phone">房屋状态</th>

                            <th class="text-right">操作</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="room in roomInfo.rooms">
                            <td>
                                {{room.roomId}}
                            </td>
                            <td>
                                {{room.floorNum}}
                            </td>
                            <td>
                                {{room.unitNum}}
                            </td>
                            <td>
                                {{room.roomNum}}
                            </td>
                            <td>
                                {{room.layer}}
                            </td>
                            <!--<td>
                                {{room.apartment}}
                            </td>-->
                            <td>
                                {{room.builtUpArea}}
                            </td>
                            <td>
                                {{room.unitPrice != '0.00'?room.unitPrice:'0'}}
                            </td>
                            <td>
                                {{vc.component.showState(room.state)}}
                            </td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <button class="btn-white btn btn-xs" v-on:click="_openEditRoomModel(room)">修改
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button class="btn-white btn btn-xs" v-on:click="_openDelRoomModel(room)">删除
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7">
                                <ul class="pagination float-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <!-- 分页 -->
                    <vc:create name="pagination"></vc:create>

                </div>
            </div>
        </div>
    </div>

    <vc:create name="searchFloor"
               emitChooseFloor="room"
               emitLoadData="room"
    ></vc:create>
    <!-- 删除员工权限 -->
    <vc:create name="editRoom"></vc:create>
    <vc:create name="deleteRoom"></vc:create>
</div>