<div id="component">

    <div class="java110_step">
        <div id="step"></div>
    </div>

    <!-- 选择 应用信息 -->
    <div v-if="addComplaintStepInfo.index == 0">
        <vc:create name="viewFloorInfo"
                   callBackListener="addComplaintStep"
                   callBackFunction="notify"
                   showAddFloorButton="false"
        ></vc:create>
    </div>
    <div v-if="addComplaintStepInfo.index == 1">
        <vc:create name="sellRoomSelectRoom"
                   callBackListener="addComplaintStep"
                   callBackFunction="notify"
        ></vc:create>
    </div>
    <div v-if="addComplaintStepInfo.index == 2">
        <vc:create name="addComplainView"
                   callBackListener="addComplaintStep"
                   callBackFunction="notify"
        ></vc:create>
    </div>


    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2 " style="margin-bottom:10px; text-align:right">
            <button type="button" class="btn btn-secondary" v-on:click="_prevStep()">上一步</button>
            <button v-if="addComplaintStepInfo.index != 2" type="button" class="btn btn-primary"
                    style="margin-left:10px;" v-on:click="_nextStep()">下一步
            </button>
            <button v-if="addComplaintStepInfo.index == 2" type="button" class="btn btn-primary"
                    style="margin-left:10px;" v-on:click="_finishStep()">完成
            </button>
        </div>
    </div>

</div>
